[Desktop Entry]
Encoding=UTF-8
Name=Gimp
Comment=Motion picture image painting and retouching
Comment[de]=Bewegung Abbildung Bildanstrich und retouching
Comment[es]=Pintura de la imagen de la película y el retocar
Comment[fr]=Peinture d'image de film cinématographique et retoucher
Comment[it]=Pittura di immagine del cinema e retouching
Comment[ja]=連続写真の像の絵画と修正
Comment[ko]=영화 심상 회화와 retouching
Comment[pt]=Pintura da imagem de retrato do movimento e retouching
Comment[zh]=电影图像绘画和修饰
Exec=gimp-remote-2.4 %U
TryExec=gimp-2.4
Icon=/usr/share/pixmaps/gimp.xpm
Terminal=false
Type=Application
Categories=BitmapEditor;
