[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=mc
GenericName=
Comment=Midnight Commander
Icon=/usr/share/pixmaps/mc.xpm
Exec=/usr/bin/mc
Terminal=true
Categories=X-Debian-Applications-Tools;
