[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Synaptic Package Manager
GenericName=
Comment=
Icon=/usr/share/synaptic/pixmaps/synaptic_32x32.xpm
Exec=/usr/bin/su-to-root -X -c /usr/sbin/synaptic
Terminal=false
Categories=X-Debian-Applications-System-Package-Management;
