[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Envy24 control
GenericName=
Comment=
Icon=
Exec=/usr/bin/envy24control
Terminal=false
Categories=X-Debian-Applications-Sound;
