[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=wlassistant
GenericName=
Comment=
Icon=/usr/share/pixmaps/wlassistant.xpm
Exec=/usr/bin/su-to-root -X -c /usr/bin/wlassistant
Terminal=false
Categories=X-Debian-Applications-Network-Monitoring;
