[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VLC media player
GenericName=
Comment=
Icon=/usr/share/vlc/vlc.xpm
Exec=/usr/bin/wxvlc
Terminal=false
Categories=X-Debian-Applications-Viewers;
