[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=grecord (GNOME 2.0 Recorder)
GenericName=
Comment=
Icon=/usr/share/pixmaps/gnome-grecord.xpm
Exec=/usr/bin/gnome-sound-recorder
Terminal=false
Categories=X-Debian-Applications-Sound;
