[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xditview
GenericName=
Comment=Xditview: a ditroff file viewer for X
Icon=
Exec=xditview
Terminal=false
Categories=X-Debian-Applications-Viewers;
