[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ardour GTK2
GenericName=
Comment=
Icon=
Exec=/usr/bin/ardour2
Terminal=false
Categories=X-Debian-Applications-Sound;
