[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xconsole
GenericName=
Comment=Xconsole: monitor system console messages with X
Icon=
Exec=xconsole -file /dev/xconsole
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
