[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Python (v2.5)
GenericName=
Comment=
Icon=/usr/share/pixmaps/python2.5.xpm
Exec=/usr/bin/python2.5
Terminal=true
Categories=X-Debian-Applications-Shells;
