[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xfce4-about
GenericName=
Comment=Shows infos on XFce4
Icon=
Exec=xfce4-about
Terminal=false
Categories=X-Debian-Help;
