[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Tclsh8.4
GenericName=
Comment=
Icon=
Exec=/usr/bin/tclsh8.4
Terminal=true
Categories=X-Debian-Applications-Programming;
