[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=HDSPMixer
GenericName=
Comment=
Icon=
Exec=/usr/bin/hdspmixer
Terminal=false
Categories=X-Debian-Applications-Sound;
