[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=potracegui
GenericName=
Comment=
Icon=
Exec=/usr/bin/potracegui
Terminal=false
Categories=X-Debian-Applications-Graphics;
