[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Thunar
GenericName=
Comment=Xfce4 File Manager
Icon=
Exec=/usr/bin/thunar
Terminal=false
Categories=X-Debian-Applications-File-Management;
