[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=clusterssh
GenericName=
Comment=cssh: control multiple ssh/rsh clients under X
Icon=/usr/share/pixmaps/clusterssh-32x32.xpm
Exec=/usr/bin/cssh
Terminal=false
Categories=X-Debian-Applications-Terminal-Emulators;
