[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GDM Photo Setup
GenericName=
Comment=Select a photo for GDM
Icon=/usr/share/pixmaps/gdm.xpm
Exec=gdmphotosetup
Terminal=false
Categories=X-Debian-Applications-System-Administration;
