[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Kicker
GenericName=
Comment=
Icon=/usr/share/pixmaps/kicker.xpm
Exec=/usr/bin/kicker
Terminal=false
Categories=X-Debian-Applications-System-Administration;
