[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xflock4
GenericName=
Comment=Locks the screen
Icon=
Exec=xflock4
Terminal=true
Categories=X-Debian-Screen-Locking;
