[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xbiff
GenericName=
Comment=Xbiff: mailbox flag for X
Icon=
Exec=xbiff
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
