[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GDM flexiserver in Xnest
GenericName=
Comment=New GDM Session in Xnest
Icon=/usr/share/pixmaps/gdm.xpm
Exec=gdmflexiserver -n
Terminal=false
Categories=X-Debian-Applications-System-Administration;
