[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Synfig Studio
GenericName=
Comment=Synfig 2D Animation Studio
Icon=/usr/share/pixmaps/synfig_icon.xpm
Exec=/usr/bin/synfigstudio
Terminal=false
Categories=X-Debian-Applications-Graphics;
