[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Manhole Twisted Client
GenericName=
Comment=
Icon=
Exec=/usr/bin/manhole
Terminal=false
Categories=X-Debian-Applications-Network;
