[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=tcsh
GenericName=
Comment=
Icon=
Exec=/bin/tcsh
Terminal=true
Categories=X-Debian-Applications-Shells;
