[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=XFrun4
GenericName=
Comment=XFce application start tool
Icon=
Exec=xfrun4
Terminal=false
Categories=X-Debian-Applications-System-Administration;
