[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xvidtune
GenericName=
Comment=Xvidtune: tool for customizing X server modelines
Icon=
Exec=xvidtune
Terminal=false
Categories=X-Debian-Applications-System-Hardware;
