[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KDE Help Center
GenericName=
Comment=
Icon=/usr/share/pixmaps/khelpcenter.xpm
Exec=/usr/bin/khelpcenter
Terminal=false
Categories=X-Debian-Help;
