[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xkill
GenericName=
Comment=Xkill: tool to kill X clients by clicking on their windows
Icon=
Exec=xkill
Terminal=false
Categories=X-Debian-Applications-System-Administration;
