[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ImageMagick
GenericName=
Comment=
Icon=
Exec=/usr/bin/display logo:
Terminal=false
Categories=X-Debian-Applications-Graphics;
