[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=pyvnc2swf
GenericName=
Comment=
Icon=
Exec=/usr/bin/vnc2swf
Terminal=false
Categories=X-Debian-Applications-Graphics;
