[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Evince
GenericName=
Comment=
Icon=/usr/share/pixmaps/evince.xpm
Exec=/usr/bin/evince
Terminal=false
Categories=X-Debian-Applications-Viewers;
