[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sh
GenericName=
Comment=
Icon=
Exec=/bin/sh --login
Terminal=true
Categories=X-Debian-Applications-Shells;
