[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xload
GenericName=
Comment=Xload: system load average display for X
Icon=
Exec=xload
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
