[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Oclock
GenericName=
Comment=Oclock: analog clock for X
Icon=
Exec=oclock
Terminal=false
Categories=X-Debian-Games-Toys;
