[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TkWish8.4
GenericName=
Comment=
Icon=
Exec=x-terminal-emulator -e /usr/bin/wish8.4
Terminal=false
Categories=X-Debian-Applications-Programming;
