[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twisted Instance Messenger
GenericName=
Comment=
Icon=
Exec=/usr/bin/im
Terminal=false
Categories=X-Debian-Applications-Network;
