[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xfontsel
GenericName=
Comment=Xfontsel: font viewer/selector for X
Icon=
Exec=xfontsel
Terminal=false
Categories=X-Debian-Applications-System-Administration;
