[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KDCOP
GenericName=
Comment=
Icon=
Exec=/usr/bin/kdcop
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
