[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Debian Task selector
GenericName=
Comment=
Icon=
Exec=su-to-root -c tasksel
Terminal=true
Categories=X-Debian-Applications-System-Administration;
