[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Stable version of Scribus
GenericName=
Comment=
Icon=/usr/share/pixmaps/scribus.xpm
Exec=/usr/bin/scribus
Terminal=false
Categories=X-Debian-Applications-Graphics;
