[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GDM Setup
GenericName=
Comment=GDM Setup
Icon=/usr/share/pixmaps/gdm.xpm
Exec=su-to-root -X -p root -c /usr/sbin/gdmsetup
Terminal=false
Categories=X-Debian-Applications-System-Administration;
