[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KDebugDialog
GenericName=
Comment=
Icon=
Exec=/usr/bin/kdebugdialog
Terminal=false
Categories=X-Debian-Applications-System-Administration;
