[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME partition editor
GenericName=
Comment=
Icon=/usr/share/pixmaps/gparted.xpm
Exec=su-to-root -X -c /usr/bin/gparted
Terminal=false
Categories=X-Debian-Applications-System-Administration;
