[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twisted Application Generator
GenericName=
Comment=
Icon=
Exec=/usr/bin/tkmktap
Terminal=false
Categories=X-Debian-Applications-Network;
