[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=zynaddsubfx
GenericName=
Comment=
Icon=/usr/share/pixmaps/zynaddsubfx.xpm
Exec=/usr/bin/zynaddsubfx
Terminal=false
Categories=X-Debian-Applications-Sound;
