[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Editres
GenericName=
Comment=Editres: resource editor for X Toolkit applications
Icon=
Exec=editres
Terminal=false
Categories=X-Debian-Applications-System-Administration;
