[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xman
GenericName=
Comment=Xman: manual page browser for X
Icon=
Exec=xman
Terminal=false
Categories=X-Debian-Help;
