[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xclock (analog)
GenericName=
Comment=Xclock (analog): analog clock for X
Icon=
Exec=xclock -analog
Terminal=false
Categories=X-Debian-Games-Toys;
