[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Bluefish
GenericName=
Comment=
Icon=/usr/share/pixmaps/bluefish_icon.xpm
Exec=/usr/bin/bluefish
Terminal=false
Categories=X-Debian-Applications-Web-Development;
