[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Top
GenericName=
Comment=
Icon=
Exec=/usr/bin/top
Terminal=true
Categories=X-Debian-Applications-System-Monitoring;
