[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xrefresh
GenericName=
Comment=Xrefresh: redraw X screen
Icon=
Exec=xrefresh
Terminal=false
Categories=X-Debian-Applications-System-Administration;
