[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xcalc
GenericName=
Comment=Xcalc: scientific calculator for X
Icon=
Exec=xcalc
Terminal=false
Categories=X-Debian-Applications-Science-Mathematics;
