[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=AbiWord Word Processor
GenericName=
Comment=
Icon=/usr/share/AbiSuite-2.4/icons/menu.xpm
Exec=/usr/bin/abiword
Terminal=false
Categories=X-Debian-Applications-Office;
