[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Bc
GenericName=
Comment=
Icon=
Exec=/usr/bin/bc
Terminal=true
Categories=X-Debian-Applications-Science-Mathematics;
