[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Aptitude
GenericName=
Comment=Terminal-based software package manager
Icon=
Exec=/usr/bin/aptitude
Terminal=true
Categories=X-Debian-Applications-System-Administration;
