[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=avidemux
GenericName=
Comment=
Icon=/usr/share/pixmaps/avidemux.png
Exec=/usr/bin/avidemux2
Terminal=false
Categories=X-Debian-Applications-Graphics;
