[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Filelight
GenericName=
Comment=Filelight: disk usage as concentric rings
Icon=
Exec=/usr/bin/filelight
Terminal=false
Categories=X-Debian-Applications-File-Management;
