[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xclipboard
GenericName=
Comment=Xclipboard: clipboard for text cut and paste operations in X
Icon=
Exec=xclipboard
Terminal=false
Categories=X-Debian-Applications-System-Administration;
