[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=lm_batmon(penguin)
GenericName=
Comment=
Icon=
Exec=/usr/bin/lm_batmon_penguin
Terminal=false
Categories=X-Debian-Applications-System;
