[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xeyes
GenericName=
Comment=Xeyes: demo in which a pair of eyes follow the mouse pointer in X
Icon=
Exec=xeyes
Terminal=false
Categories=X-Debian-Games-Toys;
