[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=lm_batmon
GenericName=
Comment=
Icon=
Exec=/usr/bin/lm_batmon
Terminal=false
Categories=X-Debian-Applications-System;
