[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xfce-setting-show
GenericName=
Comment=Configure The Xfce Desktop
Icon=/usr/share/pixmaps/xfce4-mcs-manager.xpm
Exec=xfce-setting-show
Terminal=false
Categories=X-Debian-Applications-System-Administration;
