[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Iceweasel
GenericName=
Comment=Iceweasel Web Browser
Icon=/usr/share/pixmaps/iceweasel.xpm
Exec=iceweasel
Terminal=false
Categories=X-Debian-Applications-Network-Web-Browsing;
