[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=QDVDAuthor
GenericName=
Comment=
Icon=/usr/share/pixmaps/qdvdauthor.xpm
Exec=qdvdauthor
Terminal=false
Categories=X-Debian-Applications-Video;
