[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sunflow
GenericName=
Comment=Sunflow Rendering System
Icon=/usr/share/pixmaps/sunflow.xpm
Exec=/usr/bin/sunflow
Terminal=false
Categories=X-Debian-Applications-Graphics;
