[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xclock (digital)
GenericName=
Comment=Xclock (digital): digital clock for X
Icon=
Exec=xclock -digital -update 1
Terminal=false
Categories=X-Debian-Games-Toys;
