[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Info
GenericName=
Comment=GNU Info browser
Icon=
Exec=info
Terminal=true
Categories=X-Debian-Help;
