[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GDM flexiserver
GenericName=
Comment=New GDM Session
Icon=/usr/share/pixmaps/gdm.xpm
Exec=gdmflexiserver
Terminal=false
Categories=X-Debian-Applications-System-Administration;
