[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Miro
GenericName=
Comment=
Icon=/usr/share/pixmaps/miro.xpm
Exec=/usr/bin/miro
Terminal=false
Categories=X-Debian-Applications-Network-Web-News;
