[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=vumeter (Gnome 2.0 Volume Meter)
GenericName=
Comment=
Icon=/usr/share/pixmaps/gnome-vumeter.xpm
Exec=/usr/bin/vumeter
Terminal=false
Categories=X-Debian-Applications-Sound;
