[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Conky
GenericName=
Comment=
Icon=
Exec=/usr/bin/conky
Terminal=true
Categories=X-Debian-Applications-System-Monitoring;
