[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=HDSPConf
GenericName=
Comment=
Icon=
Exec=/usr/bin/hdspconf
Terminal=false
Categories=X-Debian-Applications-Sound;
