[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xmag
GenericName=
Comment=Xmag: magnify parts of the X screen
Icon=
Exec=xmag
Terminal=false
Categories=X-Debian-Applications-Accessibility;
