[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Echomixer
GenericName=
Comment=
Icon=
Exec=/usr/bin/echomixer
Terminal=false
Categories=X-Debian-Applications-Sound;
