[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xev
GenericName=
Comment=Xev: display X events
Icon=
Exec=x-terminal-emulator -e xev
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
