[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xfprint4
GenericName=
Comment=Xfce4 printer manager
Icon=
Exec=xfprint4
Terminal=false
Categories=X-Debian-Applications-System-Administration;
