[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Stopmotion
GenericName=
Comment=
Icon=/usr/share/pixmaps/stopmotion.xpm
Exec=/usr/bin/stopmotion
Terminal=false
Categories=X-Debian-Applications-Graphics;
