[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=JACK Control
GenericName=
Comment=
Icon=/usr/share/pixmaps/qjackctl.xpm
Exec=/usr/bin/qjackctl
Terminal=false
Categories=X-Debian-Applications-Sound;
