[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pstree
GenericName=
Comment=
Icon=/usr/share/pixmaps/pstree16.xpm
Exec=/usr/bin/pstree.x11
Terminal=true
Categories=X-Debian-Applications-System-Monitoring;
