[Desktop Entry]
Encoding=UTF-8
Name=Adobe Reader 8
MimeType=application/pdf;application/vnd.fdf;application/vnd.adobe.pdx;application/vnd.adobe.xdp+xml;application/vnd.adobe.xfdf;
Exec=acroread 
Type=Application
DocPath=
GenericName=PDF Viewer
Terminal=false
Icon=AdobeReader8.png
Caption=PDF Viewer
X-KDE-StartupNotify=false
Categories=Utility;
InitialPreference=7
