[Desktop Entry]
Name=Aqsis
Name[ru]=Редактор 3D-моделей Blender (windowed)
Name[fr]=Blender - modeleur 3D (fenêtré)
Comment=Create and edit 3D models and animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций
Comment[fr]=Création et édition d'objets 3D et animations
#Exec=firefox http://www.aqsis.org/xoops/modules/news/
Exec=xterm -e "/usr/bin/dpkg -s aqsis; $0"
Icon=
Terminal=false
Type=Application
Categories=3DGraphics;Renderer;
StartupNotify=false
MimeType=application/x-blender
