[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ardour
GenericName=
Comment=Ardour
Icon=
Exec=/usr/bin/ardour2
Terminal=false
Categories=Snd_Engineering;Editor;
