[Desktop Entry]
Encoding=UTF-8
name=Autotrace
GenericName=Autotrace 
Comment=
Exec=xterm -e "/usr/bin/dpkg -s autotrace; $0"
Terminal=false
Type=Application
Categories=BMP2SVG;2DGraphics;
