[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=avidemux
Icon=avidemux.xpm
DocPath=k3b/index.html
GenericName=AviDemux2
Comment=CD writing program
Terminal=false
Name=AviDemux2
MimeType=application/x-k3b;application/x-iso;application/x-cue
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;application/x-iso;application/x-cue
Categories=Encoder;
X-DCOP-ServiceType=Unique
