[Desktop Entry]
Encoding=UTF-8
Name=Blue Fish
Exec=bluefish %U
Icon=bluefish
#Categories=Development;WebDevelopment
Categories=Web_Publishing;
Terminal=false
Type=Application
StartupNotify=false
