[Desktop Entry]
Name=Bluefish Editor
Name[de]=Bluefish Editor
Name[fr]=Éditeur Bluefish
Comment=Web Development Editor
Comment[de]=Editor für Web-Entwickler
Comment[fr]=Éditeur pour développeurs web
Exec=bluefish -n -p %f
Icon=/usr/share/pixmaps/bluefish-icon.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
MimeType=application/bluefish-project;
