[Desktop Entry]
Encoding=UTF-8
Name=Boot Up Manager
Exec=gksu /usr/bin/bum
Icon=synaptic
Categories=X-XFCE;Settings;SoftwareManagerSettings;
Terminal=false
Type=Application
StartupNotify=false
