[Desktop Entry]
Encoding=UTF-8
Name=CamStream WebCam
#Exec=firefox http://www.camstreams.com
Exec=/usr/bin/camstream
Icon=camstream
#Categories=Network;WebCamera;
Categories=Dialup;
Terminal=false
Type=Application
StartupNotify=false
