[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=firefox http://cdbkup.sourceforge.net/
Icon=
DocPath=k3b/index.html
GenericName=cdbackup
Comment=CD writing program
Terminal=false
Name=cdbackup
MimeType=application/x-k3b;application/x-iso;application/x-cue
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;application/x-iso;application/x-cue
Categories=CD_Backup;
NoDisplay=true
X-DCOP-ServiceType=Unique
