[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=xterm -e "/usr/bin/dpkg -s cdparanoia ; $0"
Icon=
GenericName=CDparonia
Comment=CD writing program
Terminal=false
Name=CDparonia
MimeType=application/x-k3b;application/x-iso;application/x-cue
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;application/x-iso;application/x-cue
Categories=CD_Backup;
X-DCOP-ServiceType=Unique
