[Desktop Entry]
Encoding=UTF-8
Name=Celtx
Exec=/opt/celtx/celtx %U
Icon=bluefish
#Categories=Development;WebDevelopment
Categories=Screen_Publishing;
Terminal=false
Type=Application
StartupNotify=false
