[Desktop Entry]
Encoding=UTF-8
Name=DJV Viewer
Exec=djv_view
Icon=
#Categories=Application;AudioVideo;Audio;Video;Player;
Categories=GNOME;GTK;AudioVideo;Recorder;
Terminal=false
Type=Application
StartupNotify=false
