[Desktop Entry]
Name=FarmerJoe
Comment=Create and edit 3D models and animations
Exec=firefox http://blender.formworks.co.nz/farmerjoe/README.html
Icon=
Terminal=false
Type=Application
Categories=RendererQManager;
StartupNotify=false
MimeType=application/x-blender
