[Desktop Entry]
Encoding=UTF-8
Name=FindImageDupes
Comment=/usr/bin/findimagedupes
#Exec=xterm -e 'printf "use findimagedupes to find similar images. \nSimilar images are on the same line. Only searches 1 directory level. \nUsage details at http://www.jhnc.org/findimagedupes/manpage.html\n"; $0'
Exec=xterm -e '/usr/bin/dpkg -s findimagedupes; $0'
Terminal=false
Type=Application
Categories=AncillaryTool;2DGraphics;
