[Desktop Entry]

Encoding=UTF-8
Version=1.0
Type=Application
Name=Fontmatrix
Comment=A fonts manager
Categories=X-XFCE;Settings;DesktopSettings;
Exec=fontmatrix
Icon=fontmatrix
