[Desktop Entry]
Encoding=UTF-8
name=gtKam
Comment=
Exec=firefox http://www.gphoto.org/proj/gtkam/
Terminal=false
Type=Application
Categories=AncillaryTool;2DGraphics;
NoDisplay=true
