[Desktop Entry]
Encoding=UTF-8
Name=ImageMagick
Comment=
#Exec=/usr/bin/display
Exec=xterm -e '/usr/bin/dpkg -s imagemagick; $0'
Terminal=false
Type=Application
Categories=AncillaryTool;2DGraphics;
