[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Kiba-Settings
Comment=Kiba-Dock Settings Editor.
Comment[bg]=Редактор за настройките на Киба-док
Comment[de]=Kiba-Dock Konfigurations Editor.
Comment[es]=Editor de configuración de Kiba-Dock
Comment[it]=Editor delle Impostazioni di Kiba-Dock
Comment[ja]=Kiba-Dock 設定エディタ
Comment[pt]=Editor de ajuste do Kiba-Dock.
Exec=kiba-settings
Icon=/usr/share/pixmaps/kiba-dock.png
Categories=Settings;Application;Utility;GNOME;
