[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Kiba-Dock
Comment=Gtk+ Dock with smooth graphics.
Comment[bg]=Гтк+ Док с плавна анимация
Comment[ja]=滑らかなグラフィックの Gtk+ ドック
Comment[pt]=Painel Gtk+ com grafismo suave.
Exec=kiba-dock
Icon=/usr/share/pixmaps/kiba-dock.png
Categories=Desktop;Application;Utility;GNOME;
