[Desktop Entry]
Name=Ksnapshot
Name[ru]=Редактор 3D-моделей Blender (windowed)
Name[fr]=Blender - modeleur 3D (fenêtré)
Comment=Create and edit 3D models and animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций
Comment[fr]=Création et édition d'objets 3D et animations
Exec=firefox  http://docs.kde.org/development/en/kdegraphics/ksnapshot/
Icon=
Terminal=false
Type=Application
Categories=ScreenCasting;
StartupNotify=false
MimeType=application/x-blender
NoDisplay=true
