[Desktop Entry]
Encoding=UTF-8
name=Kview
GenericName=Kview
Comment=
Exec=firefox http://www.ph.unimelb.edu.au/~ssk/kde/kview/
Terminal=false
Type=Application
Categories=Viewer;
NoDisplay=true
