[Desktop Entry]
Name=MakeHuman
GenericName=Human modelling tool
Comment=Create human 3d models
Exec=makehuman
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Modeller;
