[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Mousepad
Name[en_GB]=Mousepad
Comment=Simple text editor
Comment[en_GB]=Simple text editor
GenericName=Text Editor
GenericName[en_GB]=Text Editor
Exec=mousepad %f
Icon=mousepad
StartupNotify=true
Terminal=false
MimeType=text/plain
#Categories=Application;Utility;TextEditor;GTK;
Categories=Application;Utility;
