[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=xterm -e 'mpgtx -h | less; $0'
Icon=
GenericName=Mpgtx
Terminal=false
Name=Mpgtx
MimeType=application/x-k3b;application/x-iso;application/x-cue
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;application/x-iso;application/x-cue
Categories=Encoder;
X-DCOP-ServiceType=Unique
