[Desktop Entry]
Encoding=UTF-8
Name=MPlayer
GenericName=Multimedia Player
Exec=gmplayer 
Icon=xmms
#Categories=Application;AudioVideo;Audio;Video;Player;
Categories=GNOME;GTK;AudioVideo;Recorder;
MimeType=audio/wav;audio/x-wav;audio/x-mod;audio/mp3;audio/x-mp3;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/mpeg;audio/x-mpeg
Terminal=false
Type=Application
StartupNotify=false
