[Desktop Entry]
Encoding=UTF-8
Name=Pbrt
Comment=/opt/pbrt
Exec=xterm -e '/usr/bin/dpkg -s pbrt; $0'
Terminal=false
Type=Application
Categories=3DGraphics;Renderer;
