[Desktop Entry]
Encoding=UTF-8
Name=Pencil
Comment=2D Traditional Animation
Exec=pencil
Icon=/usr/share/pixmaps/pencil.png
Terminal=false
Type=Application
Categories=2DAnimation;
