[Desktop Entry]
Encoding=UTF-8
Name=Pixie
Comment=/opt/pixie
Exec=xterm -e '/usr/bin/dpkg -s pixie; $0'
Terminal=false
Type=Application
Categories=3DGraphics;Renderer;
