[Desktop Entry]
Encoding=UTF-8
Name=Plumiblender
Comment=3D mesh modeller
Comment[es]=Modelador de mallas 3D
Exec=/opt/plumiferos/blender
Terminal=false
Type=Application
Icon=wings3d.xpm
Categories=Modeller;
StartupNotify=false
