[Desktop Entry]
Name=Powua
Exec=java -jar /opt/powua-client.jar
Icon=
Terminal=false
Type=Application
Categories=RendererQManager;
StartupNotify=false
MimeType=application/x-blender
