[Desktop Entry]
Name=Qsampler
Comment=Qsampler is a LinuxSampler Qt GUI Interface
Exec=/usr/bin/qsampler
Icon=/usr/share/pixmaps/qsampler.png
#Categories=Applications;Multimedia;AudioVideo;MIDI;JACK;ALSA;Qt;
Categories=Snd_Engineering;Editor;
Terminal=false
Type=Application
