[Desktop Entry]
Encoding=UTF-8

Name=QSynth
GenericName=
Comment=Software Synth
Icon=/usr/share/pixmaps/qsynth.xpm

Type=Application
#Categories=Application;AudioVideo;Audio;
Categories=Snd_Engineering;Sndcard_Config;
Exec=qsynth
Terminal=false
