[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ReZound
GenericName=
Comment=
Icon=rezound32.xpm
Exec=/usr/bin/rezound --audio-method=jack
Terminal=false
Categories=Snd_Engineering;Editor;
