[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sweep
GenericName=
Comment=Rosegarden Music Editor
Icon=/usr/share/icons/locolor/32x32/apps/rosegarden.xpm
Exec=firefox http://www.metadecks.org/software/sweep/
Terminal=false
Categories=Snd_Engineering;Editor;
NoDisplay=true
