[Desktop Entry]
Encoding=UTF-8
Name=Thunar File Manager
Exec=thunar %U
Icon=Thunar
Categories=Digital Asset Manager
Terminal=false
Type=Application
StartupNotify=false
