[Desktop Entry]
Encoding=UTF-8
Name=Wings3D
Comment=3D mesh modeller
Comment[es]=Modelador de mallas 3D
Exec=wings3d
Terminal=true
Type=Application
Icon=wings3d.xpm
Categories=Modeller;
StartupNotify=false
