[Desktop Entry]
Encoding=UTF-8
Name=Wireless Assitant
Exec=/usr/bin/wlassistant
#Exec=firefox http://www.wlassistant.com
Icon=wlassistant
Categories=X-XFCE;Settings;WirelessConnectivitySettings;
Terminal=false
Type=Application
StartupNotify=false
