[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Rosegarden
GenericName=
Comment=Rosegarden Music Editor
Icon=/usr/share/icons/locolor/32x32/apps/rosegarden.xpm
Exec=/usr/bin/rosegarden
Terminal=false
Categories=Snd_Engineering;Editor;
