[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Kino
GenericName=
Comment=
Icon=/usr/share/pixmaps/kino.xpm
Exec=/usr/bin/kino
Terminal=false
Categories=NLVEditor
