[Desktop Entry]
Encoding=UTF-8
name=xCam
GenericName=xCam 
Comment=
Exec=firefox http://linux.die.net/man/1/xcam
Terminal=false
Type=Application
Categories=AncillaryTool;2DGraphics;
NoDisplay=true
