[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Printing System Settings
Name[be]=Настаўленьні сыстэмы друку Xfce 4
Name[bn_IN]=Xfce 4 প্রিন্ট কর্ম পরিচালন ব্যবস্থার বৈশিষ্ট্য
Name[ca]=Paràmetres del sistema d'impressió Xfce4
Name[cs]=Nastavení tiskového systému Xfce 4
Name[de]=Xfce4-Drucksystem-Einstellungen
Name[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤དཔར་བསྐྲུན་རིམ་ལུགས་སྒྲིག་སྟངས།
Name[el]=Ρυθμίσεις του συστήματος εκτύπωσης Xfce 4
Name[en_GB]=Xfce 4 Printing System Settings
Name[eo]=Xfce 4 pres-sistemaj agordoj
Name[et]=Xfce 4 printimissüsteemi seadistused
Name[eu]=Xfce 4 Inprimatze Sistema Ezarpenak
Name[fi]=Xfce 4 tulostusjärjestelmäasetukset
Name[fr]=Paramètres du système d'impression de Xfce4
Name[gu]=Xfce 4 છાપન સિસ્ટમ સુયોજનો
Name[he]=הגדרות מערכת הדפסה של Xfce 4
Name[hu]=Xfce 4 nyomtatórendszer beállítások
Name[it]=Impostazioni del Sistema di stampa di Xfce 4
Name[ja]=Xfce 4 プリント方式の設定
Name[ko]=xfce 4 출력 시스템 설정
Name[lt]=Xfce 4 Spausdinimo Sistemos Nustatymai
Name[lv]=Xfce 4 Drukas Sistēmas Uzstādījumi
Name[mk]=Поставувања на системот за печатење Xfce 4
Name[mr]=Xfce 4 प्रणाली रचना मुद्रीत होत आहेत
Name[nb_NO]=Xfce 4 skriversystem innstillinger
Name[nl]=Xfce 4 Print Systeem Instellingen
Name[pa]=Xfce 4 ਪ੍ਰਿੰਟਿੰਗ ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pl]=Ustawienia systemu drukowania Xfce4
Name[pt_BR]=Configurações do Sistema de Impressão do Xfce 4
Name[pt_PT]=Definições do Sistema de Impressão Xce 4
Name[ro]=Selectare sistem de tipărire Xfce 4
Name[ru]=Параметры системы печати Xfce4
Name[sk]=Xfce 4 Nastavenia tlačového systému
Name[sv]=Xfce 4 Inställningar för Skrivarsystemet
Name[tr]=Xfce 4 Yazdırma Sistemi Ayarları
Name[uk]=Параметри системи друку Xfce 4
Name[vi]=Thiết lập hệ thống in của Xfce 4
Name[zh_CN]=xfce4 打印系统设置
Name[zh_TW]=Xfce 4 列印系統設定
Comment=Allow you to select the printing system backend that xfprint will use
Comment[be]=Дазваляе вам вылучыць модуль друку, які будзе выкарыстоўваць Xfprint
Comment[ca]=Permet seleccionar el sistema d'impressió que usarà xfprint
Comment[cs]=Umožní Vám vybrat tiskovou službu systému, kterou bude používat xfprint
Comment[de]=Hier können Sie das Drucksystem auswählen, welches Xfprint benutzen soll.
Comment[dz]=ཨེཀསི་ཨེཕ་པིརིནཊི་གིས་ལག་ལེན་འཐབ་ནི་ཨིན་མི་དཔར་བསྐྲུན་རིམ་ལུགས་རྒྱབ་མཐའ་འདི་ཁྱོད་ལུ་སེལ་འཐུ་འབད་བཅུགཔ་ཨིན།
Comment[el]=Με δυνατότητα επιλογής συστήματος εκτύπωσης για το xfprint
Comment[en_GB]=Allow you to select the printing system backend that xfprint will use
Comment[et]=Lubab sul valida trükkimise süsteemi abivahendit, mida xfprint kasutab
Comment[eu]=xfprint-ek erabiliko duen inprimatze sistema interfazea aukeratzeko aukera ematen du
Comment[fi]=Voit valita tulostusjärjestelmän taustaosan, jota xfprint käyttää
Comment[fr]=Permet de choisir le système d'impression principal qu'utilisera xfprint
Comment[he]=מאפשר לך לבחור את מערכת ההדפסה שתשמש את xfprint
Comment[hu]=Ezzel választhatod ki az xfprint által használt nyomtató motort
Comment[it]=Permette di selezionare il sistema di stampa usato da xfprint
Comment[ja]=Xfprint が使用するプリント方式のバックエンドを選択します。
Comment[ko]=xfprint에서 사용할 출력시스템을 선택할 수 있도록 함
Comment[lt]=Leisti pasirinkti kurį spausdinimo posistemę kurią Xfprint naudos
Comment[lv]=Ļauj izvēlēties izmantojamo drukāšanas sistēmas aizmuguri
Comment[mk]=Ви дозволува да изберете бекенд на системот за печатење што ќе го користи xfprint
Comment[nb_NO]=Tillater at du velger skriversystemet som xfprint vil bruke
Comment[nl]=Selecteer de print ondersteuning dat door xfprint zal worden gebruikt
Comment[pa]=ਤੁਹਾਨੂੰ ਪਰਿੰਟਿੰਗ ਸਿਸਟਮ ਬੈਕਐਂਡ ਚੁਣਨ ਲਈ ਸਹਾਇਕ ਹੈ, ਜੋ ਕਿ xfprint ਵਰਤੇਗਾ
Comment[pl]=Możliwość wyboru systemu drukowania dla Xfprint
Comment[pt_BR]=Permite a você selecionar o serviço de impressão do sistema que o xfprint irá usar
Comment[pt_PT]=Permite-lhe seleccionar o serviço de impressão do sistema que o xfprint irá usar.
Comment[ro]=Vă permite să selectaţi un sistem de tipărire pentru xfprint
Comment[sk]=Umožniť voľbu backend tlačového systému, ktorý xfprint použije
Comment[tr]=Xfprint'in kullanacağı yazı sistemini seçmenize izin verir
Comment[uk]=Дозволяє вибрати драйвер системи друку, який буде використовувати xfprint
Comment[vi]=Cho phép chọn hệ thống in mà xfprint sẽ sử dụng
Comment[zh_CN]=允许你选择xfprint使用的打印系统后端
Comment[zh_TW]=允許您選擇 xfprint 所使用的列印系統後端
Exec=xfce-setting-show printing_system
Icon=printer
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Printing System Settings
GenericName[be]=Настаўленьні сыстэмы друку
GenericName[bn_IN]=প্রিন্ট কর্ম পরিচালন ব্যবস্থার বৈশিষ্ট্য
GenericName[ca]=Paràmetres del sistema d'impressió
GenericName[cs]=Nastavení tiskového systému
GenericName[de]=Drucksystem-Einstellungen
GenericName[dz]=དཔར་བསྐྲུན་རིམ་ལུགས་སྒྲིག་སྟངས།
GenericName[el]=Σύστημα εκτύπωσης
GenericName[en_GB]=Printing System Settings
GenericName[eo]=Pres-sistemaj agordoj
GenericName[et]=Printimissüsteemi seadistused
GenericName[eu]=Inprimatze Sistema Ezarpenak
GenericName[fi]=Tulostusjärjestelmäasetukset
GenericName[fr]=Paramètres du système d'impression
GenericName[gu]=છાપન સિસ્ટમ સુયોજનો
GenericName[he]=הגדרות מערכת הדפסה
GenericName[hu]=Nyomtatórendszer beállítások
GenericName[it]=Impostazioni del Sistema di stampa
GenericName[ja]=プリント方式
GenericName[ko]=출력 시스템 설정
GenericName[lt]=Spausdinimo Sistemos Nustatymai
GenericName[lv]=Drukas Sistēmas Uzstādījumi
GenericName[mk]=Поставувања на системот за печатење
GenericName[mr]=प्रणाली रचना मुद्रीत होत आहेत
GenericName[nb_NO]=Innstillinger for Skrivere
GenericName[nl]=Print Systeem Instellingen
GenericName[pa]=ਪ੍ਰਿੰਟਿੰਗ ਸਿਸਟਮ ਸੈਟਿੰਗ
GenericName[pl]=Ustawienia Systemu Drukowania
GenericName[pt_BR]=Configurações do Sistema de Impressão
GenericName[pt_PT]=Definições do Sistema de Impressão
GenericName[ro]=Sistem de tipărire
GenericName[ru]=Параметры системы печати
GenericName[sk]=Nastavenia tlačového systému
GenericName[sv]=Inställningar för Skrivarsystemet
GenericName[tr]=Yazıcı Sistemi Ayarları
GenericName[uk]=Параметри системи друку
GenericName[vi]=Thiết lập hệ thống in
GenericName[zh_CN]=打印系统设置
GenericName[zh_TW]=列印系統設定
