[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Mixer Settings
Name[be]=Настаўленьні мікшара Xfce 4
Name[ca]=Paràmetres del mesclador d'Xfce4
Name[cs]=Nastavení mixéru Xfce 4
Name[de]=Xfce4-Mixereinstellungen
Name[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤སྦྱོར་འཕྲུལ་སྒྲིག་སྟངས་ཚུ།
Name[el]=Ρυθμίσεις μείκτη του Xfce 4
Name[en_GB]=Xfce 4 Mixer Settings
Name[es]=Configuración de mezclador de Xfce4
Name[et]=Xfce 4 helitugevuse seaded
Name[eu]=Xfce 4 Nahasle Ezarpenak
Name[fi]=Xfce 4 äänenvoimakkuusasetukset
Name[fr]=Paramètres du Mixer de Xfce 4
Name[gu]=Xfce 4 મિક્સર સુયોજનો
Name[he]=הגדרות מערבל Xfce 4
Name[hu]=Xfce 4 hangkeverő beállítások
Name[it]=Impostazioni del mixer di Xfce 4
Name[ja]=Xfce 4 ミキサー
Name[ka]=Xfce 4-ის მიკშერის პარამეტრები
Name[ko]=Xfce 4 믹서 설정
Name[lv]=Xfce 4 Miksera Uzstādījumi
Name[mk]=Поставувања на миксерот на Xfce 4
Name[nb_NO]=Xfce 4 mikser innstillinger
Name[nl]=Xfce 4 Mixer Instellingen
Name[pl]=Ustawienia Miksera Xfce4
Name[pt_BR]=Configurações de Controle de Som do Xfce 4
Name[pt_PT]=Definições de Controlo de Som Xfce 4
Name[ro]=Preferinţe mixer Xfce 4
Name[ru]=Настройки микшера Xfce 4
Name[sk]=Nastavenie Xfce 4 mixéra
Name[sv]=Xfce 4 Inställningar för Mixern
Name[tr]=Xfce 4 Karıştırıcı Seçenekleri
Name[uk]=Параметри міксера Xfce 4
Name[vi]=Thiết lập bộ hoà âm Xfce 4
Name[zh_CN]=Xfce 4混音器设定
Name[zh_TW]=Xfce 4 音量控制器設定
Comment=Mixer Settings
Comment[be]=Настаўленьні мікшара
Comment[ca]=Paràmetres del mesclador
Comment[cs]=Nastavení mixéru
Comment[de]=Mixereinstellungen
Comment[dz]=སྦྱོར་འཕྲུལ་སྒྲིག་སྟངས་ཚུ།
Comment[el]=Μείκτης
Comment[en_GB]=Mixer Settings
Comment[es]=Configuración de mezclador
Comment[et]=Helitugevuse seaded
Comment[eu]=Nahasle Ezarpenak
Comment[fi]=Äänenvoimakkuusasetukset
Comment[fr]=Paramètres du Mixer
Comment[gu]=મિક્સર સુયોજનો
Comment[he]=הגדרות מערבל
Comment[hu]=Keverő beállítások
Comment[it]=Impostazioni del mixer
Comment[ja]=ミキサー
Comment[ka]=ხმა
Comment[ko]=믹서 설정
Comment[lv]=Miksera Uzstādījumi
Comment[mk]=Поставувања на миксерот
Comment[nb_NO]=Innstillinger for Mikser
Comment[nl]=Mixer Instellingen
Comment[pl]=Ustawienia Miksera
Comment[pt_BR]=Configurações de Controle de Som
Comment[pt_PT]=Definições do Mixer
Comment[ro]=Preferinţe mixer
Comment[ru]=Звук
Comment[sk]=Predvoľby nastavenia hlasitosti
Comment[sv]=Inställningar för Mixern
Comment[tr]=Karıştırıcı Seçenekleri
Comment[uk]=Параметри міксера
Comment[vi]=Thiết lập Bộ hoà âm
Comment[zh_CN]=混音设定
Comment[zh_TW]=設定音量控制器
Exec=xfce-setting-show sound
Icon=xfce-sound
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Mixer Settings
GenericName[be]=Настаўленьні мікшара
GenericName[ca]=Paràmetres del mesclador
GenericName[cs]=Nastavení mixéru
GenericName[de]=Mixereinstellungen
GenericName[dz]=སྦྱོར་འཕྲུལ་སྒྲིག་སྟངས་ཚུ།
GenericName[el]=Μείκτης
GenericName[en_GB]=Mixer Settings
GenericName[es]=Configuración de mezclador
GenericName[et]=Helitugevuse seaded
GenericName[eu]=Nahasle Ezarpenak
GenericName[fi]=Äänenvoimakkuusasetukset
GenericName[fr]=Paramètres du Mixer
GenericName[gu]=મિક્સર સુયોજનો
GenericName[he]=הגדרות מערבל
GenericName[hu]=Keverő beállítások
GenericName[it]=Impostazioni del mixer
GenericName[ja]=ミキサー
GenericName[ka]=ხმა
GenericName[ko]=믹서 설정
GenericName[lv]=Miksera Uzstādījumi
GenericName[mk]=Поставувања на миксерот
GenericName[nb_NO]=Innstillinger for Mikser
GenericName[nl]=Mixer Instellingen
GenericName[pl]=Ustawienia Miksera
GenericName[pt_BR]=Configurações de Controle de Som
GenericName[pt_PT]=Definições do Mixer
GenericName[ro]=Preferinţe mixer
GenericName[ru]=Звук
GenericName[sk]=Predvoľby nastavenia hlasitosti
GenericName[sv]=Inställningar för Mixern
GenericName[tr]=Karıştırıcı Seçenekleri
GenericName[uk]=Параметри міксера
GenericName[vi]=Thiết lập Bộ hoà âm
GenericName[zh_CN]=混音设定
GenericName[zh_TW]=設定音量控制器
