[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce 4 Window Manager Tweaks
Name[be]=Дадатковая наладка Кіраўніка вокнаў Xfce 4
Name[ca]=Ajustaments avançats del gestor de finestres d'Xfce 4
Name[cs]=Podrobná nastavení správce oken Xfce 4
Name[de]=Xfce4-Fenstermanager-Tweaks
Name[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤སྒོ་སྒྲིག་འཛིན་སྐྱོང་པ་གཅུཝ་ཨིན།
Name[el]=Προσαρμογή διαχειριστή παραθύρων Xfce 4
Name[en_GB]=Xfce 4 Window Manager Tweaks
Name[eo]=Rafina Agordo de la Administrilo de Fenestroj
Name[eu]=Xfce 4 Leiho Kudeatzaile Goemdioak
Name[fi]=Xfce 4 Ikkunamanagerin viritys
Name[fr]=Peaufinages des fenêtres
Name[he]=הגדרות נספות של מנהל החלונות Xfce 4
Name[hu]=Xfce 4 ablakkezelő trükkök
Name[it]=Gestore di finestre di Xfce 4 - Modifiche
Name[ja]=Xfce 4 ウィンドウマネージャーの調整
Name[ko]=Xfce 4 창 관리자 기능향상
Name[lv]=Xfce 4 Logu Pārvaldnieka Piedares
Name[mk]=Подобрувања на менаџерот на прозорци на Xfce 4
Name[nb_NO]=Xfce 4 Vindushåndterer Detaljer
Name[nl]=Xfce 4 Venster Beheer Bijstellen
Name[pa]=Xfce 4 ਵਿੰਡੋ ਮੈਨੇਜਰ ਟਵੀਕ
Name[pl]=Opcje Menedżera Okien Xfce 4
Name[pt_BR]=Ajustes Especiais do Gerenciador de Janelas do Xfce 4
Name[pt_PT]=Tweaks do Gestor de Janelas Xfce4
Name[ro]=Preferinţe avansate administrator de ferestre Xfce 4
Name[ru]=Дополнительные настройки оконного менеджера
Name[sk]=Xfce 4 Doladenia Správcu okien
Name[sv]=Avancerade inställningar för fönsterhanteraren
Name[tr]=Xfce 4 Pencere Yöneticis İnce Ayarları
Name[uk]=Менеджер вікон Xfce 4
Name[vi]=Tinh chỉnh trình quản lí cửa sổ Xfce 4
Name[zh_CN]=xfce4 窗口管理器调整
Name[zh_TW]=Xfce 4 視窗管理程式調校
Comment=Advanced Configuration
Comment[be]=Адмысловая наладка
Comment[ca]=Configuració avançada
Comment[cs]=Pokročilé nastavení
Comment[de]=Weitere Einstellungen
Comment[dz]=མཐོ་རིམ་རིམ་སྒྲིག།
Comment[el]=Για προχωρημένους
Comment[en_GB]=Advanced Configuration
Comment[eo]=Evoluaj Parametroj de la Administrilo de Fenestroj
Comment[eu]=Konfigurazio Aurreratua
Comment[fi]=Lisäasetukset
Comment[fr]=Configuration avancée
Comment[gl]=Configuración Avanzada
Comment[he]=הגדרות מתקדמות
Comment[hu]=Haladó beállítás
Comment[it]=Configurazione avanzata
Comment[ja]=ウィンドウマネージャーの高度な設定を行います
Comment[ko]=고급 설정
Comment[lv]=Paplašinātā Konfigurācija
Comment[mk]=Напредна конфигурација
Comment[nb_NO]=Avansert konfigurasjon
Comment[nl]=Geavanceerde Configuratie
Comment[pa]=ਤਕਨੀਕੀ ਕੰਨਫੀਗਰੇਸ਼ਨ
Comment[pl]=Zaawansowana Konfiguracja
Comment[pt_BR]=Configurações Avançadas
Comment[pt_PT]=Configuração Avançada
Comment[ro]=Preferinţe avansate
Comment[ru]=Оконный менеджер
Comment[sk]=Rozšírená konfigurácia
Comment[sv]=Avancerad konfiguration
Comment[tr]=Gelişmiş Ayarlar
Comment[uk]=Розширені параметри
Comment[vi]=Cấu hình nâng cao
Comment[zh_CN]=高级选项设置
Comment[zh_TW]=進階組態設定
Exec=xfce-setting-show wmtweaks
Icon=wmtweaks
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Window Manager Tweaks
GenericName[be]=Наладкі Кіраўніка вокнаў
GenericName[ca]=Ajustaments avançats del gestor de finestres
GenericName[cs]=Pokročilá nastavení správce oken
GenericName[de]=Fenstermanager-Tweaks
GenericName[dz]=སྒོ་སྒྲིག་འཛིན་སྐྱོང་པ་གཅུཝ་ཨིན།
GenericName[el]=προσαρμογή διαχειριστή παραθύρων
GenericName[en_GB]=Window Manager Tweaks
GenericName[eo]=Rafina Agordo de la Administradilo de Fenestroj
GenericName[et]=Aknahalduri ülehäälestamine
GenericName[eu]=Leiho Kudeatzaile Gomendioak
GenericName[fi]=Ikkunamanagerin viritys
GenericName[fr]=Peaufinage des fenêtres
GenericName[he]=הגדרות נוספות של מנהל החלונות
GenericName[hu]=Ablakkezelő trükkök
GenericName[it]=Modifiche al gestore di finestre
GenericName[ja]=ウィンドウマネージャー (詳細)
GenericName[ko]=창 관리자 기능향상
GenericName[lv]=Logu Pārvaldnieka Piedares
GenericName[mk]=Подобрувања на менаџерот за прозорци
GenericName[nb_NO]=Innstillinger for Vindushåndterer Ekstra
GenericName[nl]=Venster Beheer Bijstellen
GenericName[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ ਟਵੀਕ
GenericName[pl]=Opcje Menedżera Okien
GenericName[pt_BR]=Ajustes Especiais do Gerenciador de Janelas
GenericName[pt_PT]=Tweaks do Gestor de Janelas
GenericName[ro]=Preferinţe avansate ferestre
GenericName[ru]=Оконный менеджер
GenericName[sk]=Doladenia Správcu okien
GenericName[sv]=Finjusteringar för Fönsterhanteraren
GenericName[tr]=Pencere Yöneticisi İnce Ayarları
GenericName[uk]=Менеджер вікон
GenericName[vi]=Tinh chỉnh của trình quản lí cửa sổ
GenericName[zh_CN]=窗口管理器调整
GenericName[zh_TW]=視窗管理程式調校
