[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Keyboard Settings
Name[be]=Настаўленьні клявіятуры Xfce 4
Name[bn_IN]=Xfce 4 কী-বোর্ড সংক্রান্ত বৈশিষ্ট্য
Name[ca]=Paràmetres de teclat d'Xfce 4
Name[cs]=Nastavení klávesnice v prostředí Xfce 4
Name[de]=Xfce4-Tastatureinstellungen
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་ ༤ལྡེ་སྒྲོམ་སྒྲིག་སྟངས་ཚུ།
Name[el]=Ρυθμίσεις πληκτρολογίου Xfce 4
Name[en_GB]=Xfce 4 Keyboard Settings
Name[eo]=Xfce 4 Klavaraj Parametroj
Name[es]=Configuración de teclado de Xfce 4
Name[et]=Xfce 4 klaviatuuri seaded
Name[eu]=Xfce 4 Teklatu Ezarpenak
Name[fi]=Xfce 4 näppäimistön asetukset
Name[fr]=Paramètres du clavier de Xfce 4
Name[gl]=Axustes do teclado do Xfce 4
Name[gu]=Xfce 4 કીબોર્ડ સુયોજનો
Name[he]=הגדרות מקלדת Xfce 4
Name[hu]=Xfce 4 billentyűzet beállítások
Name[it]=Impostazioni della tastiera di Xfce 4
Name[ja]=Xfce 4 キーボードの設定
Name[ka]=Xfce 4-ის კლავიატურის პარამეტრები
Name[ko]=Xfce 4 키보드 설정
Name[lv]=Xfce 4 Klaviatūras Uzstādījumi
Name[mk]=Xfce 4 поставувања за тастатура
Name[mr]=Xfce 4 किबोर्डच्या रचना
Name[nb_NO]=Xfce 4 Tastaturinnstillinger
Name[nl]=Toetsenbord instellen
Name[pa]=Xfce 4 ਕੀ-ਬੋਰਡ ਸੈਟਿੰਗ
Name[pl]=Ustawienia Klawiatury
Name[pt_BR]=Configurações do Teclado do Xfce 4
Name[pt_PT]=Configurações do Teclado do Xfce 4
Name[ro]=Preferinţe tastatură Xfce 4
Name[ru]=Настройки клавиатуры для Xfce 4
Name[sk]=Nastavenie klávesnice pre Xfce 4
Name[sv]=Xfce 4 Inställningar för Tangentbordet
Name[tr]=Xfce 4 Klavye Ayarları
Name[uk]=Параметри клавіатури Xfce 4
Name[vi]=Thiết lập bàn phím Xfce 4
Name[zh_CN]=Xfce4键盘首选项
Name[zh_TW]=Xfce 4 鍵盤設定
GenericName=Keyboard Settings
GenericName[be]=Настаўленьні клявіятуры
GenericName[bn_IN]=কী-বোর্ড সংক্রান্ত বৈশিষ্ট্য
GenericName[ca]=Paràmetres de teclat
GenericName[cs]=Nastavení klávesnice
GenericName[de]=Tastatureinstellungen
GenericName[dz]=ལྡེ་སྒྲོམ་སྒྲིག་སྟངས་ཚུ།
GenericName[el]=Πληκτρολόγιο
GenericName[en_GB]=Keyboard Settings
GenericName[eo]=Klavaraj Parametroj
GenericName[es]=Configuración de teclado
GenericName[et]=Klaviatuuri seaded
GenericName[eu]=Teklatu Ezarpenak
GenericName[fi]=Näppäimistön asetukset
GenericName[fr]=Paramètres du clavier
GenericName[gl]=Axustes do teclado
GenericName[gu]=કીબોર્ડ સુયોજનો
GenericName[he]=הגדרות מקלדת
GenericName[hu]=Billentyűzet beállítások
GenericName[it]=Impostazioni della tastiera
GenericName[ja]=キーボード
GenericName[ka]=კლავიატურის პარამეტრები
GenericName[ko]=키보드 설정
GenericName[lv]=Klaviatūras Uzstādījumi
GenericName[mk]=Поставувања за тастатура
GenericName[mr]=किबोर्डच्या रचना
GenericName[nb_NO]=Innstillinger for Tastatur
GenericName[nl]=Toetsenbord instellen
GenericName[pa]=ਕੀ-ਬੋਰਡ ਸੈਟਿੰਗ
GenericName[pl]=Ustawienia Klawiatury
GenericName[pt_BR]=Configurações do Teclado
GenericName[pt_PT]=Configurações do Teclado
GenericName[ro]=Preferinţe tastatură
GenericName[ru]=Клавиатура
GenericName[sk]=Nastavenie klávesnice
GenericName[sv]=Inställningar för Tangentbordet
GenericName[tr]=Klavye Ayarları
GenericName[uk]=Параметри клавіатури
GenericName[vi]=Thiết lập bàn phím
GenericName[zh_CN]=键盘首选项
GenericName[zh_TW]=設定鍵盤
Comment=Keyboard Settings
Comment[be]=Настаўленьні клявіятуры
Comment[bn_IN]=কী-বোর্ড সংক্রান্ত বৈশিষ্ট্য
Comment[ca]=Paràmetres de teclat
Comment[cs]=Nastavení klávesnice
Comment[de]=Tastatureinstellungen
Comment[dz]=ལྡེ་སྒྲོམ་སྒྲིག་སྟངས་ཚུ།
Comment[el]=Πληκτρολόγιο
Comment[en_GB]=Keyboard Settings
Comment[eo]=Klavaraj Parametroj
Comment[es]=Configuración de teclado
Comment[et]=Klaviatuuri seaded
Comment[eu]=Teklatu Ezarpenak
Comment[fi]=Näppäimistön asetukset
Comment[fr]=Paramètres du clavier
Comment[gl]=Axustes do teclado
Comment[gu]=કીબોર્ડ સુયોજનો
Comment[he]=הגדרות מקלדת
Comment[hu]=Billentyűzet beállítások
Comment[it]=Impostazioni della tastiera
Comment[ja]=キーボード
Comment[ka]=კლავიატურის პარამეტრები
Comment[ko]=키보드 설정
Comment[lv]=Klaviatūras Uzstādījumi
Comment[mk]=Поставувања за тастатура
Comment[mr]=किबोर्डच्या रचना
Comment[nb_NO]=Innstillinger for Tastatur
Comment[nl]=Toetsenbord instellen
Comment[pa]=ਕੀ-ਬੋਰਡ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia Klawiatury
Comment[pt_BR]=Configurações do Teclado
Comment[pt_PT]=Configurações do Teclado
Comment[ro]=Preferinţe tastatură
Comment[ru]=Клавиатура
Comment[sk]=Nastavenie klávesnice
Comment[sv]=Inställningar för Tangentbordet
Comment[tr]=Klavye Ayarları
Comment[uk]=Параметри клавіатури
Comment[vi]=Thiết lập bàn phím
Comment[zh_CN]=键盘首选项
Comment[zh_TW]=設定鍵盤
Exec=xfce-setting-show keyboard
Icon=xfce4-keyboard
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
StartupNotify=true
