[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 User Interface Settings
Name[be]=Вонкавы выгляд Xfce 4
Name[bn_IN]=Xfce 4 ইউজার ইন্টারফসের বৈশিষ্ট্য
Name[ca]=Paràmetres d'interfície d'usuari d'Xfce4
Name[cs]=Nastavení uživatelského rozhraní v prostředí Xfce 4
Name[de]=Xfce4-Einstellungen der Benutzungsschnittstelle
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་ ༤ ལག་ལེན་པ་ངོས་འདྲ་བའི་སྒྲིག་སྟངས་ཚུ།
Name[el]=Προτιμήσεις διεπαφής χρήστη Xfce4
Name[en_GB]=Xfce 4 User Interface Settings
Name[eo]=Xfce 4 Uzantaj Interfacaj Parametroj
Name[es]=Configuración de la interfaz de usuario de Xfce 4
Name[et]=Xfce 4 kasutajaliidese seadistused
Name[eu]=Xfce 4 Erabiltzaile interfaze Ezarpenak
Name[fi]=Xfce 4 käyttöliittymän asetukset
Name[fr]=Paramètres de l'interface utilisateur pour Xfce 4
Name[gl]=Axustes da interface de usuario do Xfce 4
Name[gu]=Xfce 4 વપરાશકર્તા ઈન્ટરફેસ સુયોજનો
Name[he]=הגדרות מנשק המשתמש Xfce 4
Name[hu]=Xfce 4 felhasználói felület beállítások
Name[it]=Impostazioni dell'interfaccia utente di Xfce 4
Name[ja]=Xfce 4 インターフェイスの設定
Name[ka]=Xfce 4-ის მომხმარებლის ინტერფეისის პარამეტრები
Name[ko]=Xfce 4 사용자 환경 설정
Name[lv]=Xfce 4 Lietotāja Interfeisa Uzstādījumi
Name[mk]=Xfce 4 интерфејс поставувања за корисникот
Name[mr]=Xfce 4 यूझर इनटंरफेसच्या रचना
Name[nb_NO]=Xfce 4 Brukergrensesnitt Innstillinger
Name[nl]=Gebruikersinterface instellen
Name[pa]=Xfce 4 ਯੂਜ਼ਰ ਇੰਟਰਫੇਸ ਸੈਟਿੰਗ
Name[pl]=Preferencje Interfejsu Użytkownika Xfce 4
Name[pt_BR]=Configurações da Interface do Usuário do Xfce 4
Name[pt_PT]=Configurações da Interface de Utilizador do Xfce 4
Name[ro]=Preferinţe interfaţă utilizator Xfce 4
Name[ru]=Настройки пользовательского интерфейса Xfce 4
Name[sk]=Nastavenie používateľského rozhrania pre Xfce 4
Name[sv]=Xfce 4 Inställningar för Användargränssnittet
Name[tr]=Xfce 4 Kullanıcı Arayüz Ayarları
Name[uk]=Параметри інтерфейсу користувача Xfce 4
Name[vi]=Thiết lập giao diện người dùng Xfce 4
Name[zh_CN]=Xfce4用户界面首选项
Name[zh_TW]=Xfce 4 使用者介面設定
GenericName=User Interface Settings
GenericName[be]=Настаўленьні вонкавага выгляду
GenericName[bn_IN]=ইউজার ইন্টারফেস সংক্রান্ত বৈশিষ্ট্য
GenericName[ca]=Paràmetres d'interfície d'usuari
GenericName[cs]=Nastavení uživatelského rozhraní
GenericName[de]=Einstellungen der Benutzungsschnittstelle
GenericName[dz]=ལག་ལེན་པ་ངོས་འདྲ་བའི་སྒྲིག་སྟངས་ཚུ།
GenericName[el]=Διεπαφή χρήστη
GenericName[en_GB]=User Interface Settings
GenericName[eo]=Uzantaj Interfacaj Parametroj
GenericName[es]=Configuración de la interfaz de usuario
GenericName[et]=Kasutajaliidese seadistused
GenericName[eu]=Erabiltzaile interfaze Ezarpenak
GenericName[fi]=Käyttöliittymän asetukset
GenericName[fr]=Paramètres de l'interface utilisateur
GenericName[gl]=Axustes da interface de usuario
GenericName[gu]=વપરાશકર્તા ઈન્ટરફેસ સુયોજનો
GenericName[he]=הגדרות מנשק המשתמש
GenericName[hu]=Felhasználói felület beállítások
GenericName[it]=Impostazioni dell'interfaccia utente
GenericName[ja]=インターフェイス
GenericName[ka]=Xfce 4-ის ინტერფეისის პარამეტრები
GenericName[ko]=사용자 환경 설정
GenericName[lv]=Lietotāja Interfeisa Uzstādījumi
GenericName[mk]=Интерфејс поставувања за корисникот
GenericName[mr]=यूझर इनटंरफेसच्या रचना
GenericName[nb_NO]=Innstillinger for Brukergrensesnitt
GenericName[nl]=Gebruikersinterface instellen
GenericName[pa]=ਯੂਜ਼ਰ ਇੰਟਰਫੇਸ ਸੈਟਿੰਗ
GenericName[pl]=Ustawienia Interfejsu Użytkownika
GenericName[pt_BR]=Configurações da Interface do Usuário
GenericName[pt_PT]=Configurações da Interface de Utilizador
GenericName[ro]=Preferinţe interfaţă utilizator
GenericName[ru]=Пользовательский интерфейс
GenericName[sk]=Nastavenie používateľského rozhrania
GenericName[sv]=Inställningar för Användargränssnittet
GenericName[tr]=Kullanıcı Arayüz Ayarları
GenericName[uk]=Параметри інтерфейсу користувача
GenericName[vi]=Thiết lập giao diện người dùng
GenericName[zh_CN]=用户界面首选项
GenericName[zh_TW]=使用者介面設定
Comment=User Interface Settings (themes and fonts)
Comment[be]=Настаўленьні вонкавага выгляду (тэмы і шрыфты)
Comment[bn_IN]=উইজার ইন্টারফেসের বৈশিষ্ট্য (থীম ও ফন্ট)
Comment[ca]=Paràmetres d'interfície d'usuari (temes i tipus de lletra)
Comment[cs]=Nastavení uživatelského rozhraní (motivy a písma)
Comment[de]=Einstellungen der Benutzungsschnittstelle (Themen und Schriften)
Comment[dz]=ལག་ལེན་པ་ངོས་འདྲ་བའི་སྒྲིག་སྟངས་ཚུ་(བརྗོད་དོན་དང་ཡིག་གཟུགས་ཚུ་)།
Comment[el]=Προτιμήσεις διεπαφής χρήστη (θέματα και γραμματοσειρές)
Comment[en_GB]=User Interface Settings (themes and fonts)
Comment[eo]=Uzantaj Interfacaj Parametroj (etosoj kaj tiparoj)
Comment[es]=Configuración de la interfaz de usuario (temas y tipos de letra)
Comment[et]=Kasutajaliidese seadistused
Comment[eu]=Erabiltzaile interfaze Ezarpenak /gai eta letra-tipoak)
Comment[fi]=Käyttöliittymän asetukset (teemat ja kirjasimet)
Comment[fr]=Paramètres de l'interface utilisateur (thèmes et polices)
Comment[gl]=Axustes da interface de usuario (temas e tipografías)
Comment[gu]=વપરાશકર્તા ઈન્ટરફેસ સુયોજનો (થીમો અને ફોન્ટ)
Comment[he]=הגדרות מנשק המשתמש (גופנים וערכות נושא)
Comment[hu]=Felhasználói felület beállítások (témák és betűk)
Comment[it]=Impostazioni dell'interfaccia utente (temi e caratteri)
Comment[ja]=インターフェイス (テーマとフォント) の設定を行います
Comment[ka]=მომხმარებლის ინტერფეისის პარამეტრები (თემები და შრიფტები)
Comment[ko]=사용자 환경 설정(테마와 글꼴)
Comment[lv]=Lietotāja Interfeisa Uzstādījumi (tēmas un fonti)
Comment[mk]=Интерфејс поставувања за корисникот (теми и фонтови)
Comment[mr]=यूझर इनटंरफेसच्या रचना (विषय आणि फॉन्ट)
Comment[nb_NO]=Brukergrensesnitt innstillinger (temaer og skrifter)
Comment[nl]=Gebruikersinterface instellen (thema's en lettertypen)
Comment[pa]=ਯੂਜ਼ਰ ਇੰਟਰਫੇਸ ਸੈਟਿੰਗ (ਥੀਮ ਅਤੇ ਫੋਂਟ)
Comment[pl]=Ustawienia Interfejsu Użytkownika (skórki i fonty)
Comment[pt_BR]=Configurações da Interface do Usuário (temas e fontes)
Comment[pt_PT]=Configurações da Interface de Utilizador (temas e fontes)
Comment[ro]=Preferinţe interfaţă utilizator (teme şi fonturi)
Comment[ru]=Настройки интерфейса (темы и шрифты)
Comment[sk]=Nastavenie používateľského rozhrania (témy a písma)
Comment[sv]=Inställningar för Användargränssnittet (teman och typsnitt)
Comment[tr]=Kullanıcı Arayüz Ayarları (tema ve yazı tipleri)
Comment[uk]=Параметри інтерфейсу користувача (теми та шрифти)
Comment[vi]=Thiết lập giao diện người dùng (sắc thái và phông chữ)
Comment[zh_CN]=用户界面首选项(主题和字体)
Comment[zh_TW]=設定使用者介面（主題與字型）
Exec=xfce-setting-show ui
Icon=xfce4-ui
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
StartupNotify=true
