[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Display Settings
Name[be]=Настаўленьні дысплэю Xfce 4
Name[bn_IN]=Xfce 4 প্রদর্শন সংক্রান্ত বৈশিষ্ট্য
Name[ca]=Paràmetres de pantalla d'Xfce 4
Name[cs]=Nastavení displeje v prostředí Xfce 4
Name[de]=Xfce4-Anzeigeeinstellungen
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་ ༤བཀྲམ་སྟོན་སྒྲིག་སྟངས་ཚུ།
Name[el]=Ρυθμίσεις απεικόνισης Xfce 4
Name[en_GB]=Xfce 4 Display Settings
Name[eo]=Xfce 4 Afiŝaĵaj Parametroj
Name[es]=Configuración de pantalla de Xfce 4
Name[et]=Xfce 4 ekraani seadistused
Name[eu]=Xfce 4 Pantaila Ezarpenak
Name[fi]=Xfce 4 näytön asetukset
Name[fr]=Paramètres d'affichage de Xfce 4
Name[gl]=Axustes da pantalla do Xfce 4
Name[gu]=Xfce 4 ડિસ્પ્લે સુયોજનો
Name[he]=הגדרות תצוגה Xfce 4
Name[hu]=Xfce 4 kijelző beállítások
Name[it]=Impostazioni dello schermo di Xfce 4
Name[ja]=Xfce 4 ディスプレイの設定
Name[ka]=XFce-ის  ეკრანის პარამეტრები
Name[ko]=Xfce 4 화면 설정
Name[lv]=Xfce 4 Displeja Uzstādījumi
Name[mk]=Xfce 4 поставувања за приказот
Name[mr]=Xfce 4 प्रदर्शनाची रचना
Name[nb_NO]=Xfce 4 Skjerminnstillinger
Name[nl]=Monitor instellen
Name[pa]=Xfce 4 ਡਿਸਪਲੇਅ ਸੈਟਿੰਗ
Name[pl]=Ustawienia Wyglądu Xfce4
Name[pt_BR]=Configurações de Exibição do Xfce 4
Name[pt_PT]=Configurações de Exibição do Xfce 4
Name[ro]=Preferinţe ecran Xfce4
Name[ru]=Настройки экрана для Xfce 4
Name[sk]=Nastavenie obrazovky pre Xfce 4
Name[sv]=Xfce 4 Inställningarn för Bildskärmen
Name[tr]=Xfce 4 Görüntü Ayarları
Name[uk]=Параметри екрану Xfce 4
Name[vi]=Thiết lập hiển thị Xfce 4
Name[zh_CN]=Xfce4显示设定
Name[zh_TW]=Xfce 4 顯示器設定
GenericName=Display Settings
GenericName[be]=Настаўленьні дэсплэю
GenericName[bn_IN]=প্রদর্শন সংক্রান্ত বৈশিষ্ট্য
GenericName[ca]=Paràmetres de pantalla
GenericName[cs]=Nastavení displeje
GenericName[de]=Anzeigeeinstellungen
GenericName[dz]=སྒྲིག་སྟངས་ཚུ་བཀྲམ་སྟོན་འབད།
GenericName[el]=Απεικόνιση
GenericName[en_GB]=Display Settings
GenericName[eo]=Afiŝaĵaj Parametroj
GenericName[es]=Configuración de pantalla
GenericName[et]=Ekraani seadistused
GenericName[eu]=Pantaila Ezarpenak
GenericName[fi]=Näytön asetukset
GenericName[fr]=Paramètres d'affichage
GenericName[gl]=Axustes da pantalla
GenericName[gu]=ડિસ્પ્લે સુયોજનો
GenericName[he]=הגדרות תצוגה
GenericName[hu]=Kijelző beállítások
GenericName[it]=Impostazioni dello schermo
GenericName[ja]=ディスプレイ
GenericName[ka]=ეკრანის პარამეტრები
GenericName[ko]=화면 설정
GenericName[lv]=Displeja Uzstādījumi
GenericName[mk]=Поставувања за приказот
GenericName[mr]=प्रदर्शनाची रचना
GenericName[nb_NO]=Innstillinger for Skjerm
GenericName[nl]=Monitor instellen
GenericName[pa]=ਡਿਸਪਲੇਅ ਸੈਟਿੰਗ
GenericName[pl]=Ustawienia Wyglądu
GenericName[pt_BR]=Configurações de Exibição
GenericName[pt_PT]=Configurações de Exibição
GenericName[ro]=Preferinţe ecran
GenericName[ru]=Экран
GenericName[sk]=Nastavenie obrazovky
GenericName[sv]=Inställningar för Bildskärmen
GenericName[tr]=Görüntü Ayarları
GenericName[uk]=Параметри екрану
GenericName[vi]=Thiết lập hiển thị
GenericName[zh_CN]=显示设定
GenericName[zh_TW]=設定顯示器
Comment=Display Settings
Comment[be]=Настаўленьні дэсплэю
Comment[bn_IN]=প্রদর্শন সংক্রান্ত বৈশিষ্ট্য
Comment[ca]=Paràmetres de pantalla
Comment[cs]=Nastavení displeje
Comment[de]=Anzeigeeinstellungen
Comment[dz]=སྒྲིག་སྟངས་ཚུ་བཀྲམ་སྟོན་འབད།
Comment[el]=Απεικόνιση
Comment[en_GB]=Display Settings
Comment[eo]=Afiŝaĵaj Parametroj
Comment[es]=Configuración de pantalla
Comment[et]=Ekraani seadistused
Comment[eu]=Pantaila Ezarpenak
Comment[fi]=Näytön asetukset
Comment[fr]=Paramètres d'affichage
Comment[gl]=Axustes da pantalla
Comment[gu]=ડિસ્પ્લે સુયોજનો
Comment[he]=הגדרות תצוגה
Comment[hu]=Kijelző beállítások
Comment[it]=Impostazioni dello schermo
Comment[ja]=ディスプレイ
Comment[ka]=ეკრანის პარამეტრები
Comment[ko]=화면 설정
Comment[lv]=Displeja Uzstādījumi
Comment[mk]=Поставувања за приказот
Comment[mr]=प्रदर्शनाची रचना
Comment[nb_NO]=Innstillinger for Skjerm
Comment[nl]=Monitor instellen
Comment[pa]=ਡਿਸਪਲੇਅ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia Wyglądu
Comment[pt_BR]=Configurações de Exibição
Comment[pt_PT]=Configurações de Exibição
Comment[ro]=Preferinţe ecran
Comment[ru]=Экран
Comment[sk]=Nastavenie obrazovky
Comment[sv]=Inställningar för Bildskärmen
Comment[tr]=Görüntü Ayarları
Comment[uk]=Параметри екрану
Comment[vi]=Thiết lập hiển thị
Comment[zh_CN]=显示设定
Comment[zh_TW]=設定顯示器
Exec=xfce-setting-show display
Icon=xfce4-display
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
StartupNotify=true
