[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xfce 4 Panel Manager
Name[be]=Кіраўнік Панэлі Xfce 4
Name[ca]=Gestor de quadres Xfce4
Name[cs]=Správce panelu Xfce 4
Name[de]=Xfce4-Leistenverwaltung
Name[dz]=ཨེགསི་ཨེཕི་སི་ཨི་ ༤པེ་ནཱལ་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής ταμπλό Xfce 4
Name[en_GB]=Xfce 4 Panel Manager
Name[eo]=Xfce 4 Administrilo de Panelo
Name[es]=Gestor de panel de Xfce 4
Name[eu]=Xfce 4 Panel Kudeatzailea:
Name[fi]=Paneelin hallinta
Name[fr]=Gestionnaire du panneau Xfce 4
Name[gl]=Administrador de paneis de XFCE 4
Name[he]=מנהל לוח Xfce 4
Name[hu]=Xfce 4 panel kezelő
Name[it]=Gestore dei pannelli di Xfce 4
Name[ja]=Xfce 4 パネルマネージャー
Name[ka]=XFce-ის პანელის მმართველი
Name[ko]=Xfce 4 패널 관리자
Name[lv]=Xfce 4 Paneļu Pārvaldnieks
Name[mk]=Xfce 4 менаџер на панели
Name[nb_NO]=Xfce 4 Panelbehandler
Name[nl]=Xfce 4 Paneel Manager
Name[pa]=Xfce 4 ਪੈਨਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer Panelu Xfce 4
Name[pt_BR]=Gerenciador do Painel do Xfce 4
Name[pt_PT]=Gestor do Painel Xfce 4
Name[ro]=Administratorul de panouri Xfce 4
Name[ru]=Диспетчер панелей Xfce 4
Name[sk]=Správca panelu Xfce 4
Name[sv]=Xfce 4 Panelhanterare
Name[tr]=Xfce 4 Panel Yöneticisi
Name[uk]=Менеджер панелей Xfce 4
Name[vi]=Trình quản lý thanh Panel Xfce 4
Name[zh_CN]=xfce4 面板管理器
Name[zh_TW]=Xfce 4 面板管理程式
GenericName=Panel Manager
GenericName[be]=Кіраўнік Панэляў
GenericName[ca]=Gestor de quadres
GenericName[cs]=Správce panelu
GenericName[de]=Verwaltung der Leisten
GenericName[dz]=པེ་ནཱལ་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής ταμπλό
GenericName[en_GB]=Panel Manager
GenericName[eo]=Administrilo de Panelo
GenericName[es]=Gestor de panel
GenericName[et]=Paneeli haldur
GenericName[eu]=Panel Kudeatzailea:
GenericName[fi]=Paneelin hallinta
GenericName[fr]=Gestionnaire de panneau
GenericName[gl]=Administrador de paneles
GenericName[he]=מנהל הלוח
GenericName[hu]=Panel kezelő
GenericName[it]=Gestore dei pannelli
GenericName[ja]=パネルマネージャー
GenericName[ka]=პანელის მმართველი
GenericName[ko]=패널 관리자
GenericName[lv]=Paneļu Pārvaldnieks
GenericName[mk]=Менаџер за панели
GenericName[nb_NO]=Innstillinger for Panel
GenericName[nl]=Paneel Manager
GenericName[pa]=ਪੈਨਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer Panelu
GenericName[pt_BR]=Gerenciador do Painel
GenericName[pt_PT]=Gestor do Painel
GenericName[ro]=Preferinţe administrator de panouri
GenericName[ru]=Диспетчер панелей
GenericName[sk]=Nastavenie panelu
GenericName[sv]=Panelhanteraren
GenericName[tr]=Panel Yöneticisi
GenericName[uk]=Менеджер панелей:
GenericName[vi]=Quản lý panel
GenericName[zh_CN]=面板管理器
GenericName[zh_TW]=面板管理程式
Comment=Customize Panel
Comment[be]=Наладзіць панэль
Comment[ca]=Personalitza el quadre
Comment[cs]=Přizpůsobit panel
Comment[de]=Leiste einrichten
Comment[dz]=པེ་ནཱལ་སྲོལ་སྒྲིག་འབད།
Comment[el]=Προσαρμογή ταμπλό
Comment[en_GB]=Customise Panel
Comment[eo]=Agordu Panelon
Comment[es]=Personalizar panel
Comment[et]=Kohanda paneeli
Comment[eu]=Panela Pertsonalizatu
Comment[fi]=Mukauta paneelia
Comment[fr]=Configurer le panneau
Comment[gl]=Personalizar panel
Comment[he]=התאם אישית את הלוח
Comment[hu]=Panel testreszabása
Comment[it]=Personalizza il pannello
Comment[ja]=パネルの設定
Comment[ka]=პანელის მორგება
Comment[ko]=패널 꾸미기
Comment[lv]=Pielāgot Paneli
Comment[mk]=Прилагоди го панелот
Comment[nb_NO]=Tilpasse panel
Comment[nl]=Paneel configureren
Comment[pa]=ਪਸੰਦੀਦਾ ਪੈਨਲ
Comment[pl]=Dopasuj Panel
Comment[pt_BR]=Personalizar o Painel
Comment[pt_PT]=Personalizar Painel
Comment[ro]=Preferinţe panou
Comment[ru]=Настроить панель
Comment[sk]=Prispôsobiť panel
Comment[sv]=Konfigurera panelen
Comment[tr]=Paneli Özelleştir
Comment[uk]=Налаштувати панель
Comment[vi]=Tùy chỉnh thanh Panel
Comment[zh_CN]=自定义面板
Comment[zh_TW]=自訂面板
Exec=xfce4-panel -c
Icon=xfce4-panel
Terminal=false
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;

