[Desktop Entry]
Encoding=UTF-8
Name=Wireless Assistant
Comment[pl]=Program do obsługi sieci bezprzewodowych
Comment[es]=Aplicación para buscar redes inalámbricas
#Exec=ksystraycmd sudo wlassistant
Exec=ksystraycmd kdesu wlassistant
Icon=wlassistant
Type=Application
#Categories=Qt;KDE;Network;
Categories=Settings;HardwareSettings;

GenericName=Wireless LAN Manager
