[Desktop Entry]
X-AppInstall-Package=albumshaper
X-AppInstall-Popcon=90
X-AppInstall-Section=main

Encoding=UTF-8
Name=Album Shaper
Comment=Photo album organiser
Exec=albumshaper
Icon=_usr_share_albumshaper_images_miscImages_as32
Type=Application
Categories=Utility;Graphics;
