[Desktop Entry]
X-AppInstall-Package=alsamixergui
X-AppInstall-Popcon=717
X-AppInstall-Section=main

Name=Alsamixergui
Comment=Graphical audio mixer
Exec=/usr/bin/alsamixergui
Icon=_usr_share_pixmaps_alsamixergui
Terminal=false
Type=Application
Categories=Application;AudioVideo;
