[Desktop Entry]
X-AppInstall-Package=amsynth
X-AppInstall-Popcon=44
X-AppInstall-Section=main

Encoding=UTF-8

Name=amSynth
GenericName=Soft Synth
Comment=Two oscillator software synthesizer
Icon=_usr_share_pixmaps_amsynth

Type=Application
Categories=Application;AudioVideo;Audio;Synthesis;

Exec=amsynth
Terminal=false
