[Desktop Entry]
X-AppInstall-Package=anjuta
X-AppInstall-Popcon=367
X-AppInstall-Section=main

Name=Anjuta IDE
Name[ar]=بيئة تطوير أنجوتا
Name[az]=Anjuta IDE
Name[be@latin]=Anjuta IDE
Name[bg]=Anjuta IDE
Name[ca]=EID Anjuta
Name[cs]=IDE Anjuta
Name[da]=Anjuta IDE
Name[de]=Anjuta IDE
Name[dz]=འི་ཌི་ཨི་གི་ཨན་ཇུ་ཊ།
Name[el]=Περιβάλλον ανάπτυξης λογισμικού Anjuta
Name[en_CA]=Anjuta IDE
Name[en_GB]=Anjuta IDE
Name[es]=EID Anjuta
Name[fi]=Anjuta
Name[fr]=EDI Anjuta
Name[gl]=EID Anjuta
Name[hi]=अंजूटा IDE
Name[hr]=Anjuta IDE
Name[hu]=Anjuta IDE
Name[id]=IDE Anjuta
Name[it]=Anjuta IDE
Name[ja]=Anjuta IDE
Name[kn]=Anjuta IDE
Name[ko]=Anjuta IDE
Name[lt]=Anjuta IDE
Name[mk]=Anjuta IDE
Name[ml]=അന്‍ജുത ഐഡിഇ
Name[ms]=IDE Anjuta
Name[nb]=Anjuta IDE
Name[ne]=अन्जुता IDE
Name[nl]=Anjuta IDE
Name[pa]=ਆਂਜੂਤਾ IDE
Name[pl]=Anjuta IDE
Name[pt]=IDE Anjuta
Name[pt_BR]=Anjuta IDE
Name[ru]=Интегрированная среда разработки Anjuta
Name[si]=අන්ජුටා IDE
Name[sk]=Anjuta IDE
Name[sl]=Anjuta IDE
Name[sq]=Anjuta IDE
Name[sr]=Анјута
Name[sr@Latn]=Anjuta
Name[sv]=Utvecklingsmiljön Anjuta
Name[tr]=Anjuta IDE
Name[uk]=Anjuta IDE
Name[zh_CN]=Anjuta IDE
Name[zh_HK]=Anjuta 整合式開發環境
Name[zh_TW]=Anjuta 整合式開發環境
GenericName=Integrated Development Environment
GenericName[ar]=بيئة التطوير المتكامل
GenericName[az]=İnteqrasiya Edilmiş İnkişaf Vasitəsi
GenericName[be]=Інтэграванае асяродьдзе распрацоўкі
GenericName[be@latin]=Intehravanaje asiarodździe raspracoŭki
GenericName[bg]=Вградена среда за разработка
GenericName[ca]=Entorn integrat de desenvolupament
GenericName[cs]=Integrované vývojové prostředí
GenericName[da]=Integreret udviklingsmiljø (IDE)
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[dz]=གོང་འཕེལ་མཐའ་འཁོར་གྱི་ཆིག་སྒྲིལ་འབད་ཡོད་མི།
GenericName[el]=Ενσωματωμένο περιβάλλον προγραμματισμού
GenericName[en_CA]=Integrated Development Environment
GenericName[en_GB]=Integrated Development Environment
GenericName[es]=Entorno Integrado de Desarrollo
GenericName[fi]=Integroitu kehitysympäristö
GenericName[fr]=Environnement de développement intégré
GenericName[gl]=Entorno Integrado de Desenvolvemento
GenericName[hi]=एकीकृत विकास वातावरण
GenericName[hu]=Integrált fejlesztői környezet
GenericName[id]=Lingkungan Pengembangan Terpadu
GenericName[it]=Ambiente di sviluppo integrato
GenericName[ja]=統合開発環境です
GenericName[kn]=ಸಂಘಟಿತ ಅಭಿವೃದ್ಧಿ ವಾತಾವರಣ
GenericName[ko]=통합 개발 환경
GenericName[lt]=Integruota programavimo aplinka
GenericName[mk]=Интегрирана развојна околина 
GenericName[ms]=Persekitaran Pembangunan Bersepadu
GenericName[nb]=Integrert utviklingsmiljø
GenericName[ne]=एकीकृत विकास परिवेस
GenericName[nl]=Geïntegreerde ontwikkelomgeving
GenericName[pl]=Zintegrowane środowisko programistyczne
GenericName[pt]=Ambiente Integrado de Desenvolvimento (IDE)
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado (IDE)
GenericName[ru]=Интегрированная среда разработки
GenericName[si]=සංගෘහිත නිමැවුම් පරිසරය
GenericName[sk]=Integrované vývojové prostredie
GenericName[sl]=Združeno razvojno okolje
GenericName[sq]=Mjedis i integruar zhvillimi
GenericName[sr]=Интегрисано развојно окружење
GenericName[sr@Latn]=Integrisano razvojno okruženje
GenericName[sv]=Integrerad utvecklingsmiljö (IDE)
GenericName[tr]=Bütünleşik Geliştirme Ortamı
GenericName[uk]=Інтегроване середовище розробки
GenericName[zh_CN]=集成开发环境
GenericName[zh_HK]=整合式開發環境
GenericName[zh_TW]=整合式開發環境
Comment=Develop software in an integrated development environment
Comment[ar]=طوّر برنامجاً في بيئة التطوير المتكامل
Comment[be@latin]=Raspracoŭvaj prahramy ŭ intehravanym asiarodździ
Comment[ca]=Desenvolupeu programari en un entorn integrat de desenvolupament
Comment[da]=Skriv software i et integreret udviklingsmiljø
Comment[de]=Software in einer intergrierten Umgebung entwickeln
Comment[dz]=ཆིག་སྒྲིལ་འབད་ཡོད་མི་གོང་འཕེལ་མཐའ་འཁོར་ཅིག་ནང་མཉེན་ཆས་གོང་འཕེལ་གཏང་།
Comment[el]=Ανάπτυξη λογισμικού σε ένα ενσωματωμένο περιβάλλον ανάπτυξης
Comment[en_GB]=Develop software in an integrated development environment
Comment[es]=Software de desarrollo en un entorno integrado de desarrollo
Comment[fi]=Kehitä ohjelmia integroidussa kehitysympäristössä
Comment[fr]=Développer des applications dans un environnement intégré
Comment[gl]=Desenvolver software nun entorno integrado de desenvolvemento
Comment[hu]=Szoftverfejlesztés integrált fejlesztői környezetben
Comment[id]=Mengembangkan perangkat lunak di dalam suatu lingkungan pengembangan terpadu
Comment[it]=Sviluppa software in un ambiente di sviluppo integrato
Comment[ja]=統合開発環境でソフトウェアを開発します
Comment[kn]=ಸಂಘಟಿತ ಅಭಿವೃದ್ಧಿ ವಾತಾವರಣದಲ್ಲಿ ತಂತ್ರಾಂಶವನ್ನು ಅಭಿವೃದ್ಧಿಪಡಿಸುತ್ತದೆ
Comment[ko]=통합 개발 환경에서 소프트웨어를 개발하세요
Comment[lt]=Kurti programas integruotoje programavimo aplinkoje
Comment[mk]=Развивајте софтвер во интегрирана развојна околина
Comment[nb]=Utvikle programvare i et integrert utviklingsmiljø
Comment[ne]=एकीकृत विकास परिवेसमा सफ्टवेयर विकास गर्नुहोस्
Comment[nl]=Software ontwikkelen in een geïntegreerde ontwikkelomgeving
Comment[pt]=Desenvolva aplicações num ambiente integrado de desenvolvimento (IDE)
Comment[pt_BR]=Desenvolva software em um IDE (ambiente de desenvolvimento integrado)
Comment[ru]=Программное обеспечение для разработки в интегрированной среда разработки
Comment[si]=සංගෘහිත පරිසරයක් තුල මෘදුකාංග නිමවයි
Comment[sl]=Programska oprema v združenem razvojnem okolju
Comment[sq]=Zhvillo software në një mjedis zhvillimi të integruar
Comment[sv]=Utveckla programvara i en integrerad utvecklingsmiljö
Comment[tr]=Bir bütünleşik geliştirme ortamında yazılım geliştirin
Comment[uk]=Середовище для розробки програм
Exec=anjuta %F
Icon=anjuta
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Development;
Encoding=UTF-8
StartupNotify=true
MimeType=application/x-anjuta;
X-GNOME-DocPath=anjuta/anjuta-manual.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=anjuta
X-GNOME-Bugzilla-Version=2.4.2
X-GNOME-Bugzilla-Component=unknown
