[Desktop Entry]
X-AppInstall-Package=gnome-main-menu
X-AppInstall-Popcon=536
X-AppInstall-Section=main

X-SuSE-translate=true
Name=Application Browser
Name[ca]=Navegador d'aplicacions
Name[cs]=Prohlížeč aplikací
Name[da]=Gennemse programmer
Name[de]=Application Browser
Name[dz]=གློག་རིམ་བརའུ་ཟར་
Name[en_CA]=Application Browser
Name[en_GB]=Application Browser
Name[en_IGID]=Agidappligidicigidashigidon Brigidowsigider
Name[es]=Navegador de aplicaciones
Name[et]=Rakenduste sirvija
Name[fi]=Sovellusselain
Name[fr]=Explorateur d'applications
Name[gl]=Examinador de aplicacións
Name[hu]=Alkalmazásböngésző
Name[it]=Browser
Name[ja]=アプリケーションブラウザ 
Name[ko]=프로그램 찾아보기
Name[nb]=Programdialog
Name[pl]=Przeglądarka aplikacji
Name[pt]=Navegador de Aplicações
Name[pt_BR]=Navegador de Aplicações
Name[ru]=Проводник приложений
Name[sv]=Programbläddrare
Name[zh_CN]=应用程序浏览器
Name[zh_TW]=應用程式瀏覽器
Exec=/usr/lib/gnome-main-menu/application-browser
Terminal=false
Type=Application
StartupNotify=true
Encoding=UTF-8
Categories=Application;Other
