[Desktop Entry]
X-AppInstall-Package=aptoncd
X-AppInstall-Popcon=19
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=APTonCD
Comment=Get APT anywhere
Icon=aptoncd
Exec=/usr/bin/aptoncd
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;System;Settings
GenericName=Package Backup Tool
GenericName[en_US]=Package Backup Tool
GenericName[pt_BR]=Ferramenta para Backup de Pacotes
