[Desktop Entry]
X-AppInstall-Package=aria
X-AppInstall-Popcon=52
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Aria Download Manager
GenericName=Download Manager
Comment=Manage Internet downloads, with support for resuming stopped downloads
Exec=aria
Icon=aria
Type=Application
Categories=FileTransfer;Network;

