[Desktop Entry]
X-AppInstall-Package=atanks
X-AppInstall-Popcon=74
X-AppInstall-Section=main

Name=Atomic Tanks
Version=1.0
Comment=Atomic Tanks
Exec=atanks
Icon=atanks-icon
Terminal=false
StartupNotify=true
Type=Application
Categories=Game;
