[Desktop Entry]
X-AppInstall-Package=avant-window-navigator
X-AppInstall-Popcon=292
X-AppInstall-Section=main

Type=Application
Name=Avant Window Navigator
Comment=A dock-like window navigator.
Exec=avant-window-navigator
Icon=_usr_share_avant-window-navigator_avant-window-navigator-48
Categories=GNOME;Utility;
