[Desktop Entry]
X-AppInstall-Package=azureus
X-AppInstall-Popcon=821
X-AppInstall-Section=main

Encoding=UTF-8
Categories=Java;Network;FileTransfer;P2P
Comment=peer-to-peer file distribution tool
Exec=azureus %U
GenericName=BitTorrent client
Icon=Azureus
MimeType=application/x-bittorrent
Name=Azureus
Type=Application
