[Desktop Entry]
X-AppInstall-Package=batmon.app
X-AppInstall-Popcon=9
X-AppInstall-Section=main

Name=BatMon
Comment=Monitor battery status
Type=Application
Version=0.94
Categories=System;Monitor;
Exec=BatMon
