[Desktop Entry]
X-AppInstall-Package=beagle
X-AppInstall-Popcon=1316
X-AppInstall-Section=main

Name=Search
Name[ar]=ابحث
Name[bg]=Търсене
Name[ca]=Cerca
Name[cs]=Vyhledávání
Name[da]=Søg
Name[de]=Suchen
Name[dz]=འཚོལ་ཞིབ་
Name[el]=Αναζήτηση
Name[en_CA]=Search
Name[en_GB]=Search
Name[es]=Búsqueda
Name[eu]=Bilatu
Name[fi]=Haku
Name[fr]=Recherche
Name[gl]=Busca
Name[he]=חיפוש
Name[hi]=खोजें
Name[hu]=Keresés
Name[it]=Ricerca
Name[ja]=検索
Name[ka]=ძებნა
Name[ko]=찾기
Name[lt]=Paieška
Name[lv]=Meklēšana
Name[mk]=Барај
Name[nb]=Søk
Name[nl]=Zoeken
Name[oc]=Recercar
Name[pa]=ਖੋਜ
Name[pl]=Wyszukiwanie...
Name[pt]=Pesquisar
Name[pt_BR]=Pesquisar
Name[ru]=Поиск
Name[sl]=Poišči
Name[sr]=Тражи
Name[sr@Latn]=Traži
Name[sv]=Sök
Name[th]=ค้นหา
Name[tr]=Ara
Name[uk]=Пошук
Name[vi]=Tìm kiếm
Name[zh_CN]=搜索
Name[zh_HK]=搜尋
Name[zh_TW]=搜尋
GenericName=Search
GenericName[ar]=ابحث
GenericName[bg]=Търсене
GenericName[ca]=Cerca
GenericName[cs]=Vyhledávání
GenericName[da]=Søg
GenericName[de]=Suchen
GenericName[dz]=འཚོལ་ཞིབ་
GenericName[el]=Αναζήτηση
GenericName[en_CA]=Search
GenericName[en_GB]=Search
GenericName[es]=Búsqueda
GenericName[eu]=Bilatu
GenericName[fi]=Haku
GenericName[fr]=Recherche
GenericName[gl]=Busca
GenericName[he]=חיפוש
GenericName[hi]=खोजें
GenericName[hu]=Keresés
GenericName[it]=Ricerca
GenericName[ja]=検索
GenericName[ka]=ძებნა
GenericName[ko]=찾기
GenericName[lt]=Paieška
GenericName[lv]=Meklēšana
GenericName[mk]=Барај
GenericName[nb]=Søk
GenericName[nl]=Zoeken
GenericName[oc]=Recercar
GenericName[pa]=ਖੋਜ
GenericName[pl]=Wyszukiwanie...
GenericName[pt]=Pesquisar
GenericName[pt_BR]=Pesquisar
GenericName[ru]=Поиск
GenericName[sl]=Poišči
GenericName[sr]=Тражи
GenericName[sr@Latn]=Traži
GenericName[sv]=Sök
GenericName[th]=ค้นหา
GenericName[tr]=Ara
GenericName[uk]=Пошук
GenericName[vi]=Tìm kiếm
GenericName[zh_CN]=搜索
GenericName[zh_HK]=搜尋
GenericName[zh_TW]=搜尋
Comment=Search for data on your desktop
Comment[ar]=ابحث عن البيانات على سطح مكتبك
Comment[bg]=Търсене за данни в работния плот
Comment[ca]=Cerca dades al vostre escriptori
Comment[cs]=Vyhledávání dat ve vašem počítači
Comment[de]=Ihren Arbeitsplatz nach Daten durchsuchen
Comment[dz]=ཁྱོད་རའི་ཌེཀསི་ཊོཔ་གུ་ གནད་སྡུད་ཀྱི་དོན་ལུ་འཚོལ་ཞིབ་འབད་
Comment[el]=Αναζήτηση για δεδομένα στην επιφάνεια εργασίας σας
Comment[en_CA]=Search for data on your desktop
Comment[en_GB]=Search for data on your desktop
Comment[es]=Buscar datos en el escritorio
Comment[eu]=Bilatu datuak mahaigainean
Comment[fi]=Etsi tietoja työpöydältäsi
Comment[fr]=Rechercher des données sur votre bureau
Comment[gl]=Procurar datos no seu escritorio
Comment[he]=חפש מידע בשולחן העבודה שלכם
Comment[hi]=डेस्कटॉप पर डॉटा के लिए खोजें
Comment[hu]=Adatok keresése az asztalon
Comment[it]=Ricerca dati nel proprio desktop
Comment[ja]=デスクトップ上のデータを検索します
Comment[ko]=바탕환경에서 데이터를 찾습니다
Comment[lt]=Ieškoti duomenų Jūsų darbo aplinkoje
Comment[lv]=Meklēt datus jūsu datorā
Comment[mk]=Пребарување податоци на Вашата работна површина
Comment[nb]=Søk etter data i dine mapper
Comment[nl]=Zoeken naar gegevens op uw computer
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਉੱਤੇ ਡਾਟੇ ਲਈ ਖੋਜ
Comment[pl]=Wyszukiwanie danych
Comment[pt]=Pesquisar por dados no ambiente de trabalho
Comment[pt_BR]=Pesquise dados no seu sistema
Comment[ru]=Поиск данных на вашем компьютере
Comment[sl]=Poišči podatke na namizju
Comment[sr]=Претрага података у радном окружењу
Comment[sr@Latn]=Pretraga podataka u radnom okruženju
Comment[sv]=Sök efter data på ditt skrivbord
Comment[th]=ค้นหาข้อมูลบนเดสก์ท็อปของคุณ
Comment[vi]=Tìm kiếm dữ liệu trong môi trường của bạn
Comment[zh_CN]=在您的桌面上搜索数据
Comment[zh_HK]=搜尋桌面上的資料
Comment[zh_TW]=搜尋桌面上的資料
Icon=system-search
Exec=beagle-search
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Core;Utility;Filesystem;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=beagle
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.3.7
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
