[Desktop Entry]
X-AppInstall-Package=biblememorizer
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Encoding=UTF-8
Name=BibleMemorizer
Name[xx]=xxBibleMemorizerxx
Exec=biblememorizer
Icon=biblememorizer
Type=Application
Comment=A Bible Verses Memorizer for KDE
Comment[fr]=Une application de mémorisation de versets bibliques pour KDE
Comment[xx]=xxA Bible Verses Memorizer for KDExx
GenericName=Bible Verses Memorizer
GenericName[fr]=Mémorisation de versets bibliques
GenericName[xx]=Bible Verses Memorizer
Categories=Religion;Bible;Application;KDE;Utility;
