
[Desktop Entry]
X-AppInstall-Package=bitscope
X-AppInstall-Popcon=18
X-AppInstall-Section=main

Name=Bitscope
Comment=JACK diagnostic tool
Exec=bitscope
Icon=bitscope.xpm
Terminal=0
Type=Application
StartupWMClass=Bitscope
Categories=Application;Audio;AudioVideo;X-Jack


