[Desktop Entry]
X-AppInstall-Package=blobandconquer
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Encoding=UTF-8
Categories=ArcadeGame;Game;
X-Desktop-File-Install-Version=1.0
Name=Blob And Conquer
Comment=Mission and Objective based 3D Action Game
Icon=blobAndConquer
Exec=blobAndConquer
Terminal=false
Type=Application
