[Desktop Entry]
X-AppInstall-Package=bluez-gnome
X-AppInstall-Popcon=16828
X-AppInstall-Section=main

Encoding=UTF-8
Name=Bluetooth
Name[ca]=Bluetooth
Name[de]=Bluetooth
Name[es]=Bluetooth
Name[eu]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[he]=בלוטות'
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[mn]=Блүтүүт
Name[nl]=Bluetooth
Name[pl]=Bluetooth
Name[ru]=Bluetooth
Name[sv]=Bluetooth
Name[zh_CN]=蓝牙
Name[zh_TW]=藍芽
Comment=Configure Bluetooth settings
Comment[be]=Наладка настаўленьняў Bluetooth
Comment[bg]=Настройване на Bluetooth
Comment[ca]=Configura els paràmetres del Bluetooth
Comment[cs]=Nastavit volby Bluetooth
Comment[de]=Bluetooth-Einstellungen bearbeiten
Comment[en_GB]=Configure Bluetooth settings
Comment[es]=Configurar opciones de Bluetooth
Comment[eu]=Konfiguratu Bluetooth-aren ezarpenak
Comment[fi]=Muuta Bluetooth-asetuksia
Comment[fr]=Configuration des paramètres Bluetooth
Comment[he]=הגדר את הגדרות הבלוטות'
Comment[hr]=Uredi postavke Bluetootha
Comment[hu]=A Bluetooth beállítások módosítása
Comment[id]=Atur konfigurasi Bluetooth
Comment[it]=Configura le impostazioni del Bluetooth
Comment[ja]=Bluetoothの設定の変更
Comment[ko]=블루투스 설정
Comment[lv]=Konfigurēt Bluetooth uzstādījumus
Comment[mn]=Блүтүүтийн тохиргоог тохируулах
Comment[nl]=Bluetooth voorkeuren aanpassen
Comment[pl]=Konfiguracja ustawień Bluetooth
Comment[pt]=Configurar opções de Bluetooth
Comment[pt_BR]=Configurar Bluetooth
Comment[ro]=Configurează parametrii Bluetooth
Comment[ru]=Настроить Bluetooth
Comment[sk]=Nastavenie vlastností Bluetooth
Comment[sr]=Подеси Bluetooth подешавања
Comment[sv]=Konfigurera blåtandsinställningar
Comment[tr]=Bluetooth Seçeneklerini Ayarla
Comment[zh_CN]=配置蓝牙设置
Comment[zh_TW]=調整藍芽設定
Icon=bluetooth
Exec=bluetooth-properties --singleton
Terminal=false
Type=Application
Categories=Settings;
OnlyShowIn=GNOME;
