[Desktop Entry]
X-AppInstall-Package=bluefish
X-AppInstall-Popcon=1088
X-AppInstall-Section=main

Name=Bluefish Editor
Name[de]=Bluefish Editor
Name[fr]=Éditeur Bluefish
Comment=Web Development Editor
Comment[de]=Editor für Web-Entwickler
Comment[fr]=Éditeur pour développeurs web
Exec=bluefish -n -p %f
Icon=_usr_share_pixmaps_bluefish-icon
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/bluefish-project;
