[Desktop Entry]
X-AppInstall-Package=boson
X-AppInstall-Popcon=39
X-AppInstall-Section=main

Encoding=UTF-8
GenericName=Unit Editor for Boson
Comment=Edit Units for Boson
Name=BoUnit
Exec=bounit
Icon=boson
Path=
X-DocPath=boson/index.html
Type=Application
Terminal=false
Categories=Game;StrategyGame;
