[Desktop Entry]
X-AppInstall-Package=buoh
X-AppInstall-Popcon=32
X-AppInstall-Section=main

Name=Buoh Online Comics Reader
Comment=Read your favourite comics
Exec=buoh
Icon=buoh.png
Terminal=0
Type=Application
Categories=Application;Utility;
StartupNotify=true
Encoding=UTF-8
