[Desktop Entry]
X-AppInstall-Package=burgerspace
X-AppInstall-Popcon=33
X-AppInstall-Section=main

Name=BurgerSpace
Categories=Game;ArcadeGame;
Comment=BurgerTime clone
Comment[fr]=Clone de BurgerTime
Exec=burgerspace
Icon=burgerspace
Terminal=false
Type=Application
