[Desktop Entry]
X-AppInstall-Package=cameramonitor
X-AppInstall-Popcon=65
X-AppInstall-Section=main

Name=Camera Monitor Preferences
Comment=Camera Monitor Preferences
Exec=cameramonitor --prefs
Icon=_usr_share_cameramonitor_cameramonitor
Terminal=false
Type=Application
Categories=GNOME;Application;Settings;
