[Desktop Entry]
X-AppInstall-Package=canoe
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Encoding=UTF-8
Name=Canoe
Comment=Log file aggregator and report tool
Exec=canoe
Icon=canoe.xpm
Terminal=false
Type=Application
Categories=Application;Utility;Gtk
StartupNotify=true
