[Desktop Entry]
X-AppInstall-Package=catfish
X-AppInstall-Popcon=15
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Catfish
Comment=File search
Categories=GTK;Utility;Filesystem;
Exec=catfish
Icon=catfish
Terminal=false
StartupNotify=true
