[Desktop Entry]
X-AppInstall-Package=compizconfig-settings-manager
X-AppInstall-Popcon=679
X-AppInstall-Section=main

Encoding=UTF-8
Name=CompizConfig Settings Manager
Name[ar]=ضابط الإعدادات
Name[bn]=কমপিজ কনফিগ ব্যবস্থাপক
Name[bn_IN]=কমপিজ কনফিগ ব্যবস্থাপক
Name[ca]=Editor de la configuració de Compiz
Name[cs]=Manažer nastavení Compizu
Name[de]=CompizConfig Einstellungs-Manager
Name[el]=Διαχειριστής Ρυθμίσεων CompizConfig
Name[en_GB]=CompizConfig Settings Manager
Name[es]=Administrador de Opciones CompizConfig
Name[fi]=CompizConfig-asetusten hallinta
Name[fr]=Gestionnaire de Configuration CompizConfig
Name[gl]=Administrador de Opcións CompizConfig
Name[gu]=CompizConfig સુયોજનો વ્યવસ્થાપક
Name[hi]=CompizConfig जमावट प्रबंधक
Name[id]=CompizConfig Settings Manager
Name[it]=Gestore configurazione CompizConfig
Name[ja]=CompizConfig 設定マネージャ
Name[ko]=컴피즈 설정 관리자
Name[md]=CompizConfig compiz -la tillĩdirão leti
Name[nb]=CompizConfig Innstillingshåndterer
Name[nl]=CompizConfig Instellingen Beheerder
Name[or]=କମ୍ପିଜକନଫିଗ ସେଟିଙ୍ଗ ପ୍ରବନ୍ଧକ
Name[pa]=CompizConfig ਸੈਟਿੰਗ ਮੈਨੇਜਰ
Name[pl]=Menedżer ustawień CompizConfig
Name[pt]=Sistema de Configuração do Compiz
Name[pt_BR]=Gerenciador de configurações do CompizConfig
Name[ru]=Менеджер настройки CompizConfig
Name[sk]=Správca nastavení CompizConfig
Name[sv]=CompizConfig inställningshanterare
Name[tr]=CompizConfig Ayar Yöneticisi
Name[wo]=Tannay u  CompizConfig
Name[zh_CN]=CompizConfig 设置管理器
Comment=Configure Compiz with CompizConfig
Comment[it]=Configura Compiz attraverso CompizConfig
Comment[ja]=CompizConfig で Compiz を設定します
Icon=ccsm
Exec=ccsm
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
