[Desktop Entry]
X-AppInstall-Package=iceape-chatzilla
X-AppInstall-Popcon=91
X-AppInstall-Section=main

Encoding=UTF-8
Name=Chatzilla
GenericName=IRC Chat
Exec=iceape -chat
Terminal=false
Type=Application
Categories=GTK;Network;IRCClient
Icon=chatzilla.xpm
