[Desktop Entry]
X-AppInstall-Package=chmsee
X-AppInstall-Popcon=43
X-AppInstall-Section=main

Version=1.0.1
Encoding=UTF-8
Name=ChmSee
Name[zh_CN]=ChmSee
Comment=HTML Help(CHM) viewer
Comment[zh_CN]=HTML Help(CHM) 文件阅读工具
Exec=chmsee %f
Terminal=false
Type=Application
Icon=chmsee-icon.png
StartupNotify=true
Categories=Utility;
MimeType=application/x-chm;
