[Desktop Entry]
X-AppInstall-Package=conduit
X-AppInstall-Popcon=71
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=Conduit Synchronizer
Name[ca]=Sincronitzador Conduit
Name[en_GB]=Conduit Synchroniser
Name[es]=Sincronizador Conduit
Name[fr]=Synchronisation Conduit
Name[gl]=Sincronizador Conduit
Name[hu]=Conduit szinkronizáló
Name[it]=Sincronizzatore Conduit
Name[nb]=Conduit synkronisering
Name[pt]=Sincronizador Conduit
Name[pt_BR]=Sincronizador Conduit
Name[ru]=Синхронизатор Conduit
Name[sl]=Usklajevalnik Conduit
Name[sv]=Synkroniseraren Conduit
Name[vi]=Bộ đồng bộ hoá ống dẫn Conduit
GenericName=Conduit Synchronizer
GenericName[ca]=Sincronitzador Conduit
GenericName[en_GB]=Conduit Synchroniser
GenericName[es]=Sincronizador Conduit
GenericName[fr]=Synchronisation Conduit
GenericName[gl]=Sincronizador Conduit
GenericName[hu]=Conduit szinkronizáló
GenericName[it]=Sincronizzatore Conduit
GenericName[nb]=Conduit synkronisering
GenericName[pt]=Sincronizador Conduit
GenericName[pt_BR]=Sincronizador Conduit
GenericName[ru]=Синхронизатор Conduit
GenericName[sl]=Usklajevalnik Conduit
GenericName[sv]=Synkroniseraren Conduit
GenericName[vi]=Bộ đồng bộ hoá ống dẫn Conduit
Comment=Synchronization for GNOME
Comment[ar]=مزامنة لجنوم
Comment[ca]=Sincronització per al GNOME
Comment[en_GB]=Synchronisation for GNOME
Comment[es]=Sincronización para GNOME
Comment[fr]=Synchronisation pour GNOME
Comment[gl]=Sincronización para Gnome
Comment[he]=סנכרון עבור GNOME
Comment[hu]=Szinkronizálás a GNOME-hoz
Comment[it]=Strumento di sincronizzazione per GNOME
Comment[nb]=Synkronisering for GNOME
Comment[pt]=Sincronização para o GNOME
Comment[pt_BR]=Sincronização para GNOME
Comment[ru]=Синхронизация в GNOME
Comment[sl]=Usklajevalnik za GNOME
Comment[sv]=Synkronisering för GNOME
Comment[vi]=Chức năng đồng bộ hoá cho GNOME
Icon=conduit
Exec=/usr/bin/conduit
Categories=GNOME;GTK;Utility;

