[Desktop Entry]
X-AppInstall-Package=cournol
X-AppInstall-Popcon=1
X-AppInstall-Section=main

Encoding=UTF-8
Name=cournol
Comment=economic program
Comment[de]=Wirtschaftsprogramm
Exec=cournol
Icon=cournol.png
Terminal=false
Type=Application
Categories=Application;Utility;
