[Desktop Entry]
X-AppInstall-Package=creox
X-AppInstall-Popcon=64
X-AppInstall-Section=main

Encoding=UTF-8

Name=Creox c
GenericName=DFX
Comment=Real-time guitar effects
Icon=_usr_share_pixmaps_creox

Type=Application
Categories=Application;AudioVideo;Audio;

Exec=creox
Terminal=false
