[Desktop Entry]
X-AppInstall-Package=cryptkeeper
X-AppInstall-Popcon=25
X-AppInstall-Section=main

Name=Cryptkeeper
Exec=cryptkeeper
Icon=cryptkeeper
Categories=System;GTK;Security
Terminal=false
Type=Application
StartupNotify=false
