[Desktop Entry]
X-AppInstall-Package=d3lphin
X-AppInstall-Popcon=118
X-AppInstall-Section=main

Actions=OpenWithD3lphinHere;
Comment=service menu action to use D3lphin as folder viewer
Comment[en_US]=service menu action to use D3lphin as folder viewer
Encoding=UTF-8
Exec=d3lphin %U
GenericName=use D3lphin to view folder
GenericName[en_US]=use D3lphin to view folder
Icon=d3lphin
MimeType=inode/directory
Name=D3lphin
Path=
ServiceTypes=inode/directory
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-AuthorizeAction=shell_access
X-KDE-Priority=TopLevel
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action OpenWithD3lphin]
Exec=d3lphin %U
Icon=d3lphin
Name=Open in D3lphin
