[Desktop Entry]
X-AppInstall-Package=libgnomedb3-bin
X-AppInstall-Popcon=53
X-AppInstall-Section=main

Name=Database Access Properties
Name[ca]=Propietats d'accés a la base de dades
Name[cs]=Vlastnosti přístupu k databázi
Name[de]=Einstellungen zum Datenbankzugriff
Name[dz]=གནས་སྡུད་གཞི་རྟེན་འཛོལ་སྤྱོད་རྒྱུ་དངོས་ཚུ།
Name[en_CA]=Database Access Properties
Name[en_GB]=Database Access Properties
Name[es]=Propiedades de acceso a la base de datos
Name[eu]=Datu-basea atzitzeko propietateak
Name[fi]=Tietokannan pääsyoikeuksien ominaisuudet
Name[fr]=Propriétés d'accès à la base de données
Name[hu]=Adatbázis-elérés tulajdonságai
Name[it]=Proprietà di accesso al database
Name[ja]=データベースアクセスのプロパティ
Name[lt]=Priėjimo prie duomenų bazės savybės
Name[nb]=Egenskaper for databaseaksess
Name[ne]=डाटाबेस पहुँच गुण
Name[nl]=Eigenschappen van database toegang
Name[pt]=Propriedades de Acesso a Base de Dados
Name[pt_BR]=Propriedades de Acesso ao Banco de Dados
Name[ru]=Свойства доступа к базе данных
Name[sr]=Особине приступа бази података
Name[sr@Latn]=Osobine pristupa bazi podataka
Name[uk]=Властивості доступу до бази даних
Name[vi]=Tài sản truy cập cơ sở dữ liệu
Name[zh_HK]=資料庫存取屬性
Name[zh_TW]=資料庫存取屬性
Comment=Configure your database environment
Comment[be]=Наладзьце асяроджаньне вашае базы даньняў
Comment[ca]=Configureu l'entorn de base de dades
Comment[cs]=Nastavte vaše databázové prostředí
Comment[da]=Konfigurér dit databasemiljø
Comment[de]=Ihre Datenbankumgebung konfigurieren
Comment[dz]=ཁྱོད་རང་གི་གནས་སྡུད་གཞི་རྟེན་མཐའ་འཁོར་རིམ་སྒྲིག་བཟོ།
Comment[el]=Ρύθμιση περιβάλλοντος βάσης δεδομένων
Comment[en_CA]=Configure your database environment
Comment[en_GB]=Configure your database environment
Comment[es]=Configura el entorno de su base de datos
Comment[eu]=Konfiguratu zure datu-basearen ingurunea
Comment[fa]=پیکربندی محیط پایگاه‌داده
Comment[fi]=Muokkaa tietokantaympäristön asetuksia
Comment[fr]=Configurer l'environnement de votre base de données
Comment[hr]=Podesi okružje baze podataka
Comment[hu]=Adatbázis-környezet beállítása
Comment[it]=Configurazione dell'ambiente del database
Comment[ja]=データベースの環境設定を行います
Comment[ka]=მონაცემთა ბაზის გარემოს კონფიგურირება
Comment[ko]=데이터 베이스 환경을 설정합니다
Comment[lt]=Nustatyti duomenų bazės aplinką
Comment[ms]=Konfigurasikan persekitaran pangkalandata
Comment[nb]=Konfigurer ditt databasemiljø
Comment[ne]=तपाईँको डाटाबेस वातावरण कन्फिगर गर्नुहोस्
Comment[nl]=Configureer uw database omgeving
Comment[pl]=Konfiguracja środowiska bazodanowego
Comment[pt]=Configurar o seu ambiente de base de dados
Comment[pt_BR]=Configura o seu ambiente de banco de dados
Comment[ru]=Настроить окружение баз данных
Comment[sk]=Nastavte vaše databázové prostredie
Comment[sl]=Nastavi okolje zbirke podatkov
Comment[sq]=Konfiguro ambientin tuaj të databazave
Comment[sr]=Подесите окружење ваше базе података
Comment[sr@Latn]=Podesite okruženje vaše baze podataka
Comment[sv]=Konfigurera din databasmiljö
Comment[uk]=Налаштовування вашого середовища баз даних
Comment[vi]=Cấu hình môi trường cơ sở dữ liệu
Comment[zh_CN]=配置数据库环境
Comment[zh_HK]=設定你的資料庫環境
Comment[zh_TW]=設定您的資料庫環境
Icon=gnome-db
Exec=gnome-database-properties-3.0
Terminal=0
Type=Application
Categories=Application;Settings;AdvancedSettings;
StartupNotify=true
