[Desktop Entry]
X-AppInstall-Package=dates-hildon
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Name=Dates
Name[ca]=Cites
Name[da]=Aftaler
Name[de]=Dates
Name[es]=Cita
Name[et]=Kuupäevad
Name[eu]=Hitzorduak
Name[fi]=Päivyri
Name[fr]=Dates
Name[it]=Date
Name[nb]=Datoer
Name[nl]=Agenda
Name[pl]=Kalendarz
Name[pt_BR]=Compromissos
Name[ru]=Dates
Name[sv]=Dates
Comment=Calendar
Comment[ca]=Calendari
Comment[da]=Kalender
Comment[de]=Kalender
Comment[es]=Calendario
Comment[et]=Kalender
Comment[eu]=Egutegia
Comment[fi]=Kalenteri
Comment[fr]=Calendrier
Comment[it]=Calendario
Comment[nb]=Kalender
Comment[nl]=Kalender
Comment[pl]=Kalendarz
Comment[pt_BR]=Calendário
Comment[ru]=Календарь
Comment[sv]=Kalender
Version=1.0
Type=Application
Exec=dates
Icon=dates
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Osso-Service=dates
Categories=GTK;Office;Calendar;
Terminal=false
X-MB-SingleInstance=true
StartupNotify=true
