[Desktop Entry]
X-AppInstall-Package=decibel-audio-player
X-AppInstall-Popcon=25
X-AppInstall-Section=main

Name=Decibel Audio Player
GenericName=Audio Player
Comment=A simple audio player
Exec=decibel-audio-player
MimeType=application/x-executable;
Terminal=false
Type=Application
Icon=decibel-audio-player.png
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;

Comment[fr]=Un lecteur audio simple d'utilisation
