[Desktop Entry]
X-AppInstall-Package=deluge-torrent
X-AppInstall-Popcon=456
X-AppInstall-Section=main

Version=1.0
Name=Deluge BitTorrent Client
Name[fr]=Client BitTorrent Deluge
Name[ca]=Client de BitTorrent Deluge
Comment=Transfer files via BitTorrent network
Comment[fr]=Transfert de fichiers sur le réseau BitTorrent
Comment[pt_BR]=Cliente Bittorrent escrito em PyGTK
Comment[ca]=Compartiu fitxers d'igual a igual mitjançant el protocol BitTorrent
Exec=deluge
Icon=deluge-torrent
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
MimeType=application/x-bittorrent;
