[Desktop Entry]
X-AppInstall-Package=desmume
X-AppInstall-Popcon=26
X-AppInstall-Section=main

Encoding=UTF-8
Version=0.8
Type=Application
Name=DeSmuME (Gtk-Glade)
Comment=Nintento DS emulator
Exec=desmume-glade
Icon=DeSmuME.xpm
Categories=GNOME;GTK;Game;Emulator
