[Desktop Entry]
X-AppInstall-Package=dia
X-AppInstall-Popcon=1873
X-AppInstall-Section=main

Encoding=UTF-8
Name=Dia Diagram Editor
Name[bg]=Редактор на диаграми (Dia)
Name[ca]=Editor de diagrames Dia
Name[cs]=Editor diagramů Dia
Name[de]=Dia Diagrammeditor
Name[en_CA]=Dia Diagram Editor
Name[en_GB]=Dia Diagram Editor
Name[es]=Editor de diagramas
Name[eu]=DIa, diagrama-editorea
Name[fi]=Kaavioeditori
Name[fr]=Éditeur de diagrammes Dia
Name[gl]=Editor de diagramas Dia
Name[hu]=Dia diagramszerkesztő
Name[id]=Editor Diagram Dia
Name[ja]=Dia ダイアグラム・エディタ
Name[lt]=Dia diagramų redaktorius
Name[nb]=Diagramredigering
Name[ne]=डाय चित्र सम्पादक
Name[nl]=Dia diagram bewerken
Name[pt]=Editor de Diagramas Dia
Name[pt_BR]=Editor de Diagramas Dia
Name[ru]=Dia — Редактор диаграмм
Name[sr]=Диа уређивач дијаграма
Name[sr@Latn]=Dia uređivač dijagrama
Name[sv]=Diagramredigeraren Dia
Name[vi]=Bộ biên soạn sơ đồ Dia
Name[zh_TW]=Dia 圖表編輯器
Comment=Edit your Diagrams
Comment[bg]=Редактиране на диаграми
Comment[ca]=Editeu els vostres diagrames
Comment[cs]=Upravte vaše diagramy
Comment[de]=Diagramme bearbeiten
Comment[en_CA]=Edit your Diagrams
Comment[en_GB]=Edit your Diagrams
Comment[es]=Edite sus diagramas
Comment[eu]=Editatu diagramak
Comment[fi]=Muokkaa kaavioitasi
Comment[fr]=Éditez vos diagrammes
Comment[gl]=Editar os diagramas
Comment[hu]=Diagramok szerkesztése
Comment[id]=Edit Diagram Anda
Comment[ja]=ダイアグラムを編集します
Comment[lt]=Kurti diagramas
Comment[nb]=Rediger dine diagrammer
Comment[ne]=तपाईँको चित्रहरू सम्पादन गर्नुहोस्
Comment[nl]=Diagrammen bewerken
Comment[pt]=Edite os seus Diagramas
Comment[pt_BR]=Editar o seu Diagrama
Comment[ru]=Редактировать ваши диаграммы
Comment[sr]=Уређивање ваших дијаграм
Comment[sr@Latn]=Uređivanje vaših dijagram
Comment[sv]=Redigera dina diagram
Comment[th]=แก้ไขแผนภูมิของคุณ
Comment[vi]=Hiệu chỉnh sơ đồ
Comment[zh_TW]=編輯您的圖表
Type=Application
Exec=dia
Icon=dia_gnome_icon.png
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true
MimeType=application/x-dia-diagram;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dia
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=@0.96.1@

