[Desktop Entry]
X-AppInstall-Package=donkey-bolonkey
X-AppInstall-Popcon=6
X-AppInstall-Section=main

Type=Application
Name=Donkey Bolonkey
Exec=donkey-bolonkey
Terminal=false
Categories=Game;ArcadeGame;
Comment=Rescue the Donkeys
