[Desktop Entry]
X-AppInstall-Package=droidbattles
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Version=1.0.6
Name=Droidbattles
Type=Application
GenericName=droidbattles
Comment=Play droid battle game
Exec=droidbattles
Icon=droidbattles.xpm
Terminal=false
Hidden=false
Categories=Game;ActionGame;

