[Desktop Entry]
X-AppInstall-Package=alsa-tools-gui
X-AppInstall-Popcon=302
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Echomixer
GenericName=
Comment=Control Echoaudio soundcards
Icon=
Exec=echomixer
Terminal=false
Categories=AudioVideo;Audio;Utility;
