[Desktop Entry]
X-AppInstall-Package=eclipse
X-AppInstall-Popcon=840
X-AppInstall-Section=main

Name=Eclipse
Comment=Develop applications in a variety of different programming languages
Exec=/usr/bin/eclipse
Icon=eclipse48.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
X-AppInstall-Architectures=amd64,i386,ia64,powerpc,sparc
