[Desktop Entry]
X-AppInstall-Package=egoboo
X-AppInstall-Popcon=57
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Egoboo
GenericName=
Comment=3D dungeon crawling game
Icon=egoboo
Exec=egoboo
Terminal=false
Categories=Application;Game;AdventureGame;
