[Desktop Entry]
X-AppInstall-Package=electric
X-AppInstall-Popcon=71
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=electric
GenericName=Electrical CAD
Comment=Electrical CAD System
Type=Application
Exec=electric
Icon=electric
Categories=Education;Electronics;Engineering;
