[Desktop Entry]
X-AppInstall-Package=emacs22-gtk
X-AppInstall-Popcon=644
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Emacs 22 (X11)
GenericName=Emacs
Comment=GNU Emacs Text Editor 22
Exec=/usr/bin/emacs22
Terminal=false
Type=Application
Icon=_usr_share_emacs_22.2_etc_images_icons_emacs_48
Categories=Application;Utility;TextEditor;
MimeType=text/plain
