[Desktop Entry]
X-AppInstall-Package=empathy
X-AppInstall-Popcon=115
X-AppInstall-Section=main

Version=1.0
Name=Empathy Instant Messenger
Name[ar]=مرسال أمبثي
Name[bg]=Бързи съобщения с Empathy
Name[ca]=Missatgeria instantània Empathy
Name[de]=Instant-Messenger
Name[el]=Αποστολέας άμεσων μηνυμάτων empathy
Name[en_GB]=Empathy Instant Messenger
Name[es]=Mensajería instantánea Empathy
Name[eu]=Empathy berehalako mezularitza
Name[fi]=Empathy-pikaviestin
Name[fr]=Messagerie instantanée Empathy
Name[gl]=Mensaxería na Internet de Empathy
Name[he]=‏Empathy - מסרים מיידיים
Name[hr]=Empathy Instant Komunikacija
Name[hu]=Empathy azonnali üzenő
Name[it]=Empathy - Messaggistica istantanea
Name[ja]=Empathy インスタント・メッセンジャー
Name[nb]=Empathy lynmelder
Name[ne]=इम्प्याथी शीघ्र मेसेन्जर
Name[pl]=Komunikator internetowy Empathy
Name[pt_BR]=Mensageiro Instantâneo Empathy
Name[sl]=Trenutna sporočila Empathy
Name[sv]=Snabbmeddelandeklienten Empathy
Name[vi]=Trình gửi tin nhắn Empathy
Comment=Send and receive instant messages
Comment[ar]=ارسل و استقبل رسائل فورية
Comment[bg]=Изпращане и получаване на бързи съобщения
Comment[ca]=Envia i rep missatges instantanis
Comment[de]=Instant-Nachrichten senden und empfangen
Comment[el]=Αποστολή και λήψη άμεσων μηνυμάτων
Comment[en_GB]=Send and receive instant messages
Comment[es]=Envíe y reciba mensajes instantáneos
Comment[eu]=Bidali eta jaso berehalako mezuak
Comment[fi]=Lähetä ja vastaanota pikaviestejä
Comment[fr]=Envoyer et recevoir des messages instantanés
Comment[gl]=Envíe e reciba mensaxes instantáneas
Comment[he]=שלח וקבל מסרים מיידיים
Comment[hu]=Azonnali üzenetek küldése és fogadása
Comment[it]=Invia e ricevi messaggi istantanei
Comment[ja]=インスタント・メッセージを送受信します
Comment[nb]=Send og motta lynmeldinger
Comment[ne]=शीघ्र सन्देशहरू पठाउनुहोस् र प्राप्त गर्नुहोस्
Comment[pl]=Wysyłanie i odbieranie wiadomości tekstowych
Comment[pt_BR]=Envie e receba mensagens instantâneas
Comment[sl]=Pošlji in sprejmi trenutna sporočila
Comment[sv]=Skicka och ta emot snabbmeddelanden
Comment[vi]=Gửi và nhạn tin nhẳn tức khắc
Exec=empathy
Icon=empathy
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=empathy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.23.3
