[Desktop Entry]
X-AppInstall-Package=eric
X-AppInstall-Popcon=124
X-AppInstall-Section=main

Encoding=UTF-8
Name=Eric python IDE
Name[es]=IDE para python Eric
Comment=Full featured Python IDE
Comment[es]=Completo entorno de programaci贸n para Python
Exec=eric
Terminal=false
Type=Application
Icon=eric.xpm
Categories=Application;Development;IDE;
StartupNotify=true
