[Desktop Entry]
X-AppInstall-Package=euler
X-AppInstall-Popcon=51
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Exec=euler
Icon=euler-32.xpm
Categories=Education;Science;Math

Name=Euler
GenericName=Computer Algebra System
GenericName[de]=Computer-Algebra-System
Comment=An interactive mathematical program
Comment[de]=Ein interaktives mathematisches Programm
