[Desktop Entry]
X-AppInstall-Package=exo-utils
X-AppInstall-Popcon=1358
X-AppInstall-Section=main

Encoding=UTF-8
Version=1.0
Exec=exo-preferred-applications
Icon=preferences-desktop-default-applications
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=true
GenericName=Preferred Applications
GenericName[be]=Пераважныя дастасаваньні
GenericName[ca]=Aplicacions preferides
GenericName[cs]=Upřednostňované aplikace
GenericName[cy]=Rhalgenni Dewisedig
GenericName[de]=Bevorzugte Anwendungen
GenericName[dz]=དགའ་གདམ་བརྐྱབ་ཡོད་པའི་འཇུག་སྤྱོད་ཚུ།
GenericName[el]=Προτιμώμενες εφαρμογές
GenericName[en_GB]=Preferred Applications
GenericName[et]=Eelistatid rakendused
GenericName[eu]=Hobetsiriko Aplikazioak
GenericName[fi]=Oletussovellukset
GenericName[fr]=Applications favorites
GenericName[he]=יישומים מועדפים
GenericName[hu]=Kedvenc alkalmazások
GenericName[it]=Applicazioni Preferite
GenericName[ja]=お気に入りのアプリ
GenericName[lv]=Vēlamās Lietotnes
GenericName[mk]=Преферирани апликации
GenericName[nb_NO]=Prefererte programmer
GenericName[nl]=Voorkeur-programma's
GenericName[pa]=ਪਸੰਦੀਦਾ ਕਾਰਜ
GenericName[pl]=Preferowane aplikacje
GenericName[pt_BR]=Aplicações Preferidas
GenericName[pt_PT]=Aplicações Preferidas
GenericName[ro]=Aplicaţii preferate
GenericName[ru]=Предпочитаемые приложения
GenericName[sq]=Zbatime të Parapëlqyera
GenericName[sv]=Förvalda program
GenericName[ur]=مجوزہ اطلاقیے
GenericName[zh_TW]=偏好的應用程式
Name=Xfce 4 Preferred Applications
Name[be]=Пераважныя дастасаваньні
Name[ca]=Aplicacions preferides d’Xfce4
Name[cs]=Upřednostňované aplikace prostředí Xfce 4
Name[cy]=Rhaglenni Dewisiedig Xfce 4
Name[de]=Xfce 4 Bevorzugte Anwendungen
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་ ༤ དགའ་གདམ་བརྐྱབ་ཡོད་པའི་འཇུག་སྤྱོད་ཚུ།
Name[el]=Προτιμώμενες εφαρμογές για το Xfce 4
Name[en_GB]=Xfce 4 Preferred Applications
Name[eu]=Xfce 4 Hobetsiriko Aplikazioak
Name[fi]=Xfce 4 Oletussovellukset
Name[fr]=Xfce 4 Applications favorites
Name[he]=יישומים מועדפים של Xfce 4
Name[hu]=Xfce 4 Kedvenc alkalmazások
Name[it]=Applicazioni Preferite di Xfce 4
Name[ja]=Xfce 4 お気に入りのアプリ
Name[lv]=Xfce 4 Vēlamās Lietotnes
Name[mk]=Xfce 4 преферирани апликации
Name[nb_NO]=Xfce 4 Prefererte programmer
Name[nl]=Xfce 4 voorkeurs-programma's
Name[pa]=Xfce 4 ਪਸੰਦੀਦਾ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Preferowane aplikacje Xfce 4
Name[pt_BR]=Aplicações Preferidas do Xfce 4
Name[pt_PT]=Aplicações Preferidas do Xfce 4
Name[ro]=Aplicaţii preferate în Xfce 4
Name[ru]=Предпочтительные приложения Xfce 4
Name[sq]=Zbatime të Parapëlqyera Xfce 4
Name[sv]=Xfce 4 Förvalda program
Name[ur]=اکسفس 4 مجوزہ اطلاقیے
Comment=Preferred Applications (Web Browser, Mail Reader and Terminal Emulator)
Comment[be]=Пераважныя дастасаваньні (Гартач Сеціва, паштовы кліент і эмулятар тэрмінала)
Comment[ca]=Aplicacions preferides (navegador web, lector de correu i emulador de terminal)
Comment[cs]=Upřednostňované aplikace (webový prohlížeč, e-mailový klient a emulátor terminálu)
Comment[cy]=Rhaglenni Dewisiedig (Porydd Gwê, Darllenydd Post ac Efelychydd Terfynell)
Comment[de]=Bevorzugte Anwendungen (Webbrowser, E-Mail-Programm und Terminal)
Comment[dz]=དགའ་གདམ་བརྐྱབ་ཡོད་པའི་འཇུག་སྤྱོད་ཚུ་ (ཝེབ་བརྡ་འཚོལ་པ་, ཡིག་འཕྲིན་ལྷག་མི་དང་ཊལ་མི་ནཱལ་ནུས་འཕྲུལ།)
Comment[el]=Προτιμώμενες εφαρμογές (περιηγητής, αναγνώστης αλληλογραφίας και τερματικό)
Comment[en_GB]=Preferred Applications (Web Browser, Mail Reader and Terminal Emulator)
Comment[eu]=Hobetsiriko Aplikazioa (Web Nabigatzailea, ePosta Bezero eta Terminal Emuladorea)
Comment[fi]=Oletussovellukset (web-selain, sähköposti ja pääteohjelma)
Comment[fr]=Applications favorites (navigateur Web, client de messagerie et émulateur de terminal)
Comment[he]=יישומים מועדפים (דפדפנים, קוראי דואר ומסופים)
Comment[hu]=Kedvenc alkalmazások (Webböngésző, levelező és Terminál emulátor)
Comment[it]=Applicazioni Preferite (Browser Web, Lettore di E-Mail ed Emulatore di Terminale)
Comment[ja]=お気に入りのアプリケーション (ブラウザー、メーラーやターミナル)
Comment[lv]=Vēlamās Lietotnes (Tīmekļa Pārlūks, Pasta Lasītājs un Termināļa Emulators)
Comment[mk]=Преферирани апликации (Web пргледувач, читач на пошта и емулатор на терминал)
Comment[nb_NO]=Prefererte programmer (Nettleser, epostleser og terminalemulering)
Comment[nl]=Voorkeurs-programma's (webbrowser, emailprogramma en terminal-emulator)
Comment[pa]=ਪਸੰਦੀਦਾ ਐਪਲੀਕੇਸ਼ਨ (ਵੈੱਬ ਬਰਾਊਜ਼ਰ, ਮੇਲ ਰੀਡਰ ਅਤੇ ਟਰਮੀਨਲ ਈਮੁਲੇਟਰ)
Comment[pl]=Domyślna aplikacja dla danej czynności (przeglądarka, klient pocztowy, terminal)
Comment[pt_BR]=Aplicações Preferidas (Navegador Web, Leitor de E-mail, e Emulador de Terminal)
Comment[pt_PT]=Aplicações Preferidas (Navegador Web, Leitor de E-mail, e Emulador de Terminal)
Comment[ro]=Aplicaţii preferate (Navigator web, client de mail, emulator de terminal)
Comment[ru]=Предпочтительные приложения (Веб-браузер, почтовая программа, эмулятор терминала)
Comment[sq]=Zbatime të Parapëlqyer (Shfletues Web, Lexues Poste dhe Emulues Terminali)
Comment[sv]=Förvalda program (Webbläsare, mejlklient och terminalemulator)
Comment[ur]=مجوزہ اطلاقیے (ویب براؤزر، ای میل ریڈر، اور ٹرمنل ایمولیٹر)

