[Desktop Entry]
X-AppInstall-Package=f-spot
X-AppInstall-Popcon=333
X-AppInstall-Section=main

Name=F-Spot photos
Name[ar]=صور إف-سبوت
Name[be@latin]=Zdymki F-Spot
Name[ca]=Fotografies de l'F-Spot
Name[cs]=Fotografie F-Spotu
Name[da]=F-Spot fotos
Name[dz]=ཨེཕ་-ཨིསི་པོཊི་དཔར་ཚུ་
Name[el]=φωτογραφίες του f-spot
Name[en_GB]=F-Spot photos
Name[es]=Fotos de F-Spot
Name[eu]=F-Spot argazkiak
Name[fa]=عکس‌های اِف-اِسپات
Name[fi]=F-Spot-valokuvat
Name[fr]=Photos F-Spot
Name[gl]=Fotos de F-Spot
Name[he]=תמונות F-Spot
Name[hu]=F-Spot fényképek
Name[it]=Fotografie di F-Spot
Name[ko]=F-Spot 사진
Name[lt]=F-Spot fotografijos
Name[lv]=F-Spot bildes
Name[mk]=Слики од F-Spot
Name[nb]=F-Spot-bilder
Name[nl]=F-Spot foto's
Name[pl]=Zdjęcia F-Spot
Name[pt]=Fotografias do F-Spot
Name[pt_BR]=Fotos do F-Spot
Name[ru]=Снимки в F-Spot
Name[sk]=F-Spot fotky
Name[sr]=Ф-број фотографије
Name[sr@Latn]=F-broj fotografije
Name[sv]=Foton från F-Spot
Name[vi]=Ảnh chụp F-Spot
Name[zh_CN]=F-Spot 照片
Name[zh_HK]=F-Spot 相片
Name[zh_TW]=F-Spot 相片
Comment=Display a slideshow from F-Spot
Comment[ar]=أظهر عرض شرائح من إف-سبوت
Comment[be@latin]=Pakažy slideshow z F-Spot
Comment[ca]=Mostra una presentació de diapositives des de l'F-Spot
Comment[cs]=Promítat snímky z F-Spotu
Comment[da]=Vis et diasshow fra F-Spot
Comment[dz]=བཤུད་བརྙན་ཅིག་ ཨེཕ་-ཨིསི་པོཊི་ལས་བཀྲམ་སྟོན་འབད་
Comment[el]=Προβολή διαφανειών από το f-spot
Comment[en_GB]=Display a slideshow from F-Spot
Comment[es]=Mostrar una exhibición de fotos desde F-Spot
Comment[eu]=Bistaratu dispositiba-aurkezpena F-Spot aplikaziotik
Comment[fa]=نمایش اسلایدهایی از اِف-اِسپات
Comment[fi]=Näytä diaesitys F-Spotista
Comment[fr]=Affiche un diaporama depuis F-Spot
Comment[gl]=Mostrar unha exhibición de fotos desde F-Spot
Comment[he]=הצגת מצגת מתוך F-Spot
Comment[hu]=Diavetítés megjelenítése az F-Spotból
Comment[it]=Visualizza una presentazione da F-Spot
Comment[ko]=F-Spot에서 슬라이드쇼 보기
Comment[lt]=Rodyti skaidrių šou iš F-Spot
Comment[lv]=Paradīt slaid šovu no F-Spot
Comment[mk]=Прикажи слајд шоу од F-Spot
Comment[nb]=Vis lysbilder fra F-Spot
Comment[nl]=Een diashow vanuit F-Spot vertonen
Comment[pl]=Wyświetl prezentację z F-Spot
Comment[pt]=Exibe uma apresentação de diapositivos do F-Spot
Comment[pt_BR]=Exiba uma apresentação de slides do F-Spot
Comment[ru]=Показ слайд-шоу при помощи F-Spot
Comment[sr]=Прикажи покретни приказ из Ф-броја
Comment[sr@Latn]=Prikaži pokretni prikaz iz F-broja
Comment[sv]=Visa ett bildspel från F-Spot
Comment[vi]=Hiển thị chiều ảnh bằng F-Spot
Comment[zh_CN]=用 F-Spot 显示幻灯片
Comment[zh_HK]=從 F-Spot 播放幻燈片
Comment[zh_TW]=從 F-Spot 播放幻燈片
Exec=f-spot-screensaver
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Screensaver;
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
