[Desktop Entry]
X-AppInstall-Package=fillets-ng
X-AppInstall-Popcon=45
X-AppInstall-Section=main

Name=Fish Fillets
Comment=Puzzle game about witty fish saving the world sokoban-style
Comment[ro]=Un puzzle cu un pește inteligent care salvează lumea în stil sokoban
Exec=/usr/games/fillets
Icon=fillets-ng
Terminal=false
Type=Application
Categories=Game;LogicGame;
