[Desktop Entry]
X-AppInstall-Package=flamerobin
X-AppInstall-Popcon=22
X-AppInstall-Section=main

Name=FlameRobin
GenericName=Database administration tool
Comment=Administration Tool for Firebird DBMS
Exec=flamerobin
Icon=_usr_share_pixmaps_flamerobin
Type=Application
Terminal=false
Categories=Development;Database;GTK
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,mips,mipsel,powerpc,sparc
