[Desktop Entry]
X-AppInstall-Package=fontforge
X-AppInstall-Popcon=285
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=FontForge
Name[zh_TW]=FontForge 字型鑄造場
Comment=An outline font editor
Comment[zh_TW]=描邊字型編輯器
Icon=ffanvil32.xpm
Exec=/usr/bin/fontforge
Terminal=false
Categories=Graphics;
