[Desktop Entry]
X-AppInstall-Package=fslint
X-AppInstall-Popcon=109
X-AppInstall-Section=main

Name=FSlint
Comment=File System Lint
Exec=fslint-gui
Terminal=false
Type=Application
Icon=fslint_icon.png
Encoding=UTF-8
Categories=System;Filesystem;GTK;
