[Desktop Entry]
X-AppInstall-Package=ftp.app
X-AppInstall-Popcon=5
X-AppInstall-Section=main

Type=Application
Version=0.94
Name=FTP
Categories=FileTransfer;Network;
Exec=FTP
