[Desktop Entry]
X-AppInstall-Package=gato
X-AppInstall-Popcon=9
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Gato Command Scheduler
GenericName=Command Scheduler
Comment=Gato is an interface to the 'at' command
Exec=gato
Icon=gato
Type=Application
Categories=Utility;
