[Desktop Entry]
X-AppInstall-Package=gaupol
X-AppInstall-Popcon=75
X-AppInstall-Section=main

Encoding=UTF-8
Name=Gaupol Subtitle Editor
Name[pl]=Edytor napisów Gaupol
Name[sv]=Undertextredigeraren Gaupol
Comment=Edit subtitle files
Comment[pl]=Edytuj pliki napisów
Comment[sv]=Redigera undertextfiler
Exec=gaupol %F
Terminal=false
StartupNotify=true
Icon=gaupol
Type=Application
Categories=GTK;AudioVideo;Video;
