[Desktop Entry]
X-AppInstall-Package=gbrainy
X-AppInstall-Popcon=31
X-AppInstall-Section=main

Version=1.0
Name=gbrainy
Name[ca]=gbrainy
Name[de]=gbrainy
Name[en_GB]=gbrainy
Name[es]=gbrainy
Name[fr]=gbrainy
Name[gl]=gbrainy
Name[it]=gbrainy
Name[nl]=gbrainy
Name[sv]=gbrainy
GenericName=Game
GenericName[ar]=لعبة
GenericName[ca]=Joc
GenericName[de]=Spiel
GenericName[en_GB]=Game
GenericName[es]=Juego
GenericName[fr]=Jeu
GenericName[gl]=Xogo
GenericName[it]=Gioco
GenericName[nl]=Spel
GenericName[sv]=Spel
Comment=A brain teaser game for fun and keep your brain trained
Comment[ca]=Un joc per demostrar el vostre enginy i mantenir el vostre cervell entrenat.
Comment[de]=Ein Spiel um Spaß zu haben und das Gehirn zu trainieren
Comment[en_GB]=A brain teaser game for fun and to keep your brain trained
Comment[es]=Un juego para divertirse y mantener el cerebro entrenado
Comment[fr]=Un jeu pour faire travailler un peu ses méninges en s'amusant.
Comment[gl]=Un xogo para divertirse e manter entrenado o cerebro
Comment[it]=Un gioco per mostrare il vostro ingegno e mantenere il cervello in forma.
Comment[nl]=Hersenkrakers, voor de lol en om uw brein in vorm te houden
Comment[sv]=En hjärnretare och lärande spel att ha kul med och träna dina hjärnmuskler
Exec=gbrainy
Icon=gbrainy
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;

