[Desktop Entry]
X-AppInstall-Package=gchempaint
X-AppInstall-Popcon=36
X-AppInstall-Section=main

Name=GChemPaint Chemical Structures Editor
Name[fr]=Éditeur de structures chimiques GChemPaint
Name[pl]=Edytor wzorów strukturalnych GChemPaint
Name[pt_BR]=Editor de estruturas químicas GChemPaint
Comment=Edit chemical 2D structures
Comment[de]=Erstellt 2D-Formeln chemischer Strukturen
Comment[fr]=Édite des structures chimiques 2D
Comment[it]=Modifica le strutture chimiche 2D
Comment[pl]=Edytuj dwuwymiarowe wzory chemiczne
Comment[pt_BR]=Edita estruturas químicas 2D
Comment[ru]=Редактирование химических структур
Comment[zh_CN]=编辑 2D 化学结构
Exec=gchempaint %U
Terminal=false
Type=Application
Icon=gchempaint
Categories=GTK;GNOME;Education;Science;Chemistry;
MimeType=application/x-gchempaint;chemical/x-cml;chemical/x-mdl-molfile;chemical/x-mdl-sdfile;chemical/x-pdb;
