[Desktop Entry]
X-AppInstall-Package=gcstar
X-AppInstall-Popcon=73
X-AppInstall-Section=main

Version=1.0
Name=GCstar
GenericName=Personal Collections Manager
Comment=Manage your collections of movies, video games, books, music,...
Comment[en]=Manage your collections of movies, video games, books, music,...
Comment[fr]=Gérer vos collections de films, jeux vidéos, livres, musique,...
Exec=gcstar
Icon=_usr_share_pixmaps_gcstar
Terminal=false
StartupNotify=true
Type=Application
Categories=Office;AudioVideo;
