[Desktop Entry]
X-AppInstall-Package=gcvs
X-AppInstall-Popcon=71
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=gcvs
GenericName=
Comment=
Icon=_usr_share_pixmaps_gcvs-32x32
Exec=/usr/bin/gcvs
Terminal=false
Categories=Development
