[Desktop Entry]
X-AppInstall-Package=gdmap
X-AppInstall-Popcon=70
X-AppInstall-Section=main

Version=0.5.0
Encoding=UTF-8
Name=Graphical Disk Map
Name[bg]=Графична карта на диска
Name[de]=Plattenspeicher anzeigen
Name[fr]=Représentation graphique du disque
Name[he]=מפת דיסק גרפית
Name[hr]=Graficki disk mapa
Name[ru]=Графическая карта диска
Name[tr]=Grafik Disk Haritasi
Comment=Display disk space using tree maps
Comment[bg]=Показвай свободното пространство в дъвоиден стил
Comment[de]=Plattenspeicher graphisch darstellen
Comment[fr]=Afficher l'espace disque disponible à l'aide d'une structure arborescente (Treemaps).
Comment[he]=הראה מקום בדיסק בעזרת מפות עץ
Comment[hr]=Prikazi diskovni prostor koristeci drvo mapa
Comment[ru]=Показать место на диске пользующеся древовидными схемами
Comment[tr]=Disk alanını agac haritalarini kullanarak goster
Exec=gdmap
Icon=gdmap_icon.png
Terminal=false
Type=Application
Categories=Filesystem;Utility;GTK
