[Desktop Entry]
X-AppInstall-Package=geda-gschem
X-AppInstall-Popcon=159
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
GenericName=gschem
Name=gEDA Schematic Editor
Name[af_ZA]=gEDA Stroombaandiagram Bewerker
Name[de_DE]=gEDA Schaltplan Editor
Name[en_GB]=gEDA Schematic Editor
Name[es_ES]=Editor de esquemas gEDA
Name[nl_NL]=gEDA schema bewerking
Comment=Create and edit electrical schematics and symbols with gschem
Comment[af_ZA]=Skep en bewerk stroombaandiagramme en simbole met gschem
Comment[de_DE]=Erstellen oder editieren eines elektrischen Schaltplans oder Symbols mit gschem
Comment[en_GB]=Create and edit electrical schematics and symbols with gschem
Comment[es_ES]=Crear y modificar esquemas y símbolos con gschem
Comment[nl_NL]=Creer en bewerk elektrische schema's en symbolen met gschem
Type=Application
Exec=gschem %F
Icon=geda-gschem
MimeType=application/x-geda-schematic;application/x-geda-symbol;
Categories=Engineering;Electronics
