[Desktop Entry]
X-AppInstall-Package=geekast-binary
X-AppInstall-Popcon=18
X-AppInstall-Section=main

Name=Geekast
GenericName=GNOME peercast client
GenericName[fr]=client GNOME pour peercast
Comment=Graphic client using peercast P2P streaming network and gnome interface.
Comment[fr]=Client graphique pour le reseau de diffusion P2P peercast utilisant l'interface graphique GNOME.
Exec=geekast
Icon=geekast.xpm
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Video;Player;

