[Desktop Entry]
X-AppInstall-Package=genesis
X-AppInstall-Popcon=15
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=GENESIS Neural Simulator
GenericName=Neural Simulator
Comment=Simulate different types of neural systems
Type=Application
Exec=genesis
Icon=genesis
Terminal=true
Categories=Application;Science;Biology;Education;
