[Desktop Entry]
X-AppInstall-Package=gfax
X-AppInstall-Popcon=40
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Gfax Facsimile Program
Name[de]=Gfax-Faxprogramm
Name[fr]=Gfax Programme de télécopie (fax)
Comment=Send and Receive Facsimiles
Comment[de]=Faxe versenden und empfangen
Comment[fr]=Envoyer et Recevoir des faxes
Exec=gfax
Icon=gfax.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Office;
