[Desktop Entry]
X-AppInstall-Package=giftui
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Encoding=UTF-8
Name=giFTui
Comment[de]=Eine auf GTK+2 basierende GUI für das Filesharing Tool giFT
Comment[fr]=Un client GTK+2 pour le partage de fichiers avec giFT
Comment=A GTK+2 based GUI for the filesharing tool giFT
Exec=giftui
StartupNotify=true
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_giftui
Categories=Application;Network;
