[Desktop Entry]
X-AppInstall-Package=giggle
X-AppInstall-Popcon=33
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Giggle
Name[ca]=Giggle
Name[de]=Giggle
Name[es]=Giggle
Name[fr]=Giggle
Name[pl]=Giggle
Name[sv]=Giggle
Name[vi]=Giggle
Comment=Git repository viewer
Comment[ca]=Visualitzador de dipòsits Git
Comment[de]=Git Repository-Ansicht
Comment[es]=Visor de repositorios Git
Comment[fr]=Explorateur de dépôt Git
Comment[pl]=Przeglądarka repozytoriów git
Comment[sv]=Visare för Git-repon
Comment[vi]=Trình xem kho Git
Exec=giggle %F
Icon=giggle
StartupNotify=true
Encoding=UTF-8
Categories=Development;RevisionControl;
