[Desktop Entry]
X-AppInstall-Package=glabels
X-AppInstall-Popcon=136
X-AppInstall-Section=main

Encoding=UTF-8
Name=gLabels Label Designer
Name[cs]=Návrhář etiket gLabels
Name[es]=Diseñador de etiquetas gLabels
Name[it]=gLabels Designer di etichetta
Name[ja]=gLabels ラベル・デザイナ
Name[ru]=Дизайнер этикеток gLabels
Comment=Create labels, business cards and media covers
Comment[cs]=Vytvářejte etikety, vizitky a obaly médií
Comment[es]=Crear etiquetas, tarjetas de negocios y portadas
Comment[it]=Crea etichette, biglietti da visita e copertine
Comment[ja]=ラベルや名刺、メディアのカバーを生成します
Comment[ru]=Создание этикеток, визитных карточек и вкладышей для дисков
Exec=glabels %F
Icon=glabels.png
Terminal=false
Type=Application
Categories=GNOME;Application;Office;
StartupNotify=true
MimeType=application/x-glabels;
