[Desktop Entry]
X-AppInstall-Package=gmpc
X-AppInstall-Popcon=163
X-AppInstall-Section=main

Name=Gnome Music Player Client
Name[de]=Gnome Music Player Client
Name[fr]=Gnome Music Player Client
Name[gl]=Gnome Music Player Client
Name[it]=Gnome Music Player Client
Name[nl]=Gnome Music Player Client
Name[pl]=Klient odtwarzacza muzyki GNOME
Name[ru]=Gnome Music Player Client
Name[sv]=Musikuppspelarklient för Gnome
Comment=A gnome frontend for the mpd daemon
Comment[de]=Ein Gnome-Front-End für den Music Player Daemon
Comment[fr]=Une interface gnome pour le démon mpd
Comment[gl]=Um cliente para o escritório gnome do mpd
Comment[it]=Un'interfaccia per gnome del demone mpd
Comment[nl]=Een gnome front-end voor de Music Player Daemon
Comment[pl]=Nakładka GNOME na usługę mpd
Comment[ru]=Интерфейс демона MPD для среды GNOME
Comment[sv]=En Gnome-framände för mpd-demonen
Exec=gmpc
Terminal=false
Type=Application
Icon=gmpc.png
Categories=GNOME;Application;AudioVideo;
StartupNotify=true
Encoding=UTF-8
