[Desktop Entry]
X-AppInstall-Package=gnash
X-AppInstall-Popcon=807
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Gnash SWF Viewer
GenericName=
Comment=
Icon=_usr_share_pixmaps_gnash
Exec=/usr/bin/gnash
Terminal=false
Categories=AudioVideo;Player;GTK;
