[Desktop Entry]
X-AppInstall-Package=drivel
X-AppInstall-Popcon=40
X-AppInstall-Section=main

Encoding=UTF-8
Name=Drivel Journal Editor
Name[bg]=Работа с блогове (Drivel)
Name[ca]=Editor de blocs Drivel
Name[cs]=Editor deníku Drivel
Name[de]=Drivel Tagebucheditor
Name[en_CA]=Drivel Journal Editor
Name[en_GB]=Drivel Journal Editor
Name[es]=Editor de diarios Drivel
Name[fi]=Drivel-päiväkirjan muokkain
Name[fr]=Éditeur de journal Drivel
Name[ja]=Drivel Journal エディタ
Name[lt]=Žurnalų redaktorius Drivel
Name[ne]=ड्रिभेल बहिखाता सम्पादक
Name[nl]=Drivel dagboek-editor
Name[pl]=Edytor blogów Drivel
Name[pt]=Editor de Diário Drivel
Name[pt_BR]=Drivel - Editor de Diários
Name[ru]=Drivel: Редактор журнала
Name[sq]=Editori i Gazetës Drivel
Name[sv]=Dagboksredigeraren Drivel
Name[vi]=Bộ biên soạn nhật ký Drivel
Name[zh_CN]=Drivel 日记编辑器
Name[zh_TW]=Drivel 網誌編輯器
GenericName=Journal Editor
GenericName[bg]=Редактор на блогове
GenericName[ca]=Editor de blocs
GenericName[cs]=Editor deníku
GenericName[de]=Tagebucheditor
GenericName[en_CA]=Journal Editor
GenericName[en_GB]=Journal Editor
GenericName[es]=Editor del diario
GenericName[fi]=Päiväkirjan muokkain
GenericName[fr]=Éditeur de journal
GenericName[ja]=Journal エディタ
GenericName[lt]=Žurnalų redaktorius
GenericName[ne]=बहिखाता सम्पादक
GenericName[nl]=Dagboek-editor
GenericName[pl]=Edytor blogów
GenericName[pt]=Editor de Diário
GenericName[pt_BR]=Editor de Diários
GenericName[ru]=Редактор журнала
GenericName[sq]=Editori i Gazetës
GenericName[sv]=Dagboksredigerare
GenericName[vi]=Bộ biên soạn nhật ký
GenericName[zh_CN]=日记编辑器
GenericName[zh_TW]=網誌編輯器
Comment=Update and manage your online journal
Comment[bg]=Редактиране и управление на блогове
Comment[ca]=Actualitzeu i gestioneu el vostre bloc en línia
Comment[cs]=Aktualizovat a spravovat váš deník online
Comment[de]=Bearbeiten und verwalten Ihres Online-Tagebuchs
Comment[en_CA]=Update and manage your online journal
Comment[en_GB]=Update and manage your online journal
Comment[es]=Actualizar y gestionar su diario en línea
Comment[fi]=Päivitä ja hallitse verkkopäiväkirjaasi
Comment[fr]=Gérez et mettez à jour votre journal en ligne
Comment[lt]=Atnaujinti ir valdyti Jūsų internetiniam žurnalui
Comment[ne]=तपाईको अनलाइन बहिखाता अपडेट र ब्यवस्थित गर्नुहोस्
Comment[nl]=Uw on-line dagboek bijwerken en beheren
Comment[pl]=Aktualizuj i zarządzaj blogiem
Comment[ru]=Обновление и управление онлайновым журналом
Comment[sv]=Uppdatera och hantera din dagbok på nätet
Comment[vi]=Cập nhật và quản lý nhật ký trực tuyến của bạn
Comment[zh_CN]=更新及管理您的在线日记
Comment[zh_TW]=更新和管理網誌
Exec=drivel %U
Terminal=false
Type=Application
Icon=drivel-48.png
MimeType=application/x-drivel
Categories=GTK;GNOME;Application;Network;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=drivel
X-GNOME-Bugzilla-Component=general
