[Desktop Entry]
X-AppInstall-Package=gnome-user-share
X-AppInstall-Popcon=94
X-AppInstall-Section=main

Encoding=UTF-8
Name=Personal File Sharing
Name[ar]=خدمة مشاركة الملفات
Name[bg]=Споделяне на файлове
Name[ca]=Fitxer personal de compartició
Name[cs]=Sdílení osobních souborů
Name[de]=Dateifreigabe
Name[dz]=རང་དོན་གྱི་ཡིག་སྣོད་རུབ་སྤྱོད་འབད་ནི་
Name[el]=Διανομή προσωπικών αρχείων
Name[en_GB]=Personal File Sharing
Name[eu]=Fitxategi pertsonalak partekatzea
Name[fr]=Partage de fichiers personnels
Name[pt]=Partilha de Ficheiros Pessoais
Name[ru]=Общий доступ к личным файлам
Name[sv]=Utdelning av personliga filer
Comment=Preferences for sharing of personal files
Comment[ar]=تفضيلات لاشتراك الملفات الشخصية
Comment[bg]=Настройки за споделянето на личните файлове
Comment[ca]=Preferències quant a la compartició de fitxers personals
Comment[cs]=Nastavení sdílení osobních souborů
Comment[de]=Einstellungen zur Freigabe persönlicher Dateien
Comment[dz]=རང་དོན་གྱི་ཡིག་སྣོད་ཚུ་གི་རུབ་སྤྱོད་འབད་ནིའི་དོན་ལུ་ དགའ་གདམ་ཚུ་
Comment[el]=Προτιμήσεις για τη διανομή προσωπικών αρχείων
Comment[en_GB]=Preferences for sharing of personal files
Comment[eu]=Fitxategi pertsonalak partekatzeko hobespenak
Comment[fr]=Préférences pour le partage de fichiers personnels
Comment[pt]=Preferências para a partilha de ficheiros pessoais
Comment[ru]=Параметры общего доступа к личным файлам
Comment[sv]=Inställningar för utdelning av personliga filer
Exec=gnome-file-share-properties
Icon=folder-remote
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Settings;X-GNOME-NetworkSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-user-share
X-GNOME-Bugzilla-Component=general

