[Desktop Entry]
X-AppInstall-Package=gnome-subtitles
X-AppInstall-Popcon=60
X-AppInstall-Section=main

Version=1.0
Name=Gnome Subtitles
GenericName=Subtitle Editor
Comment=Video subtitling for the GNOME desktop
Exec=gnome-subtitles %f
Icon=gnome-subtitles.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Video;AudioVideo;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-subtitles
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.7.2
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
