[Desktop Entry]
X-AppInstall-Package=gnome-do
X-AppInstall-Popcon=206
X-AppInstall-Section=main

Name=GNOME Do
Type=Application
Exec=gnome-do
Terminal=false
Icon=gnome-run
Comment=Do things quickly with objects in your GNOME desktop enviornment
Categories=Utility;
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
