[Desktop Entry]
X-AppInstall-Package=gnome-color-chooser
X-AppInstall-Popcon=84
X-AppInstall-Section=main

Version=1.0
Name=GNOME Color Chooser
Comment=Customize your GNOME desktop
Comment[bg]=Настройка работния плот на GNOME
Comment[cs]=Úprava vzhledu prostředí GNOME
Comment[de]=Den GNOME-Desktop farblich anpassen
Comment[es]=Personalize su escritorio GNOME
Comment[fr]=Customisez votre bureau GNOME
Comment[hu]=GNOME-asztal testreszabása
Comment[id]=Kostumisasikan desktop GNOME anda
Comment[it]=Modificare il desktop GNOME
Comment[pt]=Personalizar o ambiente de trabalho GNOME
Comment[sv]=Anpassa ditt GNOME-skrivbord
Comment[tr]=GNOME masaüstünüzü özelleştirin
Comment[zh_CN]=自定义您的 GNOME 桌面
Exec=gnome-color-chooser
Terminal=false
Type=Application
Icon=gnome-color-chooser.svg
Categories=GNOME;Settings;
