[Desktop Entry]
X-AppInstall-Package=gnome-utils
X-AppInstall-Popcon=11759
X-AppInstall-Section=main

Encoding=UTF-8
Name=System Log
Name[ar]=سجلات النظام
Name[az]=Sistem Qeydi
Name[be]=Сыстэмныя часопісы
Name[bg]=Системен дневник
Name[bn]=সিস্টেম লগ
Name[bn_IN]=সিস্টেম লগ
Name[bs]=Sistemski dnevnik
Name[ca]=Registre del sistema
Name[cs]=Systémový soubor záznamů
Name[cy]=Cofnod System
Name[da]=Systemlog
Name[de]=Systemprotokoll
Name[dz]=རིམ་ལུགས་ ལོག་།
Name[el]=Καταγραφές Συστήματος
Name[en_CA]=System Log
Name[en_GB]=System Log
Name[es]=Sucesos del sistema
Name[et]=Süsteemi logiraamat
Name[eu]=Sistemaren egunkaria
Name[fa]=ثبت وقایع سیستم
Name[fi]=Järjestelmäloki
Name[fr]=Visionneur de journaux système
Name[ga]=Log Corás
Name[gl]=Rexistro do sistema
Name[gu]=સિસ્ટમ લોગ
Name[he]=דו"ח מערכת
Name[hi]=तंत्र लॉग
Name[hr]=Dnevnik sustava
Name[hu]=Rendszernapló
Name[id]=Log Sistem
Name[it]=Registro di sistema
Name[ja]=システム・ログ
Name[ka]=სისტემური ჟურნალი
Name[ko]=시스템 로그
Name[lt]=Sistemos žurnalas
Name[lv]=Sistēmas žurnāls
Name[mg]=Raki-tatitry ny rafitra
Name[mk]=Системски лог
Name[ml]=സിസ്റ്റം ലോഗ്
Name[mn]=Системын протоколл
Name[ms]=Log Sistem
Name[nb]=Systemlogg
Name[ne]=प्रबेश पद्दति
Name[nl]=Systeemlogboek
Name[nn]=Systemlogg
Name[or]=ତନ୍ତ୍ର ଲଗ
Name[pa]=ਸਿਸਟਮ ਲਾਗ
Name[pl]=Dziennik systemowy
Name[pt]=Registo do Sistema
Name[pt_BR]=Log do Sistema
Name[ro]=Log sistem
Name[ru]=Системный журнал
Name[sk]=Systémové záznamy
Name[sl]=Sistemski dnevnik
Name[sq]=Log i sistemit
Name[sr]=Системски дневник
Name[sr@Latn]=Sistemski dnevnik
Name[sv]=Systemlogg
Name[ta]=அமைப்பு புகுபதிகை
Name[te]=వ్యవస్థ Log 
Name[th]=บันทึกปฏิบัติการของระบบ
Name[tr]=Sistem Günlüğü
Name[uk]=Системний журнал
Name[vi]=Bản ghi hệ thống
Name[wa]=Djournå do sistinme
Name[xh]=Inkqubo yokuNgena
Name[zh_CN]=系统日志
Name[zh_HK]=系統日誌
Name[zh_TW]=系統日誌
Comment=View or monitor system log files
Comment[ar]=اعرض أو راقب ملفات سجلات النظام
Comment[bg]=Преглед или наблюдение системните дневници
Comment[bn]=সিস্টেম লগ ফাইল পড়ুন অথবা পর্যবেক্ষণ করুন
Comment[bn_IN]=সিস্টেম লগ ফাইল পড়ুন অথবা পর্যবেক্ষণ করুন
Comment[ca]=Visualitza o monitoritza els fitxers de registre del sistema
Comment[cs]=Prohlížet nebo kontrolovat systémový soubor záznamů
Comment[cy]=Gweld neu fonitro'r ffeiliau cofnod system
Comment[da]=Gennemse eller overvåg systemets logfiler
Comment[de]=Systemprotokolle anzeigen oder überwachen
Comment[dz]=རིམ་ལུགས་དྲན་དེབ་ཡིག་སྣོད་ལུ་བལྟ་ ཡང་ན་ ལྟ་རྟོག་འབད།
Comment[el]=Εμφάνιση ή παρακολούθηση των αρχείων καταγραφής συστήματος
Comment[en_GB]=View or monitor system log files
Comment[es]=Vea o monitorice los archivos de sucesos del sistema
Comment[et]=Süsteemsete logifailide sirvimine või jälgimine
Comment[eu]=Ikusi edo monitorizatu sistemaren egunkari-fitxategiak
Comment[fa]=نمایش یا پایش پرونده‌های ثبت وقایع سیستم
Comment[fi]=Näytä ja tarkkaile järjestelmän lokitiedostoja
Comment[fr]=Affiche ou surveille les journaux système
Comment[gl]=Ver ou monitorizar os ficheiros de rexistro do sistema
Comment[gu]=સિસ્ટમ લોગ ફાઈલો જુઓ અથવા મોનીટર કરો
Comment[hi]=तंत्र लॉग फ़ाइल दिखाएँ व मॉनीटर करें
Comment[hu]=Rendszernapló-fájlok megtekintése vagy megfigyelése
Comment[id]=Lihat atau pantau berkas log sistem
Comment[it]=Visualizza o monitora i file di registro di sistema
Comment[ja]=システム・ログを表示したり監視します
Comment[ko]=시스템의 로그 파일을 보거나 상태 변화를 봅니다
Comment[lt]=Peržiūrėti ar stebėti sistemos žurnalų failus
Comment[lv]=Sistēmas žurnalēšanas ierakstu pārlūks
Comment[mk]=Прегледај или набљудувај системски лог датотеки
Comment[ml]=സിസ്റ്റം ലോഗ് ഫയലുകള്‍ കാണുക അല്ലെങ്കില്‍ നിരീക്ഷിക്കുക
Comment[nb]=Vis eller overvåk systemets loggfiler
Comment[nl]=Systeemlogboeken bekijken
Comment[or]=ତନ୍ତ୍ର ଲଗ ଫାଇଲ ମାନଙ୍କୁ ଦେଖାନ୍ତୁ କିମ୍ବା ସେଗୁଡିକ ଉପରେ ଦ୍ରୁଷ୍ଟି ରଖନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਲਾਗ ਫਾਇਲਾਂ ਵੇਖੋ ਜਾਂ ਨਿਗਰਾਨੀ ਕਰੋ
Comment[pl]=Wyświetla plik dziennika systemowego
Comment[pt]=Ver ou monitorizar ficheiros de registo do sistema
Comment[pt_BR]=Visualizar ou monitorar arquivos de log do sistema
Comment[ru]=Программа просмотра файлов системных журналов
Comment[sl]=Ogled ali nadzor sistemskih dnevniških datotek
Comment[sv]=Visa eller övervaka systemloggfiler
Comment[ta]=கணினி பதிவு கோப்புகளை பார்வையிடு அல்லது கண்காணி
Comment[te]=దర్శించు లేదా దర్శిని వ్యవస్థ log దస్త్రములు
Comment[th]=อ่านหรือติดตามบันทึกปฏิบัติการของระบบ
Comment[tr]=Sistem günlük dosyalarını göster ya da izle
Comment[uk]=Перегляд та контроль системних журналів
Comment[vi]=Xem hay theo dõi tập tin bản ghi hệ thống
Comment[zh_CN]=查看或监视系统日志文件
Comment[zh_HK]=顯示或監察系統日誌檔案
Comment[zh_TW]=顯示或監察系統日誌檔案
Exec=gksu gnome-system-log
Icon=logviewer
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;System;Monitor;X-Red-Hat-Base;
OnlyShowIn=GNOME
X-GNOME-DocPath=gnome-system-log/gnome-system-log.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=logview
X-GNOME-Bugzilla-Version=2.20.0.1
