[Desktop Entry]
X-AppInstall-Package=gnomoradio
X-AppInstall-Popcon=26
X-AppInstall-Section=main

Encoding=UTF-8
Name=Gnomoradio Music Player
Name[ar]=Gnomoradio Music Player
Name[az]=Gnomoradio Music Player
Name[be]=Gnomoradio Music Player
Name[bg]=Gnomoradio Music Player
Name[ca]=Reproductor de música Gnomoradio
Name[cs]=Gnomoradio Music Player
Name[cy]=Gnomoradio Music Player
Name[da]=Gnomoradio Music Player
Name[de]=Gnomoradio Musik-Player
Name[el]=Gnomoradio Music Player
Name[en_CA]=Gnomoradio Music Player
Name[en_GB]=Gnomoradio Music Player
Name[es]=Reproductor de música Gnomoradio
Name[et]=Gnomoradio muusikamängija
Name[fi]=Gnomoradio musiikkisoitin
Name[fr]=Lecteur de musique Gnomoradio
Name[ga]=Gnomoradio Music Player
Name[hr]=Gnomoradio Music Player
Name[hu]=Gnomoradio Music Player
Name[id]=Gnomoradio Music Player
Name[it]=Gnomoradio Music Player
Name[ja]=Gnomoradio ミュージック・プレイヤー
Name[ko]=Gnomoradio 음악 연주기
Name[lt]=Gnomoradio Music Player
Name[lv]=Gnomoradio Music Player
Name[mn]=Gnomoradio Music Player
Name[ms]=Gnomoradio Music Player
Name[nl]=Gnomoradio Music Player
Name[no]=Gnomoradio musikkavspiller
Name[pa]=Gnomoradio Music Player
Name[pl]=Odtwarzacz muzyczny Gnomoradio
Name[pt]=Gnomoradio Music Player
Name[pt_BR]=Reprodutor de Música Gnomoradio
Name[ro]=Gnomoradio Music Player
Name[ru]=Gnomoradio Music Player
Name[sr]=Gnomoradio Music Player
Name[sr@Latn]=Gnomoradio Music Player
Name[sv]=Gnomoradio musikspelare
Name[tr]=Gnomoradio Music Player
Name[uk]=Gnomoradio Music Player
Name[vi]=Gnomoradio Music Player
Name[zh_CN]=Gnomoradio Music Player
Name[zh_TW]=Gnomoradio Music Player
Comment=Find, download, and play free music.
Comment[ar]=Find, download, and play free music.
Comment[az]=Find, download, and play free music.
Comment[be]=Find, download, and play free music.
Comment[bg]=Find, download, and play free music.
Comment[ca]=Find, download, and play free music.
Comment[cs]=Find, download, and play free music.
Comment[cy]=Find, download, and play free music.
Comment[da]=Find, download, and play free music.
Comment[de]=Find, download, and play free music.
Comment[el]=Find, download, and play free music.
Comment[en_CA]=Find, download, and play free music.
Comment[en_GB]=Find, download, and play free music.
Comment[es]=Find, download, and play free music.
Comment[et]=Find, download, and play free music.
Comment[fi]=Find, download, and play free music.
Comment[fr]=Find, download, and play free music.
Comment[ga]=Find, download, and play free music.
Comment[hr]=Find, download, and play free music.
Comment[hu]=Find, download, and play free music.
Comment[id]=Find, download, and play free music.
Comment[it]=Find, download, and play free music.
Comment[ja]=Find, download, and play free music.
Comment[ko]=Find, download, and play free music.
Comment[lt]=Find, download, and play free music.
Comment[lv]=Find, download, and play free music.
Comment[mn]=Find, download, and play free music.
Comment[ms]=Find, download, and play free music.
Comment[nl]=Find, download, and play free music.
Comment[no]=Find, download, and play free music.
Comment[pa]=Find, download, and play free music.
Comment[pl]=Find, download, and play free music.
Comment[pt]=Find, download, and play free music.
Comment[pt_BR]=Find, download, and play free music.
Comment[ro]=Find, download, and play free music.
Comment[ru]=Find, download, and play free music.
Comment[sr]=Find, download, and play free music.
Comment[sr@Latn]=Find, download, and play free music.
Comment[sv]=Find, download, and play free music.
Comment[tr]=Find, download, and play free music.
Comment[uk]=Find, download, and play free music.
Comment[vi]=Find, download, and play free music.
Comment[zh_CN]=Find, download, and play free music.
Comment[zh_TW]=Find, download, and play free music.
Exec=gnomoradio
Terminal=false
Type=Application
Icon=gnomoradio.png
X-GNOME-DocPath=gnomoradio/gnomoradio.xml
Categories=GNOME;Application;AudioVideo;X-Ximian-Main;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Gnomoradio
X-GNOME-Bugzilla-Component=gnomoradio
