[Desktop Entry]
X-AppInstall-Package=gnome-main-menu
X-AppInstall-Popcon=536
X-AppInstall-Section=main

Name=Logout
Encoding=UTF-8
Version=1.0
Icon=gnome-logout
Exec=gnome-session-save --kill
Terminal=false
Type=Application
Categories=GNOME;Application;
OnlyShowIn=GNOME;
