[Desktop Entry]
X-AppInstall-Package=gnotime
X-AppInstall-Popcon=75
X-AppInstall-Section=main

Encoding=UTF-8
Name=GnoTime Tracking Tool
Comment=To-Do List Organizer, Diary and Billing System
Exec=gnotime
Icon=gnome-cromagnon.png
Terminal=false
Type=Application
Categories=Office;ProjectManagement;
StartupNotify=true
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,mips,mipsel,powerpc,s390,sparc
