[Desktop Entry]
X-AppInstall-Package=gnubg
X-AppInstall-Popcon=47
X-AppInstall-Section=main

Name=GNU Backgammon
GenericName=Backgammon
Comment=GTK or console backgammon program with analysis
Exec=gnubg -w
Terminal=false
Icon=_usr_share_gnubg_gnubg
Type=Application
Categories=Game;BoardGame;GTK;
