[Desktop Entry]
X-AppInstall-Package=goplay
X-AppInstall-Popcon=38
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=GoLearn!
GenericName=golearn
Comment=Educational packages browser
Icon=golearn
Exec=golearn
Terminal=false
Categories=Utility;
MimeType=
