[Desktop Entry]
X-AppInstall-Package=goplay
X-AppInstall-Popcon=38
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=GoNet!
GenericName=gonet
Comment=Network-related packages browser
Icon=gonet
Exec=gonet
Terminal=false
Categories=Utility;
MimeType=
