[Desktop Entry]
X-AppInstall-Package=goplay
X-AppInstall-Popcon=38
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=GoOffice!
GenericName=gooffice
Comment=Office packages browser
Icon=gooffice
Exec=gooffice
Terminal=false
Categories=Utility;
MimeType=
