[Desktop Entry]
X-AppInstall-Package=goplay
X-AppInstall-Popcon=38
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=GoSafe!
GenericName=gosafe
Comment=Safety-related packages browser
Icon=gosafe
Exec=gosafe
Terminal=false
Categories=Utility;
MimeType=
