[Desktop Entry]
X-AppInstall-Package=gosa-desktop
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Encoding=UTF-8
MimeType=text/plain
GenericName=GOsa²
Exec=/usr/bin/gosa
Icon=gosa
Path=
Type=Application
Terminal=false
Name=GOsa
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;System
