[Desktop Entry]
X-AppInstall-Package=gossip
X-AppInstall-Popcon=142
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Gossip Instant Messenger
Name[ca]=Missatgeria instantània Gossip
Name[da]=Gossip - samtaleklient
Name[de]=Gossip Instant-Messaging
Name[dz]=གོ་སིཔ་འཕྲལ་མྱུར་འཕྲིན་བསྐྱེལ་པ་
Name[el]=Gossip Instant Messenger
Name[en_CA]=Gossip Instant Messenger
Name[en_GB]=Gossip Instant Messenger
Name[es]=Mensajería instantánea Gossip
Name[eu]=Gossip berehalako mezularitza
Name[fi]=Gossip-pikaviestiohjelma
Name[fr]=Messagerie instantanée Gossip
Name[he]=‏Gossip - מסרים מיידיים
Name[hu]=Gossip azonnali üzenetküldő
Name[lt]=Greitų žinučių programa „Gossip“
Name[nb]=Gossip lynmelder
Name[ne]=गोसिप शीघ्र मेसेन्जर
Name[nl]=Gossip Instant Messenger
Name[ru]=Клиент обмена мгновенными сообщениями Gossip
Name[sv]=Snabbmeddelandeklienten Gossip
Name[vi]=Bộ tin nhắn tức khắc Gossip
Name[zh_HK]=Gossip 即時通訊程式
Name[zh_TW]=Gossip 即時通訊程式
Comment=Instant Messenger
Comment[ar]=مراسل فوري
Comment[bg]=Моментни съобщения
Comment[ca]=Missatgeria instantània
Comment[cs]=Instant Messenger
Comment[cy]=Negesydd Parod
Comment[da]=Samtaleklient
Comment[de]=Instant-Messaging
Comment[dz]=འཕྲལ་མྱུར་འཕྲིན་བསྐྱེལ་པ་
Comment[el]=Instant Messenger
Comment[en_CA]=Instant Messenger
Comment[en_GB]=Instant Messenger
Comment[eo]=Tujmesaĝilo
Comment[es]=Mensajería instantánea
Comment[eu]=Berehalako mezularitza
Comment[fi]=Pikaviestiohjelma
Comment[fr]=Messagerie instantanée
Comment[he]=מסרים מיידיים
Comment[hu]=Azonnali üzenetküldő
Comment[it]=Messaggistica istantanea
Comment[lt]=Bendravimas žinutėmis
Comment[ms]=Pesanan Segera
Comment[nb]=Lynmeldingsprogram
Comment[ne]=शीघ्र मेसेन्जर
Comment[nl]=Instant Messenger
Comment[pl]=Komunikator internetowy
Comment[pt]=Mensagens Instantâneas
Comment[pt_BR]=Mensageiro Instantâneo
Comment[ru]=Клиент обмена мгновенными сообщениями
Comment[sq]=Instant Messenger
Comment[sr]=Брзи гласник
Comment[sr@Latn]=Brzi glasnik
Comment[sv]=Snabbmeddelandeklient
Comment[uk]=Програма для обміну повідомленнями
Comment[vi]=Bộ tin nhắn tức khắc
Comment[zh_CN]=即时通讯程序
Comment[zh_HK]=即時通訊程式
Comment[zh_TW]=即時通訊程式
Exec=gossip
Icon=gossip
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gossip
X-GNOME-Bugzilla-Component=@BUGZILLA_COMPONENT@
X-GNOME-Bugzilla-Version=0.29
