[Desktop Entry]
X-AppInstall-Package=gparted
X-AppInstall-Popcon=3883
X-AppInstall-Section=main

Name=Partition Editor
Comment=GNOME Partition Editor
Comment[ar]=محرر أقسام لجنوم
Comment[bg]=Редактор на дялове на диск за GNOME
Comment[ca]=Editor de particions del GNOME
Comment[dz]=ཇི་ནོམ་བར་བཅད་ཞུན་དགཔ།
Comment[en_CA]=GNOME Partition Editor
Comment[en_GB]=GNOME Partition Editor
Comment[es]=Editor de particiones de GNOME
Comment[eu]=GNOMEren partizio-editorea
Comment[fi]=Gnomen levyosioiden muokkain
Comment[fr]=Éditeur de partition de Gnome
Comment[gl]=Editor de particións de Gnome
Comment[he]=עורך המחיצות של GNOME
Comment[hu]=GNOME partíciószerkesztő
Comment[it]=Editor di partizioni per GNOME
Comment[ja]=Gnome パーティション編集ツール
Comment[ko]=그놈 파티션 편집기
Comment[lt]=GNOME skirsnių redaktorius
Comment[lv]=GNOME partīciju redaktors
Comment[mk]=Уредувач на партиции за Гном
Comment[nb]=GNOME partisjonsredigering
Comment[ne]=जिनोम विभाजन सम्पादक
Comment[nl]=Gnome Partitiebewerker
Comment[oc]=Editor de particions de GNOME
Comment[pa]=ਗਨੋਮ ਪਾਰਟੀਸ਼ਨ ਐਡੀਟਰ
Comment[pt_BR]=Editor de Partições do GNOME
Comment[ru]=Редактор разделов GNOME
Comment[si]=GNOME තැටි කොටස් කිරීම
Comment[sk]=GNOME editor oddielov
Comment[sl]=Urejevalnik razdelkov za GNOME
Comment[sv]=Partitionsredigerare för GNOME
Comment[th]=เครื่องมือแก้ไขพาร์ทิชันของ GNOME
Comment[tr]=GNOME Bölümleme Düzenleyicisi
Comment[vi]=Bộ hiệu chỉnh phân vùng Gnome
Comment[zh_HK]=GNOME 分割區編輯器
Comment[zh_TW]=GNOME 分割區編輯器
Exec=su-to-root -X -c /usr/bin/gparted
Icon=gparted.png
Terminal=false
Type=Application
Categories=GNOME;System;Settings;
StartupNotify=true
X-Ubuntu-Gettext-Domain=gparted
