[Desktop Entry]
X-AppInstall-Package=gpe-what
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Encoding=UTF-8
Name=Interactive help
Comment=Displays tooltips in a window
Exec=gpe-what
Type=Application
Icon=gpe-what.xpm
Categories=System;Core;
