[Desktop Entry]
X-AppInstall-Package=gpe-contacts
X-AppInstall-Popcon=10
X-AppInstall-Section=main

Encoding=UTF-8
Name=Contacts
Name[cs]=Kontakty
Name[de]=Kontakte
Name[es]=Contactos
Name[fr]=Contacts
Name[hu]=Kapcsolatok
Name[nl]=Contacten
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[rw]=Aho kubariza
Name[sk]=Kontakty
Name[sr]=Контакти
Name[sv]=Kontakter
Name[vi]=Liên hệ
Name[zh_CN]=联系人
Name[zh_TW]=連絡人
Comment=GPE Contacts
Comment[cs]=GPE Kontakty
Comment[es]=GPE Contactos
Comment[fr]=GPE Contacts
Comment[hu]=GPE Kapcsolatok
Comment[nl]=GPE Contacten
Comment[pt]=Contactos GPE
Comment[pt_BR]=Contatos GPE
Comment[ro]=Contacte GPE
Comment[ru]=Контакты GPE
Comment[sk]=GPE Kontakty
Comment[sr]=GPE Контакти
Comment[sv]=GPE-kontakter
Comment[vi]=Liên hệ GPE
Comment[zh_CN]=GPE 联系人
Comment[zh_TW]=GPE 連絡人
Exec=gpe-contacts
Terminal=false
Type=Application
Icon=gpe-contacts.png
Categories=Application;Office;PIM;GPE;
StartupNotify=true
X-SingleInstance=true
