[Desktop Entry]
X-AppInstall-Package=gpe-watch
X-AppInstall-Popcon=1
X-AppInstall-Section=main

Encoding=UTF-8
Name=Watch
Comment=Watch
Exec=gpe-watch
Terminal=false
Type=Application
Icon=gpe-watch.png
Categories=Utility;Clock;
X-SingleInstance=true
