[Desktop Entry]
X-AppInstall-Package=gpe-gallery
X-AppInstall-Popcon=18
X-AppInstall-Section=main

Encoding=UTF-8
Name=Image Gallery
Comment=GPE Image Gallery
Exec=gpe-gallery
Terminal=false
Type=Application
Icon=gpe-gallery.png
Categories=Graphics;Viewer;
StartupNotify=true
X-SingleInstance=true

