[Desktop Entry]
X-AppInstall-Package=gpe-timesheet
X-AppInstall-Popcon=1
X-AppInstall-Section=main

Encoding=UTF-8
Name=Timesheet
Comment=GPE Timesheet
Comment[cs]=GPE Plánovač času
Comment[es]=GPE Timesheet
Comment[fr]=GPE Pointeuse
Comment[ga]=GPE Bileog Ama
Comment[id]=GPE Timesheet
Comment[nl]=GPE Tijdblad
Comment[pt]=GPE Timesheet
Comment[ro]=GPE Timesheet
Comment[ru]=Таблица времени GPE
Comment[sk]=GPE Sledovanie času
Comment[sr]=GPE Табела времена
Comment[sv]=GPE-tidsblad
Comment[zh_TW]=GPE 時間表
Exec=gpe-timesheet
Terminal=false
Type=Application
Icon=gpe-timesheet.png
Categories=Office;
StartupNotify=true
X-SingleInstance=true
