[Desktop Entry]
X-AppInstall-Package=gpe-mixer
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Encoding=UTF-8
Name=Audio mixer
Comment=Mixer
Exec=gpe-mixer
Terminal=false
Type=Application
Icon=gpe-mixer.xpm
Categories=AudioVideo;Audio;Mixer;
StartupNotify=true
X-SingleInstance=true
