[Desktop Entry]
X-AppInstall-Package=gpe-othello
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Name=Othello
Comment=GPE Othello
Exec=gpe-othello
Terminal=false
Type=Application
Icon=gpe-othello.png
Categories=Game;BoardGame
StartupNotify=True
