[Desktop Entry]
X-AppInstall-Package=gpe-todo
X-AppInstall-Popcon=9
X-AppInstall-Section=main

Name=To-do list
Name[cs]=Shrnutí
Name[de]=Aufgabenliste
Name[es]=Lista de Tareas
Name[fr]=Liste de Tâches
Name[id]=Daftar to-do
Name[ja]=To-do リスト
Name[nl]=Klussenlijst
Name[pt]=Lista de tarefas
Name[pt_BR]=Lista de tarefas
Name[ro]=Listă de-făcut
Name[ru]=Список to-do
Name[sk]=Zoznam položiek 'spraviť'
Name[sr]=Списак послова
Name[sv]=Att-göra-lista
Name[vi]=Danh sách cần làm
Name[wa]=Djivêye des bouyes a fé
Name[zh_CN]=To-do 列表
Name[zh_TW]=待辦事項清單
Comment=GPE To-do List
Comment[es]=GPE Lista de Tareas
Comment[ja]=GPE To-do リスト
Comment[nl]=GPE-klussenlijst
Comment[ru]=Список to-do GPE
Comment[sr]=ГПЕ Подсетник
Comment[sv]=GPE Att-göra-lista
Comment[vi]=Danh sách việc ần làm GPE
Comment[wa]=Djivêye des bouyes a fé di GPE
Comment[zh_CN]=GPE To-do 列表
Exec=gpe-todo
Terminal=false
Type=Application
Icon=gpe-todo
Categories=Office;
StartupNotify=true
X-SingleInstance=true
