[Desktop Entry]
X-AppInstall-Package=gpe-tetris
X-AppInstall-Popcon=4
X-AppInstall-Section=main

Name=Tetris
Comment=GPE Tetris
Exec=gpe-tetris
Terminal=0
Type=Application
Icon=gpe-tetris.png
Categories=Game;BlocksGame;
X-SingleInstance=true

