[Desktop Entry]
X-AppInstall-Package=gpe-filemanager
X-AppInstall-Popcon=5
X-AppInstall-Section=main

Encoding=UTF-8
Name=File Manager
Comment=GPE File Manager
Exec=gpe-filemanager
Terminal=0
Type=Application
Icon=gpe-filemanager.png
Categories=System;FileTools;FileManager;
StartupNotify=true
