[Desktop Entry]
X-AppInstall-Package=gpe-soundbite
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Name=Record Voice Memo
Comment=GPE Soundbite Record
Exec=gpe-soundbite-record
Terminal=false
Type=Application
Icon=gpe-soundbite-record.xpm
Categories=AudioVideo;Audio;Recorder;
StartupNotify=True
