[Desktop Entry]
X-AppInstall-Package=gpe-clock
X-AppInstall-Popcon=4
X-AppInstall-Section=main

Encoding=UTF-8
Name=Alarm clock
Comment=System tray clock with alarm facility
Exec=gpe-clock
Terminal=false
Type=Application
Icon=gpe-clock.png
Categories=Application;Utility;Clock;
StartupNotify=false
X-SingleInstance=true

