[Desktop Entry]
X-AppInstall-Package=gpe-su
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Encoding=UTF-8
Name=Root shell
Name[cs]=Shell uživatele root
Name[de]=Root-Shell
Name[es]=Consola de root
Name[fi]=Pääkäyttäjän komentorivi
Name[fr]=Shell root
Name[nl]=Root shell
Name[pt]=Root shell
Name[pt_BR]=Root shell
Name[ro]=Shell root
Name[ru]=Оболочка root'a
Name[sk]=Prostredie správcu
Name[sr]=Администраторска (root) шкољка
Name[sv]=Rootskal
Name[tr]=Root kabuk
Name[vi]=Vỏ chủ
Name[zh_CN]=Root shell
Comment=gpe-su
Comment[cs]=GPE su
Comment[de]=gpe-su
Comment[es]=gpe-su
Comment[fi]=gpe-su
Comment[fr]=gpe-su
Comment[nl]=gpe-su
Comment[pt]=gpe-su
Comment[pt_BR]=gpe-su
Comment[ro]=gpe-su
Comment[ru]=gpe-su
Comment[sk]=gpe-su
Comment[sr]=gpe-su
Comment[sv]=gpe-su
Comment[tr]=gpe-su
Comment[vi]=gpe-su
Comment[zh_CN]=gpe-su
Exec=gpe-su
Terminal=false
Type=Application
Icon=gpe-su.xpm
Categories=System;Security;
StartupNotify=true
