[Desktop Entry]
X-AppInstall-Package=gpe-expenses
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Encoding=UTF-8
Name=Expenses
Name[cs]=Výdaje
Name[de]=Spesen
Name[fr]=Dépenses
Name[pt]=Despesas
Name[ru]=Расходы
Name[sv]=Utgifter
Name[vi]=Phí tổn
Name[zh_CN]=开销
Comment=Simple Expenses records for GPE
Comment[cs]=Jednoduché záznamy o výdajích pro GPE
Comment[de]=Einfache Spesenaufzeichnung für GPE
Comment[fr]=Uniquement les enregistrements de GPE
Comment[pt]=Registos simples de Despesas para GPE
Comment[ru]=Простая книга расходов для GPE
Comment[sv]=Enkel utgiftshanterare för GPE
Comment[vi]=Mục ghi phí tổn đơn giản cho GPE
Comment[zh_CN]=GPE 的简明消费记录
Exec=gpe-expenses --gui
Terminal=false
Type=Application
Icon=gpe-expenses.xpm
Categories=Office;Finance;
StartupNotify=false
X-SingleInstance=true
