[Desktop Entry]
X-AppInstall-Package=gpe-edit
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Encoding=UTF-8
Name=Text Editor
Name[cs]=Textový editor
Name[es]=Editor de texto
Name[fr]=Éditeur de texte
Name[hu]=Szövegszerkesztő
Name[id]=Text Editor
Name[ja]=テキストエディタ
Name[ko]=문서 편집기
Name[nl]=Tekstverwerker
Name[pl]=Edytor tekstu
Name[pt]=Editor de texto
Name[pt_BR]=Editor de texto
Name[ro]=Editor texte
Name[ru]=Текстовый редактор
Name[rw]=Umuhinduzi w'inyandiko
Name[sk]=Textový editor
Name[sl]=Urejevalec besedila
Name[sr]=Уређивач текста
Name[sv]=Textredigerare
Name[tr]=Metin Düzenleyici
Name[vi]=Trình hiệu chỉnh văn bản
Name[wa]=Aspougneu di tecse
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Comment=GPE Text Editor
Comment[cs]=GPE Textový editor
Comment[es]=GPE Editor de Texto
Comment[fr]=GPE Éditeur de texte
Comment[hu]=GPE Szövegszerkesztő
Comment[id]=GPE Text Editor
Comment[ja]=GPE テキストエディタ
Comment[ko]=GPE 문서 편집기
Comment[nl]=GPE Tekstverwerker
Comment[pl]=Edytor tekstu GPE
Comment[pt]=Editor de texto GPE
Comment[pt_BR]=Editor de texto GPE
Comment[ro]=Editor de texte GPE
Comment[ru]=Текстовый редактор GPE
Comment[sk]=GPE Textový editor
Comment[sl]=GPE Urejevalec besedila
Comment[sr]=GPE Уређивач текста
Comment[sv]=GPE-textredigerare
Comment[tr]=GPE Metin Düzenleyicisi
Comment[vi]=Trình hiệu chỉnh văn bản GPE
Comment[wa]=GPE Aspougneu di tecse
Comment[zh_CN]=GPE 文本编辑器
Comment[zh_TW]=GPE 文字編輯器
Exec=gpe-edit
Terminal=false
Type=Application
Icon=gpe-edit.png
Categories=Utility;TextEditor;
StartupNotify=true
