[Desktop Entry]
X-AppInstall-Package=gpe-bluetooth
X-AppInstall-Popcon=9
X-AppInstall-Section=main

Encoding=UTF-8
Name=Bluetooth control
Name[sv]=Blåtandskontroll
Comment=Panel based Bluetooth control
Comment[sv]=Panelbaserad blåtandskontroll
Exec=gpe-bluetooth
Type=Application
Terminal=false
Icon=bt-logo.png
Categories=Settings;HardwareSettings;Monitor;
StartupNotify=false
X-SingleInstance=true

