[Desktop Entry]
X-AppInstall-Package=gpe-lights
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Name=Lights Out
Comment=GPE Lights
Exec=gpe-lights
Terminal=false
Type=Application
Icon=gpe-lights.png
Categories=Game;LogicGame
StartupNotify=True
