[Desktop Entry]
X-AppInstall-Package=gpe-shield
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Name=Desktop Firewall
Comment=Change security settings and access control
Exec=gpe-shield
Terminal=0
Type=Application
Icon=gpe-shield.xpm
Categories=System;Security;
StartupNotify=True
X-SingleInstance=True

