[Desktop Entry]
X-AppInstall-Package=gpe-soundbite
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Name=Play Voice Memo
Comment=GPE Soundbite Play
Exec=gpe-soundbite-play
Terminal=false
Type=Application
Icon=gpe-soundbite-play.xpm
Categories=AudioVideo;Audio;Player;
StartupNotify=True
