[Desktop Entry]
X-AppInstall-Package=gps
X-AppInstall-Popcon=36
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=gPS Process Monitor
GenericName=Process Monitor
Comment=gPS is a graphical application to watch system processes
Exec=gps
Icon=gps
Type=Application
Categories=Monitor;Utility;
