[Desktop Entry]
X-AppInstall-Package=grande
X-AppInstall-Popcon=14
X-AppInstall-Section=main

Name=Grande
GenericName=grande
Comment=Target the Renegade or Gunhed
Type=Application
Exec=grande
Icon=grande
Terminal=false
Categories=Game;ActionGame;

