[Desktop Entry]
X-AppInstall-Package=gravitation
X-AppInstall-Popcon=11
X-AppInstall-Section=main

Type=Application
Name=Gravitation
Icon=gravitation
Exec=gravitation
Terminal=false
Categories=Game;AdventureGame;
