[Desktop Entry]
X-AppInstall-Package=grcm
X-AppInstall-Popcon=23
X-AppInstall-Section=main

Name=Grcm
Comment=Remote Connection Manager
Exec=grcm
Terminal=false
Type=Application
Icon=gcrm.png
Categories=Network;GNOME
