[Desktop Entry]
X-AppInstall-Package=rssreader.app
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Name=Grr Feed Reader
Name[bg]=Агрегатор на RSS емисии (Grr)
Comment=Günther's RSS Reader
Comment[bg]=Агрегатор на RSS емисии за GNUstep
Type=Application
Version=0.94
Categories=Network;News;
Icon=_usr_share_GNUstep_Grr.app_rssreader
Exec=Grr
