[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GStreamer Dirac video plugin
Comment=Codecs to play Dirac video streams
Terminal=false
Type=Application
Categories=GNOME;Application;Multimedia;AudioVideo;
X-AppInstall-Package=gstreamer0.10-schroedinger
X-AppInstall-Popcon=132
X-AppInstall-Section=main
X-AppInstall-Codecs=0.10:element-schrotoy;0.10:element-schroscale;0.10:encoder-video/x-dirac;0.10:element-framestore;0.10:decoder-video/x-dirac;0.10:element-schrodec;0.10:element-schroenc;0.10:element-schrodownsample;0.10:element-schroparse;0.10:element-schrofilter
