
[Desktop Entry]
X-AppInstall-Package=gtk-imonc
X-AppInstall-Popcon=8
X-AppInstall-Section=main

Name=GTK-Imonc
Comment=fli4l-admin-tool
Name[de_DE.ISO8859-1]=GTK-Imonc
Comment[de_DE.ISO8859-1]=fli4l-admin-tool
Exec=gtk-imonc
Icon=_usr_share_pixmaps_gtk-imonc
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Network
