[Desktop Entry]
X-AppInstall-Package=gtkpod
X-AppInstall-Popcon=202
X-AppInstall-Section=main

Name=gtkpod
Icon=gtkpod-icon-32x32.png
Comment=Manage songs and playlists on your Apple iPod
Exec=gtkpod
Terminal=false
Type=Application
Categories=GTK;AudioVideo;
