[Desktop Entry]
X-AppInstall-Package=gtm
X-AppInstall-Popcon=116
X-AppInstall-Section=main

Name=GNOME Transfer Manager
Name[az]=GNOME Daşıma İdarəçisi
Name[ca]=Gestor de transferències del GNOME
Name[da]=Gnome filoverførselshåndtering
Name[de]=GNOME Transfer Manager
Name[el]=Διαχειριστής Μεταφοράς GNOME
Name[es]=GNOME Transfer Manager
Name[et]=GNOME Transfer Manager
Name[fi]=GNOME-siirronhallinta
Name[fr]=GNOME Transfert Manager
Name[gl]=GNOME Transfer Manager
Name[hu]=GNOME Transfer Manager
Name[it]=GNOME Transfer Manager
Name[ja]=GNOME 転送マネージャ
Name[ko]=그놈 전송 관리자
Name[ms]=Pengurus Pemindahan GNOME
Name[nl]=GNOME Transfer Manager
Name[no]=GNOME filoverføring
Name[pl]=Menedżer transmisji dla GNOME
Name[pt]=GNOME Transfer Manager
Name[pt_BR]=GNOME Transfer Manager
Name[ro]=Managerul de transfer GNOME
Name[ru]=Диспетчер перекачки GNOME
Name[sk]=GNOME Správca prenosu
Name[sl]=Upravljalnik prenosov GNOME
Name[sv]=GNOME Transfer Manager
Name[tr]=GNOME Transfer Yöneticisi
Name[uk]=GNOME Менеджер переносу файлів
Name[vi]=Bộ tải về GNOME
Name[wa]=Manaedjeu di transfers di GNOME
Name[zh_CN]=GNOME传输管理器
Name[zh_TW]=GNOME 檔案傳送管理程式
Comment=Controls the transfer of web files
Comment[ca]=Controla la transferència de fitxers web
Comment[da]=Håndterer overførsler af netfiler
Comment[de]=Kontrolliert den Empfang von Dateien über das Internet
Comment[el]=Ελέγχει τη μεταφορά αρχείων του δικτυακού ιστού
Comment[es]=Controla la transferencia de ficheros desde la web
Comment[et]=Failiedastuse haldamine
Comment[fi]=Verkkotiedostojen lataamisen hallinta 
Comment[fr]=Contrôle du transfert de fichier
Comment[it]=Gestisce i traferimenti di file via web
Comment[no]=Kontrollerer overføring av filer fra web
Comment[pt]=Controla a transferência de ficheiros da web
Comment[pt_BR]=Controla a transferência de arquivos da Internet.
Comment[sk]=Ovláda prenos WWW súborov
Comment[sl]=Nadzoruje prenos spletnih datotek
Comment[sv]=Styr överföringen av webbfiler
Comment[tr]=Internet'teki dosya yükleme eylemlerin için bir uygulama
Comment[uk]=Контроль перенесення файлів
Comment[wa]=Programe po manaedjî les transfers di fitchîs waibe
Comment[zh_TW]=控制檔案的下載
Exec=gtm
Icon=gtm.png
Terminal=0
Type=Application
Categories=Application;Network;
