[Desktop Entry]
X-AppInstall-Package=gunroar
X-AppInstall-Popcon=17
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Gunroar
GenericName=
Comment=Kenta Cho's Gunroar
Icon=gunroar.xpm
Exec=/usr/games/gunroar
Terminal=false
Categories=Game;ArcadeGame;
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390
