[Desktop Entry]
X-AppInstall-Package=gwc
X-AppInstall-Popcon=44
X-AppInstall-Section=main

Version=1.0
Type=Application
Terminal=false
Encoding=UTF-8
Name=Gnome Wave Cleaner
Comment=Sound File Noise Reduction
Exec=gnome-wavecleaner %F
Icon=gwc-logo.png
Categories=GNOME;Application;AudioVideo;

