[Desktop Entry]
X-AppInstall-Package=happydigger
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Encoding=UTF-8
Name=happydigger
Name[nl]=happydigger
Comment=Program for cataloging archaeological finds
Comment[nl]=Programma voor het catalogiseren van archeologische vondsten
Exec=happydigger
Icon=happydigger.png
Terminal=false
Type=Application
Categories=Utility;Database;GTK
