[Desktop Entry]
X-AppInstall-Package=hardinfo
X-AppInstall-Popcon=1073
X-AppInstall-Section=main

Name=System Profiler and Benchmark
Name[pt_BR]=Informações e Testes do Sistema
Exec=/usr/bin/hardinfo
Icon=_usr_share_hardinfo_pixmaps_logo
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;HardwareSettings;
