[Desktop Entry]
X-AppInstall-Package=alsa-tools-gui
X-AppInstall-Popcon=302
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=HDSPMixer
GenericName=
Comment=Control the advanced routing features of the RME Hammerfall DSP
Icon=
Exec=hdspmixer
Terminal=false
Categories=AudioVideo;Audio;Utility;
