[Desktop Entry]
X-AppInstall-Package=alsa-tools-gui
X-AppInstall-Popcon=302
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=HDSPConf
GenericName=
Comment=Control the Hammerfall HDSP ALSA settings
Icon=
Exec=hdspconf
Terminal=false
Categories=AudioVideo;Audio;Utility;
