[Desktop Entry]
X-AppInstall-Package=hexter
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Encoding=UTF-8
Name=Hexter
Comment=Yamaha DX7 modeling DSSI plugin
Exec=jack-dssi-host hexter.so
Icon=/usr/share/pixmaps/hexter.xpm
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;Audio;Synthesis;
