[Desktop Entry]
X-AppInstall-Package=homebank
X-AppInstall-Popcon=51
X-AppInstall-Section=main

Name=HomeBank
Name[bg]=HomeBank
Name[ca]=HomeBank
Name[cs]=Domácí banka
Name[de]=HomeBank
Name[el]=HomeBank
Name[en_GB]=HomeBank
Name[es]=HomeBank
Name[et]=HomeBank
Name[fr]=HomeBank
Name[gl]=HomeBank
Name[he]=HomeBank
Name[hu]=HomeBank
Name[is]=Heimabanki
Name[it]=HomeBank
Name[nb]=HjemmeBank
Name[oc]=HomeBank
Name[pl]=HomeBank
Name[pt]=HomeBank
Name[pt_BR]=HomeBank
Name[ro]=HomeBank
Name[ru]=HomeBank
Name[sk]=DomácaBanka
Name[sl]=Domača Banka
Name[sv]=HomeBank
Name[tr]=Ev Bankası
Name[uk]=ДомоБанк
Name[vi]=Ngân hàng tại nhà
Name[zh_CN]=家庭理财
Name[zh_TW]=家用銀行 (HomeBank)
Comment=Free, easy, personal accounting for everyone.
Comment[bg]=Свободно и лесно лично счетовмодство за всеки
Comment[de]=Freie, einfache, persönliche Buchhaltung für alle.
Comment[el]=Δωρεάν, εύκολο, πρόγραμμα προσωπικών οικονομικών για όλους.
Comment[en_GB]=Free, easy, personal accounting for everyone.
Comment[es]=Contabilidad personal libre y fácil para todo el mundo.
Comment[et]=Vaba, kerge isiklik arveldus kõigile.
Comment[fr]=Comptabilité personnelle, libre, facile, pour chacun.
Comment[gl]=Programa libre e sinxelo de contabilidade persoal.
Comment[he]=ניהול חשבונות קל ופשוט לכולם.
Comment[is]=Ókeypis, einfald heimilisbókhaldskerfi fyrir alla
Comment[it]=Contabilità familiare semplice per tutti.
Comment[nl]=Open, makkelijk, persoonlijk financieel beheer voor iedereen
Comment[oc]=Comptabilitat personala, liura, aisida, per cadun.
Comment[pl]=Bezpłatna, prosta rachunkowość domowa dla każdego!
Comment[pt_BR]=Livre, fácil, um gerenciador pessoal de contas para todos.
Comment[ro]=Contabilitate personală pentru fiecare, gratis şi uşor
Comment[ru]=Простое и лёгкое управление личными финансами для каждого.
Comment[sl]=Enostavno in brezplačno osebno računovodstvo za vsakogar.
Comment[sv]=Free, easy, personal accounting for everyone.
Comment[tr]=Herkes için özgür, kolay kişisel muhasebe
Comment[uk]=Щоб керувати власними фінансами просто й вільно
Comment[zh_CN]=为所有人准备的免费，易用的个人帐户
Comment[zh_TW]=自由,簡易,每個人的個人帳戶
Exec=homebank %F
Terminal=false
StartupNotify=true
Type=Application
Icon=homebank
Categories=GTK;Office;Finance;
MimeType=application/x-homebank;
