[Desktop Entry]
X-AppInstall-Package=horgand
X-AppInstall-Popcon=24
X-AppInstall-Section=main

Encoding=UTF-8

Name=Horgand
GenericName=Soft Synth
Comment=Organd Soft Synth

Type=Application
Categories=Application;AudioVideo;Audio;Synthesis;

Exec=horgand
Terminal=false
