[Desktop Entry]
X-AppInstall-Package=hplip-gui
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Encoding=UTF-8
Name=Fax address book
GenericName=Fax address book
Comment=HPLIP Fax address book
Exec=/bin/sh -c 'STARTED_FROM_MENU=yes /usr/bin/hp-fab'
Icon=_usr_share_pixmaps_HPmenu
Categories=Application;Office;
Terminal=false
Type=Application
StartupNotify=false
