[Desktop Entry]
X-AppInstall-Package=hplip-gui
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Encoding=UTF-8
Name=HPLIP Toolbox
GenericName=Printer Toolbox
Comment=HP Printing System Control Center
Exec=/usr/bin/hp-toolbox
Icon=_usr_share_pixmaps_hp-logo
Categories=Application;System;
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=KDE;
