[Desktop Entry]
X-AppInstall-Package=htop
X-AppInstall-Popcon=2561
X-AppInstall-Section=main

Encoding=UTF-8
Version=0.7
Name=Htop
Type=Application
Comment=Show System Processes
Terminal=true
Exec=htop
Path=
Icon=htop
Categories=ConsoleOnly;System;Application;
GenericName=Process Viewer
