[Desktop Entry]
X-AppInstall-Package=iceape-browser
X-AppInstall-Popcon=2817
X-AppInstall-Section=main

Encoding=UTF-8
Name=Iceape Suite
GenericName=Internet Suite
Exec=iceape %u
Terminal=false
Type=Application
Categories=GTK;Network
Icon=iceape.xpm
