[Desktop Entry]
X-AppInstall-Package=iceape-browser
X-AppInstall-Popcon=2817
X-AppInstall-Section=main

Name=Iceape Composer
Comment=Iceape Composer
Exec=iceape -edit
Icon=iceape-composer.xpm
Terminal=false
Type=Application
Categories=GTK;WebDevelopment;Development
StartupNotify=true
