[Desktop Entry]
X-AppInstall-Package=iceape-mailnews
X-AppInstall-Popcon=385
X-AppInstall-Section=main

Name=Iceape Mail Composer
Name[cs]=Po¿tovní editor Iceape
Comment=Iceape Mail Composer
Comment[cs]=Po¿tovní editor Iceape
Exec=iceape -compose
Icon=iceape-mail-compose.xpm
Terminal=false
Type=Application
Categories=GTK;Email;Network
StartupNotify=true
