[Desktop Entry]
X-AppInstall-Package=iceape-mailnews
X-AppInstall-Popcon=385
X-AppInstall-Section=main

Name=Iceape Address Book
Comment=Iceape Address Book
Exec=iceape -addressbook
Icon=iceape-addressbook.xpm
Terminal=false
Type=Application
Categories=GTK;Office;ContactManagement
StartupNotify=true
