[Desktop Entry]
X-AppInstall-Package=icedove
X-AppInstall-Popcon=7416
X-AppInstall-Section=main

Encoding=UTF-8
Name=Icedove Mail/News
Comment=Read/Write Mail/News with Icedove
GenericName=Mail Client
Exec=icedove %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=icedove
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png
StartupWMClass=Icedove-bin
StartupNotify=true
