[Desktop Entry]
X-AppInstall-Package=ifpgui
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=ifpgui
GenericName=
Comment=KDE-style GUI for iRiver iFP flash players 
Icon=
Exec=/usr/bin/ifpgui
Terminal=false
Categories=Application;KDE;AudioVideo
