[Desktop Entry]
X-AppInstall-Package=imview
X-AppInstall-Popcon=32
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Imview Image Viewer
GenericName=Image Viewer
Comment=View and analyze scientific images
Comment[en_GB]=View and analyse scientific images
Type=Application
Exec=imview
Icon=imview
Categories=Application;Education;Science;Graphics;
X-AppInstall-Architectures=amd64,alpha,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
