[Desktop Entry]
X-AppInstall-Package=innerspace.app
X-AppInstall-Popcon=14
X-AppInstall-Section=main

Type=Application
Version=0.94
Categories=Screensaver;
Name=InnerSpace
Comment=A BackSpace compatible Free Software Screen Saver
Icon=InnerSpace.tiff
Exec=InnerSpace
