[Desktop Entry]
X-AppInstall-Package=isomaster
X-AppInstall-Popcon=69
X-AppInstall-Section=main

Name=ISO Master
GenericName=CD image editor
Comment=Graphical CD image editor for reading, modifying and writing ISO images
Exec=isomaster
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;DiscBurning;AudioVideo;AudioVideoEditing;
MimeType=application/x-iso
Icon=_usr_share_icons_isomaster_isomaster
