[Desktop Entry]
X-AppInstall-Package=jaaa
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Version=1.0
Name=jaaa
Comment=Analyse or generate an Audio signal
Exec=jaaa -A
Icon=jaaa
Terminal=false
Type=Application
Categories=Audio
