[Desktop Entry]
X-AppInstall-Package=jackeq
X-AppInstall-Popcon=58
X-AppInstall-Section=main

Name=JackEQ
Comment=routes and manipulates audio from/to multiple sources
Exec=jackeq
Terminal=0
Icon=_usr_share_jackeq_thai-gold
Type=Application
Categories=Application;AudioVideo;
