[Desktop Entry]
X-AppInstall-Package=k3d
X-AppInstall-Popcon=62
X-AppInstall-Section=main

Encoding=UTF-8
Name=K-3D
Name[sv_SE.ISO8859-15]=K-3D
Comment=3D modeling and animation
Comment[sv_SE.ISO8859-15]=3D modellering och animation
Exec=/usr/bin/k3d
Icon=_usr_share_k3d_icons_k3d2
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Graphics;3DGraphics;
