# this file is "/usr/share/applications/kde/kaffeine-iso.desktop"
[Desktop Entry]
X-AppInstall-Package=kaffeine
X-AppInstall-Popcon=2635
X-AppInstall-Section=main

Exec=kaffeine dvd:%f
Icon=kaffeine
MimeType=application/x-iso
Name=kaffeine
Name[en_US]=kaffeine
StartupNotify=true
Terminal=false
Type=Application
