[Desktop Entry]
X-AppInstall-Package=karchiver
X-AppInstall-Popcon=85
X-AppInstall-Section=main

GenericName=Archiving Tool
GenericName[af]=Argiveer Program
GenericName[bg]=Инструмент за работа с архиви
GenericName[br]=Ostilh merañ an Dielloù
GenericName[bs]=Alat za arhiviranje
GenericName[ca]=Eina per a manegar arxius
GenericName[cs]=Archivační nástroj
GenericName[cy]=Erfyn Archifo 
GenericName[da]=Arkiveringsværktøj
GenericName[de]=Archivprogramm
GenericName[el]=Εργαλείο Αρχειοθέτησης
GenericName[es]=Herramienta de archivado
GenericName[et]=Arhiivide haldur
GenericName[eu]=Fitxategiak Kudeatzeko Tresna
GenericName[fi]=Pakettienhallintatyökalu
GenericName[fr]=Outil de manipulation d'archives
GenericName[ga]=Uirlis Chartlannaithe
GenericName[gl]=Ferramenta de Arquivado
GenericName[he]=כלי לניהול ארכיונים
GenericName[hr]=Uslužni program za arhiviranje
GenericName[hu]=Fájltömörítő
GenericName[it]=Strumento per la gestione degli archivi
GenericName[ja]=アーカイブツール
GenericName[lt]=Archyvavimo priemonė
GenericName[lv]=Arhivēšanas Rīks
GenericName[nl]=Archiveerprogramma
GenericName[nn]=Arkiveringsverktøy
GenericName[pl]=Narzędzie do archiwizacji
GenericName[pt]=Ferramenta de Armazenamento
GenericName[pt_BR]=Ferramenta de arquivamento
GenericName[ro]=Utilitar de arhivare
GenericName[ru]=Утилита работы с архивами
GenericName[sk]=Archivačný nástroj
GenericName[sl]=Orodje za ravnanje z arhivi
GenericName[sr]=Алат за архивирање
GenericName[sr@Latn]=Alat za arhiviranje
GenericName[sv]=Arkiveringsverktyg
GenericName[ta]=காப்பகக் கருவி
GenericName[th]=เครื่องมือจัดการแฟ้มบีบอัด
GenericName[tr]=Arşivleme Aracı
GenericName[uk]=Засіб роботи з архівами
GenericName[ven]=Tshishumiswa tsha fhethu huno vhulungelwa hone zwithu zwa kale
GenericName[wa]=Usteye d' årtchivaedje
GenericName[xh]=Isixhobo Sokuphatha i Archive
GenericName[xx]=xxArchiving Toolxx
GenericName[zh_CN]=文件归档工具
GenericName[zh_TW]=壓縮工具
GenericName[zu]=Ithuluzi le Archive

DocPath=karchiver/index.html
Exec=karchiver %U
Icon=karchiver
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
MimeType=application/x-archive;application/x-arj;application/x-bzip;application/x-bzip2;application/x-compress;application/x-gzip;application/x-lha;application/x-lzop;application/x-rar;application/x-tar;application/x-tarz;application/x-tbz;application/x-tgz;application/x-zip;application/x-jar;application/x-deb
Name=KArchiver
Name[sv]=Karchiver
Name[tr]=KArşivleyici
Name[xx]=xxKArchiverxx

SwallowExec=
SwallowTitle=
Terminal=false
X-KDE-Library=libkarchiver
Encoding=UTF-8
