[Desktop Entry]
X-AppInstall-Package=kayak
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Encoding=UTF-8
Name=Kayak
Comment=Log file aggregator and report tool
Exec=kayak
Icon=kayak.xpm
Terminal=false
Type=Application
Categories=Application;Utility;KDE
StartupNotify=true
