[Desktop Entry]
X-AppInstall-Package=kbarcode
X-AppInstall-Popcon=75
X-AppInstall-Section=main

Type=MimeType
Comment=KBarcode Label
Encoding=UTF-8
Icon=kbarcode
MimeType=application/kbarcode-label
Name[de]=kbarcode-label.desktop
Patterns=*.kbarcode;*.KBARCODE;

