[Desktop Entry]
X-AppInstall-Package=kdebluetooth
X-AppInstall-Popcon=1129
X-AppInstall-Section=main

Encoding=UTF-8
Exec=kbluetooth
Icon=kdebluetooth
Type=Application
Name=kbluetooth
Name[xx]=xxkbluetoothxx
GenericName=Bluetooth Server
GenericName[ar]=خادم Bluetooth
GenericName[bg]=Сървър за Bluetooth
GenericName[br]=Servijer Bluetooth
GenericName[ca]=Servidor Bluetooth
GenericName[cs]=Bluetooth server
GenericName[da]=Bluetooth-server
GenericName[de]=Bluetooth-Server
GenericName[el]=Εξυπηρετητής Bluetooth
GenericName[es]=Servidor Bluetooth
GenericName[et]=Bluetoothi server
GenericName[fr]=Services Bluetooth
GenericName[ga]=Freastalaí Bluetooth
GenericName[gl]=Servidor Bluetooth
GenericName[it]=Server Bluetooth
GenericName[ja]=Bluetooth サーバ
GenericName[lt]=Bluetooth serveris
GenericName[nl]=Bluetooth-dienst
GenericName[pa]=ਬਲਿਊਟੁੱਥ ਸਰਵਰ
GenericName[pl]=Serwer Bluetooth
GenericName[pt]=Servidor Bluetooth
GenericName[pt_BR]=Servidor Bluetooth
GenericName[sr]=Bluetooth сервер
GenericName[sr@Latn]=Bluetooth server
GenericName[sv]=Blåtandserver
GenericName[tg]=Хидматгоҳи Bluetooth
GenericName[tr]=Bluetooth Sunucusu
GenericName[xx]=xxBluetooth Serverxx
Categories=Settings;HardwareSettings;
OnlyShowIn=KDE;
Comment=KDE Bluetooth Framework Metaserver
Comment[bg]=Мета сървър за Bluetooth Framework
Comment[bs]=KDE Bluetooth framework metaserver
Comment[ca]=Meta-servidor de l'estructura Bluetooth de KDE
Comment[da]=KDE Bluetooth-skelet metaserver
Comment[de]=KDE Bluetooth-Framework Metaserver
Comment[el]=Πλαίσιο στήριξης εξυπηρετητή Bluetooth του KDE
Comment[es]=Metaservidor del marco de trabajo Bluetooth de KDE
Comment[et]=KDE Bluetooth raamistiku metaserver
Comment[fr]=Méta-serveur de l'interface KDE Bluetooth
Comment[gl]=Meta-servidor da Infra-estrutura Bluetooth de KDE
Comment[it]=Metaserver dell'infrastruttura Bluetooth di KDE
Comment[ja]=KDE Bluetooth フレームワーク メタサーバ
Comment[lt]=KDE Bluetooth aplinkos meta serveris
Comment[pl]=Metaserwer szkieletu KDE Bluetooth
Comment[pt]=Meta-servidor da Infra-estrutura Bluetooth do KDE
Comment[pt_BR]=Meta-servidor da Infra-estrutura Bluetooth do KDE
Comment[sr]=Bluetooth оквирни метасервер за KDE
Comment[sr@Latn]=Bluetooth okvirni metaserver za KDE
Comment[sv]=Metaserver för KDE:s Blåtandsramverk
Comment[ta]=KDE புலுடுத் சட்ட வேலை மேட்டா சேவகன்
Comment[tr]=KDE Bluetooth Ortamı Meta Sunucusu
Comment[xx]=xxKDE Bluetooth Framework Metaserverxx

