[Desktop Entry]
X-AppInstall-Package=kdebluetooth
X-AppInstall-Popcon=1129
X-AppInstall-Section=main

Encoding=UTF-8
Exec=kbluelock
Icon=kdebluetooth
Type=Application
Name=Kbluelock
Name[da]=kbluetoothd
Name[es]=kbluelock
Name[xx]=xxKbluelockxx
GenericName=Bluetooth Monitor
GenericName[de]=Bluetooth-Monitor
GenericName[es]=Monitor de bluetooth
GenericName[et]=Bluetoothi jälgija
GenericName[it]=Monitor Bluetooth
GenericName[ja]=Bluetooth モニタ
GenericName[nl]=Bluetooth-monitor
GenericName[pt]=Monitor de Bluetooth
GenericName[pt_BR]=Monitor de Bluetooth
GenericName[sr]=Bluetooth надгледање
GenericName[sr@Latn]=Bluetooth nadgledanje
GenericName[sv]=Blåtandsövervakare
GenericName[tg]=Намоишгари Bluetooth
GenericName[tr]=Bluetooth İzleyici
GenericName[xx]=xxBluetooth Monitorxx
Categories=Qt;KDE;System;Monitor;
Comment=KDE Bluetooth Monitor
Comment[de]=KDE Bluetooth-Monitor
Comment[es]=Monitor de bluetooth para KDE
Comment[et]=KDE Bluetoothi jälgija
Comment[it]=Monitor Bluetooth di KDE
Comment[ja]=KDE Bluetooth モニタ
Comment[nl]=KDE Bluetooth-monitor
Comment[pt]=Monitor de Bluetooth do KDE
Comment[pt_BR]=Monitor de Bluetooth do KDE
Comment[sr]=Надгледање Bluetooth-а за KDE
Comment[sr@Latn]=Nadgledanje Bluetooth-a za KDE
Comment[sv]=KDE:s blåtandsövervakare
Comment[tg]=Намоишгари KDE Bluetooth
Comment[tr]=KDE Bluetooth İzleyici
Comment[xx]=xxKDE Bluetooth Monitorxx

