[Desktop Entry]
X-AppInstall-Package=kboincspy
X-AppInstall-Popcon=92
X-AppInstall-Section=main

Encoding=UTF-8
Name=KBoincSpy
Exec=kboincspy %i %m -caption "%c"
Icon=kboincspy
Type=Application
Categories=Science;Monitor;Utility;KDE;Qt
DocPath=kboincspy/index.html
GenericName=A BOINC monitoring tool for KDE
GenericName[de]=Ein BOINC Überwachungswerkzeug für KDE
