[Desktop Entry]
X-AppInstall-Package=kdebluetooth
X-AppInstall-Popcon=1129
X-AppInstall-Section=main

Type=Application
Name=Bluetooth Obex Server
Name[et]=Bluetooth OBEX server
Exec=/usr/lib/kdebluetooth/servers/kbtobexsrv -caption "%c" %i %m %u
Categories=Qt;KDE;Network;FileTransfer
Comment=
Icon=kdebluetooth
MimeTypes=
Terminal=false
Hidden=true
