[Desktop Entry]
X-AppInstall-Package=kdebluetooth
X-AppInstall-Popcon=1129
X-AppInstall-Section=main

Encoding=UTF-8
Comment=Manage paired Bluetooth devices
Comment[ar]=ادارة اجهزة Bluetooth المتزاوجة
Comment[bg]=Управление на свързани Bluetooth устройства
Comment[ca]=Gestiona dispositius Bluetooth emparellats
Comment[da]=Håndtér parrede Bluetooth-enheder
Comment[de]=Verwaltung von gepaarten Bluetooth-Geräten
Comment[el]=Διαχείριση συζευγμένων συσκευών Bluetooth
Comment[es]=Gestione dispositivos Bluetooth emparejados
Comment[et]=Registreeritud Bluetooth seadmete haldamine
Comment[fr]=Gére les périphériques Bluetooth couplés
Comment[gl]=Xestionar dispositivos Bluetooth emparellados
Comment[it]=Gestisci dispositivi Bluetooth accoppiati
Comment[ja]=ペアリング済みの Bluetooth デバイスの管理
Comment[lt]=Tvarkyti suporuotus Bluetooth įrenginius
Comment[nl]=Gepaarde Bluetooth-apparaten beheren
Comment[pl]=Zarządzanie sparowanymi urządzeniami Bluetooth
Comment[pt]=Gerir dispositivos Bluetooth emparelhados
Comment[pt_BR]=Gerir dispositivos Bluetooth emparelhados
Comment[ru]=Управление связанными устройствами Bluetooth
Comment[sr]=Управљање упареним Bluetooth уређајима
Comment[sr@Latn]=Upravljanje uparenim Bluetooth uređajima
Comment[sv]=Hantera ihopparade Blåtandsenheter
Comment[ta]=இரட்டை புலுடுத் கருவியை மேலாண்மை
Comment[tr]=Eşlenmiş Bluetooth aygıtlarını idare et
Comment[xx]=xxManage paired Bluetooth devicesxx
Keywords=Bluetooth
Keywords[pa]=ਬਲਿਊਟੁੱਥ
Keywords[sv]=Bluetooth,Blåtand
Keywords[ta]=புலுடுத்
Keywords[xx]=xxBluetoothxx
GenericName=Paired Bluetooth Devices
GenericName[de]=Gepaarte Bluetooth-Geräte
GenericName[es]=Dispositivos bluetooth emparejados
GenericName[et]=Registreeritud Bluetoothi seadmed
GenericName[it]=Dispositivi Bluetooth accoppiati
GenericName[ja]=ペアリング済みの Bluetooth デバイス
GenericName[nl]=Gepaarde Bluetooth-diensten
GenericName[pt]=Dispositivos Bluetooth Emparelhados
GenericName[pt_BR]=Dispositivos Bluetooth Emparelhados
GenericName[sr]=Упарени Bluetooth уређаји
GenericName[sr@Latn]=Upareni Bluetooth uređaji
GenericName[sv]=Ihopparade Blåtandsenheter
GenericName[tg]=Дастгоҳҳои алоқашудаи Bluetooth
GenericName[tr]=Eşlenmiş Bluetooth Aygıtları
GenericName[xx]=xxPaired Bluetooth Devicesxx
Name=Paired Bluetooth Devices
Name[ar]=اجهزة Bluetooth المتزاوجة
Name[bg]=Свързани Bluetooth устройства
Name[ca]=Dispositius Bluetooth emparellats
Name[da]=Parrede Bluetooth-enheder
Name[de]=Gepaarte Bluetooth-Geräte
Name[el]=Συζευγμένες συσκευές Bluetooth
Name[es]=Dispositivos Bluetooth emparejados
Name[et]=Registreeritud Bluetoothi seadmed
Name[fr]=Périphériques Bluetooth couplés
Name[gl]=Dispositivos Bluetooth Emparellados
Name[it]=Dispositivi Bluetooth accoppiati
Name[ja]=ペアリング済みの Bluetooth デバイス
Name[lt]=Suporuoti Bluetooth įrenginiai
Name[nl]=Gepaarde Bluetooth-diensten
Name[pl]=Sparowane urządzenia Bluetooth
Name[pt]=Dispositivos Bluetooth Emparelhados
Name[pt_BR]=Dispositivos Bluetooth Emparelhados
Name[sr]=Упарени Bluetooth уређаји
Name[sr@Latn]=Upareni Bluetooth uređaji
Name[sv]=Ihopparade Blåtandsenheter
Name[ta]=இரட்டை புலுடுத் கருவிகள்
Name[tg]=Дастгоҳҳои алоқашудаи Bluetooth
Name[tr]=Eşlenmiş Bluetooth Aygıtları
Name[xx]=xxPaired Bluetooth Devicesxx
Exec=kcmshell kcm_btpaired
Terminal=false
Icon=kdebluetooth
Type=Application
X-KDE-FactoryName=btpaired
X-KDE-Library=btpaired
X-KDE-ModuleType=Library
Categories=Qt;KDE;X-KDE-settings-network;
