[Desktop Entry]
X-AppInstall-Package=kerry
X-AppInstall-Popcon=156
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Icon=kerry
Exec=kcmshell beagle

X-KDE-Library=beagle
X-KDE-FactoryName=beagle
X-KDE-ParentApp=kcontrol

Name=Desktop Search
Name[ar]=بحث على سطح المكتب
Name[br]=Klask ar vurev
Name[da]=Desktopsøgning
Name[de]=Desktop-Suche
Name[es]=Búsqueda de escritorio
Name[et]=Töölauaotsing
Name[fi]=Työpöytähaku
Name[ga]=Cuardach Deisce
Name[ja]=デスクトップ検索
Name[nl]=Desktop-zoekopdracht
Name[pa]=ਵੇਹੜਾ ਖੋਜ
Name[pt]=Pesquisa no Ambiente de Trabalho
Name[pt_BR]=Pesquisa na Área de Trabalho
Name[sv]=Skrivbordssökning
Name[uk]=Стільничний пошук

Comment=You can configure the Beagle daemon here
Comment[ar]=هنا يمكنك إعداد مراقب القرص و التنفيذ Beagle
Comment[da]=Her kan du indstille Beagle-dæmonen
Comment[de]=Sie können hier den Beagle-Daemon einrichten
Comment[es]=Puede configurar aquí el demonio de Beagle
Comment[et]=Siin saab seadistada Beagle'i deemonit
Comment[fi]=Voit määrittää Beagle-demonin täällä
Comment[ga]=Is féidir leat deamhan Beagle a chumrú anseo
Comment[ja]=ここで Beagle デーモンを設定します
Comment[nl]=Hier kunt u de Beagle-daemon instellen
Comment[pt]=Poderá configurar aqui o servidor do Beagle
Comment[pt_BR]=Você pode configurar o servidor do Beagle aqui
Comment[sv]=Här kan du ställa in Beagle-demonen
Comment[uk]=Тут можна налаштувати даемон Beagle
Keywords=beagle,desktop search,file search,search,kerry
Keywords[ar]=beagle,بحث على سطح المكتب,بحث ملف,بحث,kerry
Keywords[da]=beagle,desktop søg,filsøgning,kerry
Keywords[de]=Beagle,Desktop-Suche,Dateisuche,Suche,Kerry
Keywords[es]=beagle,búsqueda de escritorio,búsqueda de archivo,buscar,kerry
Keywords[et]=beagle,töölauaotsing,failiotsing,otsing,kerry
Keywords[ga]=beagle,cuardach deisce,cuardach comhaid,cuardach,kerry
Keywords[ja]=beagle,デスクトップ検索,ファイル検索,検索,kerry
Keywords[nl]=beagle,desktop search,desktop zoekopdracht,bestanden zoeken,zoeken,kerry
Keywords[pt]=beagle,pesquisa no ambiente de trabalho,pesquisa de ficheiros,pesquisa,procura,kerry
Keywords[pt_BR]=beagle,pesquisa na área de trabalho,pesquisa de arquivos,pesquisa,procura,kerry
Keywords[sv]=beagle,skrivbord sök,filsökning,kerry
Keywords[uk]=beagle,desktop search,file search,search,kerry,пошук файлів,стільничний пошук,пошук

Categories=Qt;KDE;X-KDE-settings-components;
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
