[Desktop Entry]
X-AppInstall-Package=kerry
X-AppInstall-Popcon=156
X-AppInstall-Section=main

Encoding=UTF-8
Name=Kerry Beagle
Name[pa]=ਕੈਰੀ ਬੀਗਲ
GenericName=Desktop Search
GenericName[ar]=بحث على سطح المكتب
GenericName[br]=Klask ar vurev
GenericName[cs]=Vyhledávání v počítači
GenericName[da]=Desktopsøgning
GenericName[de]=Desktop-Suche
GenericName[es]=Búsqueda de escritorio
GenericName[et]=Töölauaotsing
GenericName[fi]=Työpöytähaku
GenericName[ga]=Cuardach Deisce
GenericName[gl]=Procuras no Escritório
GenericName[it]=Ricerca desktop
GenericName[ja]=デスクトップ検索
GenericName[ka]=სამუშაო მაგიდის ძიება
GenericName[nl]=Desktop-zoekprogramma
GenericName[pa]=ਵੇਹੜਾ ਖੋਜ
GenericName[pt]=Pesquisa no Ambiente de Trabalho
GenericName[pt_BR]=Pesquisa na Área de Trabalho
GenericName[sk]=Vyhladávanie na pracovnej ploche
GenericName[sv]=Skrivbordssökning
GenericName[th]=โปรแกรมค้นหาภายในเครื่อง
GenericName[uk]=Стільничний пошук
GenericName[zh_CN]=桌面搜索
Exec=kerry --show-searchdialog
Icon=kerry
Type=Application
Categories=Qt;KDE;Application;Utility;Filesystem;
Terminal=false
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=false
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
