[Desktop Entry]
X-AppInstall-Package=keyjnotegui
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Encoding=UTF-8
Name=KeyJnoteGUI
Exec=keyjnotegui
Icon=keyjnotegui
Type=Application
GenericName=presentation programm
GenericName[de]=Präsentationsprogramm
Comment=A presentation programm with some style
Comment[de]=Das etwas andere Präsentationsprogramm
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Application;Graphics
