[Desktop Entry]
X-AppInstall-Package=kftpgrabber
X-AppInstall-Popcon=242
X-AppInstall-Section=main

Encoding=UTF-8
Name=KFTPGrabber
Name[sv]=KFTPgrabber
Name[xx]=xxKFTPGrabberxx
GenericName=FTP Client
GenericName[ar]= زبون ميفاق نقل الملفات FTP
GenericName[bg]=FTP клиент
GenericName[br]=Kliant FTP
GenericName[ca]=Client FTP
GenericName[cs]=FTP klient
GenericName[cy]=Dibynnydd FTP
GenericName[da]=FTP klient
GenericName[de]=FTP-Client
GenericName[el]=Πελάτης FTP
GenericName[es]=Cliente de FTP
GenericName[et]=FTP-klient
GenericName[fr]=Client FTP
GenericName[ga]=Cliant FTP
GenericName[gl]=Cliente FTP
GenericName[it]=Client FTP
GenericName[ja]=FTP クライアント
GenericName[ka]=FTP კლიენტი
GenericName[lt]=FTP klientas
GenericName[nl]=FTP-cliënt
GenericName[pa]=FTP ਕਲਾਂਇਟ
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ru]=Клиент FTP
GenericName[rw]=Umukiriya FTP
GenericName[sr]=FTP клијент
GenericName[sr@Latn]=FTP klijent
GenericName[sv]=FTP-klient
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[xh]=Umxhasi we FTP
GenericName[xx]=xxFTP Clientxx
GenericName[zh_CN]=FTP 客户端
GenericName[zu]=Umthengi we FTP
Comment=A graphical FTP client
Comment[ar]=زبون رسومي لميفاق نقل الملفات
Comment[bg]=Графичен FTP клиент
Comment[br]=Ur gliant skeudenn FTP
Comment[ca]=Un client gràfic FTP
Comment[cs]=Grafický FTP klient
Comment[da]=En grafisk FTP klient
Comment[de]=Graphischer FTP-Client
Comment[el]=Ένας γραφικός πελάτης FTP
Comment[es]=Un cliente gráfico de FTP
Comment[et]=Graafiline FTP-klient
Comment[fr]=Un client FTP graphique
Comment[ga]=Cliant grafach FTP
Comment[gl]=Un cliente FTP gráfico
Comment[it]=Un client FTP grafico
Comment[ja]=グラフィカルな FTP クライアント
Comment[ka]=გრაფიკული FTP კლიენტი
Comment[lt]=Grafinis FTP klientas
Comment[nl]=Een grafische FTP-cliënt
Comment[pa]=ਇੱਕ ਗਰਾਫਿਕਲ FTP ਕਲਾਂਇਟ
Comment[pt]=Um cliente gráfico de FTP
Comment[pt_BR]=Um cliente gráfico para FTP
Comment[ru]=Графический клиент FTP
Comment[sr]=Графички FTP лијент
Comment[sr@Latn]=Grafički FTP lijent
Comment[sv]=En grafisk FTP-klient
Comment[tr]=Grafiksel FTP İstemcisi
Comment[uk]=Клієнт FTP з графічним інтерфейсом
Comment[xx]=xxA graphical FTP clientxx
Comment[zh_CN]=图形化 FTP 客户端
Exec=kftpgrabber
Icon=kftpgrabber
Type=Application
Categories=Qt;KDE;Network;FileTransfer;
