[Desktop Entry]
X-AppInstall-Package=kiosktool
X-AppInstall-Popcon=43
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Exec=kiosktool
Icon=kiosktool
DocPath=kioskgui/index.html
X-KDE-StartupNotify=true

Name=Kiosk Admin Tool
Name[bs]=Kiosk administratorski alat
Name[da]=Kiosk Admin-værktøj
Name[es]=Herramienta de administración de Quiosco
Name[et]=Kioski haldur
Name[fr]=Outil d'administration Kiosk
Name[it]=Strumento di amministrazione Kiosk
Name[nl]=Kiosk Administratieprogramma
Name[pt]=Ferramenta de Administração do Quiosque
Name[pt_BR]=Ferramenta de administração Kiosh
Name[sr]=Kiosk, администраторски алат
Name[sr@Latn]=Kiosk, administratorski alat
Name[sv]=Kiosk-administreringsverktyg
Name[ta]=Kiosk மேலாளர கருவி
Name[tr]=Kiosk Yönetim Aracı
Name[xx]=xxKiosk Admin Toolxx

X-KDE-AuthorizeAction=user/root
X-DCOP-ServiceType=None
Categories=Qt;KDE;System;
