[Desktop Entry]
X-AppInstall-Package=klavaro
X-AppInstall-Popcon=15
X-AppInstall-Section=main

Name=Klavaro Touch Typing Tutor
Name[fr]=Tuteur de frappe au clavier Klavaro
Name[pt]=Tutorial de digitação Klavaro
Name[ru]=Самоучитель "слепой" печати Klavaro
Name[eo]=Kurso pri tajpado Klavaro
Comment=Learn to type correctly
Comment[fr]=Apprenez à taper correctement
Comment[pt]=Aprenda a digitar corretamente
Comment[ru]=Научитесь безошибочно печатать
Comment[eo]=Lernu tajpi korekte
Exec=klavaro
Icon=_usr_share_klavaro_pixmaps_logo
Terminal=false
Type=Application
Categories=GTK;Education;
StartupNotify=true
