[Desktop Entry]
X-AppInstall-Package=klibido
X-AppInstall-Popcon=132
X-AppInstall-Section=main

Encoding=UTF-8
Name=Klibido
Exec=klibido
Icon=klibido
Type=Application
Comment=KDE nntp (usenet) binaries grabber
Categories=Qt;KDE;Network
GenericName=Usenet Binaries Downloader
MimeType=application/x-nzb;

