[Desktop Entry]
X-AppInstall-Package=kmchart
X-AppInstall-Popcon=1
X-AppInstall-Section=main

Name=PCP Charts
Comment=Strip Chart tool for plotting Performance Co-Pilot metrics.
Exec=kmchart
Icon=kmchart.png
Terminal=false
Type=Application
Categories=System;Utility;
X-AppInstall-Architectures=amd64,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
