[Desktop Entry]
X-AppInstall-Package=kmidimon
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Encoding=UTF-8
Name=kmidimon
Exec=kmidimon
Icon=kmidimon
Type=Application
Comment=ALSA Sequencer MIDI monitor
