[Desktop Entry]
X-AppInstall-Package=knetdockapp
X-AppInstall-Popcon=87
X-AppInstall-Section=main

Encoding=UTF-8
Name=KNetDockApp
Exec=knetdockapp 
Icon=knetdockapp
Type=Application
Comment=A KDE network interface monitor
GenericName=Network Monitor
Terminal=false
Categories=Qt;KDE;Network;
