[Desktop Entry]
X-AppInstall-Package=knetload
X-AppInstall-Popcon=274
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Exec=knetload
Icon=knetload
DocPath=knetload/index.html
Terminal=false
Name=KNetLoad Network Monitor
Name[et]=Võrgumonitor KNetLoad
Name[it]=Monitor di rete KNetLoad
Name[pt]=KNetLoad Monitor da Rede
Name[pt_BR]=Monitor de Rede KNetLoad
Name[sv]=Nätverksövervakare
Name[ta]=KNetLoad வலைப்பின்னல் திரை
GenericName=Network Monitor
GenericName[ar]=مراقب الشبكة
GenericName[ca]=Monitor de la xarxa
GenericName[cs]=Monitor sítě
GenericName[da]=Netværksovervågning
GenericName[de]=Netzwerkmonitor
GenericName[el]=Επόπτης δικτύου
GenericName[es]=Supervisor de la red
GenericName[et]=Võrgumonitor
GenericName[fr]=Écran de contrôle réseau
GenericName[hi]=नेटवर्क मॉनीटर
GenericName[hu]=Hálózatmonitor
GenericName[it]=Monitor di rete
GenericName[nl]=Netwerkmonitor
GenericName[pt]=Monitor da Rede
GenericName[pt_BR]=Monitor de Rede
GenericName[ru]=Сетевой мониторинг
GenericName[sr]=Програм за надгледање мреже
GenericName[sr@Latn]=Програм за надгледање мреже
GenericName[sv]=Nätverksövervakare
GenericName[ta]=திரையங்கப் பிணையம்
GenericName[tr]=Ağ Ekranı
GenericName[xx]=xxNetwork Monitorxx
GenericName[zh_CN]=网络监视器
Comment=A small network usage meter for Kicker
Comment[ar]= مقياس استهلاك الشبكة لشريط كيدي
Comment[ca]=Un petit mesurador d'ús a la xarxa per a Kicker
Comment[cs]=Měřič využití sítě pro panel
Comment[da]=En lille måler af netværksbrug for Kicker
Comment[de]=Kleines Kontrollleisten-Programm zur Netzwerkbenutzung
Comment[el]=Ένας μικρός μετρητής χρήσης του δικτύου για το Kicker
Comment[es]=Un pequeño medidor del uso de la red para el Kicker
Comment[et]=Väike võrgukoormuse jälgija Kickeril
Comment[fi]=Pieni verkonkäyttömonitori paneelille
Comment[fr]=Un petit écran de contrôle pour Kicker de l'utilisation réseau
Comment[hi]=किकर हेतु एक छोटा सा, नेटवर्क उपयोग मीटर
Comment[hu]=A panelbe helyezhető kijelző a hálózati forgalom figyeléséhez
Comment[it]=Un piccolo misuratore di uso di rete per Kicker
Comment[nl]=Een kleine netwerkmeter voor Kicker
Comment[pt]=Um pequeno medidor da utilização da rede para o Kicker
Comment[pt_BR]=Um pequeno medidor de uso da Rede para o painel
Comment[sr]=Мали мерач искоришћења мреже за kicker
Comment[sr@Latn]=Мали мерач искоришћења мреже за kicker
Comment[sv]=Liten mätare av nätverksbelastning för Kicker
Comment[ta]=கீக்கரின் சிறியப் பிணைய மீட்டர் அளவு
Comment[tr]=Kicker için küçük bir ağ kullanımı ölçücüsü
Comment[xx]=xxA small network usage meter for Kickerxx
Comment[zh_CN]=Kicker 的小型网络使用负载计
Categories=Application;Applet;Network;Monitor;KDE;
