[Desktop Entry]
X-AppInstall-Package=koffice
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Type=Application
Name=KOffice
Name[sv]=Koffice
Name[tr]=Koffice
DocPath=koffice/index.html
Categories=Qt;KDE;Office;
