[Desktop Entry]
X-AppInstall-Package=kommando
X-AppInstall-Popcon=126
X-AppInstall-Section=main

Encoding=UTF-8
Name=Kommando
Exec=kcmshell kommando
Icon=kommando
Type=Application
Categories=Qt;KDE;X-KDE-settings-desktop;
Keywords=Kommando,wheel,menu
X-KDE-ModuleType=Library
X-KDE-Library=kommando
X-KDE-ParentApp=kcontrol
Comment=A WheelMenu for KDE
Comment[de]=Ein Kreismenü für KDE

