[Desktop Entry]
X-AppInstall-Package=kompose
X-AppInstall-Popcon=135
X-AppInstall-Section=main

Comment=An Apple Exposé like Taskmanager
Comment[en_US]=An Apple Exposé like Taskmanager
Encoding=UTF-8
Exec=kompose
GenericName=Window Switcher
GenericName[en_US]=
Icon=kompose
MimeType=
Name=Komposé
Name[en_US]=Komposé
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
