[Desktop Entry]
X-AppInstall-Package=kq
X-AppInstall-Popcon=37
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Version=1.4
Name=KQ
Exec=kq
Terminal=false
Categories=Game;AdventureGame;RolePlaying;
Comment=RPG like Final Fantasy 1
Comment[pt]=RPG (Estilo Final Fantasy 1)
Icon=_usr_share_games_kq_kq
