# KDE Config File  
[Desktop Entry]
X-AppInstall-Package=ksimus
X-AppInstall-Popcon=84
X-AppInstall-Section=main

Version=1.0
Type=Application
Exec=ksimus -caption "%c" %i %u
Icon=ksimus
X-DocPath=ksimus/index.html
Comment=Simulate and visualize digital electronic circuits
Terminal=false
Name=KSimus Circuit Simulator
MimeType=application/x-ksimus;
X-InitialPreference=100
Categories=Electronics;Education;KDE;Science;
