[Desktop Entry]
X-AppInstall-Package=ksubtile
X-AppInstall-Popcon=101
X-AppInstall-Section=main

Encoding=UTF-8
Name=KSubtile
MimeType=application/srt
DocPath=ksubtile/index.html
Comment=A video subtitle editor for KDE
GenericName=KDE Subtitle Editor
Exec=ksubtile %i %m -caption "%c"
Icon=ksubtile
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;;
