[Desktop Entry]
X-AppInstall-Package=ksystemlog
X-AppInstall-Popcon=131
X-AppInstall-Section=main

Encoding=UTF-8
Name=KSystemLog
Name[sv]=Ksystemlogg
Name[tr]=KSistemGünlüğü
Exec=kdesu ksystemlog %i %m -caption "%c"
Icon=ksystemlog
Type=Application
DocPath=ksystemlog/ksystemlog.html
Comment=System log viewer tool
Comment[da]=Værktøj til at vise systemlog
Comment[el]=Εργαλείο προβολής καταγραφής συστήματος
Comment[et]=Süsteemse logi vaatamise tööriist
Comment[fr]=Outil de visualisation des journaux système
Comment[it]=Strumento di visualizzazione registro di sistema (log)
Comment[pa]=ਸਿਸਟਮ ਲਾਗ ਦਰਸ਼ਕ ਸੰਦ
Comment[pt]=Ferramenta de visualização dos registos do sistema
Comment[sv]=Visningsverktyg för systemlogg
Comment[tr]=Sistem günlük görüntüleyicisi aracı
Terminal=0
GenericName=System Logs Viewer
GenericName[da]=System logfremviser
GenericName[et]=Süsteemse logi näitaja
GenericName[it]=Visualizzatore registri di sistema
GenericName[pt]=Visualizador de Registos do Sistema
GenericName[sv]=Systemloggvisning
GenericName[tr]=Sistem Günlükleri Görüntüleyicisi
Categories=Qt;KDE;Application;System;
