[Desktop Entry]
X-AppInstall-Package=kvpnc
X-AppInstall-Popcon=217
X-AppInstall-Section=main

Encoding=UTF-8
Comment=GUI for various VPN clients
Comment[es]=Interfaces para varios clientes VPN
Comment[de]=Oberfläche für VPN-Clients
Comment[pt]=Interface para vários clientes de VPNs
Comment[sv]=Grafiskt gränssnitt för diverse VPN-klienter
Comment[xx]=xxGUI for various VPN clientsxx

Name=KVpnc
Name[xx]=xxKVpncxx

GenericName=VPN Client GUI
GenericName[es]=Interfaz del cliente VPN
GenericName[de]=VPN-Client-GUI
GenericName[pt]=GUI de Cliente de VPN
GenericName[sv]=Grafiskt gränssnitt för VPN-klienter
GenericName[xx]=xxVPN Client GUIxx

Categories=Network;RemoteAccess;KDE;Qt
Exec=su-to-root -X -c /usr/bin/kvpnc
X-KDE-SubstituteUID=true
Icon=kvpnc
Type=Application

Version=0.9.4

