[Desktop Entry]
X-AppInstall-Package=kxneur
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Encoding=UTF-8
Name=KXNeur
Exec=kxneur
Type=Application
Icon=kxneur
Comment=KDE X Neural Keyboard Switcher
Comment[ru]=X Neural переключатель клавиатуры KDE
Comment[uk]=X Neural перемикач клавiатури KDE
Terminal=0
Categories=Qt;KDE;Utility;Accessibility
