[Desktop Entry]
X-AppInstall-Package=linphone
X-AppInstall-Popcon=82
X-AppInstall-Section=main

Name=Linphone
Comment=Linphone is a web-phone
Comment[fr]=Linphone est un web-phone.
Comment[de]=Linphone ist ein web-phone.
Type=Application
Exec=linphone
Icon=linphone2.png
Terminal=false
Categories=Network;Telephony;
