[Desktop Entry]
X-AppInstall-Package=linuxtrade
X-AppInstall-Popcon=11
X-AppInstall-Section=main

Name=LinuxTrade
Comment=Streaming Stock Quotes and Information
Exec=gnome-terminal --geometry=160x61+0+0 -x linuxtrade
Icon=linuxtrade_icon.png
Terminal=0
Type=Application
Categories=Application;Office;Business;Financial;Investments;X-Red-Hat-Base;
