[Desktop Entry]
X-AppInstall-Package=lopster
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Name=Lopster
Comment=Napster Client
Exec=lopster
Icon=lopster.xpm
Terminal=false
Type=Application
Categories=Network;FileTransfer;GTK;
