[Desktop Entry]
X-AppInstall-Package=lordsawar
X-AppInstall-Popcon=14
X-AppInstall-Section=main


Name=LordsAWar Army Editor
GenericName=lordsawar-army-editor
Comment=Create or Edit LordsAWar armies

Type=Application
Exec=lordsawar-army-editor
Icon=lordsawar
Terminal=false
Categories=Game;StrategyGame;

