[Desktop Entry]
X-AppInstall-Package=lordsawar
X-AppInstall-Popcon=14
X-AppInstall-Section=main

Name=LordsAWar Tile Editor
GenericName=lordsawar-tile-editor
Comment=Create or Edit LordsAWar tilesets
Type=Application
Exec=lordsawar-tile-editor
Icon=lordsawar
Terminal=false
Categories=Game;StrategyGame;
