[Desktop Entry]
X-AppInstall-Package=lshw-gtk
X-AppInstall-Popcon=132
X-AppInstall-Section=main

Type=Application
Name=Hardware Lister
Comment=Provides information on hardware
Comment[ca]=Proveeix informació sobre el maquinari
Icon=lshw-gtk
Exec=lshw-gtk
Terminal=false
Categories=Settings;HardwareSettings;
