[Desktop Entry]
X-AppInstall-Package=lxrandr
X-AppInstall-Popcon=6
X-AppInstall-Section=main

Name=Monitor Settings
Name[zh_TW]=螢幕設定
Comment=Change screen resolution and configure external monitors
Comment[zh_TW]=變更螢幕解析度以及設定外接顯示器
Exec=lxrandr
Encoding=UTF-8
Type=Applications
Categories=Settings;
X-AppInstall-Architectures=amd64,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
