[Desktop Entry]
X-AppInstall-Package=mail-notification
X-AppInstall-Popcon=680
X-AppInstall-Section=main

Encoding=UTF-8
Name=Mail Notification
Name[bg]=Известяване за поща
Name[ca]=Avisador de correu
Name[cs]=Upozornění na poštu
Name[de]=E-Mail-Eingangsüberwachung
Name[fr]=Avertisseur de courrier
Name[ja]=メール着信通知
Name[nl]=E-mail notificatie
Name[pl]=Zawiadomienie pocztowe
Name[pt]=Notificação de Correio
Name[pt_BR]=Notificação de Correio
Name[ru]=Иконка входящих сообщений
Name[sr]=Дојава поште
Name[sr@Latn]=Dojava pošte
Name[sv]=E-postnotifieraren
Icon=mail-notification
Comment=Configure Mail Notification
Comment[bg]=Настройване на известяването за поща
Comment[ca]=Configura l'avisador de correu
Comment[cs]=Nastavit upozornění na poštu
Comment[de]=Die E-Mail-Eingangsüberwachung einstellen
Comment[fr]=Configurer l'avertisseur de courrier
Comment[ja]=メール着信通知の設定
Comment[nl]=E-mail notificatie instellen
Comment[pl]=Konfiguracja zawiadomienia pocztowego
Comment[pt]=Configurar Notificação de Correio
Comment[pt_BR]=Configurar Notificação de Correio
Comment[sr]=Подеси дојаву приспећа поште
Comment[sr@Latn]=Podesi dojavu prispeća pošte
Comment[sv]=Konfigurera E-postnotifieraren
Type=Application
Categories=GNOME;Email;Settings;
Exec=mail-notification --display-properties
Terminal=false
StartupNotify=true
X-GNOME-DocPath=mail-notification/mail-notification.xml
