[Desktop Entry]
X-AppInstall-Package=manedit
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Manedit
Comment=Manpages Editor
Exec=manedit
Terminal=false
Type=Application
Categories=Development;
Icon=manedit
