[Desktop Entry]
X-AppInstall-Package=manedit
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Manview
Comment=Manpages Viewer
Exec=manview
Terminal=false
Type=Application
Categories=Development;
Icon=manview
