[Desktop Entry]
X-AppInstall-Package=medit
X-AppInstall-Popcon=22
X-AppInstall-Section=main

Encoding=UTF-8
Name=medit
Name[cs]=medit
Comment=Text editor
Comment[cs]=Textový editor
Exec=medit %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=medit.png
Categories=Utility;TextEditor;
