[Desktop Entry]
X-AppInstall-Package=mergeant
X-AppInstall-Popcon=134
X-AppInstall-Section=main

Encoding=UTF-8
Name=Mergeant Database Administration
Name[ca]=Administració de base de dades Mergeant
Name[cs]=Správa databáze Mergeant
Name[de]=Mergeant Datenbankadministration
Name[dz]=མཉམ་བསྡོམས་འབད་ནིའི་གནད་སྡུད་གཞི་རྟེན་བདག་སྐྱོང་
Name[en_CA]=Mergeant Database Administration
Name[en_GB]=Mergeant Database Administration
Name[es]=Administración de Base de Datos Mergeant
Name[eu]=Mergeant datu-baseen administrazioa
Name[fi]=Mergeant - tietokantojen hallintaohjelma
Name[fr]=Administrateur de bases de données Mergeant
Name[gl]=Administración de Base de Datos Mergeant
Name[hr]=Administracija Mergeant bazom
Name[it]=Amministrazione di database Mergeant
Name[ja]=Mergeant データベース管理
Name[lt]=Mergeant duomenų bazių valdymas
Name[lv]=Mergeant datu bāzes administrēšana
Name[ms]=Pentadbiran Pangkalan Data Mergeant
Name[nb]=Mergeant databaseadministrasjon
Name[ne]=डाटाबेस प्रशासन मर्जिन्ट गर्नुहोस्
Name[nl]=Mergeant database Administratie
Name[pl]=Administracja bazą danych Mergeant
Name[pt]=Administração de Base de Dados Mergeant
Name[pt_BR]=Administração de Bancos de Dados Mergeant
Name[ru]=Администрирование баз данных Megeant
Name[sl]=Urejanje Mergeant podatkovne zbirke
Name[sr]=Администрација базе ујединитеља
Name[sr@Latn]=Administracija baze ujedinitelja
Name[sv]=Mergeant-databasadministration
Name[uk]=Адміністрування баз даних Mergeant
Name[vi]=Quản trị cơ sở dữ liệu Mergeant
Name[zh_CN]=Mergeant 数据库管理
Name[zh_HK]=Mergeant 資料庫管理
Name[zh_TW]=Mergeant 資料庫管理
GenericName=Database Administration
Comment=Maintain and query a SQL database
Comment[ca]=Manteniu i consulteu una base de dades d'SQL
Comment[cs]=Spravovat databázi SQL a klást na ni dotazy
Comment[de]=Eine SQL-Datenbank warten und abfragen
Comment[dz]=ཨེསི་ཀིའུ་ཨེལ་གནད་སྡུད་གཞི་རྟེན་ཅིག་ རྒྱུན་སྐྱོང་དང་འདྲི་དཔྱད་འབད་
Comment[en_CA]=Maintain and query a SQL database
Comment[en_GB]=Maintain and query a SQL database
Comment[es]=Mantener y hacer una petición a una base de datos SQL
Comment[eu]=Mantendu eta kontsultatu SQL datu-base bat
Comment[fi]=Ylläpidä ja käytä SQL-tietokantoja
Comment[fr]=Maintient et interroge une base de données SQL
Comment[gl]=Manteña e consulte unha base de datos SQL
Comment[hr]=Održavanje i upiti SQL baze podataka
Comment[it]=Gestisce e interroga un database SQL
Comment[ja]=SQL データベースの保守と問合せ
Comment[lt]=Valdo SQL duomenų bazę bei vykdo užklausas
Comment[lv]=Uzturēt un pieprasīt SQL datu bāzi 
Comment[ms]=Senggara dan pertanyaan pangkalan data SQL
Comment[nb]=Vedlikehold og kjør spørringer på en SQL-database
Comment[ne]=SQL डाटाबेस निर्माण र क्वेरि गर्नुहोस्
Comment[nl]=Beheer en stuur queries naar een SQL database
Comment[pl]=Utrzymywanie i odpytywanie bazy danych SQL
Comment[pt]=Mantenha e pesquise uma base de dados SQL
Comment[pt_BR]=Mantenha e consulte um banco de dados SQL
Comment[ru]=Управление и запросы для баз данных SQL
Comment[sl]=Upravljanje in poizvedovanje SQL podatkovne zbirke
Comment[sr]=Одржавање и упити за SQL базу
Comment[sr@Latn]=Održavanje i upiti za SQL bazu
Comment[sv]=Underhåll och fråga en SQL-databas
Comment[uk]=Керування та запити до баз даних SQL
Comment[vi]=Bảo trì và truy vấn cơ sở dữ liệu SQL
Comment[zh_CN]=维护和查询 SQL 数据库
Comment[zh_HK]=維護和查詢 SQL 資料庫
Comment[zh_TW]=維護和查詢 SQL 資料庫
Exec=mergeant
Icon=mergeant
Terminal=false
Type=Application
Categories=Office;Database;
StartupNotify=true
MimeType=application/x-mergeant;
