[Desktop Entry]
X-AppInstall-Package=mhwaveedit
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Type=Application
Name=mhWaveEdit
GenericName=
Comment=
Icon=mhwaveedit.xpm
Exec=/usr/bin/mhwaveedit
Terminal=false
Categories=AudioVideo;Audio;AudioVideoEditing;Recorder;
