[Desktop Entry]
X-AppInstall-Package=mixxx
X-AppInstall-Popcon=66
X-AppInstall-Section=main

Name=Mixxx
Comment=a digital disc jockey interface
Exec=mixxx
Terminal=0
Icon=/usr/share/pixmaps/mixxx.xpm
Type=Application
Categories=Application;AudioVideo;
