[Desktop Entry]
X-AppInstall-Package=mldonkey-gui
X-AppInstall-Popcon=139
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Type=Application
Name=MLDonkey
Comment=Graphical frontend for MLDonkey
Comment[fr]=Interface graphique pour MLDonkey
Exec=mlgui
Icon=mlgui.xpm
Categories=Network;FileTransfer;GTK;
