[Desktop Entry]
X-AppInstall-Package=mm3d
X-AppInstall-Popcon=27
X-AppInstall-Section=main

Encoding=UTF-8
Name=Misfit Model 3D
Comment=Create and edit 3D models and animations
Exec=mm3d
Terminal=false
Type=Application
Categories=Application;Graphics;
