[Desktop Entry]
X-AppInstall-Package=kde-guidance
X-AppInstall-Popcon=924
X-AppInstall-Section=main

Name=Disk & Filesystems
Name[da]=Disk & Filesystemer
Name[el]=Δίσκοι & συστήματα αρχείων
Name[es]=Disco y sistemas de archivos
Name[et]=Ketas ja failisüsteemid
Name[it]=Dischi e filesystem
Name[ja]=ディスクとファイルシステム
Name[nl]=Schijven en bestandssystemen
Name[pt]=Disco & Sistemas de Ficheiros
Name[pt_BR]=Disco & Sistemas de Arquivos
Name[sr]=Диск и фајл-системи
Name[sr@Latn]=Disk i fajl-sistemi
Name[sv]=Disk- och filsystem
Name[xx]=xxDisk & Filesystemsxx
name[en_GB]=Disk & Filesystems
Comment=Disk & Filesystem Configuration
Comment[el]=Ρυθμίσεις δίσκων & συστημάτων αρχείων
Comment[es]=Configuración del disco y sistema de archivos
Comment[et]=Ketta ja failisüsteemi seadistamine
Comment[it]=Configurazione di dischi e filesystem
Comment[ja]=ディスクとファイルシステムの設定
Comment[nl]=Schijven en bestandssystemen instellen
Comment[pt]=Configuração do Disco & Sistema de Ficheiros
Comment[pt_BR]=Configuração de Disco e Sistemas de Arquivos
Comment[sr]=Подешавање диска и фајл-система
Comment[sr@Latn]=Podešavanje diska i fajl-sistema
Comment[sv]=Disk och filsysteminitierníng
Comment[xx]=xxDisk & Filesystem Configurationxx
Icon=disksfilesystems.png
Encoding=UTF-8
X-KDE-ModuleType=Library
X-KDE-Library=mountconfig
X-KDE-FactoryName=mountconfig
X-KDE-RootOnly=true
Type=Application
Exec=kcmshell System/mountconfig
Categories=Settings;Qt;KDE;X-KDE-settings-system;
GenericName=Mount Point Editor
GenericName[el]=Επεξεργαστής σημείων προσάρτησης
GenericName[es]=Editor del punto de montaje
GenericName[et]=Ühenduspunktide redaktor
GenericName[it]=Editor dei punti di montaggio
GenericName[ja]=マウントポイントエディタ
GenericName[nl]=Aankoppelpunten bewerken
GenericName[pt]=Editor de Pontos de Montagem
GenericName[pt_BR]=Editor de Pontos de Montagem
GenericName[sr]=Уређивач тачки монтирања
GenericName[sr@Latn]=Uređivač tački montiranja
GenericName[sv]=Editor för monteringspunkter
GenericName[xx]=xxMount Point Editorxx
