[Desktop Entry]
X-AppInstall-Package=mousepad
X-AppInstall-Popcon=1046
X-AppInstall-Section=main

Version=1.0
Type=Application
Encoding=UTF-8
Name=Mousepad
Name[ar]=ماوس باد
Name[be]=Mousepad
Name[ca]=Mousepad
Name[cs]=Mousepad
Name[cy]=Mousepad
Name[de]=Mousepad
Name[dz]=མཱའུསི་གདན། 
Name[el]=Mousepad
Name[en_GB]=Mousepad
Name[eo]=Muskuseno
Name[et]=Mousepad
Name[eu]=Mousepad
Name[fi]=Mousepad
Name[fr]=Mousepad
Name[he]=Mousepad
Name[hu]=Mousepad
Name[it]=Mousepad
Name[ja]=マウスパッド
Name[ka]=Mousepad
Name[ko]=마우스패드
Name[lt]=Mousepad
Name[lv]=Pelespaliknis
Name[mk]=Mousepad
Name[nb_NO]=Mousepad
Name[nl]=Muispad
Name[pa]=ਮਾਊਂਸਪੈਡ
Name[pl]=Mousepad
Name[pt_BR]=Mousepad
Name[pt_PT]=Mousepad
Name[ro]=Mousepad
Name[ru]=Mousepad
Name[sk]=Mousepad
Name[sq]=Mousepad
Name[th]=Mousepad
Name[tr]=Mouse altlığı
Name[uk]=Mousepad
Name[zh_CN]=Mousepad
Name[zh_TW]=Mousepad
Comment=Simple text editor
Comment[ar]=محرر نصوص بسيط
Comment[be]=Просты тэкставы рэдактар
Comment[ca]=Editor de text simple
Comment[cs]=Jednoduchý textový editor
Comment[cy]=Golygydd testun syml
Comment[de]=Einfacher Texteditor
Comment[dz]=ཚིག་ཡིག་འཇམ་སམ་ཞུན་དག་པ།
Comment[el]=Απλός επεξεργαστής κειμένου
Comment[en_GB]=Simple text editor
Comment[eo]=Simpla tekstomodifilo
Comment[es]=Editor de texto simple
Comment[et]=Lihtne teksti redaktor
Comment[eu]=Testu Editore Sinplea
Comment[fi]=Yksinkertainen tekstieditori
Comment[fr]=Un simple éditeur de texte
Comment[he]=עורך טקסט פשוט
Comment[hu]=Egyszerű szövegszerkesztő
Comment[it]=Semplice editor di testo
Comment[ja]=シンプルなテキストエディター
Comment[ka]=მარტივი ტექსტური რედაქტორი
Comment[ko]=단순한 문서 편집기
Comment[lt]=Paprastas teksto redaktorius
Comment[lv]=Vienkāršs teksta redaktors
Comment[mk]=Едноставен уредувач на текст
Comment[nb_NO]=Enkel tekstbehandler
Comment[nl]=Simpele tekstverwerker
Comment[pa]=ਸਧਾਰਨ ਟੈਕਸਟ ਐਡੀਟਰ
Comment[pl]=Prosty edytor tekstu
Comment[pt_BR]=Editor de texto simples
Comment[pt_PT]=Editor de texto simples
Comment[ro]=Un editor simplu de text
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sq]=Përpunues i thjeshtë tekstesh
Comment[sv]=Enkel textredigerare
Comment[ta]=எளிமையான உரை பதிப்பான்
Comment[th]=โปรแกรมแก้ไขข้อความเรียบง่าย
Comment[tr]=Basit metin editörü
Comment[uk]=Простий текстовий редактор
Comment[zh_CN]=简易文字编辑器
Comment[zh_TW]=簡易文字編輯器
GenericName=Text Editor
GenericName[ar]=محرر نصوص
GenericName[be]=Тэкставы рэдактар
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[de]=Texteditor
GenericName[dz]=ཚིག་ཡིག་ཞུན་དག་པ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Tekstomodifilo
GenericName[et]=Teksti redaktor
GenericName[eu]=Testu Editorea
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[he]=עורך טקסט
GenericName[hu]=Szövegszerkesztő
GenericName[it]=editor di testo
GenericName[ja]=テキストエディター
GenericName[ka]=ტექსტური რედაქტორი
GenericName[ko]=문서 편집기
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta Redaktors
GenericName[mk]=Уредувач на текст
GenericName[nb_NO]=Tekstbehandler
GenericName[nl]=Tekstverwerker
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor Tekstu
GenericName[pt_BR]=Editor de Texto
GenericName[pt_PT]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sq]=Përpunues Tekstesh
GenericName[sv]=Textredigerare
GenericName[th]=ตัวแก้ไขข้อความ
GenericName[tr]=Metin Editörü
GenericName[uk]=Текстовий редактор
GenericName[zh_CN]=文字编辑器
GenericName[zh_TW]=文字編輯器
Exec=mousepad %f
Icon=mousepad
StartupNotify=true
Terminal=false
MimeType=text/plain
Categories=Application;Utility;TextEditor;GTK;
