[Desktop Entry]
X-AppInstall-Package=mtink
X-AppInstall-Popcon=60
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Type=Application
Name=Mtinkc
GenericName=Status monitor chooser for printer
GenericName[fr]=Sélecteur de moniteur d'état d'imprimante
Comment=Status monitor for Epson inkjet printers
Comment[fr]=Sélecteur moniteur d'état pour les imprimante jets d'encre Epson
Exec=mtinkc
Categories=Motif;Utility;HardwareSettings;Monitor;
