[Desktop Entry]
X-AppInstall-Package=mu-cade
X-AppInstall-Popcon=9
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Mu-cade
GenericName=
Comment=Kenta Cho's Mu-cade
Icon=mu-cade.xpm
Exec=/usr/games/mu-cade
Terminal=false
Categories=Game;ArcadeGame;
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390
