
[Desktop Entry]
X-AppInstall-Package=system-config-printer
X-AppInstall-Popcon=1142
X-AppInstall-Section=main

Encoding=UTF-8
Name=Default Printer
Name[as]=অৱিকল্পিত মুদ্ৰক
Name[bg]=По подразбиране
Name[ca]=Impressora predeterminada
Name[cs]=Výchozí tiskárna
Name[de]=Standarddrucker
Name[el]=Προεπιλεγμένος εκτυπωτή
Name[en_GB]=Default Printer
Name[es]=Impresora predeterminada
Name[eu]=Lehenetsitako inprimagailua
Name[fi]=Oletustulostin
Name[fr]=Imprimante par défaut
Name[gu]=મૂળભૂત પ્રિન્ટર
Name[hr]=Zadani pisač
Name[hu]=Alapértelmezett nyomtató
Name[it]=Stampante predefinita
Name[ja]=デフォルトのプリンター
Name[ko]=기본 프린터
Name[nb]=Forvalgt skriver
Name[nl]=Standaardprinter
Name[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ ମୂଦ୍ରଣୀ
Name[pl]=Domyślna drukarka
Name[pt]=Impressora Predefinida
Name[pt_BR]=Impressora Padrão
Name[ru]=Принтер по умолчанию
Name[sk]=Predvolená tlačiareň
Name[sr]=Подразумевани штампач
Name[sr@latin]=Podrazumevani štampač
Name[tr]=Öntanımlı Yazıcı
Name[vi]=Máy in mặc định
Name[zh_CN]=默认打印机
Comment=Select default printer
Comment[as]=অৱিকল্পিত
Comment[bg]=Избор на принтер по подразбиране
Comment[ca]=Seleccioneu la impressora predeterminada
Comment[cs]=Vyberte výchozí tiskárnu
Comment[de]=Standarddrucker wählen
Comment[el]=Επιλογή προεπιλεγμένου εκτυπωτή
Comment[en_GB]=Select default printer
Comment[es]=Elegir impresora predeterminada
Comment[eu]=Hautatu inprimagailu lehenetsia
Comment[fi]=Valitse oletustulostin
Comment[fr]=Sélectionner l'imprimante par défaut
Comment[gu]=મૂળભૂત પ્રિન્ટર પસંદ કરો
Comment[hr]=Odaberi zadani pisač
Comment[hu]=Alapértelmezett nyomtató kiválasztása
Comment[it]=Seleziona stampante predefinita
Comment[ja]=デフォルトのプリンターを選択する
Comment[ko]=기본 프린터 선택
Comment[nb]=Velg forvalgt skriver
Comment[nl]=Selecteer standaardprinter
Comment[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ ମୂଦ୍ରଣୀ ଚୟନ କରନ୍ତୁ
Comment[pl]=Wybór domyślnej drukarki
Comment[pt]=Seleccionar a impressora predefinida
Comment[pt_BR]=Selecionar a impressora padrão
Comment[ru]=Выбор принтера по умолчанию
Comment[sk]=Nastaviť ako predvolenú
Comment[sr]=Изабери подразумевани штампач
Comment[sr@latin]=Izaberi podrazumevani štampač
Comment[tr]=Öntanımlı yazıcıyı seçin
Comment[vi]=Chọn máy in mặc định
Comment[zh_CN]=选择默认打印机
Exec=my-default-printer
Terminal=false
Type=Application
Icon=printer
X-Desktop-File-Install-Version=0.15
Categories=GTK;HardwareSettings;Settings;
