[Desktop Entry]
X-AppInstall-Package=mysql-admin
X-AppInstall-Popcon=754
X-AppInstall-Section=main

Name=MySQL Administrator
Comment=MySQL Administration Tool
Exec=/usr/bin/mysql-admin
Terminal=false
Type=Application
Icon=/usr/share/mysql-gui-tools/MySQLIcon_Admin_48x48.png
Categories=GTK;Database;Development;Application
