[Desktop Entry]
X-AppInstall-Package=nautilus-actions
X-AppInstall-Popcon=687
X-AppInstall-Section=main

Version=1.0
Type=Application
Encoding=UTF-8
Name=Nautilus Actions Configuration
Name[ar]=إعداد أعمال ناوتلس
Name[bg]=Настройки на действията на Nautilus
Name[bn]=নটিলাস অ্যাকশন কনফিগারেশন
Name[ca]=Configuració de les accions del Nautilus
Name[cs]=Konfigurace akcí programu Nautilus
Name[da]=Konfiguration af Nautilus-handlinger
Name[de]=Nautilus-Aktionen
Name[dz]=ནའུ་ཊི་ལཱསི་གི་བྱ་བ་རིམ་སྒྲིག་འབད།
Name[en_CA]=Nautilus Actions Configuration
Name[en_GB]=Nautilus Actions Configuration
Name[es]=Configuración de acciones de Nautilus
Name[fi]=Nautilus-lisätoimintojen asetukset
Name[fr]=Configuration des actions de Nautilus
Name[gl]=Configuración de Accións de Nautilus
Name[gu]=નોટિલસ ક્રિયાઓ રૂપરેખાંકન
Name[he]=הגדרת פעולות נאוטליוס
Name[ja]=Nautilus アクションの設定
Name[lt]=Nautilus veiksmų konfigūravimas
Name[lv]=Nautilus darbību konfigurācija
Name[mk]=Конфигурација на дејствата
Name[nb]=Nautilus handlinger
Name[nl]=Nautilus acties-configuratie
Name[pa]=ਨਟੀਲਸ ਕਾਰਵਾਈ ਸੰਰਚਨਾ
Name[pt_BR]=Configuração do Nautilus Actions
Name[ru]=Настройка действий в Nautilus
Name[sv]=Konfiguration av Nautilus-åtgärder
Name[th]=การกำหนดค่าปฏิบัติการของ Nautilus
Name[vi]=Cấu hình hành động Nautilus
Name[zh_CN]=Nautilus 动作配置
Name[zh_HK]=Nautilus 動作組態
Name[zh_TW]=Nautilus 動作組態
Comment=Add items to the Nautilus popup menu
Comment[ar]=أضف عناصر لقائمة ناوتلس المنبثقة
Comment[bg]=Добавяне на елементи към контекстното меню на Nautilus
Comment[bn]=নটিলাসের পপ-আপ মেনুতে নতুন এন্ট্রি যোগ করো
Comment[ca]=Afegeix elements al menú emergent del Nautilus
Comment[cs]=Přidat položky do vyskakovacího menu programu Nautilus
Comment[da]=Tilføj menupunkter til Nautilus pop op-menuen
Comment[de]=Aktionen zum Kontextmenü von Nautilus hinzufügen
Comment[dz]=ནའུ་ཊི་ལཱསི་པོཔ་ཨཔ་དཀར་ཆག་ལུ་རྣམ་གྲངས་ཁ་སྐོང་རྐྱབ།
Comment[en_CA]=Add items to the Nautilus popup menu
Comment[en_GB]=Add items to the Nautilus popup menu
Comment[es]=Añadir elementos al menú contextual de Nautilus
Comment[fi]=Lisää kohtia Nautiluksen ponnahdusvalikkoon
Comment[fr]=Ajoute des entrées au menu contextuel de Nautilus
Comment[gl]=Engadir elementos ao menú emerxente de Nautilus
Comment[gu]=નોટિલસ પોપઅપ મેનુમાં વસ્તુઓ ઉમેરો
Comment[he]=הוספת פריטים לתפריט הקופץ של נאוטילוס
Comment[ja]=アイテムを Nautilus のポップアップ・メニューに追加します
Comment[lt]=Įtraukti naujus punktus į Nautilus meniu
Comment[lv]=Pievienot sadaļas Nautilus izlecošai izvēlnei
Comment[mk]=Додајте предмети во скокачкото мени
Comment[nb]=Legg til oppføringer i kontekstmenyen i Nautilus
Comment[nl]=Items toevoegen aan het popup-menu van Nautilus
Comment[pa]=ਨਟੀਲਸ ਪਾਪਅੱਪ ਮੇਨੂ ਵਿੱਚ ਇਕਾਈਆਂ ਜੋੜੋ
Comment[pt_BR]=Adicione itens ao menu de contexto do Nautilus
Comment[ru]=Добавьте новые действия во всплывающее меню Nautilus
Comment[sv]=Lägg till poster till Nautilus popupmeny
Comment[th]=เพิ่มรายการเข้าในเมนูผุดขึ้นของ Nautilus
Comment[vi]=Thêm mục vào trình đơn bật lên Nautilus
Comment[zh_CN]=在 Nautilus 弹出菜单中添加项目
Comment[zh_HK]=加入項目到 Nautilus 彈出式選單
Comment[zh_TW]=加入項目到 Nautilus 彈出式選單
Exec=nautilus-actions-config
Icon=nautilus-actions
Categories=Application;FileManager;DesktopSettings;Settings;AdvancedSettings;
