[Desktop Entry]
X-AppInstall-Package=nekobee
X-AppInstall-Popcon=6
X-AppInstall-Section=main

Encoding=UTF-8
Name=Nekobee
Comment=Simple single-oscillator DSSI plugin
Exec=jack-dssi-host nekobee.so
Icon=
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;Audio;Synthesis;
