[Desktop Entry]
X-AppInstall-Package=nemiver
X-AppInstall-Popcon=28
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Nemiver Debugger
Name[ca]=Depurador Nemiver
Name[dz]=ནིཨི་མི་བར་ རྐྱན་སེལ་འབད་མི་
Name[en_GB]=Nemiver Debugger
Name[es]=Depurador Nemiver
Name[fi]=Nemiver-vianjäljitin
Name[fr]=Dévermineur Nemiver
Name[ja]=Nemiver デバッガ
Name[sv]=Felsökaren Nemiver
GenericName=C/C++ Debugger
GenericName[ca]=Depurador de C/C++
GenericName[dz]=སི/སི++ ཌི་བགག་ཇར་
GenericName[en_GB]=C/C++ Debugger
GenericName[es]=Depurador de C/C++
GenericName[fi]=C ja C++ -vianjäljitin
GenericName[fr]=Dévermineur C/C++
GenericName[ja]=Ｃ/Ｃ++ デバッガ
GenericName[sv]=C/C++-felsökare
Comment=Debug Applications
Comment[ca]=Depureu aplicacions
Comment[de]=Anwendungen debuggen
Comment[dz]=གློག་རིམ་ཚུ་རྐྱེན་སེལ་འབད་
Comment[en_GB]=Debug Applications
Comment[es]=Depurar aplicaciones
Comment[fi]=Jäljitä vikoja ohjelmista
Comment[fr]=Déverminer des applications
Comment[ja]=デバッグ・ツールです
Comment[nl]=Toepassingen debuggen
Comment[sv]=Felsök program
Icon=nemiver
Exec=nemiver
Categories=GNOME;Development;
StartupNotify=true
