[Desktop Entry]
X-AppInstall-Package=neutrino
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Name=Neutrino
GenericName=Nomad Jukebox Manager
Comment=Upload, Download, and Edit tracks on your Creative Nomad / D.A.P Jukebox
Icon=_usr_share_neutrino_pixmaps_rhythmbox-library
Exec=neutrino
Terminal=0
Type=Application
Categories=Application;AudioVideo;
StartupNotify=true
