[Desktop Entry]
X-AppInstall-Package=neverputt
X-AppInstall-Popcon=51
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Neverputt
Comment=A 3D mini golf game
Comment[ca]=Un joc de minigolf en 3D
Comment[fr]=Un jeu de minigolf en 3D
Icon=neverputt-128.xpm
Exec=neverputt
Terminal=false
Categories=Game;ArcadeGame;
