[Desktop Entry]
X-AppInstall-Package=neverball
X-AppInstall-Popcon=218
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Neverball
Comment=A 3D arcade game with a ball
Comment[ca]=Un joc arcade 3D amb una bola
Comment[fr]=Un jeu d'arcade 3D avec une balle
Icon=neverball-128.xpm
Exec=neverball
Terminal=false
Categories=Game;ArcadeGame;
