[Desktop Entry]
X-AppInstall-Package=network-manager-gnome
X-AppInstall-Popcon=16367
X-AppInstall-Section=main

Encoding=UTF-8
Name=Network Manager Editor
Comment=Edits the wireless networks used in Network Manager
Icon=nm-device-wireless
Exec=nm-editor
Terminal=false
Type=Application
Categories=Settings;X-GNOME-NetworkSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=general
