[Desktop Entry]
X-AppInstall-Package=network-manager-pptp-gnome
X-AppInstall-Popcon=35
X-AppInstall-Section=main

Encoding=UTF-8
Name=VPN Connection Manager (PPP generic)
Name[ar]=مدير اتصالات VPN (PPP عام)
Name[be@latin]=Kiraŭnik spałučeńniaŭ VPN (prosty PPP)
Name[bg]=Управление на връзките към ВЧМ (за PPP)
Name[ca]=Gestor de connexions VPN (genèric PPP)
Name[da]=VPN-forbindelser (generisk PPP)
Name[de]=VPN-Verbindungsmanager (PPP generic)
Name[el]=Διαχείριση σύνδεσης VPN  (PPP generic)
Name[en_GB]=VPN Connection Manager (PPP generic)
Name[es]=Gestor de conexiones VPN (PPP genérico)
Name[fi]=VPN-yhteyksien hallinta (yleinen PPP)
Name[gl]=Xestor de conexión VPN (PPP xenérico)
Name[hu]=VPN kapcsolatkezelő (általános PPP)
Name[it]=Gestore connessioni VPN (PPP generico)
Name[ja]=VPN 接続マネージャ (PPP 一般)
Name[ka]=VPN შეერთებების მენეჯერი (PPP generic)
Name[mk]=Менаџер на ВМП врски (PPP Generic)
Name[nb]=Håndtering av VPN-tilkobling (vanlig PPP)
Name[pa]=VPN ਕੁਨੈਕਸ਼ਨ ਮੈਨੇਜਰ (PPP ਸਧਾਰਨ)
Name[pl]=Połączenia VPN (PPP)
Name[pt]=Gestor de Ligações VPN (genérico PPP)
Name[pt_BR]=Gerenciador de Conexões VPN (PPP genérico)
Name[sv]=VPN-anslutningshanterare (allmän PPP)
Name[th]=เครื่องมือจัดการการเชื่อมต่อ VPN (ทั่วไป)
Name[uk]=Менеджер з'єднань VPN (загальний PPP)
Name[vi]=Bộ Quản Lý Kết Nối VPN (PPP giống loài)
Name[zh_CN]=VPN 连接管理器(通用 PPP)
GenericName=VPN Connection Manager (PPP generic)
GenericName[ar]=مدير اتصالات VPN (PPP عام)
GenericName[be@latin]=Kiraŭnik spałučeńniaŭ VPN (prosty PPP)
GenericName[bg]=Управление на връзките към ВЧМ (за PPP)
GenericName[ca]=Gestor de connexions VPN (genèric PPP)
GenericName[da]=VPN-forbindelser (generisk PPP)
GenericName[de]=VPN-Verbindungsmanager (PPP generic)
GenericName[el]=Διαχείριση σύνδεσης VPN  (PPP generic)
GenericName[en_GB]=VPN Connection Manager (PPP generic)
GenericName[es]=Gestor de conexiones VPN (PPP genérico)
GenericName[fi]=VPN-yhteyksien hallinta (yleinen PPP)
GenericName[gl]=Xestor de conexión VPN (PPP xenérico)
GenericName[hu]=VPN kapcsolatkezelő (általános PPP)
GenericName[it]=Gestore connessioni VPN (PPP generico)
GenericName[ja]=VPN 接続マネージャ (PPP 一般)
GenericName[ka]=VPN შეერთებების მენეჯერი (PPP generic)
GenericName[mk]=Менаџер на ВМП врски (PPP Generic)
GenericName[nb]=Håndtering av VPN-tilkobling (vanlig PPP)
GenericName[pa]=VPN ਕੁਨੈਕਸ਼ਨ ਮੈਨੇਜਰ (PPP ਸਧਾਰਨ)
GenericName[pl]=Połączenia VPN (PPP)
GenericName[pt]=Gestor de Ligações VPN (genérico PPP)
GenericName[pt_BR]=Gerenciador de Conexões VPN (PPP genérico)
GenericName[sv]=VPN-anslutningshanterare (allmän PPP)
GenericName[th]=เครื่องมือจัดการการเชื่อมต่อ VPN (ทั่วไป)
GenericName[uk]=Менеджер з'єднань VPN (загальний PPP)
GenericName[vi]=Bộ Quản Lý Kết Nối VPN (PPP giống loài)
GenericName[zh_CN]=VPN 连接管理器(通用 PPP)
Comment=Add, Remove, and Edit VPN Connections
Comment[ar]=أضِف، احذِف، و حرِّر اتصالات VPN
Comment[be@latin]=Dadaje, vydalaje i redahuje spałučeńni VPN
Comment[bg]=Добавяне, изтриване и редактиране на връзки към ВЧМ
Comment[ca]=Afegiu, suprimiu, i editeu connexions VPN
Comment[da]=Tilføj, fjern og redigér VPN-forbindelser
Comment[de]=Hinzufügen, Entfernen und Bearbeiten von VPN-Verbindungen
Comment[el]=Προσθήκη, απομάκρυνση και επεξεργασία συνδέσεων VPN
Comment[en_GB]=Add, Remove, and Edit VPN Connections
Comment[es]=Añadir, eliminar y editar conexiones VPN
Comment[fi]=Lisää, poista tai muokkaa VPN-yhteyksiä
Comment[gl]=Engadir, eliminar, e editar conexión VPN
Comment[hu]=VPN kapcsolatok hozzáadása, szerkesztése és eltávolítása
Comment[it]=Aggiungi, rimuovi e modifica connessioni VPN
Comment[ja]=VPN 接続を追加、削除または編集
Comment[ka]=VPN-შეერთების დამატება, მოხსნა და რედაქტირება
Comment[mk]=Додавајте, отстранувајте и уредувајте ВПМ врски
Comment[nb]=Legg til, fjern og regiger VPN-tilkoblinger
Comment[pa]=VPN ਕੁਨੈਕਸ਼ਨ ਸ਼ਾਮਿਲ, ਹਟਾਓ ਜਾਂ ਸੋਧ
Comment[pl]=Dodawanie, usuwanie i edycja połączeń VPN
Comment[pt]=Adicionar, Remover e Editar Ligações VPN
Comment[pt_BR]=Adicione, remova e edite conexões VPN
Comment[sv]=Lägg till, ta bort och redigera VPN-anslutningar
Comment[th]=เพิ่ม, ลบ และแก้ไข การเชื่อมต่อ VPN
Comment[uk]=Додавання, видалення та редагування з'єднань типу VPN
Comment[vi]=Thêm, Bỏ và Sửa kết nối VPN
Comment[zh_CN]=添加、删除及编辑 VPN 连接
Exec=nm-vpn-properties --import-service org.freedesktop.NetworkManager.ppp_starter --import-file %f
Icon=gnome-mime-application-x-pptp-settings
Terminal=false
Type=Application
DocPath=
Categories=GNOME;Application;Network;
MimeType=application/x-ppp-settings
