[Desktop Entry]
X-AppInstall-Package=nxtvepg
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Encoding=UTF-8
Name=nxtvepg
Comment=Lookup the Electronic Program Guide (EPG) from your TV Card
Exec=nxtvepg
Terminal=false
Type=Application
Categories=Application;AudioVideo;Player;
StartupNotify=true
