[Desktop Entry]
X-AppInstall-Package=oolite
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Oolite
GenericName=
Comment=A space simulation game
Comment[ro_RO]=Un joc de simulare în spaţiu
Icon=/usr/share/pixmaps/oolite-logo1.png
Exec=/usr/games/oolite
Terminal=false
Categories=Game;Simulation;
