[Desktop Entry]
X-AppInstall-Package=openoffice.org
X-AppInstall-Popcon=558
X-AppInstall-Section=main

Encoding=UTF-8
Name=OpenOffice.org
Comment=OpenOffice.org
Exec=oofromtemplate %U
Icon=ooo-template.png
Terminal=false
Type=Application
Categories=Office
StartupNotify=true
