[Desktop Entry]
X-AppInstall-Package=openoffice.org
X-AppInstall-Popcon=558
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Office;System;
MimeType=application/vnd.openofficeorg.extension
Exec=unopkg gui %U 
Name=OpenOffice.org Extension Manager
Comment=Extension Manager
