[Desktop Entry]
X-AppInstall-Package=openvas-client
X-AppInstall-Popcon=18
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Categories=Application;Security;System
Icon=OpenVAS.xpm
Exec=OpenVAS-Client
Terminal=false
Name=OpenVAS-Client
Name[de]=OpenVAS-Client
Name[es]=OpenVAS-Cliente
Comment=GTK+-2 Client for OpenVAS and Nessus Security Scanners
Comment[de]=GTK+-2 Klient für OpenVAS und Nessus Sicherheits-Scanner
Comment[es]=Cliente GTK+-2 para los analizadores de seguridad OpenVAS y Nessus
