[Desktop Entry]
X-AppInstall-Package=opencity
X-AppInstall-Popcon=66
X-AppInstall-Section=main

Name=OpenCity
Comment=a 3D city simulator game
Comment[fr]=Un jeu de simulation de ville en 3D
Exec=/usr/games/opencity
Icon=opencity
Terminal=false
Type=Application
Categories=Game;StrategyGame;
