[Desktop Entry]
X-AppInstall-Package=passage
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Type=Application
Name=Passage
Icon=passage
Exec=passage
Terminal=false
Categories=Game;AdventureGame;
