[Desktop Entry]
X-AppInstall-Package=paw++
X-AppInstall-Popcon=41
X-AppInstall-Section=main

Version=1.0
Name=Paw++ (Physics Analysis Workstation)
GenericName=Experimental Data Analysis
Comment=Analyze and graphically present experimental data
Comment[en_GB]=Analyse and graphically present experimental data
Type=Application
Exec=paw++
Icon=paw
Categories=Physics;Science;Graphics;
