[Desktop Entry]
X-AppInstall-Package=peless
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Encoding=UTF-8
Name=peless
Exec=/usr/bin/peless
Icon=_usr_share_pixmaps_peless
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;Utility;
