[Desktop Entry]
X-AppInstall-Package=pessulus
X-AppInstall-Popcon=17
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Name=Lockdown Editor
Name[ar]=محرر القفل
Name[as]=আবদ্ধকৰণৰ সম্পাদক
Name[be]=Рэдактар палітыкі блякаваньня
Name[be@latin]=Redaktar blakavańnia
Name[bg]=Редактор на забраните
Name[bn]=লকডাউন এডিটর
Name[bn_IN]=লক-ডাউন সম্পাদন ব্যবস্থা
Name[ca]=Editor de restriccions
Name[cs]=Editor pro omezení práv uživatele
Name[cy]=Golygydd Cloi
Name[da]=Nedlåsningsredigering
Name[de]=Benutzerschnittstelle
Name[dz]=ལོཀ་ཌའུན་ཞུན་དགཔ།
Name[el]=Επεξεργαστής κλειδώματος
Name[en_CA]=Lockdown Editor
Name[en_GB]=Lockdown Editor
Name[es]=Editor de restricciones
Name[et]=Lukustuste redaktor
Name[eu]=Blokeatu editorea
Name[fi]=Estoasetusten muokkain
Name[fr]=Éditeur de verrous
Name[gl]=Editor de bloqueos
Name[gu]=લોકડાઉન સંપાદક
Name[he]=עורך הנעילות
Name[hi]=संपादक लॉकडाउन करें
Name[hu]=Zárolásszerkesztő
Name[ja]=ロックダウン・エディタ
Name[ka]=დაბლოკვის რედაქტორი
Name[ko]=잠금 편집기
Name[lt]=Užrakinimo redaktorius
Name[lv]=Noslēgšanas redaktors
Name[mk]=Уредувач за заклучување
Name[ml]=ലോക്ക്ഡൌണ്‍ എഡിറ്റര്‍
Name[mn]=Засварлагчийн түгжээг буулгах
Name[nb]=Sikring av systemet
Name[ne]=लक डाउन सम्पादक
Name[nl]=Lockdown-editor
Name[or]=ଲୁକ-ଡାଉନ ସମ୍ପାଦକ
Name[pa]=ਤਾਲਾਬੰਦ ਸੰਪਾਦਕ
Name[pl]=Edytor blokowania
Name[pt]=Editor de Restrições
Name[pt_BR]=Editor de Travas
Name[ru]=Редактор изоляции
Name[sk]=Editor uzamykania
Name[sl]=Urejevalec zaklepanja
Name[sq]=Editori i bllokimeve
Name[sr]=Уређивач ограничења
Name[sr@Latn]=Uređivač ograničenja
Name[sv]=Nedlåsningsredigerare
Name[ta]=பூட்டு தொகுப்பி
Name[te]=తాళం వేయు విధానాన్ని సరిచూచునది
Name[th]=เครื่องมือแก้ไขการจำกัดการใช้งาน
Name[tr]=Kilitleme Düzenleyicisi
Name[uk]=Редактор ізоляції
Name[vi]=Bộ hiệu chỉnh khoá cứng
Name[zh_CN]=锁闭编辑器
Name[zh_HK]=鎖定編輯器
Name[zh_TW]=鎖定編輯器
Comment=Configure the lockdown policy
Comment[ar]=إعداد سياسة القفل
Comment[as]=আবদ্ধকৰণৰ নীতি বিন্যাস কৰক
Comment[be]=Наладка палітыкі блякаваньня
Comment[be@latin]=Kanfihuruje blakavańnie funkcyjaŭ systemy
Comment[bg]=Настройване на забраните
Comment[bn]=লক-ডাউনের নিয়মনীতি কনফিগার করুন
Comment[bn_IN]=লক-ডাউনের নিয়মনীতি কনফিগার করুন
Comment[ca]=Configureu la política de restriccions
Comment[cs]=Konfigurace omezení práv
Comment[cy]=Cyflunio'r polisi cloi i lawr
Comment[da]=Konfigurér nedlukningspolitikken
Comment[de]=Die Benutzerschnittstelle konfigurieren
Comment[dz]=ལོཀ་ཌའུན་སྲིད་བྱུས་ རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση της πολιτικής κλειδώματος
Comment[en_CA]=Configure the lockdown policy
Comment[en_GB]=Configure the lockdown policy
Comment[es]=Configure las normas de restricciones
Comment[et]=Lukustusreeglite määramine
Comment[eu]=Konfiguratu blokeo-politika
Comment[fi]=Määrittele lukitussäännöt
Comment[fr]=Configure la politique de verrouillage
Comment[gl]=Configurar a política de bloqueos
Comment[gu]=તાળુંમારો નીતિ રૂપરેખાંકિત કરો
Comment[he]=הגדר את מדיניות הנעילות
Comment[hi]=लॉकडाउन नीति विन्यस्त करें
Comment[hu]=A zárolási irányelv beállítása
Comment[ja]=ロックダウンポリシーを設定
Comment[ka]=დაბლოკვის პარამეტრების გამართვა
Comment[ko]=잠금 정책을 설정합니다
Comment[lt]=Užrakinimų politikos konfigūracija
Comment[lv]=Konfigurēt noslēgšanas noteikumus
Comment[mk]=Конфигурирај политика за заклучување
Comment[ml]=ലോക്ക്ഡൌണ്‍ നയം ക്രമീകരിയ്ക്കുക
Comment[mn]=Үндсэн дүрмийн түгжээний буулгалтыг тохируулах
Comment[nb]=Konfigurer regler for sikring av systemet
Comment[ne]=लक डाउन निति कन्फिगर गर्नुहोस्
Comment[nl]=Het lockdown-beleid configureren
Comment[or]=ଲୁକ-ଡାଉନ ନୀତିକୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਤਾਲਾਬੰਦ ਨੀਤੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruje blokowanie funkcji systemu
Comment[pt]=Configurar a política de trancar
Comment[pt_BR]=Configure a política de travas
Comment[ru]=Настройка политики изоляции
Comment[sk]=Konfigurovať politiku uzamykania
Comment[sl]=Nastavi pravila zaklepanja
Comment[sq]=Konfiguro politikën e bllokimeve
Comment[sv]=Konfigurera nedlåsningspolicyn
Comment[ta]=பூட்டும் கொள்கையை கட்டமை
Comment[te]= తాళం వేయు విధానాన్ని  రూపకరణ చేయు
Comment[th]=ตั้งค่านโยบายการจำกัดการใช้งาน
Comment[tr]=Kilitleme kurallarını yapılandır
Comment[uk]=Налаштування політики ізоляції
Comment[vi]=Cấu hình chính sách khoá cứng
Comment[zh_CN]=配置锁闭策略
Comment[zh_HK]=設定鎖定政策
Comment[zh_TW]=設定鎖定政策
Icon=stock_lock
Exec=pessulus
StartupNotify=true
Terminal=false
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=pessulus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.16.3
Categories=GNOME;GTK;System;Settings;
OnlyShowIn=GNOME;
