[Desktop Entry]
X-AppInstall-Package=pgadmin3
X-AppInstall-Popcon=344
X-AppInstall-Section=main

Name=pgAdmin III
Comment=PostgreSQL Administration Tool
Exec=pgadmin3
Terminal=false
Type=Application
Icon=pgadmin3
Categories=GNOME;Application;Database;System;Development
MimeType=text/html
DocPath=/usr/share/pgadmin3/docs/en_US/index.html
