[Desktop Entry]
X-AppInstall-Package=plopfolio.app
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Name=PlopFolio
Name[bg]=PlopFolio
Comment=Personal dashboard for GNUstep
Comment[bg]=Преглед на емисии новини и събития
Type=Application
Version=0.94
Categories=Network;News;
Icon=_usr_lib_GNUstep_Applications_PlopFolio.app_Resources_PlopFolio
Exec=PlopFolio
