[Desktop Entry]
X-AppInstall-Package=policykit-gnome
X-AppInstall-Popcon=37
X-AppInstall-Section=main

Encoding=UTF-8
Name=Authorizations
Name[el]=Εξουσιοδοτήσεις
Name[en_GB]=Authorisations
Name[es]=Autorizaciones
Name[fi]=Valtuutukset
Name[fr]=Autorisations
Name[he]=הרשאות
Name[hu]=Jogosultságok
Name[ja]=権限の管理
Name[sv]=Behörigheter
Comment=Configure authorizations
Comment[el]=Ρύθμιση εξουσιοδοτήσεων
Comment[en_GB]=Configure authorisations
Comment[es]=Configure sus autorizaciones
Comment[fi]=Aseta valtuutukset
Comment[fr]=Configurer les autorisations
Comment[hu]=Jogosultságok beállítása
Comment[ja]=いろいろな権限を設定します
Comment[sv]=Konfigurera behörigheter
Icon=gtk-dialog-authentication
Exec=polkit-gnome-authorization
Terminal=false
Type=Application
Categories=GNOME;System;Settings;
OnlyShowIn=GNOME;
StartupNotify=true
