# Modified by Filippo Rusconi from the desktop file by Phil Bull.

[Desktop Entry]
X-AppInstall-Package=polyxmass-bin
X-AppInstall-Popcon=13
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=GNU polyxmass
GenericName=Mass Spectrometry Software Suite
GenericName[fr]=Suite Logicielle de Spectrométrie de Masse 
Comment=Simulation/analysis of (bio-) polymer mass spectrometric data
Comment[fr]=Simulation/analyse de données de spectrométrie de masse de (bio-polymères)
Type=Application
Exec=polyxmass
Icon=_usr_share_pixmaps_polyxmass-icon-32x32
Categories=Education;Science;Chemistry;Biology
