[Desktop Entry]
X-AppInstall-Package=postr
X-AppInstall-Popcon=32
X-AppInstall-Section=main

Encoding=UTF-8
Name=Flickr Uploader
Comment=Upload photos to Flickr
Icon=postr
Exec=postr %F
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
