[Desktop Entry]
X-AppInstall-Package=pppoeconf
X-AppInstall-Popcon=502
X-AppInstall-Section=main

Comment[de]=ADSL/PPPOE konfigurieren
Comment[fr]=Configurer l'ADSL/PPPOE
Comment=Configure ADSL/PPPOE
Exec=/usr/sbin/pppoeconf
Terminal=true
Icon=_usr_share_pixmaps_pppoeconf
Name[de]=ADSL/PPPOE-Konfiguration
Name[fr]=Configuration ADSL/PPPOE
Name=ADSL/PPPOE configuration
Type=Application
Categories=System;
Encoding=UTF-8
