[Desktop Entry]
X-AppInstall-Package=prboom
X-AppInstall-Popcon=95
X-AppInstall-Section=main

Name=PrBoom
GenericName=Clone of the legendary first person shooter Doom
Comment=First Person Shooter Game
Exec=prboom
Terminal=false
Type=Application
Categories=Game
