[Desktop Entry]
X-AppInstall-Package=projectl
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Type=Application
Name=ProjectL
GenericName=
Comment=HIZ's ProjectL
Icon=projectl.xpm
Exec=/usr/games/projectl
Terminal=false
Categories=Game;ArcadeGame;
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,mips,mipsel,powerpc,s390
