[Desktop Entry]
X-AppInstall-Package=bouml
X-AppInstall-Popcon=68
X-AppInstall-Section=main

Encoding=UTF-8
Name=Project Synchro
Type=Application
Comment=Bouml project's files synchronization
Exec=/usr/lib/bouml/projectSynchro
Icon=projectSynchro
Categories=Development;
