[Desktop Entry]
X-AppInstall-Package=bouml
X-AppInstall-Popcon=68
X-AppInstall-Section=main

Encoding=UTF-8
Name=Project Control
Type=Application
Comment=Bouml project's files control
Exec=/usr/lib/bouml/projectControl
Icon=projectControl
Categories=Development;
