[Desktop Entry]
X-AppInstall-Package=puredata
X-AppInstall-Popcon=69
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=PureData
GenericName=
Comment=
Icon=puredata.xpm
Exec=/usr/bin/pd
Terminal=false
Categories=AudioVideo;Audio;
