[Desktop Entry]
X-AppInstall-Package=pysol
X-AppInstall-Popcon=146
X-AppInstall-Section=main

Version=1.0
Type=Application
Encoding=UTF-8
Name=PySol
GenericName=Python Solitaire Suite
Comment=Collection of Solitaire style games
Exec=pysol
Path=/usr/games
Terminal=false
Categories=CardGame;
