[Desktop Entry]
X-AppInstall-Package=python2.4
X-AppInstall-Popcon=7642
X-AppInstall-Section=main

Name=Python (v2.4)
Comment=Python Interpreter (v2.4)
Exec=/usr/bin/python2.4
Icon=_usr_share_pixmaps_python2.4
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
