[Desktop Entry]
X-AppInstall-Package=qa-assistant
X-AppInstall-Popcon=18
X-AppInstall-Section=main

Encoding=UTF-8
Name=QA Assistant
GenericName=Quality Assurance CheckList
Comment=Quality Assurance Checklist
Exec=qa-assistant
Terminal=false
Type=Application
Icon=qa-icon.png
StartupNotify=true
Categories=GNOME;Application;Utility;Development;
