[Desktop Entry]
X-AppInstall-Package=qdacco
X-AppInstall-Popcon=8
X-AppInstall-Section=main

Type=Application
Name=Qdacco dictionary
Name[ca]=Diccionari qdacco
GenericName=Catalan - English Dictionary
GenericName[ca]=Diccionari català - anglès
Comment=Search words in an catalan - english dictionary
Comment[ca]=Cerca paraules en un diccionari català - anglès
Icon=_usr_share_qdacco_qdacco
Exec=qdacco
Terminal=false
Categories=Utility;Dictionary;
