[Desktop Entry]
X-AppInstall-Package=qgo
X-AppInstall-Popcon=153
X-AppInstall-Section=main

Encoding=UTF-8
Exec=qgo
Name=qgo
GenericName=Go (board game)
GenericName[fr]=Jeu de go
Type=Application
Terminal=false
Icon=Bowl
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
