[Desktop Entry]
X-AppInstall-Package=qink
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Name=QInk
Exec=qink
Icon=qink
Type=Application
Terminal=false
Comment=QInk ink level monitor
Categories=Qt;Utility
