[Desktop Entry]
X-AppInstall-Package=qsynth
X-AppInstall-Popcon=93
X-AppInstall-Section=main

Encoding=UTF-8

Name=QSynth
GenericName=
Comment=Software Synth
Icon=_usr_share_pixmaps_qsynth

Type=Application
Categories=Application;AudioVideo;Audio;

Exec=qsynth
Terminal=false
