[Desktop Entry]
X-AppInstall-Package=qtractor
X-AppInstall-Popcon=18
X-AppInstall-Section=main

Name=Qtractor
Comment=Qtractor is an Audio/MIDI multi-track sequencer application
Exec=/usr/bin/qtractor
Icon=_usr_share_pixmaps_qtractor
Categories=Applications;Multimedia;AudioVideo;MIDI;JACK;ALSA;Qt;
Terminal=false
Type=Application
