[Desktop Entry]
X-AppInstall-Package=quicklist
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Encoding=UTF-8
Name=QuickList
Name[de]=QuickList
Name[eu]=QuickList
Name[fi]=QuickList
Name[fr]=QuickList
Name[nb]=QuickList
Name[sv]=QuickList
Name[vi]=QuickList
Comment=Make quick lists of things
Comment[de]=Eine schnelle Liste von Dingen anlegen
Comment[eu]=Elementuen zerrenda azkarrak egin
Comment[fi]=Tee nopeasti listoja asioista
Comment[fr]=Créer une liste
Comment[nb]=Lag kjapp liste over ting
Comment[sv]=Skapa snabblistor över saker
Comment[vi]=Tạo danh sách nhanh
Exec=quicklist
Icon=quicklist.xpm
Terminal=false
Categories=Office;Database;
MimeType=application/x-quicklist
Type=Application
StartupNotify=false
X-SingleInstance=false
