[Desktop Entry]
X-AppInstall-Package=quodlibet
X-AppInstall-Popcon=155
X-AppInstall-Section=main

Name=Quod Libet
GenericName=Music Player
GenericName[bg]=Слушане на музика
GenericName[de]=Musik-Player
GenericName[en_CA]=Music Player
GenericName[en_GB]=Music Player
GenericName[es]=Reproductor de música
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur
GenericName[gl]=Reprodutor de Som
GenericName[he]=נגן מוסיקה
GenericName[hu]=Zenelejátszó
GenericName[it]=Riproduttore
GenericName[ja]=ミュージックプレイヤー
GenericName[ko]=음악 재생기
GenericName[lt]=Muzikos grotuvas
GenericName[nb]=Musikkavspiller
GenericName[nl]=Muziek Speler
GenericName[pl]=Odtwarzacz Muzyczny
GenericName[pt]=Reprodutor
GenericName[ro]=Redare audio
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Hudobný prehrávač
GenericName[sv]=Musikspelare
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放器
Comment=Listen to, browse, or edit your audio collection
Comment[bg]=За слушане, разглеждане или редактиране на Вашата аудио колекция
Comment[de]=Anhören, Durchsuchen und Bearbeiten Ihrer Musik-Sammlung.
Comment[en_CA]=Listen to, browse, or edit your audio collection
Comment[en_GB]=Listen to, browse, or edit your audio collection
Comment[es]=Escucha, navega o edita tu colección musical
Comment[fi]=Kuuntele, selaa tai muokkaa äänikokoelmaasi
Comment[fr]=Ecouter, parcourir ou éditer votre collection musicale
Comment[gl]=Ouvir, navegar ou editar a sua colecçom musical
Comment[he]=האזן, עיין וערוך את אוסף המוסיקה שלך
Comment[hu]=Hallgasd, böngészd vagy szerkeszd zenéidet
Comment[it]=Ascolta, sfoglia o modifica la collezione audio
Comment[ja]=オーディオファイルの再生、内容表示、編集ができます
Comment[ko]=듣기, 검색 및 오디오 모음 편집
Comment[lt]=Klausykite, naršykite ar redaguokite savo muzikos kolekciją
Comment[nb]=Lytt til, utforsk eller rediger din musikksamling.
Comment[nl]=Luister naar, browse, of bewerk je audio verzameling
Comment[pl]=Słuchanie, przeglądanie lub edycja kolekcji muzycznej
Comment[pt]=Ouça, navegue, ou edite sua coleção de músicas
Comment[ro]=Ascultaţi, editaţi sau cautaţi în propria colecţie audio
Comment[ru]=Программа для прослушивания и управления аудио-коллекцией
Comment[sk]=Počúvajte, prehliadajte, alebo upravujte svoju hudobnú kolekciu
Comment[sv]=Lyssna på, bläddra i eller redigera din ljudsamling
Comment[zh_CN]=听、浏览或者编辑您的音频收藏
Comment[zh_TW]=收聽、瀏覽，或編輯您的音訊收藏
Exec=quodlibet
Terminal=false
Type=Application
Icon=quodlibet.png
Categories=AudioVideo;Audio;Player;GTK
