[Desktop Entry]
X-AppInstall-Package=rasmol
X-AppInstall-Popcon=182
X-AppInstall-Section=main

Version=1.0
Name=RasMol (classic version)
Name[en_GB]=RasMol (classic version)
GenericName=Molecular Graphics Visualization
GenericName[en_GB]=Molecular Graphics Visualisation
Comment=View macro-molecules and prepare publication-quality images of them
Type=Application
Exec=rasmol-classic
Icon=_usr_share_pixmaps_rasmol_32x32
Terminal=true
MimeType=chemical/x-pdb;
Categories=Science;Education;Biology;
