
[Desktop Entry]
X-AppInstall-Package=usermode
X-AppInstall-Popcon=31
X-AppInstall-Section=main

Encoding=UTF-8
Name=Disk Management
Comment=Mount and unmount filesystems
Exec=usermount
Terminal=false
Type=Application
Icon=disks
X-Desktop-File-Install-Version=0.14
Categories=System;Utility;
