[Desktop Entry]
X-AppInstall-Package=rezound
X-AppInstall-Popcon=93
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=ReZound
GenericName=
Comment=
Icon=rezound32.xpm
Exec=/usr/bin/rezound --audio-method=jack
Terminal=false
Categories=Application;AudioVideo;Audio;
