[Desktop Entry]
X-AppInstall-Package=rhinote
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Name=Rhinote
Comment=Virtual sticky-notes
Comment[it]=Note di testo virtuali
Exec=rhinote
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_rhinote
Categories=Utility;TextEditor;
