[Desktop Entry]
X-AppInstall-Package=ristretto
X-AppInstall-Popcon=50
X-AppInstall-Section=main

Version=1.0
Name=Ristretto
Name[nl]=Ristretto
Comment=Xfce Image viewer
Comment[bg]=Програма за преглед на изображения за XFCE
Comment[cs]=Prohlížeč obrázků pro Xfce
Comment[de]=Xfce-Bildbetrachter
Comment[el]=Εφαρμογή προβολής εικόνων για το xfce
Comment[en_GB]=Xfce Image viewer
Comment[fi]=Xfce:n kuvakatselin
Comment[fr]=Visualiseur d’Images pour Xfce
Comment[hu]=Xfce Kép-néző
Comment[it]=Visualizzatore di immagini XFCE
Comment[lv]=Xfce Attēlu Skatītājs
Comment[nb_NO]=Xfce  Bildefremviser
Comment[nl]=Xfce Afbeeldings weergave
Comment[pt_BR]=Visualizador de Imagens do Xfce
Comment[pt_PT]=Visualizador de Imagem Xfce
Comment[ru]=Xfce Просмотр изображений
Comment[tr]=Xfce Görüntü Gösterici
Comment[zh_CN]=Xfce图像查看器
GenericName=Image Viewer
GenericName[bg]=Програма за преглед на изображения
GenericName[cs]=Prohlížeč obrázků
GenericName[de]=Bildbetrachter
GenericName[el]=Εφαρμογή προβολής εικόνων
GenericName[en_GB]=Image Viewer
GenericName[fi]=Kuvakatselin
GenericName[fr]=Visualiseur d’Images
GenericName[hu]=Kép-néző
GenericName[it]=Visualizzatore di immagini
GenericName[lv]=Attēlu Skatītājs
GenericName[nb_NO]=Bildefremviser
GenericName[nl]=Afbeeldingsweergave
GenericName[pt_BR]=Visualizador de Imagens
GenericName[pt_PT]=Visualizador de Imagem
GenericName[ru]=Просмотр изображений
GenericName[tr]=Resim Gösterici
GenericName[zh_CN]=图像查看器
Exec=ristretto %F
Icon=ristretto
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Graphics;Viewer;
StartupNotify=true
MimeType=image/png;image/gif;image/jpeg;image/bmp;image/x-ico;image/x-pixmap;image/tiff;
