[Desktop Entry]
X-AppInstall-Package=alsa-tools-gui
X-AppInstall-Popcon=302
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Rmedigicontrol
GenericName=
Comment=Control RME Digi32 and RME Digi96 soundcards
Icon=
Exec=rmedigicontrol
Terminal=false
Categories=AudioVideo;Audio;Utility;
