[Desktop Entry]
X-AppInstall-Package=root-system-bin
X-AppInstall-Popcon=59
X-AppInstall-Section=main

Name=ROOT
GenericName=ROOT
Comment=ROOT's Object Oriented Technologies
Comment[dk]=ROOT er Object Orienteret Teknologi
Exec=/usr/bin/root %F
Icon=root-system-bin.png
Categories=Development;Science;Physics;NumericalAnalysis;
MimeType=application/x-root
Terminal=true
Type=Application
StartupNotify=false

X-AppInstall-Architectures=amd64,hppa,i386,ia64,mips,mipsel,powerpc
