[Desktop Entry]
X-AppInstall-Package=swscanner
X-AppInstall-Popcon=93
X-AppInstall-Section=main

Encoding=UTF-8
MimeType=application/x-swscanner
Name=SWScanner - as root
Name[es]=SWScanner - como root
Comment=Tool for searching, managing wireless networks, and wardriving.
Comment[es]=Herramienta para rastrear y analizar redes inalambricas, y realizar wardriving.
GenericName=Wireless Network Scanner
GenericName[es]=Rastreador de redes inalambricas
Exec=kdesu swscanner %f
Icon=swscanner
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;KDE;Network
X-DCOP-ServiceType=Multi
X-DCOP-ServiceName=swscanner
X-AppInstall-Architectures=amd64,alpha,arm,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
