[Desktop Entry]
X-AppInstall-Package=saods9
X-AppInstall-Popcon=27
X-AppInstall-Section=main

Version=1.0
Name=DS9 Astro-Image Viewer
GenericName=Image Viewer
GenericName[en_GB]=Image Viewer
Comment=View and analyze astronomical data
Comment[en_GB]=View and analyse astronomical data
Type=Application
Exec=ds9
Icon=ds9
Categories=Education;Science;Astronomy;
