[Desktop Entry]
X-AppInstall-Package=gnujump
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=SDLjump
Comment=Jump up the tower to survive
Exec=sdljump
Icon=sdljump.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame
