[Desktop Entry]
X-AppInstall-Package=serpentine
X-AppInstall-Popcon=382
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Serpentine Audio CD Creator
Comment=Create audio CDs from music files and playlists
Type=Application
Exec=serpentine -o %U
Icon=gnome-dev-cdrom-audio
Terminal=false
Categories=GNOME;GTK;AudioVideo;DiscBurning;
MimeType=audio/x-scpls;audio/x-mpegurl;
StartupNotify=true
