[Desktop Entry]
X-AppInstall-Package=kde-guidance
X-AppInstall-Popcon=924
X-AppInstall-Section=main

Name=System Services
Name[el]=Υπηρεσίες συστήματος
Name[es]=Servicios del sistema
Name[et]=Süsteemsed teenused
Name[it]=Servizi di sistema
Name[ja]=システムサービス
Name[nl]=Systeemdiensten
Name[pt]=Serviços do Sistema
Name[pt_BR]=Serviços do Sistema
Name[sr]=Системски сервиси
Name[sr@Latn]=Sistemski servisi
Name[sv]=Systemtjänster
Name[xx]=xxSystem Servicesxx
name[en_GB]=System Services
Comment=System Service Configuration
Comment[el]=Ρυθμίσεις υπηρεσιών συστήματος
Comment[es]=Configuración del servicio del sistema
Comment[et]=Süsteemi teenuste seadistamine
Comment[it]=Configurazione dei servizi di sistema
Comment[ja]=システムサービスの設定
Comment[nl]=Systeemdiensten instellen
Comment[pt]=Configuração dos Serviços do Sistema
Comment[pt_BR]=Configuração dos Serviços do Sistema
Comment[sr]=Подешавање системских сервиса
Comment[sr@Latn]=Podešavanje sistemskih servisa
Comment[sv]=Inställning av systemtjänster
Comment[xx]=xxSystem Service Configurationxx
Icon=daemons.png
Encoding=UTF-8
X-KDE-ModuleType=Library
X-KDE-Library=serviceconfig
X-KDE-FactoryName=serviceconfig
X-KDE-RootOnly=true
Type=Application
Exec=kcmshell System/serviceconfig
Categories=Settings;Qt;KDE;X-KDE-settings-system;
GenericName=Runlevel Editor
GenericName[el]=Επεξεργαστής επιπέδων εκτέλεσης
GenericName[es]=Editor del nivel de ejecución
GenericName[et]=Käitustasemete redaktor
GenericName[it]=Editor dei runlevel
GenericName[ja]=ランレベルエディタ
GenericName[nl]=Runlevel-bewerker
GenericName[pt]=Editor de Níveis de Execução
GenericName[pt_BR]=Editor de Níveis de Execução
GenericName[sr]=Уређивач радних нивоа
GenericName[sr@Latn]=Uređivač radnih nivoa
GenericName[sv]=Editor för körnivå
GenericName[xx]=xxRunlevel Editorxx
