[Desktop Entry]
X-AppInstall-Package=snowballz
X-AppInstall-Popcon=14
X-AppInstall-Section=main

Type=Application
Name=SnowballZ
GenericName=snowballz
Comment=Command your army of penguins
Icon=snowballz
Exec=snowballz
Terminal=false
Categories=Game;StrategyGame;
