[Desktop Entry]
X-AppInstall-Package=somaplayer
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Name=Soma Music Player
Name[ca]=Reproductor de música Somaplayer
Name[de]=Somaplayer Musik-Player
Name[el]=
Name[es]=Reproductor de música Somaplayer
Name[et]=Somaplayer muusikamängija
Name[eu]=
Name[fi]=Somaplayer musiikkisoitin
Name[fr]=Lecteur de musique Somaplayer
Name[gl]=
Name[ja]=Somaplayer ミュージック・プレイヤー
Name[ko]=Somaplayer 음악 연주기
Name[no]=Somaplayer musikkavspiller
Name[pl]=Odtwarzacz muzyczny Somaplayer
Name[pt_BR]=Reprodutor de Música Somaplayer
Name[sk]=
Name[sv]=Somaplayer musikspelare
Name[wa]=
Comment=Free music player.
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[et]=
Comment[eu]=
Comment[fi]=
Comment[fr]=
Comment[gl]=
Comment[ja]=
Comment[ko]=
Comment[no]=
Comment[pl]=
Comment[pt_BR]=
Comment[sk]=
Comment[sv]=
Comment[wa]=
Exec=somaplayer -g
Icon=/usr/share/icons/somaplayer_256.png
Terminal=0
Type=Application
DocPath=

