[Desktop Entry]
X-AppInstall-Package=soundkonverter
X-AppInstall-Popcon=110
X-AppInstall-Section=main

Categories=Qt;KDE;AudioVideo;AudioVideoEditing
Encoding=UTF-8
Name=soundKonverter
Exec=soundkonverter
Icon=soundkonverter
Type=Application
X-DCOP-ServiceType=Unique
Comment=An audio converter and CD ripper
Comment[de]=Ein Audiokonverter und CD Ripper
Comment[fr]=Convertisseur de fichiers audio
GenericName=Audio files converter and CD ripper
GenericName[de]=Audiodateien Konvertierer und CD Ripper
GenericName[fr]=Convertisseur Audio
Terminal=false
