[Desktop Entry]
X-AppInstall-Package=soundconverter
X-AppInstall-Popcon=256
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=No name
Name=Sound Converter
Name[cs]=Převaděč zvuků
Name[de]=Sound Converter
Name[es]=Conversor de Sonido
Name[fr]=Convertisseur Audio SoundConverter
Name[it]=Sound Converter - Convertitore Audio
Name[ru]=Аудиоконвертор
GenericName=Audio Format Converter
GenericName[cs]=Převaděč zvukových formátů
GenericName[de]=Audioformat Konverter
GenericName[es]=Conversor de Formatos de Audio
GenericName[fr]=Convertion de fichiers audio
GenericName[it]=Convertitore formati audio
GenericName[pl]=SoundConverter
GenericName[ru]=Аудиоконвертор
Comment=Convert audio files into other formats
Comment[cs]=Převeďte zvukové soubory do jiných formátů
Comment[de]=Konvertierung von Audiodateien in andere Formate
Comment[es]=Convertir archivos de audio a otros formatos
Comment[fr]=Convertit les fichiers audios vers d'autres formats
Comment[it]=Converti il file audio in un'altro formato
Comment[ru]=Позволяет конвертировать аудиофайлы в разные форматы
Icon=soundconverter
MimeType=application/x-ogg;application/ogg;audio/x-mp3;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;application/x-flac;audio/x-wav;
Exec=soundconverter %U
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;
GenericName[en_US]=
