[Desktop Entry]
X-AppInstall-Package=specimen
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Name=Specimen
GenericName=Specimen
Comment=Sound Sampler
Icon=specimen
Exec=specimen
Terminal=false
Categories=Application;AudioVideo;AudioVideoEditing;Music;
