[Desktop Entry]
X-AppInstall-Package=sqlitebrowser
X-AppInstall-Popcon=60
X-AppInstall-Section=main

Encoding=UTF-8
Name=SQLite database browser
Comment=GUI editor for SQLite databases
Exec=sqlitebrowser
Icon=sqlitebrowser.png
Terminal=false
Type=Application
Categories=Development;Database;Qt;
StartupNotify=false
MimeType=application/x-sqlite;
X-AppInstall-Architectures=amd64,arm,armel,hppa,i386,ia64,mips,powerpc,s390,sparc
