[Desktop Entry]
X-AppInstall-Package=startupmanager
X-AppInstall-Popcon=93
X-AppInstall-Section=main

Name=StartUp-Manager
Name[ca]=StartUp-Manager
Name[cs]=Správce spouštění
Name[de]=StartUp-Manager
Name[es]=Administrador de Arranque
Name[eu]=Abio-Kudeatzailea
Name[fa]=StartUp-Manager
Name[fr]=Gestionnaire de démarrage StartUp-Manager
Name[id]=Pengaturan-StartUp
Name[it]=StartUp-Manager
Name[ja]=StartUp-Manager
Name[ka]=ჩატვირთვის-მმართველი
Name[ko]=부팅메뉴 관리자
Name[ms]=Pengurus Mula
Name[nl]=Opstart-Manager
Name[pt_BR]=StartUp-Manager
Name[ru]=StartUp-Manager
Name[sv]=Uppstartshanterare
Name[zh_CN]=启动管理器
Name[zh_TW]=開機管理程式
Comment=Change settings for the bootloader and splash screen
Comment[ca]=Canvia esl paràmetres del carregador i de la pantalla del splash
Comment[cs]=Změnit nastavení zavaděče a splash obrazovky
Comment[de]=Einstellungen für das Bootmenü und den Splash-Screen ändern
Comment[es]=Cambiar la configuración del Cargador de arranque y la pantalla de inicio
Comment[eu]=Abio-kargatzailearen eta irudiaren ezarpènak aldatu
Comment[fa]=تغییر تنظیمات بارگذار بوت و تصویر بوت
Comment[fr]=Changer les paramètres pour le menu et le splash screen
Comment[id]=Ubah pengaturan untuk bootloader dan tampilan splash
Comment[it]=Cambia le impostazioni per il bootloader e splash screen
Comment[ja]=ブートローダやスプラッシュ画面の設定を変更します
Comment[ka]=ჩამტვირთისა და ფირნიშის პარამეტრების შეცვლა
Comment[ko]=부트로더 설정과 스플래시 화면을 바꿉니다
Comment[lt]=Keisti operacijų sistemų įkėliklio bei startavimo išvaizdos nustatymus
Comment[ms]=Ubah seting untuk pemuat boot dan skrin percikan
Comment[nl]=Verander instellingen voor het opstart- en splash scherm
Comment[pt_BR]=Alterar configurações do gerenciador de inicialização e da tela de splash
Comment[sv]=Ändra inställningar för starthanterare och startskärm
Comment[zh_CN]=修改启动加载器和闪屏的设置
Comment[zh_TW]=變更開機程式的開機畫面設定
Exec=/usr/sbin/startupmanager
Icon=_usr_share_startupmanager_startupmanager
OnlyShowIn=KDE;
X-KDE-SubstituteUID=true
Terminal=false
StartupNotify=false
Type=Application
Categories=System;
