[Desktop Entry]
X-AppInstall-Package=stepulator.app
X-AppInstall-Popcon=21
X-AppInstall-Section=main

Type=Application
Version=0.94
Categories=Calculator;Utility;
Name=Stepulator
Comment=
Exec=Stepulator
