[Desktop Entry]
X-AppInstall-Package=strigi-applet
X-AppInstall-Popcon=13
X-AppInstall-Section=main

Categories=Qt;KDE;Utility;Filesystem;
Comment=
Comment[xx]=xxxx
Encoding=UTF-8
Exec='kfmclient' exec strigi:/
GenericName=Desktop Search
GenericName[ar]=بحث على سطح المكتب
GenericName[bg]=Търсене върху работния плот
GenericName[br]=Klask ar vurev
GenericName[cs]=Vyhledávání v počítači
GenericName[da]=Desktopsøgning
GenericName[de]=Arbeitsbereich-Suche
GenericName[el]=Αναζήτηση στο σύστημα
GenericName[es]=Búsqueda de escritorio
GenericName[et]=Töölauaotsing
GenericName[fr]=Recherche du bureau
GenericName[ga]=Cuardach Deisce
GenericName[gl]=Procuras de Escritório
GenericName[ja]=デスクトップ検索
GenericName[nl]=Desktop-zoekprogramma
GenericName[pt]=Pesquisa no Ambiente de Trabalho
GenericName[pt_BR]=Pesquisa no Desktop
GenericName[sv]=Skrivbordssökning
GenericName[xx]=xxDesktop Searchxx
Icon=kfind
Name=Strigi
Name[xx]=xxStrigixx
StartupNotify=false
Terminal=false
Type=Application
