[Desktop Entry]
X-AppInstall-Package=sugar
X-AppInstall-Popcon=14
X-AppInstall-Section=main

Encoding=UTF-8
Name=Sugar Emulator
Exec=/usr/bin/sugar-emulator -x
Type=Application
