[Desktop Entry]
X-AppInstall-Package=supertuxkart
X-AppInstall-Popcon=166
X-AppInstall-Section=main

Name=Supertuxkart
GenericName=Supertuxkart
GenericName[ro_RO]=Supertuxcart
Icon=supertuxkart.xpm
Comment=a kart racing game
Comment[fr_FR]=un jeu de karting
Comment[ro_RO]=un joc de curse cu carturi
Exec=/usr/games/supertuxkart
Terminal=false
StartupNotify=false
Type=Application
Categories=3DGraphics;Game;ActionGame;Simulation;SportsGame;
