[Desktop Entry]
X-AppInstall-Package=survex-aven
X-AppInstall-Popcon=9
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Aven Cave Surveying Tool
GenericName=Cave Surveying Tool
Comment=Visualise cave surveys
Type=Application
Exec=aven
Icon=aven
Categories=Application;Education;Geology;Science;
