[Desktop Entry]
X-AppInstall-Package=swac-explore
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Swac Explore
Exec=swac-explore
StartupNotify=false
Terminal=false
Categories=Education
Comment=audio collections of words (SWAC) explorer
Comment[fr]=explorateur de collections audio de mots (SWAC)
X-AppInstall-Architectures=amd64,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
