[Desktop Entry]
X-AppInstall-Package=swfdec-gnome
X-AppInstall-Popcon=189
X-AppInstall-Section=main

Name=Swfdec Flash Player
Name[ar]=مشغّل الفلاش Swfdec
Name[be@latin]=Swfdec Flash Player
Name[bn_IN]=Swfdec Flash প্লেয়ার
Name[ca]=Reproductor de Flash Swfdec
Name[cs]=Přehrávač souborů Flash Swfdec
Name[da]=Swfdec Flashafspiller
Name[de]=Flash-Player
Name[el]=Αναπαραγωγή αρχείων Flash Swfdec
Name[en_GB]=Swfdec Flash Player
Name[es]=Reproductor de Flash Swfdec
Name[et]=Swfdec flashiesitaja
Name[eu]=Swfdec Flash erreproduzigailua
Name[fi]=Swfdec-Flash-soitin
Name[fr]=Lecteur Flash Swfdec
Name[gl]=Reprodutor Flash Swfdec
Name[he]=נגן ה-Flash Swfdec
Name[hu]=Swfdec Flash lejátszó
Name[it]=Swfdec - Riproduttore Flash
Name[ja]=Swfdec フラッシュ・プレイヤー
Name[ko]=Swfdec 플래시 연주기
Name[lt]=Swfdec Flash grotuvas
Name[mk]=Swfdec flash плеер
Name[mr]=Swfdec फ्लॅश वादक
Name[nb]=Swfdec Flash-avspiller
Name[nl]=Swfdec Flash-speler
Name[nn]=Swfdec Flash-avspelar
Name[pa]=Swfdec ਫਲੈਸ਼ ਪਲੇਅਰ
Name[pl]=Odtwarzacz Swfdec Flash
Name[pt]=Reprodutor de Flash Swfdec
Name[pt_BR]=Reprodutor de Arquivos Flash
Name[ru]=Проигрыватель Flash-файлов
Name[sl]=Swfdec predvajalnik
Name[sq]=Swfdec - Riprodhues Flash
Name[sv]=Swfdec Flash-uppspelare
Name[ta]=Swfdec ப்ளாஷ் இயக்கி
Name[th]=โปรแกรมเล่นแฟลช Swfdec
Name[tr]=Swfdec Flash Oynatıcı
Name[uk]=Програвач Flash-файлів
Name[vi]=Bộ chơi Flash Swfdec
Name[zh_CN]=Swfdec Flash 播放器
Name[zh_HK]=Swfdec Flash 播放器
Name[zh_TW]=Swfdec Flash 播放器
Comment=Play Adobe Flash files
Comment[ar]=شغّل ملفّات أدوب فلاش
Comment[be@latin]=Hraj fajły Adobe Flash
Comment[bn_IN]=Adobe Flash ফাইল প্রদর্শন করুন
Comment[ca]=Reprodueix fitxers d'Adobe Flash
Comment[cs]=Přehrává soubory Adobe Flash
Comment[da]=Afspil Adobe Flash-filer
Comment[de]=Adobe-Flash-Dateien abspielen
Comment[el]=Αναπαραγωγή αρχείων Adobe Flash
Comment[en_GB]=Play Adobe Flash files
Comment[es]=Reproduzca archivos Flash de Adobe
Comment[et]=Adobe flash-failide esitamine
Comment[eu]=Erreproduzitu Adobe Flash fitxategiak
Comment[fi]=Toista Adobe Flash -tiedostoja
Comment[fr]=Permet de lire des fichiers Adobe Flash
Comment[gl]=Reproducir ficheiros Flash de Adobe
Comment[he]=נגן קבצי Flash של Adobe
Comment[hi]=एडोब फ्लैश फाइल चलाएं
Comment[hu]=Adobe Flash fájlok lejátszása
Comment[it]=Riproduce file Adobe Flash
Comment[ja]=Adobe のフラッシュ・ファイルを再生します
Comment[ko]=어도비 플래시 파일을 연주합니다
Comment[lt]=Rodyti Adobe Flash failus
Comment[mk]=Пуштајте Adobe flash датотеки
Comment[mr]=Adobe Flash फाइल चालवा
Comment[nb]=Spill Adobe Flash-filer
Comment[nl]=Adobe Flash-bestand afspelen
Comment[nn]=Spel Adobe Flash-filer
Comment[pa]=ਆਡੋਬ ਫਲੈਸ਼ ਫਾਇਲਾਂ ਚਲਾਓ
Comment[pl]=Odtwarzanie plików Adobe Flash
Comment[pt]=Reproduza Ficheiros do Adobe Flash
Comment[pt_BR]=Executa arquivos Adobe Flash
Comment[ru]=Проигрывает файлы Adobe Flash
Comment[sl]=Predvajanje Adobe Flash datotek
Comment[sq]=Riprodhon file Adobe Flash
Comment[sv]=Spela Adobe Flash-filer
Comment[ta]=அடோபி ப்ளாஷ் கோப்புகளை இயக்கு
Comment[th]=เล่นแฟ้มแฟลชของอะโดบี
Comment[tr]=Adobe Flash dosyalarını oynat
Comment[uk]=Відтворює файли Adobe Flash
Comment[vi]=Phát tập tin Adobe Flash
Comment[zh_CN]=播放 Adobe Flash 文件
Comment[zh_HK]=播放 Adobe Flash 檔案
Comment[zh_TW]=播放 Adobe Flash 檔案
Exec=swfdec-player %U
Icon=swfdec
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;Video;Player;
MimeType=application/x-shockwave-flash;application/futuresplash;

