[Desktop Entry]
X-AppInstall-Package=tangerine
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Name=Tangerine Music Sharing
Encoding=UTF-8
Version=1.0
Exec=tangerine-properties
Type=Application
Icon=tangerine
Categories=Application;Settings;Utility;X-SuSE-ControlCenter-System;
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
