[Desktop Entry]
X-AppInstall-Package=tatan
X-AppInstall-Popcon=6
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Tatan
GenericName=
Comment=HIZ's Tatan
Icon=tatan.xpm
Exec=/usr/games/tatan
Terminal=false
Categories=Game;ArcadeGame;
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390
