[Desktop Entry]
X-AppInstall-Package=tea
X-AppInstall-Popcon=35
X-AppInstall-Section=main

Name=TEA Text Editor
Version=1.0
GenericName=TEA Editor
Comment=Text editor with hundreds of functions
Icon=tea
Exec=teaed %U
Terminal=false
Type=Application
Categories=Utility;TextEditor;
