[Desktop Entry]
X-AppInstall-Package=thwab-lib
X-AppInstall-Popcon=4
X-AppInstall-Section=main

Name=Thwab Encyclopedia
Comment=Encyclopedia System
Name[ar]=موسوعة الثواب
Comment[ar]=نظام موسوعي
GenericName=Encyclopedia
Exec=thwab-lib
Type=Application
Encoding=UTF-8
Icon=_usr_share_thwab-lib_images_thwab-lib
Categories=Education;
