[Desktop Entry]
X-AppInstall-Package=tilp
X-AppInstall-Popcon=22
X-AppInstall-Section=main

Name=TiLP
Name[fr_FR]=TiLP
Comment=Ti Linking Program
Comment[fr_FR]=Programme de connexion pour calculatrices TI
GenericName=tilp
GenericName[fr_FR]=tilp
Version=1.0
Type=Application
Exec=/usr/bin/tilp
Icon=_usr_share_tilp_pixmaps_logo
X-GNOME-DocPath=
Terminal=false
Categories=Math;Education;Science
