[Desktop Entry]
X-AppInstall-Package=tinyerp-client
X-AppInstall-Popcon=26
X-AppInstall-Section=main

Encoding=UTF-8
Name=Tiny ERP Client
Comment=Enterprise Resource Management software (client)
Exec=tinyerp-client
Icon=tinyerp-client.png
Terminal=false
Type=Application
Categories=Application;Network;
