[Desktop Entry]
X-AppInstall-Package=titanion
X-AppInstall-Popcon=10
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Titanion
GenericName=
Comment=Kenta Cho's Titanion
Icon=titanion.xpm
Exec=/usr/games/titanion
Terminal=false
Categories=Game;ArcadeGame;
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390
