[Desktop Entry]
X-AppInstall-Package=tleenx2
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Name=tleenx2
Name[pl]=tleenx2
Comment=tlen.pl IM client
Comment[pl]=Klient tlen.pl
Icon=tleenx2.xpm
Terminal=false
Type=Application
Categories=Application;Network;
Exec=tleenx2
