[Desktop Entry]
X-AppInstall-Package=tmw
X-AppInstall-Popcon=34
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=The Mana World
Name[fr]=Le Monde de Mana
Comment=An online fantasy role playing game
Comment[fr]=Un jeu en ligne dans un univers fantastique
Comment[de]=ein Online Fantasy Spiel
Comment[it]=Un gioco fantasy online
Comment[nl]=Een online role playing game
Icon=tmw
Exec=tmw
Categories=Game;AdventureGame;
