
[Desktop Entry]
X-AppInstall-Package=tomboy
X-AppInstall-Popcon=1798
X-AppInstall-Section=main

Encoding=UTF-8
Name=Tomboy Notes
Name[ar]=ملاحظات Tomboy
Name[as]=Tomboy Notes
Name[be]=Нататнік Tomboy
Name[be@latin]=Natatki Tomboy
Name[bg]=Бележки (Tomboy)
Name[bn]=টমবয় নোট
Name[bn_IN]=Tomboy Notes
Name[ca]=Notes del Tomboy
Name[cs]=Poznámky Tomboy
Name[da]=Tomboy-notesblok
Name[de]=Tomboy Notizen
Name[dz]=ཊོམ་བོ་ཡེ་དྲན་འཛིན།
Name[el]=Σημειώσεις Tomboy
Name[en_CA]=Tomboy Notes
Name[en_GB]=Tomboy Notes
Name[es]=Tomboy
Name[et]=Tomboy märkmed
Name[eu]=Tomboy oharrak
Name[fi]=Tomboy-muistilaput
Name[fr]=Notes Tomboy
Name[gl]=Notas do Tomboy
Name[gu]=Tomboy નોંધો
Name[he]=פתקיות Tomboy
Name[hu]=Tomboy jegyzettömb
Name[is]=Tomboy Glósur
Name[it]=Note Tomboy
Name[ja]=Tomboy メモ
Name[kn]=ಟಾಮ್‍ಬಾಯ್ ಟಿಪ್ಪಣಿಗಳು
Name[ko]=톰보이 쪽지
Name[ku]=Bernameya Notan Tomboy
Name[lt]=Tomboy užrašai
Name[lv]=Tomboy piezīmes
Name[mk]=Tomboy белешки
Name[ml]=Tomboy കുറിപ്പുകള്‍
Name[nb]=Tomboy notatskriver
Name[ne]=टोमब्वाय द्रष्टव्यहरू
Name[nl]=Tomboy notities
Name[nn]=Tomboy notatskrivar
Name[oc]=Nòtas Tomboy
Name[or]=ଟୋମ୍ବୋ ଟିପ୍ପଣୀ
Name[pa]=ਟੋਮਬਾਏ ਨੋਟਿਸ
Name[pl]=Tomboy - Notatki
Name[pt]=Notas Tomboy
Name[pt_BR]=Tomboy Notas
Name[ro]=Notiţele Tomboy
Name[ru]=Заметки Tomboy
Name[si]=ටොම්බොයි සටහන්
Name[sk]=Poznámky Tomboy
Name[sl]=Sporočilca Tomboy
Name[sq]=Tomboy - Shënime
Name[sr]=Томичине белешке
Name[sr@Latn]=Tomičine beleške
Name[sv]=Tomboy-anteckningar
Name[ta]=Tomboy குறிப்புகள்
Name[te]=టోంబాయ్ నోట్స్
Name[th]=บันทึกของ Tomboy
Name[tr]=Tomboy Notları
Name[uk]=Примітки Tomboy
Name[vi]=Ghi chú Tomboy
Name[zh_CN]=Tomboy 便笺
Name[zh_HK]=Tomboy 筆記
Name[zh_TW]=Tomboy 筆記
Comment=Simple and easy to use note-taking
Comment[ar]=تسجيل ملاحظات بسيط و سهل الاستخدام
Comment[as]=নোট তৈয়াৰ কৰাৰ সহজ সৰল উপায়
Comment[be]=Просты нататнік
Comment[be@latin]=Prostaje j lohkaje viadzieńnie natatak
Comment[bg]=Просто и лесно водене на бележки
Comment[bn]=নোট করতে সাধারণ ও সহজ উপায়
Comment[bn_IN]=নোট তৈরি করার সহজ সরল উপায়
Comment[ca]=Una forma senzilla i fàcil de prendre notes
Comment[cs]=Jednoduché a snadno použitelné psaní poznámek
Comment[da]=Enkel og brugervenlig notesblok
Comment[de]=Einfache und leicht benutzbare Notizzettel
Comment[dz]=དྲན་འཛིན་བཀོད་ནིའི་དོན་ལུ་ ལག་ལེན་འཐབ་ནི་འཇམ་ཏོང་ཏོ།
Comment[el]=Απλή και εύκολη στη χρήση λήψη σημειώσεων
Comment[en_CA]=Simple and easy to use note-taker
Comment[en_GB]=Simple and easy to use note-taking
Comment[es]=Toma de notas simple y fácil de usar
Comment[et]=Lihtne ja kergestikasutatav märkmete tegemise programm
Comment[eu]=Erraza eta erosoa oharrak hartzeko
Comment[fi]=Yksinkertainen ja helppokäyttöinen muistiinpanosovelma
Comment[fr]=Une application de prise de notes simple et facile à utiliser.
Comment[gl]=Aplicación sinxela e fácil de usar para tomar notas
Comment[gu]=નોંધ-લેવા માટેનું સાદું અને સરળ
Comment[he]=רישום בפתקיות פשוט וקל לשימוש
Comment[hu]=Egyszerű, könnyen használható jegyzetkezelés
Comment[it]=Un programma per prendere note semplice e facile da usare
Comment[ja]=シンプルで使いやすいデスクトップ・メモのアプリケーションです
Comment[ko]=이용하기 쉽고 간단한 쪽지
Comment[lt]=Paprasta ir lengvai naudojama užrašinė
Comment[lv]=Vienkārši un ēri lietojams note-taking
Comment[mk]=Едноставно и лесно за употреба зпишување на белешки
Comment[ml]=നോട്ട്-ടേക്കിങ് ഉപയോഗിക്കുന്നതിനുളള എളുപ്പ മാര്‍ഗ്ഗം
Comment[nb]=Enkel og brukervennlig notatskriver
Comment[ne]=द्रष्टव्य-लिने प्रयोग गर्नको लागि सरल र सजिलो
Comment[nl]=Eenvoudig en snel notities maken
Comment[nn]=Enkel og brukarvennleg notatskrivar
Comment[or]=ନୋଟ କରିବା ପାଇଁ ସହଜ ଏବଂ ସରଳ
Comment[pa]=ਨੋਟ-ਲੈਣ ਲਈ ਸਧਾਰਨ ਅਤੇ ਸੌਖਾ ਢੰਗ
Comment[pl]=Prosta i łatwa w użyciu aplikacja do sporządzania notatek
Comment[pt]=Tomar notas de forma simples e fácil
Comment[pt_BR]=Aplicação para tomar notas, simples e fácil de usar
Comment[ro]=Carneţel de notiţe usor de utilizat
Comment[ru]=Простая в использовании программа для создания заметок
Comment[si]=Simple and easy to use note-taking
Comment[sk]=Jednoduché a ľahko použiteľné písanie poznámok
Comment[sl]=Preprosto pisanje sporočilc
Comment[sq]=Mbajtës-shënimesh i thjeshtë dhe i lehtë në përdorim
Comment[sr]=Једноставан хватач белешки
Comment[sr@Latn]=Jednostavan hvatač beleški
Comment[sv]=Enkelt och lättanvänt anteckningsblock
Comment[ta]=எளிய குறிப்பெடுக்கும் பயன்பாடு
Comment[te]=నోట్-తీసుకొనుట వాడుటకు సామాన్యమైన మరియు సులభమైనది
Comment[th]=บันทึกข้อความสะดวกใช้
Comment[tr]=Basit ve kullanışlı not alma
Comment[uk]=Проста та зручна програма для створення приміток
Comment[vi]=Ghi chú đơn giản và dễ dùng.
Comment[zh_CN]=简单易用的随意帖
Comment[zh_HK]=簡單易用的桌面筆記軟件
Comment[zh_TW]=簡單易用的桌面筆記軟體
GenericName=Note-taker
GenericName[ar]=مسجل الملاحظات
GenericName[as]=নোট-গ্ৰহণ ব্যৱস্থা
GenericName[be]=Нататнік
GenericName[be@latin]=Natatnik
GenericName[bg]=Водене на бележки
GenericName[bn]=নোট-গ্রহণকারী
GenericName[bn_IN]=নোট-গ্রহণ ব্যবস্থা
GenericName[ca]=Prenedor de notes
GenericName[cs]=Poznámky
GenericName[da]=Notesblok
GenericName[de]=Notizanwendung
GenericName[dz]=དྲན་འཛིན་བཀོད་མི།
GenericName[el]=Μπλοκάκι σημειώσεων
GenericName[en_CA]=Note-taker
GenericName[en_GB]=Note-taker
GenericName[es]=Anotador
GenericName[et]=Märkmik
GenericName[eu]=Ohar-hartzailea
GenericName[fi]=Muistilaput
GenericName[fr]=Application de prise de notes
GenericName[gl]=Anotador
GenericName[gu]=નોંધ-લેનાર
GenericName[he]=רושם-פתקיות
GenericName[hu]=Jegyzetkezelő
GenericName[it]=Prendi note
GenericName[ja]=メモ
GenericName[ko]=쪽지 만들기
GenericName[lt]=Užrašinė
GenericName[lv]=Piezīmju blociņš
GenericName[mk]=Запишувач на белешки
GenericName[ml]=നോട്ട്-ടേക്കര്‍
GenericName[nb]=Notatskriver
GenericName[ne]=द्रष्टव्य-प्रापक
GenericName[nl]=Notitieboekje
GenericName[nn]=Notatskrivar
GenericName[or]=ନୋଟ-ଗ୍ରହଣକାରୀ
GenericName[pa]=ਨੋਟ-ਲੈਣਦਾਰ
GenericName[pl]=Notatnik
GenericName[pt]=Tomar Notas
GenericName[pt_BR]=Tomador de notas
GenericName[ro]=Carneţel de notiţe
GenericName[ru]=Записная книжка
GenericName[sk]=Príjemca poznámky
GenericName[sl]=Sporočilnik
GenericName[sq]=Mbajtës-shënimesh
GenericName[sr]=Хватач белешки
GenericName[sr@Latn]=Hvatač beleški
GenericName[sv]=Anteckningsverktyg
GenericName[ta]=குறிப்பேடு
GenericName[te]=నోట్-తీసుకొనునది
GenericName[th]=เครื่องมือบันทึกข้อความ
GenericName[tr]=Not Tutucu
GenericName[uk]=Записник
GenericName[vi]=Bộ ghi chú
GenericName[zh_CN]=记录人
GenericName[zh_HK]=筆記軟件
GenericName[zh_TW]=筆記軟體
Exec=tomboy --search
Icon=tomboy
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tomboy
X-GNOME-Bugzilla-Component=General
X-AppInstall-Architectures=amd64,arm,armel,i386,ia64,powerpc,s390,sparc
