[Desktop Entry]
X-AppInstall-Package=torus-trooper
X-AppInstall-Popcon=26
X-AppInstall-Section=main

Type=Application
Name=Torus Trooper
GenericName=
Comment=Kenta Cho's Torus Trooper
Icon=torus-trooper.xpm
Exec=/usr/games/torus-trooper
Terminal=false
Categories=Game;ArcadeGame;
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390
