[Desktop Entry]
X-AppInstall-Package=totem-xine
X-AppInstall-Popcon=8318
X-AppInstall-Section=main

Name=Movie Player (Xine)
Name[ar]=مشغل الأفلام (Xine)
Name[as]=মুভি প্লেয়াৰ (Xine)
Name[be]=Відэаплэер (Xine)
Name[be@latin]=Videaplayer Totem (Xine)
Name[bg]=Изпълнение на филми (Xine)
Name[bn]=মুভি প্লেয়ার (Xine)
Name[bn_IN]=মুভি প্লেয়ার (Xine)
Name[br]=Lenner filmoù (Xine)
Name[ca]=Reproductor de pel·lícules (Xine)
Name[cs]=Přehrávač filmů (Xine)
Name[cy]=Chwaraewr Ffilmiau (Xine)
Name[da]=Filmafspiller (Xine)
Name[de]=Video-Player (Xine)
Name[dz]=ཊོ་ཊེམ་གློག་བརྙན་གཏང་འཕྲུལ། (Xine)
Name[el]=Αναπαραγωγή ταινιών (Xine)
Name[en_CA]=Movie Player (Xine)
Name[en_GB]=Movie Player (Xine)
Name[es]=Reproductor de películas (Xine)
Name[et]=Filmiesitaja (Xine)
Name[eu]=Film-erreproduzigailua (Xine)
Name[fi]=Elokuvasoitin (Xine)
Name[fr]=Lecteur vidéo (Xine)
Name[ga]=Seinnteoir Scannán (Xine)
Name[gl]=Reprodutor de filmes (Xine)
Name[gu]=ચિત્રપટ પ્લેયર (Xine)
Name[he]=נגן סרטים (Xine)
Name[hi]=मूवी प्लेयर (Xine)
Name[hu]=Médialejátszó (Xine)
Name[id]=Pemutar Film (Xine)
Name[it]=Riproduttore di filmati (Xine)
Name[ja]=動画プレイヤー (Xine)
Name[ka]=ტოტემ ფილმის გამშვები (Xine)
Name[ko]=동영상 플레이어 (Xine)
Name[lt]=Filmų leistuvas (Xine)
Name[lv]=Filmu atskaņotājs (Xine)
Name[mg]=Mpandefa sarimihetsika (Xine)
Name[mk]=Пуштач на филмови (Xine)
Name[ml]=മൂവി പ്ളെയര്‍ (Xine)
Name[mr]=चित्रपट वादक (Xine)
Name[nb]=Filmavspiller (Xine)
Name[ne]=चलचित्र प्लेयर (Xine)
Name[nl]=Totem mediaspeler (Xine)
Name[nn]=Filmspelar (Xine)
Name[or]=ସିନେମା ଚାଳକ (Xine)
Name[pa]=ਮੂਵੀ ਪਲੇਅਰ (Xine)
Name[pl]=Odtwarzacz filmów Totem (Xine)
Name[pt]=Reprodutor de Filmes (Xine)
Name[pt_BR]=Reprodutor de Filmes (Xine)
Name[ro]=Player pentru filme (Xine)
Name[ru]=Видеопроигрыватель (Xine)
Name[si]=සළරූ ධාවකය (Xine)
Name[sl]=Predvajalnik posnetkov (Xine)
Name[sq]=Lexues Filmash (Xine)
Name[sr]=Гномов биоскоп и музичка кутија (Xine)
Name[sr@Latn]=Gnomov bioskop i muzička kutija (Xine)
Name[sv]=Filmuppspelare (Xine)
Name[ta]=திரைப்பட இயக்கி (Xine)
Name[th]=โปรแกรมเล่นภาพยนตร์ (Xine)
Name[tr]=Film Oynatıcı (Xine)
Name[uk]=Відеопрогравач (Xine)
Name[vi]=Bộ phát phim (Xine)
Name[zh_CN]=电影播放机 (Xine)
Name[zh_HK]=影片播放器 (Xine)
Name[zh_TW]=影片播放器 (Xine)
Comment=Play movies and songs
Comment[ar]=شغِّل الأفلام و الموسيقى
Comment[as]=চলচ্চিত্ৰ ও সংগীত পৰিবেশন
Comment[az]=Film və mahnlıarı seyr edin və dinləyin
Comment[be]=Грае фільмы і песьні
Comment[be@latin]=Hraje filmy j pieśni
Comment[bg]=Гледане на филми и слушане на песни
Comment[bn]=চলচ্চিত্র ও সঙ্গীত পরিবেশন
Comment[bn_IN]=চলচ্চিত্র ও সংগীত পরিবেশন
Comment[br]=Lenn filmoù ha sonennoù
Comment[ca]=Reproduïu vídeos i cançons
Comment[cs]=Přehrávání filmů a písniček
Comment[cy]=Chwarae ffilmiau a chaneuon
Comment[da]=Afspil film og sange
Comment[de]=Filme und Musik wiedergeben
Comment[dz]=གློག་བརྙན་དང་ ཞབས་ཁྲ་གཏང་།
Comment[el]=Αναπαραγωγή τραγουδιών και ταινιών
Comment[en_CA]=Play movies and songs
Comment[en_GB]=Play movies and songs
Comment[es]=Reproduzca películas y canciones
Comment[et]=Filmide ja muusika esitamine
Comment[eu]=Erreproduzitu filmak eta kantak
Comment[fa]=پخش فیلم و آهنگ
Comment[fi]=Toista elokuvia ja musiikkia
Comment[fr]=Lire les films et la musique
Comment[ga]=Seinn scannáin agus amhráin
Comment[gl]=Reproducir filmes e cancións
Comment[gu]=ફિલ્મો અને ગીતો વગાડો
Comment[he]=מנגן סרטים ושירים
Comment[hi]=बजाएँ मूवी और गीत
Comment[hu]=Filmek és dalok lejátszása
Comment[id]=Mainkan film dan lagu
Comment[is]=Leika kvikmyndir og tónlist
Comment[it]=Riproduce filmati e musica
Comment[ja]=動画や楽曲を再生します
Comment[ka]=ფილმების ან სიმღერების დაკვრა
Comment[ko]=동영상과 음악 재생
Comment[lt]=Žiūrėkite filmus ir klausykitės muzikos
Comment[lv]=Atskaņot filmas un dziesmas
Comment[mg]=Mandefa sarimihetsika sy hira
Comment[mk]=Пушти филмови и песни
Comment[ml]=സിനിമയും പാട്ടുകളും പ്രവര്‍ത്തിപ്പിക്കുന്നു
Comment[mr]=चित्रपट आणि गाणी चालवा
Comment[ms]=Mainkan cereka dan lagu
Comment[nb]=Spill av filmer og sanger
Comment[ne]=चलचित्र र गीत बजाउनुहोस्
Comment[nl]=Films en muziek afspelen
Comment[nn]=Spel filmar og musikk
Comment[or]=ସିମେମା ଏବଂ ସଙ୍ଗୀତ ଚଳାନ୍ତୁ
Comment[pa]=ਵੀਡਿਓ ਅਤੇ ਗਾਣੇ ਚਲਾਓ
Comment[pl]=Odtwarza filmy i muzykę
Comment[pt]=Reproduzir filmes e músicas
Comment[pt_BR]=Reproduza filmes e músicas
Comment[ro]=Redă filme şi melodii
Comment[ru]=Воспроизводит фильмы и песни
Comment[si]=චිත්‍රපට සහ ගීත ධාවනය කරන්න
Comment[sk]=Prehrávať filmy a hudbu
Comment[sl]=Predvajanje filmov in glasbe
Comment[sq]=Luaj filmat dhe këngët
Comment[sr]=Пуштање филмова и песама
Comment[sr@Latn]=Puštanje filmova i pesama
Comment[sv]=Spela upp filmer och låtar
Comment[ta]=திரைப்படங்கள் மற்றும் பாடல்களை இயக்கு
Comment[th]=เล่นภาพยนตร์และเพลง
Comment[tr]=Filmleri ve şarkıları çal
Comment[ug]=كىنو ۋە ناخشىلارنى قويۇش
Comment[uk]=Відтворення відео і звуку
Comment[vi]=Phát phim và nhạc
Comment[wa]=Djouwer des videyos et des tchansons
Comment[xh]=Dlala imifanekiso-bhanyabhanya neengoma
Comment[zh_CN]=播放电影和歌曲
Comment[zh_HK]=播放影片及音樂
Comment[zh_TW]=播放影片及音樂
Exec=totem-xine %U
Icon=totem
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Video;Player;X-Ximian-Main;X-Red-Hat-Base;
X-GNOME-DocPath=totem/totem.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=totem
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.22.2
X-GNOME-Bugzilla-OtherBinaries=totem-video-indexer;totem-video-thumbnailer;totem-audio-preview;
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/totem/gstreamer/totem/totem-bugreport.py
StartupNotify=true

MimeType=x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;
