[Desktop Entry]
X-AppInstall-Package=tracker-search-tool
X-AppInstall-Popcon=227
X-AppInstall-Section=main

Encoding=UTF-8
Name=Search and Indexing
Name[ar]=البحث والفهرسة
Name[be@latin]=Pošuk i indeksavańnie
Name[ca]=Cerca i indexació
Name[de]=Suche und Indizierung
Name[es]=Búsqueda e indexado
Name[fi]=Haku ja indeksointi
Name[fr]=Recherche et indexation
Name[hu]=Keresés és indexelés
Name[it]=Ricerca e indicizzazione
Name[ko]=찾기와 인덱싱
Name[pl]=Wyszukiwanie i indeksowanie
Name[pt]=Procura e Indexação
Name[pt_BR]=Pesquisa e Indexação
Name[sk]=Hľadanie a indexovanie
Name[sv]=Sök och indexering
Name[zh_CN]=搜索和索引编制
Comment=Configure file indexing with Tracker
Comment[ar]=اضبط فهرسة الملفات بالمقتفي
Comment[be@latin]=Skanfihuruj indeksavańnie fajłaŭ Trackeram
Comment[ca]=Configureu la indexació de fitxers amb el Tracker
Comment[de]=Tracker Indizierungseinstellugen ändern
Comment[es]=Configurar el indexado de archivos con Tracker
Comment[fi]=Muuta Tracker-tiedostoindeksoinnin asetuksia
Comment[fr]=Configurer l'indexation des fichiers avec Tracker
Comment[hu]=A fájlindexelés beállítása
Comment[it]=Configura l'indicizzazione dei file con Tracker
Comment[ko]=트래커 파일 인덱싱 설정
Comment[lt]=Konfigūruoti rinkmenų indeksavimą su Tracker
Comment[pl]=Konfiguracja indeksowania plików za pomocą Tracker
Comment[pt]=Configurar a indexação de ficheiros com o Tracker
Comment[pt_BR]=Configurar a indexação de arquivos com o Tracker
Comment[ru]=Настройка индексирования файлов службой Tracker
Comment[sk]=Nastavovať súbor indexovania s Tracker
Comment[sv]=Konfigurera filindexering med Tracker
Comment[zh_CN]=配置 Tracker 文件索引
Icon=tracker
Exec=tracker-preferences
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Tracker Preferences
X-GNOME-Bugzilla-Version=0.6.6
