[Desktop Entry]
X-AppInstall-Package=transcriber
X-AppInstall-Popcon=25
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Transcriber
Comment=Transcribe speech data using an integrated editor
Exec=transcriber
Icon=transcriber
Categories=Audio;AudioVideo
MimeType=application/wav
