[Desktop Entry]
X-AppInstall-Package=trigger
X-AppInstall-Popcon=106
X-AppInstall-Section=main

Encoding=UTF-8
Name=Trigger
GenericName=Trigger
Icon=trigger.xpm
Comment=3D rally racing car game
Comment[de_DE]=3D Rally-Autorennen
Comment[fr_FR]=un jeu de rally en 3D
Comment[ro_RO]=Un joc în 3D cu curse de raliu
Exec=/usr/games/trigger
Terminal=false
StartupNotify=false
Type=Application
Categories=3DGraphics;Game;ActionGame;
