[Desktop Entry]
X-AppInstall-Package=tumiki-fighters
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=Tumiki Fighters
GenericName=
Comment=Kenta Cho's Tumiki Fighters
Icon=tumiki-fighters.xpm
Exec=/usr/games/tumiki-fighters
Terminal=false
Categories=Game;ArcadeGame;
X-AppInstall-Architectures=amd64,alpha,arm,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390
