[Desktop Entry]
X-AppInstall-Package=tuxpaint-config
X-AppInstall-Popcon=66
X-AppInstall-Section=main

Encoding=UTF-8
Name=Tux Paint Config.
Comment=Configure Tux Paint
Icon=tuxpaint-config
Exec=tuxpaint-config
Terminal=false
Type=Application
Categories=Settings;
