[Desktop Entry]
X-AppInstall-Package=adun.app
X-AppInstall-Popcon=24
X-AppInstall-Section=main

Type=Application
Name=Adun
Comment=Biomoleculal Simulator
Version=0.8.2
Categories=Education;Science;Biology;
Exec=UL
