[Desktop Entry]
X-AppInstall-Package=vegastrike
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Name=Vega Strike
Comment=Play a 3D space combat and simulation
Comment[es]=Juegues un combate y simulación del espacio 3D
Comment[ro]=Joacă un joc 3D de luptă și simulare în spațiu
Exec=vsinstall >/dev/null 2>&1
Icon=vegastrike
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;StrategyGame;
