[Desktop Entry]
X-AppInstall-Package=viking
X-AppInstall-Popcon=44
X-AppInstall-Section=main

Version=1.0
Name=Viking GPS Viewer
Comment=GPS Data and Topo Analyzer, Explorer, and Manager.
Exec=viking
Icon=viking
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;Geography;Network;Graphics;GTK;
