[Desktop Entry]
X-AppInstall-Package=vipec
X-AppInstall-Popcon=49
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Vipec Electrical Network Analyzer
GenericName=Electrical Network Analyzer
Comment=Analyzer for electrical networks
Exec=vipec
Icon=vipec
Categories=Electronics;Engineering;Education;
