[Desktop Entry]
X-AppInstall-Package=vkeybd
X-AppInstall-Popcon=80
X-AppInstall-Section=main


Name=Virtual MIDI Keyboard
Comment=MIDI Virtual Keyboard
Icon=vkeybd

Type=Application
Categories=AudioVideo;Audio;

Exec=vkeybd
Terminal=false
