[Desktop Entry]
X-AppInstall-Package=gnome-media
X-AppInstall-Popcon=6735
X-AppInstall-Section=main

Encoding=UTF-8
Name=Volume Monitor
Name[ar]=مراقب شدة صوت
Name[as]=শব্দমাত্ৰা পৰ্যবেক্ষক
Name[be]=Назіральнік за гучнасьцю
Name[be@latin]=Manitor hučnaści
Name[bg]=Следене на силата на звука
Name[bn]=শব্দমাত্রা পর্যবেক্ষক
Name[bn_IN]=শব্দমাত্রা পর্যবেক্ষক
Name[ca]=Monitor de volum
Name[cs]=Sledování hlasitosti
Name[cy]=Monitor lefel sain
Name[da]=Lydstyrke-overvåger
Name[de]=Lautstärkeanzeige
Name[dz]=སྐད་ཤུགས་ལྟ་རྟོག་པ།
Name[el]=Παρακολούθηση έντασης ήχου
Name[en_CA]=Volume Monitor
Name[en_GB]=Volume Monitor
Name[es]=Monitor de volumen
Name[et]=Helitugevuse monitor
Name[eu]=Bolumenaren monitorea
Name[fa]=نمایشگر بلندی صدا
Name[fi]=Äänenvoimakkuusmonitori
Name[fr]=Moniteur de volume
Name[gl]=Monitor de volume
Name[gu]=વોલ્યુમ મોનીટર
Name[he]=צג עוצמה
Name[hi]=आवाज़ मॉनीटर
Name[hu]=Hangerőmérő
Name[id]=Pantauan Volume
Name[it]=Monitor del volume
Name[ja]=音量モニタ
Name[ko]=볼륨 감시
Name[lt]=Garsumo matuoklis
Name[lv]=Skaļuma novērotājs
Name[mg]=Mpanara-maso hamafisam-peo
Name[mk]=Надгледувач на звукот
Name[ml]=ശബ്ദം ക്രമീകാരി 
Name[mn]=Дууны чанга шалгахы
Name[mr]=आवाज मॉनीटर
Name[nb]=Nivåmåler for volum
Name[ne]=भोल्युम अनुगमन गर्नुहोस्
Name[nl]=Volume-observatie
Name[nn]=Lydstyrkeovervakar
Name[or]=ପ୍ରବଳତା ଜଗୁଆଳ
Name[pa]=ਅਵਾਜ਼ ਨਿਗਰਾਨ
Name[pl]=Monitor głośności
Name[pt]=Monitor de Volume
Name[pt_BR]=Monitor de Volume
Name[ro]=Monitor volum
Name[ru]=Индикатор громкости
Name[si]=හඬ නිරික්‍ෂකය
Name[sk]=Sledovanie hlasitosti
Name[sl]=Kazalec glasnosti
Name[sq]=Monitor i Volumit
Name[sr]=Праћење јачине звука
Name[sr@Latn]=Praćenje jačine zvuka
Name[sv]=Volymmätare
Name[ta]=ஒலியளவு கண்காணிப்பு
Name[th]=หน้าปัดระดับเสียง
Name[tr]=Ses Seviyesi İzleyici
Name[uk]=Індикатор гучності
Name[vi]=Bộ theo dõi âm lượng
Name[zh_CN]=音量监视器
Name[zh_HK]=音量計
Name[zh_TW]=音量計
Comment=Monitor the sound output volume
Comment[ar]=راقب شدة صوت الخرْج الصوتي
Comment[as]=শব্দেৰ আউটপুট মাত্ৰাৰ উপৰে নজৰ ৰাখো
Comment[az]=Çıxış səsin səviyyəsinə nəzarət et
Comment[be]=Назірае за гучнасьцю аўдыёвываду
Comment[be@latin]=Naziraj za ŭzroŭniem hučnaści vychadnoha huku
Comment[bg]=Следене на изходната сила на звука
Comment[bn]=শব্দের আউটপুট মাত্রার উপরে নজর রাখো
Comment[bn_IN]=শব্দের আউটপুট মাত্রার উপরে নজর রাখো
Comment[bs]=Nadgledajte izlaznu jačinu zvuka
Comment[ca]=Monitoritza el volum del so de sortida
Comment[cs]=Sledování hlasitosti zvukového výstupu
Comment[cy]=Arsylwi lefel sain yr allbwn
Comment[da]=Overvåg afspilningslydstyrken
Comment[de]=Den Audio-Ausgangspegel anzeigen
Comment[dz]=སྒྲ་སྐད་ཀྱི་ ཨའུཊི་པུཊི་ སྐད་ཤུགས་ལུ་ ལྟ་རྟོག་འབད།
Comment[el]=Παρακολούθηση της έντασης εξόδου ήχου
Comment[en_CA]=Monitor the sound output volume
Comment[en_GB]=Monitor the sound output volume
Comment[es]=Monitorizar el volumen de salida de grabación
Comment[et]=Montoorib heliväljundit
Comment[eu]=Kontrolatu soinuaren irteera-bolumena
Comment[fa]=نظارت بر بلندی صدای خروجی
Comment[fi]=Tarkkaile ulostulon äänenvoimakkuutta
Comment[fr]=Afficher le niveau sonore en sortie
Comment[gl]=Monitorizar o volume de saída de son
Comment[gu]=ધ્વનિ આઉટપુટનાં સ્તર પર નજર રાખો
Comment[he]=מציג את עוצמת יציאת הקול
Comment[hi]=ध्वनि आउटपुट आवाज़ निर्धारक मॉनीटर करें
Comment[hr]=Monitorirajte izlaznu jačinu zvuka
Comment[hu]=A kimenet hangerejét figyeli
Comment[id]=Pantau volume suara
Comment[it]=Monitor del volume dell'audio in uscita
Comment[ja]=音声出力音量のモニタです
Comment[ko]=사운드 출력 볼륨 상태를 봅니다
Comment[lt]=Rodyo išvedamo garso garsumo lygį
Comment[lv]=Novērot skaņas izvades skaļumu
Comment[mg]=Manara-maso ny hamafisan'ny feo mivoaka
Comment[mk]=Следи ја јачината на излезниот звук
Comment[ml]=ശബ്ദ ക്റമികരണം
Comment[mn]=Дуу авиа гаргалтыг илэрхийлэгч
Comment[mr]=ध्वनि आउटपुट आवाज मॉनीटर करा
Comment[ms]=Monitor volum output bunyi
Comment[nb]=Overvåk utgangsnivå for volum
Comment[ne]=ध्वनि निर्गत भोल्युम अनुगमन गर्नुहोस्
Comment[nl]=Geluidsuitvoervolume bijhouden
Comment[nn]=Overvakar utgåande lydnivå
Comment[or]=ଧ୍ବନି ନିର୍ଗମ ପ୍ରବଳତା ଜଗନ୍ତୁ
Comment[pa]=ਸਾਊਂਡ ਆਉਟਪੁੱਟ ਆਵਾਜ਼ ਨਿਗਰਾਨੀ ਕਰਨ ਲਈ
Comment[pl]=Monitor poziomu głośności generowanego dźwięku
Comment[pt]=Monitorizar o volume de som de saída
Comment[pt_BR]=Monitorar o volume de saída de som
Comment[ro]=Monitorizează volumul de ieşire pentru sunet
Comment[ru]=Программа для индикации уровня громкости
Comment[sk]=Sledovať hlasitosť zvukového výstupu
Comment[sl]=Meri izhodno glasnost zvoka
Comment[sq]=Monitor i volumit në dalje të zërit
Comment[sr]=Прати јачину излаза звука
Comment[sr@Latn]=Prati jačinu izlaza zvuka
Comment[sv]=Övervaka ljudvolymen
Comment[ta]=திரை ஒரு ஒலி வெளியிட்டு ஒலியளவு 
Comment[th]=หน้าปัดระดับสัญญาณเสียงขาออก
Comment[tr]=Ses çıkışını izleyin
Comment[uk]=Індикатор рівня виходу звуку
Comment[vi]=Theo dõi âm lượng xuất
Comment[wa]=Corwaitî li volume e rexhowe do son
Comment[xh]=Beka iliso isiphumo sokushicilela isandi
Comment[zh_CN]=监视声音输出音量
Comment[zh_HK]=監控輸出音量
Comment[zh_TW]=監控輸出音量
Exec=vumeter
Icon=gnome-vumeter
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Monitor;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=VU-meter
X-GNOME-Bugzilla-Version=2.22.0
