[Desktop Entry]
X-AppInstall-Package=webhttrack
X-AppInstall-Popcon=90
X-AppInstall-Section=main

Version=1.0
Type=Application
Categories=Application;Network
Terminal=false
Name=WebHTTrack Website Copier
Comment=Copy websites to your computer
Exec=webhttrack
Icon=_usr_share_httrack_icons_webhttrack
Terminal=false
MultipleArgs=false
Type=Application
