[Desktop Entry]
X-AppInstall-Package=wxmaxima
X-AppInstall-Popcon=174
X-AppInstall-Section=main

Name=wxMaxima
Comment=wxWidgets interface for CAS maxima
Exec=wxmaxima
Icon=maximaicon.xpm
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Math;
