[Desktop Entry]
X-AppInstall-Package=xarchiver
X-AppInstall-Popcon=287
X-AppInstall-Section=main

Encoding=UTF-8
Version=1.0
Name=Xarchiver
Name[de]=Xarchiver
Name[eu]=Xarchiver
Name[fi]=Xarchiver
Name[fr]=Xarchiver
Name[he]=Xarchiver
Name[hu]=Xarchiver
Name[it]=Xarchiver
Name[ja]=Xarchiver
Name[nl]=Xarchiver
Name[pt_BR]=Xarchiver
Comment=A GTK+2 only archive manager
Comment[de]=Ein auf GTK+2 basierender Archivmanager
Comment[eu]=GTK+2-rako bakarrik pakete kudeatzailea
Comment[fi]=GTK+2 -arkistonhallintasovellus
Comment[fr]=Un gestionnaire d'archive pour GTK+2 seulement
Comment[he]=מנהל ארכיונים ב GTK+2
Comment[hu]=Egy GTK+2 archívum kezelő
Comment[it]=Un gestore di archivi che richiede solo GTK+2
Comment[ja]=Xfce 4 アーカイブマネージャー
Comment[nl]=Een GTK+2 archief beheerder
Comment[pt_BR]=Um compactador de arquivos baseado apenas em GTK+2
GenericName=Archive manager
GenericName[de]=Archivmanager
GenericName[eu]=Pakete kudeatzailea
GenericName[fi]=Arkistonhallinta
GenericName[fr]=Gestionnaire d'archives
GenericName[he]=מנהל ארכיונים
GenericName[hu]=Archívum kezelő
GenericName[it]=Gestore di archivi
GenericName[nl]=Archief beheerder
GenericName[pt_BR]=Compactador de Arquivos
Exec=xarchiver
Icon=xarchiver.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Archiving;Utility;
StartupNotify=true
MimeType=application/x-arj;application/arj;application/x-bzip;application/x-bzip-compressed-tar;application/x-gzip;application/x-rar;application/x-rar-compressed;application/x-tar;application/x-zip;application/x-zip-compressed;application/zip;multipart/x-zip;application/x-7z-compressed;application/x-compressed-tar;application/x-bzip2;application/x-bzip2-compressed-tar;application/x-deb;application/deb
