[Desktop Entry]
X-AppInstall-Package=xawtv
X-AppInstall-Popcon=557
X-AppInstall-Section=main

Comment=TV viewer for X11
Name=XawTV
Exec=xawtv
Terminal=false
GenericName=XawTV
Type=Application
Categories=AudioVideo;
Icon=xawtv48x48
