[Desktop Entry]
X-AppInstall-Package=xcdroast
X-AppInstall-Popcon=297
X-AppInstall-Section=main

Encoding=UTF-8
Name=X-CD-Roast
Comment=Create a CD
Exec=xcdroast
Icon=xcdroast.xpm
Type=Application
Categories=Application;AudioVideo;
