[Desktop Entry]
X-AppInstall-Package=xchat-gnome
X-AppInstall-Popcon=201
X-AppInstall-Section=main

Encoding=UTF-8
Name=XChat-GNOME IRC Chat
Name[bg]=XChat-GNOME: разговори в IRC
Name[bn]=এক্সচ্যাট-গনোম আই-আর-সি চ্যাট
Name[ca]=Xat IRC de l'XChat-GNOME
Name[da]=XChat-GNOME IRC samtale
Name[de]=XChat-GNOME IRC Chat
Name[dz]=XChat-GNOME ཨའི་ཨར་སི་ཁ་སླབ་
Name[el]=XChat-Συνομιλία IRC για το GNOME
Name[en_AU]=XChat-GNOME IRC Chat
Name[en_GB]=XChat-GNOME IRC Chat
Name[es]=Chat IRC XChat-GNOME
Name[eu]=XChat-GNOME IRC Chat
Name[fi]=XChat-GNOME IRC-keskustelu
Name[fr]=Discussion IRC XChat-GNOME
Name[hu]=XChat-GNOME csevegés
Name[is]=Xchat-GNOME IRC spjall
Name[it]=XChat-GNOME - Chattare in IRC
Name[ko]=XChat: DCC 대화 목록
Name[lt]=Xchat-GNOME IRC pokalbiai
Name[nb]=XChat-GNOME IRC-Prat
Name[pa]=XChat: DCC ਗੱਲਬਾਤ ਸੂਚੀ
Name[pl]=Pogawędki IRC XChat-GNOME
Name[pt]=XChat-GNOME IRC Chat
Name[pt_BR]=XChat-GNOME IRC Chat
Name[ru]=XChat-GNOME IRC чат
Name[sk]=XChat-GNOME Konverzácia cez IRC
Name[sv]=IRC-chattklienten XChat-GNOME
Name[tr]=XChat-GNOME IRC Sohbet
Name[zh_CN]=XChat-GNOME 聊天
Name[zh_HK]=XChat-GNOME IRC 交談軟件
Name[zh_TW]=XChat-GNOME IRC 聊天
GenericName=IRC Chat
GenericName[am]=ቻድ
GenericName[az]=Söhbət
GenericName[bg]=Разговор
GenericName[bn]=আই-আর-সি চ্যাট করো
GenericName[ca]=Xat IRC
GenericName[cs]=Chat
GenericName[da]=IRC samtale
GenericName[de]=IRC Chat
GenericName[dz]=ཨའི་ཨར་སི་ཁ་སླབ་
GenericName[el]=Συνομιλία IRC
GenericName[en_AU]=IRC Chat
GenericName[en_GB]=IRC Chat
GenericName[es]=Charla IRC
GenericName[et]=Vestlus
GenericName[eu]=Berriketa
GenericName[fi]=IRC-keskustelu
GenericName[fr]=Discussion IRC
GenericName[hi]=गपशप
GenericName[hu]=Csevegés
GenericName[is]=IRC spjall
GenericName[it]=Chat IRC
GenericName[ja]=チャド
GenericName[ka]=ჩატი
GenericName[ko]=대화
GenericName[lt]=IRC pokalbiai
GenericName[mk]=Разговор
GenericName[ms]=Chad
GenericName[nb]=IRC-Prat
GenericName[pa]=ਗੱਲਬਾਤ
GenericName[pl]=Pogawędki IRC
GenericName[pt]=Conversa IRC
GenericName[pt_BR]=Chat IRC
GenericName[ru]=IRC разговор
GenericName[sk]=Chat
GenericName[sl]=Klepet
GenericName[sr]=Прича
GenericName[sv]=IRC-chatt
GenericName[tr]=IRC Sohbet
GenericName[uk]=Розмова
GenericName[vi]=Trò chuyện
GenericName[wa]=Tchater
GenericName[zh_CN]=聊天
GenericName[zh_HK]=IRC
GenericName[zh_TW]=IRC 聊天
Comment=Chat with people using IRC
Comment[bn]=আই-আর-সি ব্যবহার করে জনগণের সঙ্গে চ্যাট করো
Comment[ca]=Converseu amb altres persones a través de l'IRC
Comment[da]=Snak med folk gennem IRC
Comment[de]=Per IRC mit Leuten reden
Comment[dz]=ཨའི་ཨར་སི་ལག་ལེན་འཐབ་སྟེ་ མི་དང་ཅིག་ཁར་ཁ་སླབ་
Comment[el]=Συνομιλήστε με άτομα που χρησιμοποιούν το IRC
Comment[en_AU]=Chat with people using IRC
Comment[en_GB]=Chat with people using IRC
Comment[es]=Chatee con gente usando IRC
Comment[eu]=IRCa erabiliz jendeaz hitzegin ezazu
Comment[fi]=Keskustele ihmisten kanssa IRC:n välityksellä
Comment[fr]=Discuter avec des personnes utilisant IRC
Comment[gl]=Conversar con xente usando IRC
Comment[hu]=Csevegés az IRC használatával
Comment[is]=Spjalla við fólk með IRC
Comment[it]=Chatta con le persone usando IRC
Comment[lt]=Plepėti su žmonėmis naudojant IRC
Comment[nb]=Prat med folk via IRC
Comment[pl]=Rozmawiaj przy użyciu IRC
Comment[pt]=Converse com pessoas usando o IRC
Comment[pt_BR]=Converse com pessoas usando IRC
Comment[ru]=Общаться с людьми через IRC
Comment[sk]=Chatovať s ľudmi cez IRC
Comment[sv]=Chatta med folk som använder IRC
Comment[zh_CN]=使用IRC聊天
Comment[zh_HK]=使用 IRC 和人交談
Comment[zh_TW]=使用 IRC 與人聊天
Exec=xchat-gnome
Icon=xchat-gnome
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;IRCClient;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=xchat-gnome
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.18
