[Desktop Entry]
X-AppInstall-Package=xdigger
X-AppInstall-Popcon=17
X-AppInstall-Section=main

Name=xdigger
Comment=Arcade diamonds digging game.
Type=Application
Exec=xdigger
Icon=xdigger
Categories=Game;
Terminal=false
