[Desktop Entry]
X-AppInstall-Package=xdrawchem
X-AppInstall-Popcon=26
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=xdrawchem Chemistry Editor
GenericName=Chemistry Editor
Comment=Edit chemical structures and reactions
Type=Application
Exec=xdrawchem
Icon=xdc
Categories=Education;Science;Chemistry;
