[Desktop Entry]
X-AppInstall-Package=xfce4-appfinder
X-AppInstall-Popcon=188
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=Xfce 4 Appfinder
Name[be]=Шукальнік дастасаваньняў Xfce 4
Name[ca]=Xfce4 Appfinder
Name[cs]=Vyhledávač aplikací pro Xfce 4
Name[de]=Xfce4-Anwendungsfinder
Name[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤ཨེཔ་ཕའིན་ཌར།
Name[el]=Xfce 4 Appfinder
Name[en_GB]=Xfce 4 Appfinder
Name[eo]=Xfce 4 Apserĉilo
Name[es]=Buscador de aplicaciones de Xfce 4
Name[et]=Xfce 4 Rakendaja
Name[eu]=Xfce 4 Aplikazio Bilatzailea
Name[fi]=Xfce 4 Sovellusetsin
Name[fr]=Appfinder Xfce 4
Name[he]=מאתר היישומים של Xfce 4
Name[hu]=Xfce 4 Alkalmazás-kereső
Name[it]=Xfce 4 Appfinder
Name[ja]=Xfce 4 アプリファインダー
Name[ka]=პროგრამების ძებნა
Name[ko]=Xfce 4 Appfinder
Name[lt]=Xfce 4 Appfinder
Name[lv]=Xfce 4 Lietotņu Meklētājs
Name[mk]=Наоѓач на апликации за Xfce 4
Name[nb_NO]=Xfce 4 Programkatalog
Name[nl]=Xfce 4 Applicatiezoeker
Name[pa]=Xfce 4 ਐਪ-ਫਾਇਡਰ
Name[pl]=Wyszukiwacz aplikacji
Name[pt_BR]=Xfce 4 Appfinder
Name[pt_PT]=Xfce 4 Appfinder
Name[ro]=Căutare aplicaţii Xfce 4
Name[ru]=Поиск приложений
Name[sk]=Xfce 4 Vyhľadávač aplikácií
Name[sv]=Programlista
Name[tr]=Xfce 4 Uygulama Arayıcı
Name[uk]=Пошук програм
Name[zh_CN]=Xfce 4 程序查找工具
Name[zh_TW]=Xfce 4 Appfinder
Comment=Application Finder for Xfce 4
Comment[be]=Шукальнік дастасаваньняў для Xfce 4
Comment[ca]=Cercador d'aplicacions per Xfce4
Comment[cs]=Vyhledávač aplikací pro Xfce 4
Comment[de]=Anwendungsfinder für Xfce 4
Comment[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤་གི་དོན་ལས་གློག་རིམ་འཚོལ་བྱེད།
Comment[el]=Αναζήτηση εφαρμογών για το Xfce 4
Comment[en_GB]=Application Finder for Xfce 4
Comment[eo]=Aplikaĵserĉilo por Xfce 4
Comment[es]=Buscador de aplicaciones para Xfce 4
Comment[et]=Näitab paigaldatud rakenduste nimekirja
Comment[eu]=Xfce 4-ren aplikazio bilatzailea
Comment[fi]=Sovellusten hakutyökalu Xfce 4:lle
Comment[fr]=Chercheur d'applications pour Xfce 4
Comment[he]=כלי לחיפוש יישומים
Comment[hu]=Xfce 4 Alkalmazás-kereső
Comment[it]=Trova le applicazioni per Xfce 4
Comment[ja]=Xfce 4 のアプリケーション・ファインダーです
Comment[ka]=არსებულ პროგრამებს შორის ძებნა
Comment[ko]=Xfce 4 응용프로그램 검색
Comment[lv]=Xfce 4 Lietotņu Meklētājs
Comment[mk]=Наоѓач на апликации за Xfce 4
Comment[nb_NO]=Programkatalog for Xfce 4
Comment[nl]=Zoek geïnstalleerde programma's
Comment[pa]=Xfce 4 ਲਈ ਐਪਲੀਕੇਸ਼ਨ ਫਾਇਡਰ
Comment[pl]=Wyszukiwacz aplikacji
Comment[pt_BR]=Localizador de Aplicações para o Xfce 4
Comment[pt_PT]=Localizador de aplicações para o Xfce 4
Comment[ro]=Unealtă de căutare de aplicaţii pentru Xfce 4
Comment[ru]=Поиск среди установленных приложений 
Comment[sk]=Vyhľadávač aplikácií pre Xfce 4
Comment[sv]=Programlista för Xfce 4
Comment[tr]=Xfce 4 için Uygulama Arayıcısı
Comment[uk]=Пошук серед встановлених програм для Xfce 4
Comment[zh_CN]=Xfce 4的程序查找工具
Comment[zh_TW]=Xfce 4 的應用程式搜尋器
Exec=xfce4-appfinder
Icon=xfce4-appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=X-XFCE;Utility;GTK;
GenericName=Appfinder
GenericName[be]=Шукальнік дастасаваньняў
GenericName[ca]=Appfinder
GenericName[cs]=Appfinder
GenericName[de]=Appfinder
GenericName[dz]=ཨེཔ་ཕའིན་ཌར།
GenericName[el]=Appfinder
GenericName[en_GB]=Appfinder
GenericName[eo]=Apserĉilo
GenericName[es]=Buscador de aplicaciones
GenericName[et]=Appfinder
GenericName[eu]=Aplikazio Bilatzailea
GenericName[fi]=Appfinder
GenericName[fr]=Appfinder
GenericName[he]=מאתר היישומים
GenericName[hu]=Alkalmazás-kereső
GenericName[it]=Appfinder
GenericName[ja]=アプリファインダー
GenericName[ka]=პროგრამების ძებნა
GenericName[ko]=응용프로그램 검색
GenericName[lt]=Appfinder
GenericName[lv]=Lietotņu Meklētājs
GenericName[mk]=Appfinder
GenericName[nb_NO]=Programkatalog
GenericName[nl]=Appfinder
GenericName[pa]=ਐਪ-ਫਾਇਡਰ
GenericName[pl]=Wyszukiwacz aplikacji
GenericName[pt_BR]=Appfinder
GenericName[pt_PT]=Appfinder
GenericName[ro]=Căutare aplicaţii
GenericName[ru]=Поиск программ
GenericName[sk]=Vyhľadávač aplikácií
GenericName[sv]=Programlista
GenericName[tr]=Uygulama Arayıcı
GenericName[uk]=Пошук програм
GenericName[zh_CN]=程序查找工具
GenericName[zh_TW]=Appfinder
