[Desktop Entry]
X-AppInstall-Package=xfce4-dict
X-AppInstall-Popcon=43
X-AppInstall-Section=main

Type=Application
Version=1.0
Name=Xfce4 Dictionary
Name[cs]=Slovník Xfce4
Name[de]=Xfce4 Wörterbuch
Name[en_GB]=Xfce4 Dictionary
Name[eu]=Xfce4 Hiztegia
Name[hu]=Xfce4 Szótár
Name[pt_BR]=Dicionário do Xfce4
GenericName=Dictionary Client
GenericName[de]=Wörterbuchprogramm
GenericName[en_GB]=Dictionary Client
GenericName[eu]=Hiztegi bezeroa
GenericName[hu]=Szótár kliens
GenericName[pt_BR]=Dicionário
Comment=A client program to query different dictionaries.
Comment[cs]=Klientský program pro získávání dat z různých slovníků.
Comment[de]=Ein Programm zum Abfragen verschiedener Wörterbücher.
Comment[en_GB]=A client program to query different dictionaries.
Comment[eu]=Hiztegi ezberdinak galdekatzeko bezero programa bat.
Comment[hu]=Egy kliens program különféle szótárak lekérdezéséhez.
Comment[pt_BR]=Um programa para consultar dicionários diferentes.
Icon=xfce4-dict
Exec=xfce4-dict
Terminal=false
StartupNotify=true
Categories=Utility;Dictionary;GTK;
