[Desktop Entry]
X-AppInstall-Package=xfdesktop4
X-AppInstall-Popcon=2122
X-AppInstall-Section=main

Encoding=UTF-8
Name=Xfce 4 Menu Editor
Name[be]=Рэдактар Мэню Xfce 4
Name[bn_IN]=Xfce 4 মেনু এডিটর
Name[ca]=Editor del menú Xfce4
Name[cs]=Editor hlavní nabídky Xfce 4
Name[de]=Xfce4-Menüeditor
Name[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤དཀར་ཆག་ཞུན་དགཔ།
Name[el]=Επεξεργαστής μενού Xfce 4
Name[en_GB]=Xfce 4 Menu Editor
Name[eo]=Xfce 4 Menua Redaktilo
Name[es]=Editor de menú de Xfce4
Name[es_MX]=Editor de menú Xfce4
Name[et]=Xfce 4 menüüredaktor
Name[eu]=Xfce 4 Menu Editorea
Name[fi]=Xfce 4 valikkoeditori
Name[fr]=Éditeur de menu Xfce 4
Name[gu]=Xfce મેનુ સંપાદક
Name[he]=עורך תפריט Xfce4
Name[hu]=Xfce 4 menüszerkesztő
Name[it]=Editor del menu di Xfce 4
Name[ja]=Xfce 4 メニューエディター
Name[ko]=Xfce 메뉴 편집기
Name[lv]=Xfce 4 Izvēlnes Redaktors
Name[mk]=Уредувач на менито за Xfce 4
Name[mr]=Xfce यादी संपादक
Name[nb_NO]=Xfce 4 menyredigering
Name[nl]=Xfce 4 menubewerker
Name[pa]=Xfce 4 ਮੇਨੂ ਐਡੀਟਰ
Name[pl]=Edytor Menu Xfce
Name[pt_BR]=Editor de Menu do Xfce 4
Name[pt_PT]=Editor de Menu Xfce 4
Name[ro]=Editor de meniu Xfce 4
Name[ru]=Редактор меню Xfce 4
Name[sk]=Xfce 4 Editor ponúk
Name[sv]=Xfce 4 Menyredigerare
Name[tr]=Xfce4 Menü Düzenleyicisi
Name[uk]=Редактор меню Xfce 4
Name[vi]=Trình soạn thảo trình đơn Xfce 4
Name[zh_CN]=Xfce 4 菜单编辑器
Name[zh_TW]=Xfce 4 選單編輯器
Comment=Graphical tool for editing the Xfce 4 menu
Comment[be]=Графічны сродак для рэдагаваньня мэню Xfce 4
Comment[bn_IN]=Xfce 4 মেনু সম্পাদন করতে ব্যবহৃত গ্রাফিকাল টুল
Comment[ca]=Una eina gràfica per editar el menú Xfce4
Comment[cs]=Grafický nástroj pro úpravu nabídky prostředí Xfce 4
Comment[de]=Grafisches Werkzeug zum Bearbeiten des Xfce4-Menüs
Comment[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤དཀར་ཆག་ཞུན་དག་འབད་ནིའི་དོན་ལས་ཚད་རིས་ཀྱི་ལག་ཆས།
Comment[el]=Γραφικό εργαλείο για την επεξεργασία του Xfce 4 μενού
Comment[en_GB]=Graphical tool for editing the Xfce 4 menu
Comment[eo]=Grafika ilo por modifii la Xfce 4 menuon
Comment[es]=Herramienta gráfica para editar el menú de Xfce4
Comment[es_MX]=Herramienta para editar el menú Xfce4
Comment[et]=Graafiline tööriist Xfce 4 menüüde redigeerimiseks
Comment[eu]=Xfce 4 menua editatzeko lanabes grafikoa
Comment[fi]=Graafinen työkalu Xfce 4:n valikon muokkaamiseen
Comment[fr]=Outil graphique pour éditer le menu de Xfce 4
Comment[gu]=Xfce 4 મેનુમાં ફેરફાર કરવા માટેનું ગ્રાફિકવાળું સાધન
Comment[he]=כלי גרפי בשביל לערוך את תפריט של Xfce 4
Comment[hu]=Grafikus Xfce 4 menüszerkesztő
Comment[it]=Strumento grafico per modificare il menu di Xfce 4
Comment[ja]=Xfce 4 メニューを編集するグラフィカルなツールです
Comment[ko]=Xfce 4 메뉴를 수정하는 도구
Comment[lv]=Grafisks rīks, priekš Xfce 4 izvēlnes rediģēšanas
Comment[mk]=Графички алатки за уредување на Xfce 4 менито
Comment[mr]=Xfce 4  यादीचे संपादन करण्यासाठी आलेखात्मक साधन
Comment[nb_NO]=Grafisk verktøy for redigering av Xfce 4 menyen
Comment[nl]=Grafisch programma om het Xfce 4 menu te bewerken
Comment[pa]=Xfce 4 ਮੇਨੂ ਸੋਧਣ ਲਈ ਗਰਾਫੀਕਲ ਸੰਦ
Comment[pl]=GUI do edycji menu Xfce 4
Comment[pt_BR]=Ferramenta gráfica para edição do menu do Xfce 4
Comment[pt_PT]=Ferramenta gráfica para edição do menu Xfce 4
Comment[ro]=Unealtă grafică pentru editarea meniului Xfce 4
Comment[ru]=Графическая программа для правки меню Xfce 4
Comment[sk]=Grafický nástroj pre úpravu ponuky Xfce 4
Comment[sv]=Grafiskt verktyg för redigering av Xfce4-menyn
Comment[tr]=Xfce 4 menüsünü düzenlemek için arayüz
Comment[uk]=Графічна програма редагування меню Xfce 4
Comment[vi]=Công cụ soạn thảo trình đơn đồ họa
Comment[zh_CN]=编辑 xfce4 菜单图形工具
Comment[zh_TW]=修改 Xfce 的選單
Exec=xfce4-menueditor
Icon=xfce4-menueditor
Terminal=false
Type=Application
Categories=X-XFCE;Application;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Menu Editor
GenericName[be]=Рэдактар мэню
GenericName[bn_IN]=মেনু এডিটর
GenericName[ca]=Editor del menú
GenericName[cs]=Editor nabídky
GenericName[de]=Menüeditor
GenericName[dz]=དཀར་ཆག་ཞུན་དགཔ།
GenericName[el]=Επεξεργαστής μενού
GenericName[en_GB]=Menu Editor
GenericName[eo]=Menua Radaktilo
GenericName[es]=Editor de menú
GenericName[es_MX]=Editor de menú
GenericName[et]=Menüüredaktor
GenericName[eu]=Menu Editorea
GenericName[fi]=Valikkoeditori
GenericName[fr]=Éditeur de menu
GenericName[gu]=મેનુ સંપાદક
GenericName[he]=עורך תפריט
GenericName[hu]=Menüszerkesztő
GenericName[it]=Editor del menu
GenericName[ja]=メニューエディター
GenericName[ko]=메뉴 편집기
GenericName[lv]=Izvēlnes redaktors
GenericName[mk]=Уредување на менито
GenericName[mr]=यादी संपादक
GenericName[nb_NO]=Menyredigering
GenericName[nl]=Menubewerker
GenericName[pa]=ਮੇਨੂ ਐਡੀਟਰ
GenericName[pl]=Edytor menu
GenericName[pt_BR]=Editor de Menu
GenericName[pt_PT]=Editor de Menu
GenericName[ro]=Editor de meniu
GenericName[ru]=Редактор меню
GenericName[sk]=Editor ponuky
GenericName[sv]=Menyredigeraren
GenericName[tr]=Menü Düzenleyici
GenericName[uk]=Редактор меню
GenericName[vi]=Trình soạn thảo trình đơn
GenericName[zh_CN]=菜单编辑器
GenericName[zh_TW]=選單編輯器
