[Desktop Entry]
X-AppInstall-Package=xfmedia
X-AppInstall-Popcon=739
X-AppInstall-Section=main

Version=1.0
Type=Application
Encoding=UTF-8
Name=Xfmedia
Name[ca]=Xfmedia
Name[cs]=Xfmedia
Name[de]=Xfmedia
Name[dz]=ཨེགསི་ཨེཕ་བརྡ་བརྒྱུད།
Name[es]=Xfmedia
Name[eu]=Xfmedia
Name[fi]=Xfmedia
Name[fr]=Xfmedia
Name[gu]=Xfmedia
Name[he]=Xfmedia
Name[hu]=Xfmedia
Name[it]=Xfmedia
Name[ja]=Xfmedia メディアプレイヤー
Name[lt]=Xfmedia
Name[pl]=Xfmedia
Name[pt_BR]=Xfmedia
Name[ru]=Xfmedia
Name[uk]=Xfmedia
Name[vi]=Xfmedia
Name[zh_CN]=Xfmedia
Name[zh_TW]=Xfmedia
Comment=Lightweight Media Player
Comment[ca]=Lleuger reproductor multimèdia
Comment[cs]=Odlehčený přehrávač médií
Comment[de]=Leichtgewichtiger Medienspieler
Comment[dz]=ལྗིད་ཚད་ཡང་བའི་བརྡ་བརྒྱུད་གཏང་མི།
Comment[es]=Reproductor Multimedia Ligero
Comment[eu]=PisuGutxiko Medio Erreproduzitzailea
Comment[fi]=Kevyt mediasoitin
Comment[fr]=Lecteur Média Léger
Comment[gu]=હલકું મીડિયા પ્લેયર
Comment[he]=נגן מדיה קל
Comment[hu]=Pillesúlyú Média lejátszó
Comment[it]=Un lettore multimediale leggero
Comment[ja]=軽快なメディアプレイヤーです
Comment[lt]=Nedidelis multimedijos grotuvas
Comment[pl]=Lekki Odtwarzacz Multimedialny
Comment[pt_BR]=Reprodutor de Mídia Leve
Comment[sk]=Odľahčený prehrávač médií
Comment[uk]=Легкий мультимедійний програвач
Comment[vi]=Chương trình Nghe nhạc Nhỏ
Comment[zh_CN]=轻量级媒体播放器
Comment[zh_TW]=輕量級媒體播放器
Exec=xfmedia %F
Icon=xfmedia
Terminal=false
Categories=X-XFCE;AudioVideo;Player;
StartupNotify=true
MimeType=audio/ogg;audio/x-speex;application/ogg;video/x-ms-asf;video/x-ms-wmv;audio/x-aiff;audio/vnd.rn-realaudio;audio/basic;audio/x-wav;video/x-msvideo;video/quicktime;application/x-quicktime-media-link;video/x-flic;application/vnd.rn-realmedia;image/x-ilbm;video/x-anim;video/mpeg;audio/mpeg;audio/x-mpegurl;audio/x-mp3-playlist;audio/x-flac+off;audio/x-flac;
Actions=Enqueue;Enqueue and Play;

[Desktop Action Enqueue]
Exec=xfmedia-remote -a %F
Name=Enqueue in Xfmedia
Name[ca]=Posar a la cua a Xfmedia
Name[cs]=Zařadit do Xfmedia
Name[de]=An das Ende der Wiedergabeliste in Xfmedia hängen
Name[dz]=ཨེགསི་ཨེཕ་བརྡ་བརྒྱུད་ནང་གྱལ་ནང་བཞག
Name[eu]=Xfmedia-n hilaran ipini
Name[fi]=Lisää Xfmedian soittojonoon
Name[fr]=Mettre en fin de liste dans Xfmedia
Name[he]=העבר לרשימת המתנה של Xfmedia
Name[hu]=Lejátszósorba tesz az Xfmedia-ban
Name[ja]=Xfmedia のキューに入れる
Name[pl]=Kolejkowanie w Xfmedia
Name[pt_BR]=Enfileirar no Xfmedia
Name[ru]=Поместить в список воспроизведения
Name[uk]=Додати до списку програвання
Name[vi]=Đặt vào hàng của Xfmedia
Name[zh_CN]=加入 Xfmedia 队列

[Desktop Action Enqueue and Play]
Exec=xfmedia-remote -p -a %F
Name=Enqueue and play with Xfmedia
Name[ca]=Posar a la cua i reprodueix amb Xfmedia
Name[cs]=Zařadit a přehrát pomocí Xfmedia
Name[de]=An das Ende der Wiedergabeliste hängen und mit Xfmedia abspielen
Name[dz]=གྱལ་ནང་བཞག་ནི་དང་  ཨེགསི་ཨེཕ་བརྡ་བརྒྱུད་ཅི་ཁར་གཏང་།
Name[eu]=Xfmedia erabiliaz hilaran ipini eta erreproduzitu
Name[fi]=Lisää Xfmedian jonoon ja soita
Name[fr]=Mettre en fin de liste et jouer avec Xfmedia
Name[he]=העבר לרשימת המתנה ונגן עם Xfmedia
Name[hu]=Lejátszósorba és lejátszik az Xfmedia-val
Name[ja]=Xfmedia のキューに入れて再生する
Name[pl]=Kolejkuj i odtwarzaj z Xfmedia
Name[pt_BR]=Enfileirar e reproduzir com o Xfmedia
Name[ru]=Поместить в список воспроизведения и проиграть
Name[uk]=Додати до списку програвання та відтворити
Name[vi]=Sắp hàng và chạy với Xfmedia
Name[zh_CN]=加入 Xfmedia 队列并播放
