[Desktop Entry]
X-AppInstall-Package=xfprint4
X-AppInstall-Popcon=1068
X-AppInstall-Section=main

Encoding=UTF-8
Name=Xfce 4 Print Manager
Name[be]=Кіраўнік друку Xfce 4
Name[bn_IN]=Xfce 4 প্রিন্ট কর্ম পরিচালন ব্যবস্থা
Name[ca]=Gestor d'impressió Xfce4
Name[cs]=Správce tisku v Xfce 4
Name[de]=Xfce4-Druckerverwaltung
Name[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་༤དཔར་བསྐྲུན་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής εκτυπωτών Xfce 4
Name[en_GB]=Xfce 4 Print Manager
Name[eo]=Xfce 4 presada mastrumilo
Name[et]=Xfce 4 printeri haldaja
Name[eu]=Xfce 4 Inprimagailu kudeatzailea
Name[fi]=Xfce 4 tulostimienhallinta
Name[fr]=Gestionnaire d'impression de Xfce4
Name[gu]=Xfce 4 છાપન વ્યવસ્થાપક
Name[he]=מנהל ההדפסות של Xfce 4
Name[hu]=Xfce 4 Nyomtatókezelő
Name[it]=Gestore delle stampanti di Xfce 4
Name[ja]=Xfce 4 プリントマネージャー
Name[ko]=Xfce 4 출력 관리자
Name[lt]=Xfce 4 Spausdinimo tvarkyklė
Name[lv]=Xfce 4 Drukas Pārvaldnieks
Name[mk]=Xfce 4 Менаџер за печатење
Name[mr]=Xfce 4 मुद्रण व्यवस्थापक
Name[nb_NO]=Xfce 4 printadministrator
Name[nl]=Xfce 4 Printer Beheer
Name[pa]=Xfce 4 ਛਪਾਈ ਮੈਨੇਜਰ
Name[pl]=Menadżer drukarek Xfce
Name[pt_BR]=Gerenciador de Impressão do Xfce 4
Name[pt_PT]=Gestor de Impressão Xfce 4
Name[ro]=Administrator de imprimante Xfce 4
Name[ru]=Диспетчер печати Xfce 4
Name[sk]=Xfce 4 Správca tlačiarne
Name[sv]=Xfce 4 Skrivarhanterare
Name[tr]=Xfce 4 Yazdırma Yöneticisi
Name[uk]=Менеджер друку для Xfce 4
Name[vi]=Trình quản lí in của Xfce 4
Name[zh_CN]=xfce4 打印管理器
Name[zh_TW]=Xfce 4 列印管理程式
Comment=Show the printer list and allow you to manage their jobs
Comment[be]=Паказвае сьпіс друкарак і дазваляе вам кіраваць заданьнямі для іх
Comment[ca]=Mostra el llistat d'impresores i us permet gestionar els treballs
Comment[cs]=Zobrazí seznam tiskáren a umožní spravovat jejich úkoly
Comment[de]=Hier wird Ihnen die Druckerliste angezeigt und Sie können die Druckjobs bearbeiten.
Comment[dz]=དཔར་འཕྲུལ་ཐོ་ཡིག་སྟོནམ་ད་ཁྱོད་ལུ་དེ་ཚུའི་ལས་གཡོག་ཚུ་འཛིན་སྐྱོང་འབད་བཅུགཔ་ཨིན།
Comment[el]=Προβολή της λίστας εκτυπωτών και διαχείριση των εργασιών τους
Comment[en_GB]=Show the printer list and allow you to manage their jobs
Comment[et]=Näitab printerite nimekirja ja lubab sul hallata nende tööd
Comment[eu]=Inrpmagailu zerrenda bistarazi eta beren lanak kudeatzeko aukera ematen du
Comment[fi]=Näyttä lista tulostimista ja hallitse niiden töitä
Comment[fr]=Affiche les files d'impression et permet de les gérer
Comment[he]=מראה את רשימת המדפסות ומאפשר לך לנהל את עבודות ההדפסה
Comment[hu]=Megmutatja a nyomtatókat és kezeli azok munkáit
Comment[it]=Mostra l'elenco delle stampanti e permette di amministrare i loro lavori
Comment[ja]=プリンターのリストを表示します。また、それらのジョブを管理します。
Comment[ko]=프린터 목록을 보여주고 각 출력작업을 조정
Comment[lt]=Rodyti spausdintuvų sąrašą ir leisti valdyti jų darbus
Comment[lv]=Rāda printeru sarakstu un ļauj pārvaldīt to darbus
Comment[mk]=Прикажи листа со печатачи и дозвола за уредување на нивните печатења
Comment[nb_NO]=Vis skriverlisten og tillater administrasjon av jobbene deres
Comment[nl]=Tool de printer lijst en beheer de print opdrachten
Comment[pa]=ਪਰਿੰਟਰ ਲਿਸਟ ਵੇਖਾਉਦੀ ਹੈ ਅਤੇ ਤੁਸੀਂ ਆਪਣੇ ਜਾਬ ਦਾ ਪਰਬੰਧ ਕਰ ਸਕਦੇ ਹੋ
Comment[pl]=Pokazuj listę drukarek i zezwól na zarządzanie ich zadaniami
Comment[pt_BR]=Mostra a lista de impressoras e permite que você gerencie seus trabalhos
Comment[pt_PT]=Mostra a lista de impressoras e permite-lhe gerir os trabalhos
Comment[ro]=Arată lista imprimantelor şi permite administrarea sarcinilor de tipărire
Comment[ru]=Отображает список принтеров и позволяет управлять их заданиями
Comment[sk]=Zobraziť zoznam tlačiarní a umožniť súrávu ich úloh
Comment[tr]=Yazıcı listesini gösterir ve yazıcıların görevlerini yönetmenize izin verir
Comment[uk]=Показа списку принтерів та керування завданнями друку
Comment[vi]=Hiển thị danh sách máy in và cho phép quản lý công việc của chúng
Comment[zh_CN]=显示打印列表，允许你管理其任务
Comment[zh_TW]=顯示印表機清單，讓您管理其作業
Exec=xfprint4-manager
Icon=printer
Terminal=false
Type=Application
Categories=X-XFCE;Utility;
OnlyShowIn=XFCE;
GenericName=Print Manager
GenericName[be]=Кіраўнік друку
GenericName[bn_IN]=প্রিন্ট কর্ম পরিচালন ব্যবস্থা
GenericName[ca]=Gestor d'impressió
GenericName[cs]=Správce tisku
GenericName[de]=Druckerverwaltung
GenericName[dz]=དཔར་བསྐྲུན་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής εκτυπώσεων
GenericName[en_GB]=Print Manager
GenericName[eo]=Presada mastrumilo
GenericName[et]=Printeri haldaja
GenericName[eu]=Inprimagailu kudeatzailea
GenericName[fi]=Tulostimienhallinta
GenericName[fr]=Gestionnaire d'impression
GenericName[gu]=છાપન વ્યવસ્થાપક
GenericName[he]=מנהל הדפסות
GenericName[hu]=Nyomtató kezelő
GenericName[it]=Gestore delle stampanti
GenericName[ja]=プリントマネージャー
GenericName[ko]=출력 관리자
GenericName[lt]=Spausdinimo tvarkyklė
GenericName[lv]=Drukas Pārvaldnieks
GenericName[mk]=Менаџер за печатење
GenericName[mr]=मुद्रण व्यवस्थापक
GenericName[nb_NO]=Skriveradministrator
GenericName[nl]=Printer Beheer
GenericName[pa]=ਛਾਪਣ ਮੈਨੇਜਰ
GenericName[pl]=Menadżer drukarek
GenericName[pt_BR]=Gerenciador de Impressão
GenericName[pt_PT]=Gestor de Impressão
GenericName[ro]=Administrator de imprimante
GenericName[ru]=Диспетчер печати
GenericName[sk]=Správca tlačiarne
GenericName[sv]=Skrivarhanterare
GenericName[tr]=Yazdırma Yöneticisi
GenericName[uk]=Менеджер друку
GenericName[vi]=Trình quản lí in
GenericName[zh_CN]=打印管理器
GenericName[zh_TW]=列印管理程式
