[Desktop Entry]
X-AppInstall-Package=xoscope
X-AppInstall-Popcon=29
X-AppInstall-Section=main

Encoding=UTF-8
Name=Xoscope
GenericName=digital oscilloscope
GenericName=digitales Osziloskop
Exec=/usr/bin/xoscope
Type=Application
Terminal=false
Categories=GNOME;Application;Utility;
