[Desktop Entry]
X-AppInstall-Package=xpad
X-AppInstall-Popcon=77
X-AppInstall-Section=main

Version=1.0

Name=Xpad
Name[zh_TW]=Xpad
GenericName=Sticky Notes
GenericName[zh_TW]=自粘性便條
Comment=Jot down notes for later
Comment[zh_TW]=大略記下備註以供之後使用

Exec=xpad
Terminal=false
Icon=xpad

StartupNotify=true
StartupWMClass=xpad

Type=Application
Categories=GTK;Utility;

