[Desktop Entry]
X-AppInstall-Package=xt
X-AppInstall-Popcon=76
X-AppInstall-Section=main

Encoding=UTF-8
Name=xtraceroute
Name[es]=xtraceroute
Name[fr]=xtraceroute
Comment=A graphical traceroute
Comment[es]=Un traceroute gráfico
Comment[fr]=Un traceroute graphique
Exec=xtraceroute
Icon=xtraceroute
Terminal=false
Type=Application
Categories=Utility;Network;
