
[Desktop Entry]
X-AppInstall-Package=xwhois
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Name=Xwhois
Name[es]=Xwhois
Name[de]=Xwhois
Name[ko]=Xwhois
Name[fr]=Xwhois
Name[it]=Xwhois
Name[no]=Xwhois
Name[pt]=Xwhois
Name[se]=Xwhois
Comment=Whois utility
Comment[es]=Whois utility
Comment[de]=Whois Programm
Comment[ko]=Whois utility
Comment[fr]=Whois utility
Comment[it]=Whois utility
Comment[no]=Whois verktøy
Comment[pt]=Whois utility
Comment[se]=Whois verktyg
Exec=xwhois
Icon=xwhois.xpm
Terminal=0
Type=Application
