[Desktop Entry]
X-AppInstall-Package=zekr
X-AppInstall-Popcon=11
X-AppInstall-Section=main

Encoding=UTF-8
Name=Zekr 
Name[fa]=ذکر
Comment=Study The Quran
Comment[fa]=قرآن را مطالعه نمایید
GenericName=Quranic Browser
GenericName[fa]=مرورگر قرآنی
Exec=zekr
Terminal=false
Type=Application
Icon=zekr-32.xpm
Categories=Utility;
MimeType=
