# uncomment this if you have problems with OpenGL (vertices are small,
# faces are invisible, ...).  This is caused by buggy drivers, buggy
# graphics cards, etc.
#
# You usually want to leave this as-is:
# LIBGL_ALWAYS_INDIRECT=1
# export LIBGL_ALWAYS_INDIRECT
