[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Action Buttons
Name[be]=Кнопкі дзеяньняў
Name[ca]=Botons d'accions
Name[cs]=Akční tlačítka
Name[de]=Aktionsknöpfe
Name[dz]=བྱ་བའི་ཨེབ་རྟ་ཚུ།
Name[el]=Κουμπιά ενεργειών 
Name[en_GB]=Action Buttons
Name[eo]=Agaj Butonoj
Name[es]=Botones de acción
Name[et]=Tegevuse nupud
Name[eu]=Ekintza Botoiak
Name[fi]=Toimintopainikkeet
Name[fr]=Boutons d'actions
Name[gl]=Botóns de accións
Name[he]=כפתורי פעולות
Name[hu]=Műveletgombok
Name[it]=Pulsanti delle azioni
Name[ja]=アクションボタン
Name[ka]=სისტემური ღილაკები
Name[ko]=동작 버튼
Name[lv]=Darbību Pogas
Name[mk]=Копчиња за акција
Name[nb_NO]=Handling knapper
Name[nl]=Actieknoppen
Name[pa]=ਕਾਰਵਾਈ ਬਟਨ
Name[pl]=Przyciski Akcji
Name[pt_BR]=Botões de Ação
Name[pt_PT]=Botões de acção
Name[ro]=Butoane cu acţiuni
Name[ru]=Системные действия
Name[sk]=Tlačidlá akcií
Name[sv]=Händelseknappar
Name[tr]=Hareket Düğmeleri
Name[uk]=Системні дії
Name[vi]=Nút thao tác
Name[zh_CN]=动作按钮
Name[zh_TW]=動作按鈕
Comment=Log out or lock the screen
Comment[be]=Выйсьці альбо замкнуць экран
Comment[ca]=Surt o bloca la pantalla
Comment[cs]=Odhlásit se a uzamknout obrazovku
Comment[de]=Abmelden oder Bildschirm sperren
Comment[dz]=ཕྱིར་བསྐྱོད་འབད་ ཡང་ན་ གསལ་གཞི་ལྡེ་མིག་རྐྱབས།
Comment[el]=Αποσύνδεση ή κλείδωμα οθόνης
Comment[en_GB]=Log out or lock the screen
Comment[eo]=Adiaŭu aŭ ŝlosu la ekranon
Comment[es]=Salir y bloquear la pantalla
Comment[et]=Välju või lukusta ekraan
Comment[eu]=Pantaila blokeatu edo saioa itxi
Comment[fi]=Kirjaudu ulos tai lukitse näyttö
Comment[fr]=Déconnexion ou verrouillage de l'écran
Comment[gl]=Pechar a sesión ou bloquear o escritorio
Comment[he]=יציאה או נעילת מסך
Comment[hu]=Kilépés vagy képernyőzár
Comment[it]=Disconnette l'utente o blocca lo schermo
Comment[ja]=ログアウトしたり画面をロックしたりします。
Comment[ka]=სეანსის დასრულება ან ეკრანის დაბლოკვა
Comment[ko]=종료 아니면 화면 잠금
Comment[lv]=Atteikties vai noslēgt ekrānu
Comment[mk]=Одјави се или заклучи го екранот
Comment[nb_NO]=Logg ut eller lås skjermen
Comment[nl]=Afsluiten of scherm beveiligen
Comment[pa]=ਲਾਗਆਉਟ ਜਾਂ ਸਕਰੀਨ ਲਾਕ
Comment[pl]=Zablokuj ekran
Comment[pt_BR]=Sair ou travar a tela
Comment[pt_PT]=Terminar sessão ou trancar ecrã
Comment[ro]=Ieşire sau blocare ecran
Comment[ru]=Завершение сеанса и/или блокировка экрана
Comment[sk]=Odhlásiť alebo uzamknúť obrazovku
Comment[sv]=Logga ut eller lås skärmen
Comment[tr]=Çıkış yap veya ekranı kilitle
Comment[uk]=Завершення сеансу чи блокування екрану
Comment[vi]=Thoát ra hoặc khóa màn hình
Comment[zh_CN]=注销或锁住屏幕
Comment[zh_TW]=登出或鎖住螢幕
Icon=xfce-system-exit
X-XFCE-Module=actions
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

