[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Battery Monitor
Name[ca]=Monitor de la bateria
Name[cs]=Sledování baterie
Name[eu]=Bateria-karga monitorea
Name[fr]=Moniteur de batterie
Name[ja]=バッテリーモニタ
Name[pl]=Monitor Baterii
Comment=Show and monitor the battery status
Comment[ca]=Mostra i monitoritza l'estat de la bateria
Comment[cs]=Zobrazit a monitorovat stav baterie
Comment[eu]=Bateria egoera erakutsi eta monitorizatu
Comment[fr]=Afficher et suivre l'état de la batterie
Comment[ja]=バッテリー状況の表示と監視する
Comment[pl]=Pokazuj i monitoruj stan baterii
Icon=battery
X-XFCE-Exec=/usr/lib/xfce4-battery-plugin/xfce4/panel-plugins/xfce4-battery-plugin
