[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Clock
Name[be]=Гадзіньнік
Name[ca]=Rellotge
Name[cs]=Hodiny
Name[de]=Uhr
Name[dz]=ཆེ་འཁོར།
Name[el]=Ρολόι
Name[en_GB]=Clock
Name[eo]=Horloĝo
Name[es]=Reloj
Name[et]=Kell
Name[eu]=Ordularia
Name[fi]=Kello
Name[fr]=Horloge
Name[gl]=Reloxo
Name[he]=שעון
Name[hu]=Óra
Name[it]=Orologio
Name[ja]=時計
Name[ka]=საათი
Name[ko]=시계
Name[lv]=Pulkstenis
Name[mk]=Часовник
Name[nb_NO]=Klokke
Name[nl]=Klok
Name[pa]=ਘੜੀ
Name[pl]=Zegar
Name[pt_BR]=Relógio
Name[pt_PT]=Relógio
Name[ro]=Ceas
Name[ru]=Часы
Name[sk]=Hodiny
Name[sv]=Klockan
Name[tr]=Saat
Name[uk]=Годинник
Name[vi]=Đồng hồ
Name[zh_CN]=时钟
Name[zh_TW]=時鐘
Comment=What time is it?
Comment[be]=Колькі зараз часу?
Comment[ca]=Quina hora és?
Comment[cs]=Kolik je hodin?
Comment[de]=Wieviel Uhr ist es?
Comment[dz]=ཆུ་ཚོད་ག་དེམ་ཅིག་སྨོ?
Comment[el]=Τι ώρα είναι;
Comment[en_GB]=What time is it?
Comment[eo]=Kiomhore estas?
Comment[es]=¿Qué hora es?
Comment[et]=Mis aeg on?
Comment[eu]=Zein ordu da?
Comment[fi]=Paljonko kello on?
Comment[fr]=Quelle heure est-il ?
Comment[gl]=¿Que hora é?
Comment[he]=מה השעה?
Comment[hu]=Pontos idő
Comment[it]=Che ora è?
Comment[ja]=今何時ですか？
Comment[ka]=რა დროა?
Comment[ko]=몇 시죠?
Comment[lv]=Cik rāda pulkstenis?
Comment[mk]=Колку е часот?
Comment[nb_NO]=Hva er klokken?
Comment[nl]=Hoe laat is het?
Comment[pa]=ਇਹ ਕਿਹੜਾ ਸਮਾਂ ਹੈ?
Comment[pl]=Jaka jest godzina?
Comment[pt_BR]=Que horas são?
Comment[pt_PT]=Que horas são?
Comment[ro]=Cât e ceasul?
Comment[ru]=Который час?
Comment[sk]=Koľko je hodín?
Comment[sv]=Vad är klockan?
Comment[tr]=Saat kaç?
Comment[uk]=Котра година?
Comment[vi]=Bây giờ là mấy giờ?
Comment[zh_CN]=现在什么时间？
Comment[zh_TW]=現在幾點？
Icon=xfce-schedule
X-XFCE-Module=clock
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

