[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Launcher
Name[ar]=برنامج
Name[az]=Başladıcı
Name[be]=Запускальнік
Name[bg]=Обект
Name[bn_IN]=লঞ্চার
Name[ca]=Llançadora
Name[cs]=Spouštěč
Name[de]=Starter
Name[dz]=གསར་བཙུགས་འབད་མི།
Name[el]=Εκκινητής
Name[en_GB]=Launcher
Name[eo]=Lanĉilo
Name[es]=Lanzador
Name[es_MX]=Lanzador
Name[et]=Startija
Name[eu]=Abiarazlea
Name[fa]=پرتابگر
Name[fi]=Käynnistin
Name[fr]=Lanceur
Name[gl]=Lanzador
Name[gu]=લોન્ચર
Name[he]=משגר
Name[hi]=लाँचर
Name[hu]=Indító
Name[hy]=Պիտակ
Name[it]=Avviatore
Name[ja]=ランチャー
Name[ka]=პროგრამების გაშვება
Name[ko]=실행기
Name[lt]=Leistukas
Name[lv]=Palaidējs
Name[mk]=Пуштач
Name[mr]=लॉनचंर
Name[ms]=Pelancar
Name[nb_NO]=Programstarter
Name[nl]=Snelkoppeling
Name[pa]=ਸ਼ੁਰੂਆਤੀ
Name[pl]=Aktywator
Name[pt_BR]=Lançador
Name[pt_PT]=Lançador
Name[ro]=Lansator
Name[ru]=Запуск приложений
Name[sk]=Spúšťač
Name[sv]=Programstartare
Name[ta]=தொடங்கர்
Name[tr]=Başlatıcı
Name[uk]=Запуск програм
Name[vi]=Trình gọi
Name[zh_CN]=启动器
Name[zh_TW]=啟動器
Comment=Program launcher with optional menu
Comment[be]=Запускальнік праграм з апцыянальным мэню
Comment[ca]=Llançadora de programa amb menu opcional
Comment[cs]=Spouštěč programů s volitelnou nabídkou
Comment[de]=Programmstarter mit optionalem Menü
Comment[dz]=གདམ་ཁ་ཅན་གྱི་དཀར་ཆག་དང་བཅས་ལས་རིམ་གསར་བཙུགས་འབད་མི།
Comment[el]=Εκκινητής προγραμμάτων με προαιρετικό μενού
Comment[en_GB]=Program launcher with optional menu
Comment[eo]=Programa lanĉilo kun opcia menuo
Comment[es]=Lanzador de programa con menú opcional
Comment[et]=Programmi käivitaja koos vaba menüüga
Comment[eu]=Programa abiarazlea aukerako menu batez
Comment[fi]=Sovelluskäynnistin, johon voi liittää valikon
Comment[fr]=Lanceur de programme avec un menu facultatif
Comment[gl]=Lanzador de aplicacións con menu opcional
Comment[he]=משגר יישום עם אפשרות לתפריט
Comment[hu]=Programindító tetszőleges menüvel
Comment[it]=Avviatore di programmi con menu opzionale
Comment[ja]=オプションでメニューが付くプログラムランチャーです。
Comment[ka]=პროგრამის გაშვების ღილაკი დამატებითი მენიუთი
Comment[ko]=선택 메뉴가 있는 실행기
Comment[lv]=Programu palaidējs ar iespējamu izvēlni
Comment[mk]=Пуштач за програма со незадолжително мени
Comment[nb_NO]=Programstarter med valgfri undermeny
Comment[nl]=Programma-starter met optioneel menu
Comment[pa]=ਚੋਣਵੇਂ ਮੇਨੂ ਨਾਲ ਪ੍ਰੋਗਰਾਮ ਲਾਂਚਰ
Comment[pl]=Aktywator programu z opcjonalnym menu
Comment[pt_BR]=Lançador de programas com menu opcional
Comment[pt_PT]=Lançar programas com menu opcional
Comment[ro]=Lansator de aplicaţii cu meniu opţional
Comment[ru]=Кнопка запуска приложения с дополнительным меню
Comment[sk]=Spúšťač programov s nastaviteľnou ponukou
Comment[sv]=Programstartare med meny som tillval
Comment[tr]=Uygulama çalıştırıcısı
Comment[uk]=Кнопка запуску з додатковим меню
Comment[vi]=Trình chạy chương trình với trình đơn tùy chọn
Comment[zh_CN]=带有选项菜单的程序起动器
Comment[zh_TW]=程式啟動器，可附加選單
Icon=gnome-fs-executable
X-XFCE-Module=launcher
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

