[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Pager
Name[ar]=مراقب المهام
Name[az]=Peycer
Name[be]=Працоўныя прасторы
Name[bg]=Пейджър
Name[bn_IN]=পেজার
Name[ca]=Paginador
Name[cs]=Přepínač ploch
Name[de]=Pager
Name[dz]=པེ་ཇར།
Name[el]=Ειδοποιητής
Name[en_GB]=Pager
Name[eo]=Paĝilo
Name[es]=Paginador
Name[es_MX]=Paginador
Name[et]=Lehitseja
Name[eu]=Orrialdekatzailea
Name[fa]=صفحه‌نما
Name[fi]=Työtilan vaihtaja
Name[fr]=Bureaux
Name[gl]=Paxinador
Name[gu]=પેજર
Name[he]=מחליף סביבות עבודה
Name[hi]=पेजर
Name[hu]=Lapozó
Name[it]=Impaginatore
Name[ja]=ページャー
Name[ka]=პეიჯერი
Name[ko]=페이저
Name[lt]=Pageris
Name[lv]=Peidžeris
Name[mk]=Пејџер
Name[mr]=पेजर
Name[ms]=Pager
Name[nb_NO]=Skrivebordsoversikt
Name[nl]=Pager
Name[pa]=ਪੇਜ਼ਰ
Name[pl]=Pager
Name[pt_BR]=Seletor de Espaço de Trabalho
Name[pt_PT]=Paginador
Name[ro]=Comutator
Name[ru]=Переключатель рабочих мест
Name[sk]=Prepínač plôch
Name[sv]=Skrivbordsbläddrare
Name[ta]=பயனழையம்
Name[tr]=Sayfalayıcı
Name[uk]=Графічний пейджер
Name[vi]=Trình chuyển trang
Name[zh_CN]=页面切换器
Name[zh_TW]=頁面切換器
Comment=Miniature view of all virtual desktops
Comment[be]=Мініяцюрны выгляд усіх працоўных прастораў
Comment[ca]=Vista en miniatura de tots els escriptoris virtuals
Comment[cs]=Zmenšený pohled na všechny virtuální pracovní plochy
Comment[de]=Miniaturansicht aller virtuellen Arbeitsoberflächen
Comment[dz]=བར་ཅུ་ཡལ་ཌེཀསི་ཊོཔསི་ཆ་མཉམ་གྱི་མཐོང་སྣང་ཆུང་བ།
Comment[el]=Μικρογραφίες όλων των εικονικών επιφανειών εργασίας
Comment[en_GB]=Miniature view of all virtual desktops
Comment[eo]=Miniatura vido el ĉiuj virtualaj labortabloj
Comment[es]=Vista en miniatura de todos los escritorios virtuales
Comment[et]=Minivaade kõigist virtuaalsetest töölaudadest
Comment[eu]=Idazmahai birtualen ikuspegi txikitua
Comment[fi]=Kaikkien virtuaalisten työpöytien pienoisnäkymä
Comment[fr]=Vue miniature des bureaux virtuels
Comment[gl]=Vista en miniatura de todos os escritorios virtuais
Comment[he]=תצוגה מוקטנת של כל השולחנות המדומים
Comment[hu]=Virtuális asztalok miniatűr nézete
Comment[it]=Vista in miniatura di tutte le scrivanie virtuali
Comment[ja]=全ての仮想デスクトップのミニチュアを表示します。
Comment[ka]=ყველა სამუშაო დაფის მინიატურული წარმოდგენა
Comment[ko]=모든 작업 공간에 대해 쬐만하게 보이기
Comment[lv]=Miniatūras skats uz visām virtuālajām darbavirsmām
Comment[mk]=Минијатурен преглед на сите виртуелни работни површини
Comment[nb_NO]=Miniatyroversikt over alle virtuelle skrivebord
Comment[nl]=Miniatuuroverzicht van alle virtuele bureaubladen
Comment[pa]=ਸਭ ਵੁਰਚੁਅਲ ਡਿਸਕਟਾਪਾਂ ਦੀ ਸਾਂਝੀ ਝਲਕ
Comment[pl]=Minimalny widok wszystkich wirtualnych pulpitów
Comment[pt_BR]=Visualização em miniatura de todas as áreas de trabalho virtuais
Comment[pt_PT]=Vista em miniatura de todos as áreas de trabalho virtuais
Comment[ro]=Vedere miniaturală a desktopurilor virtuale
Comment[ru]=Миниатюрное представление всех рабочих мест
Comment[sk]=Zmenšený náhľad všetkých virtuálnych pracovných plôch
Comment[sv]=Miniatyrvy av alla arbetsytor
Comment[tr]=Tüm sanal masaüstlerinin minyatür görünümü
Comment[uk]=Мініатюрне представлення усіх робочих областей
Comment[vi]=Màn hình thu nhỏ của mọi không gian
Comment[zh_CN]=所有工作区的缩略显示
Comment[zh_TW]=所有虛擬桌面的最小化檢視
Icon=wksp
X-XFCE-Module=pager
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

