[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Separator or Spacing
Name[be]=Падзяляльнік ці прастора
Name[ca]=Separador o espaiat
Name[cs]=Oddělovač
Name[de]=Trennlinie oder Abstand
Name[dz]=དབྱེ་བྱེད་ ཡང་ན་ བར་སྟོང་བཞག་ཐངས།
Name[el]=Διαχωριστικό ή διάστιχο
Name[en_GB]=Separator or Spacing
Name[eo]=Disigilo aŭ Interspaco
Name[es]=Separador o espaciador
Name[et]=Eraldaja või vahe
Name[eu]=Bereizlea edo Lekua
Name[fi]=Erotin tai tyhjä tila
Name[fr]=Séparation ou espaceur
Name[gl]=Separador ou espaciado
Name[he]=קו מפריד או מרווח
Name[hu]=Elválasztó vagy térköz
Name[it]=Separatore o spaziatura
Name[ja]=セパレーターまたはスペース
Name[ka]=გამყოფი ან ჰარე
Name[ko]=분리표시 또는 띄우기
Name[lv]=Atdalītājs vai Atkāpe
Name[mk]=Разделувач или празен простор
Name[nb_NO]=Skille eller mellomrom
Name[nl]=Scheidingslijn of Lege Ruimte
Name[pa]=ਸੈਪਰੇਟਰ ਜਾਂ ਸਪੇਸ
Name[pl]=Separator lub Odstęp
Name[pt_BR]=Separador ou Espaçamento
Name[pt_PT]=Separador ou Espaço
Name[ro]=Separator sau spaţiu
Name[ru]=Разделитель или промежуток
Name[sk]=Oddeľovač alebo medzera
Name[sv]=Separator eller mellanrum
Name[tr]=Ayırıcı veya Boşluk
Name[uk]=Розділювач чи інтервал
Name[vi]=Dấu cách hoặc khoảng trống
Name[zh_CN]=分隔符或间隔
Name[zh_TW]=分隔線或間隔
Comment=Adds a space or a line between panel items
Comment[be]=Дадае прастору альбо лінію паміж элемэнтамі панэлі
Comment[ca]=Afegix un espai o una línea entre els elements del quadre
Comment[cs]=Vloží mezeru nebo řádek mezi položky panelu
Comment[de]=Fügt zusätzlichen Freiraum oder eine Linie zwischen Leistenelementen ein
Comment[dz]=པེ་ནཱལ་རྣམ་གྲངས་ཀྱི་སྦུག་ན་བར་སྟོང་ཅིག་ ཡངན་ གྲལ་ཐིག་ཅིག་ཁ་སྐོང་རྐྱབ་ཨིན།
Comment[el]=Προσθέτει ένα κενό ή μια γραμμή μεταξύ των αντικειμένων του ταμπλό
Comment[en_GB]=Adds a space or a line between panel items
Comment[eo]=Aldonas spacon aŭ linion inter panelaj elementoj
Comment[es]=Añade un espacio o una línea entre elementos del panel
Comment[et]=Paneb vahe või joone paneeli asjade vahele
Comment[eu]=Panel elementuen artean lekua edo lerro bat gehitu
Comment[fi]=Lisää tyhjää tilaa tai viiva paneelin osien väliin
Comment[fr]=Ajoute un espace ou une ligne entre les éléments du panneau
Comment[gl]=Engadir un espacio ou unha liña entre os compoñentes do panel
Comment[he]=מוסיף רווח או קו מפריד בין פריטי הלוח
Comment[hu]=Teret vagy vonalat rak a panel elemei közé
Comment[it]=Aggiunge uno spazio o una linea tra gli elementi del pannello
Comment[ja]=パネルのアイテム間に隙間か棒線を追加します。
Comment[ka]=პანელის ელემენტებს შორის ჰარეს ან ხაზის დამატება
Comment[ko]=항목 사이에 빈 공간이나 줄을 추가
Comment[lv]=Pievieno atstarpi vai līniju starp paneļa vienumiem
Comment[mk]=Додава празен простор или линија помеѓу предметите од панелот
Comment[nb_NO]=Lager mellomrom eller en linje mellom panelelementer
Comment[nl]=Spatie of scheidingslijn tussen items
Comment[pa]=ਪੈਨਲ ਆਈਟਮਾਂ 'ਚ ਇੱਕ ਸਪੇਸ ਜਾਂ ਇੱਕ ਲਾਈਨ ਸ਼ਾਮਲ ਕਰੋ
Comment[pl]=Dodaj spację lub linię pomiędzy elementami panelu
Comment[pt_BR]=Adiciona um espaço ou uma linha entre itens no painel
Comment[pt_PT]=Adicionar espaço ou linha entre os itens do painel
Comment[ro]=Adaugă un spaţiu ori o linie între elementele panoului
Comment[ru]=Добавляет промежуток или разделитель между элементами панели
Comment[sk]=Pridá medzeru alebo riadok medzi položky panelu
Comment[sv]=Lägger till ett mellanrum eller en linje mellan panelobjekt
Comment[tr]=Panel öğeleri arasına boşluk veya satır ekler
Comment[uk]=Додавання інтервалу або розділювача між елементами панелі
Comment[vi]=Thêm khoảng không hoặc một dòng ngăn cách các mục của panel
Comment[zh_CN]=在面板项目之间添加一块空间或一条线
Comment[zh_TW]=在面板項目間加入空白或直線
X-XFCE-Module=separator
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

