[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Show Desktop
Name[be]=Паказаць сталец
Name[ca]=Mostra l'escriptori
Name[cs]=Zobrazit pracovní plochu
Name[de]=Arbeitsoberfläche anzeigen
Name[dz]=ཌེཀསི་ཊོཔ་སྟོན།
Name[el]=Εμφάνιση επιφάνειας εργασίας
Name[en_GB]=Show Desktop
Name[eo]=Montru la Labortablon
Name[es]=Mostrar escritorio
Name[et]=Näita töölauda
Name[eu]=Idazmahaia bitarazi
Name[fi]=Näytä työpöytä
Name[fr]=Afficher bureau
Name[gl]=Mostrar Escritorio
Name[he]=הצג את שולחן העבודה
Name[hu]=Asztal mutatása
Name[it]=Mostra scrivania
Name[ja]=デスクトップ表示
Name[ka]=სამუშაო დაფის ჩვენება
Name[ko]=작업공간 보이기
Name[lv]=Rādīt Darbavirsmu
Name[mk]=Прикажи ја работната површина
Name[nb_NO]=Vis skrivebord
Name[nl]=Bureaublad tonen
Name[pa]=ਡਿਸਕਟਾਪ ਵੇਖਾਓ
Name[pl]=Pokaż Pulpit
Name[pt_BR]=Mostrar a Área de Trabalho
Name[pt_PT]=Mostrar Ambiente de trabalho
Name[ro]=Arată desktopul
Name[ru]=Показать рабочий стол
Name[sk]=Zobrazí pracovnú plochu
Name[sv]=Visa skrivbordet
Name[tr]=Masaüstünü Göster
Name[uk]=Показати робочий стіл
Name[vi]=Hiển thị nền
Name[zh_CN]=显示桌面
Name[zh_TW]=顯示桌面
Comment=Toggle desktop show/hide
Comment[be]=Паказвае/хавае Сталец
Comment[ca]=Commuta mostra/oculta l'escriptori
Comment[cs]=Zobrazit/skrýt pracovní plochu
Comment[de]=Arbeitsfläche anzeigen/verstecken
Comment[dz]=སོར་སྟོན་ཌེཀསི་ཊོཔ་སྟོན་/སྦ།
Comment[el]=Εναλλαγή της απόκρυψης/εμφάνισης της επιφάνειας εργασίας
Comment[en_GB]=Toggle desktop show/hide
Comment[eo]=Baskulu la labortablan montru/kaŝu
Comment[es]=Mostrar/ocultar escritorio
Comment[et]=Lülita töölauda näita / varja
Comment[eu]=Idazmahai ezkutatu/bistarazi txandakatu
Comment[fi]=Näytä tai piilota työpöytä
Comment[fr]=Activer afficher/cacher bureau
Comment[gl]=Trocar escritorio mostrar/ocultar
Comment[he]=החלף מצב הצגת/הסתרת שולחן עבודה
Comment[hu]=Asztal mutatása/rejtése
Comment[it]=Mostra/nasconde la scrivania
Comment[ja]=デスクトップを表示したり隠したりします。
Comment[ka]=სამუშაო დაფის გასუფთავების ღილაკი
Comment[ko]=작업공간 보이기/숨기기
Comment[lv]=Pārslēgt darbavirsmu rādit/slēpt
Comment[mk]=Менувај го прикажувањето на работната површина (прикажи/скриј)
Comment[nb_NO]=Skifte skrivebord vis/skjul
Comment[nl]=Wisselen tussen vensters verbergen en tonen
Comment[pa]=ਡਿਸਕਟਾਪ ਵੇਖਾਓ/ਓਹਲੇ
Comment[pl]=Włącz pokaż/ukryj dla pulpitu
Comment[pt_BR]=Alternar a visibilidade da área de trabalho
Comment[pt_PT]=Alterna mostrar/esconder ambiente de trabalho
Comment[ro]=Comută între desktop şi aplicaţii
Comment[ru]=Кнопка для очистки рабочего стола
Comment[sk]=Ukáže/skryje pracovnú plochu
Comment[sv]=Växla mellan att visa och gömma skrivbordet
Comment[tr]=Masaüstünü göster/gizle
Comment[uk]=Кнопка для очищення робочого столу
Comment[vi]=Ẩn/Hiện nền
Comment[zh_CN]=切换桌面显示／隐藏
Comment[zh_TW]=切換桌面顯示/隱藏
Icon=gnome-fs-desktop
X-XFCE-Module=showdesktop
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

