[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=System Tray
Name[be]=Сыстэмны сподак
Name[ca]=Safata del sistema
Name[cs]=Upozorňovací oblast
Name[de]=Systemleiste
Name[dz]=རིམ་ལུགས་ཤོག་སྣོད།
Name[el]=Πίνακας συστήματος
Name[en_GB]=System Tray
Name[eo]=Avizregiono
Name[es]=Bandeja de sistema
Name[et]=Süsteemi riba
Name[eu]=Sistema barra
Name[fi]=Järjestelmälokero
Name[fr]=Notification système
Name[gl]=Bandexa do Sistema
Name[he]=מגש מערכת
Name[hu]=Rendszertálca
Name[it]=Area di notifica
Name[ja]=システムトレイ
Name[ka]=სისტემური დაფა
Name[ko]=시스템 트레이
Name[lv]=Sistēmas Josla
Name[mk]=Системска лента
Name[nb_NO]=Systemkurv
Name[nl]=Systeemvak
Name[pa]=ਸਿਸਟਮ ਟਰੇ
Name[pl]=Tacka Systemowa
Name[pt_BR]=Bandeja do Sistema
Name[pt_PT]=Área de notificação
Name[ro]=Zonă sistem de notificare
Name[ru]=Системный лоток
Name[sk]=Systémová lišta
Name[sv]=Notifieringsfält
Name[tr]=Sistem Çekmecesi
Name[uk]=Системний лоток
Name[vi]=Khay hệ thống
Name[zh_CN]=系统托盘
Name[zh_TW]=系統匣
Comment=Show notification icons
Comment[be]=Паказвае значкі нагадваньня
Comment[ca]=Mostra icones de notificació
Comment[cs]=Zobrazit oznamovací ikony
Comment[de]=Symbole für Benchrichtigungen anzeigen
Comment[dz]=བརྡ་བསྐུལ་ངོས་པར་ཚུ་སྟོན།
Comment[el]=Εμφάνιση εικονιδίων ειδοποίησης
Comment[en_GB]=Show notification icons
Comment[eo]=Montru la avizpiktogramojn
Comment[es]=Mostrar iconos de notificación
Comment[et]=Näita märguannete ikoone
Comment[eu]=Bistarazi notifikazio ikonoak
Comment[fi]=Näytä järjestelmäkuvakkeet
Comment[fr]=Montrer les icônes de notification
Comment[gl]=Mostrar iconas de notificación
Comment[he]=הצג סמלי הודעות
Comment[hu]=Értesítőikonok mutatása
Comment[it]=Mostra le icone di notifica
Comment[ja]=通知アイコンを表示します。
Comment[ka]=შეტყობინების ხატულების ჩვენება
Comment[ko]=알림 아이콘 보이기
Comment[lv]=Rādīt paziņošanas ikonas
Comment[mk]=Покажи икони за известување
Comment[nb_NO]=Vis beskjedikoner
Comment[nl]=Notificatie-pictogrammen tonen
Comment[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਆਈਕਾਨ ਵੇਖਾਓ
Comment[pl]=Pokaż ikony powiadomie_nia
Comment[pt_BR]=Mostrar os ícones de notificação
Comment[pt_PT]=Mostrar ícones de notificação
Comment[ro]=Arată iconiţele de notificare
Comment[ru]=Отображает значки уведомления
Comment[sk]=Zobrazí oznamovacie ikony
Comment[sv]=Visar notifieringsikoner
Comment[tr]=Uyarı simgelerini göster
Comment[uk]=Показ значків сповіщення
Comment[vi]=Hiển thị biểu tượng thông báo
Comment[zh_CN]=显示提示图标
Comment[zh_TW]=顯示通知圖示
Icon=xfce-system-info
X-XFCE-Module=systray
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

