[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Task List
Name[be]=Сьпіс задач
Name[ca]=Llistat de tasques
Name[cs]=Seznam úloh
Name[de]=Taskliste
Name[dz]=ལས་ཀའི་ཐོ་ཡིག
Name[el]=Λίστα εργασιών
Name[en_GB]=Task List
Name[eo]=Taskolisto
Name[es]=Lista de tareas
Name[et]=Tegevuste nimekiri
Name[eu]=Zeregin zerrenda
Name[fi]=Tehtävälista
Name[fr]=Liste des tâches
Name[gl]=Lista de _Tarefas
Name[he]=רשימת משימות
Name[hu]=Feladatlista
Name[it]=Lista dei Processi
Name[ja]=タスクリスト
Name[ka]=ამოცანათა სია
Name[ko]=태스크 목록
Name[lv]=Uzdevumu Saraksts
Name[mk]=Листа со прозорци
Name[nb_NO]=Oppgaveliste
Name[nl]=Takenlijst
Name[pa]=ਟਾਸਕ ਲਿਸਟ
Name[pl]=Lista zadań
Name[pt_BR]=Lista de Tarefas
Name[pt_PT]=Lista de Tarefas
Name[ro]=Listă de aplicaţii
Name[ru]=Список задач
Name[sk]=Zoznam úloh
Name[sv]=Aktivitetsfält
Name[tr]=Görev Listesi
Name[uk]=Список задач
Name[vi]=Danh sách tác vụ
Name[zh_CN]=任务列表
Name[zh_TW]=工作清單
Comment=Show all running applications
Comment[be]=Паказвае ўсе праграмы, што зараз працуюць
Comment[ca]=Mostra totes les aplicacions en execució
Comment[cs]=Zobrazit všechny běžící aplikace
Comment[de]=Alle laufenden Anwendungen anzeigen
Comment[dz]=གཡོག་བཀོལ་གློག་རིམ་ཚུ་ཆ་མཉམ་སྟོན།
Comment[el]=Εμφάνιση όλων των εκτελούμενων εφαρμογών
Comment[en_GB]=Show all running applications
Comment[eo]=Montru ĉiujn kurantajn aplikaĵojn
Comment[es]=Mostrar todas las aplicaciones en ejecución
Comment[et]=Näita kõiki töötavaid rakendusi
Comment[eu]=Bistarazi abiarazirik dauden aplikazio guztiak
Comment[fi]=Näytä kaikki käynnissä olevat sovellukset
Comment[fr]=Montrer toutes les applications en cours
Comment[gl]=Mostrar todas as aplicacións en execución
Comment[he]=הצג את כל היישומים הפועלים
Comment[hu]=Minden futó program mutatása
Comment[it]=Mostra tutte le applicazioni in esecuzione
Comment[ja]=実行している全てのアプリケーションを表示します。
Comment[ka]=ყველა გაშვებული პროგრამის ჩვენება
Comment[ko]=실행 중인 프로그램 보이기
Comment[lv]=Rādīt visas skrejošās lietotnes
Comment[mk]=Прикажи ги сите апликации кои се извршуваат
Comment[nb_NO]=Vis alle kjørende programmer
Comment[nl]=Alle lopende applicaties tonen
Comment[pa]=ਸਭ ਚੱਲਦੇ ਕਾਰਜ ਵੇਖਾਓ
Comment[pl]=P_okazuj tylko zminimalizowane aplikacje
Comment[pt_BR]=Mostrar todas as aplicações em execução
Comment[pt_PT]=Mostrar todas as aplicações em execução
Comment[ro]=Arată toate aplicaţiile pornite
Comment[ru]=Отображает все запущенные приложения
Comment[sk]=Zobrazí všetky spustené aplikácie
Comment[sv]=Visar alla program som körs
Comment[tr]=Çalışan tüm uygulamaları göster
Comment[uk]=Показ усіх запущених програм
Comment[vi]=Hiển thị mọi ứng dụng đang chạy
Comment[zh_CN]=显示所有运行中的程序
Comment[zh_TW]=顯示所有執行中的應用程式
Icon=xfce4-taskbar
X-XFCE-Module=tasklist
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

