[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Window List
Name[be]=Сьпіс вокнаў
Name[ca]=Llista de finestres
Name[cs]=Seznam oken
Name[de]=Fensterliste
Name[dz]=སྒོ་སྒྲིག་ཐོ་ཡིག
Name[el]=Λίστα παραθύρων
Name[en_GB]=Window List
Name[eo]=Listo de la Fenestroj
Name[es]=Lista de ventanas
Name[et]=Ekende nimekiri
Name[eu]=Leiho Zerrenda
Name[fi]=Ikkunalista
Name[fr]=Liste des fenêtres
Name[gl]=Lista de Fiestras
Name[he]=רשימת חלונות
Name[hu]=Ablak lista
Name[it]=Lista delle finestre
Name[ja]=ウィンドウリスト
Name[ka]=ფანჯრების სია
Name[ko]=창 목록
Name[lv]=Logu Saraksts
Name[mk]=Листа со прозорци
Name[nb_NO]=Vindusliste
Name[nl]=Lijst van vensters
Name[pa]=ਵਿੰਡੋ ਸੂਚੀ
Name[pl]=Lista okien
Name[pt_BR]=Lista de Janelas
Name[pt_PT]=Lista de Janelas
Name[ro]=Listă ferestre
Name[ru]=Список окон
Name[sk]=Zoznam okien
Name[sv]=Fönsterlista
Name[tr]=Pencere Listesi
Name[uk]=Список вікон
Name[vi]=Danh sách cửa sổ
Name[zh_CN]=窗口列表
Name[zh_TW]=視窗清單
Comment=Show list of available windows
Comment[be]=Паказвае сьпіс наяўных вокнаў
Comment[ca]=Mostra el llistat de les finestres disponibles
Comment[cs]=Zobrazit seznam všech dostupných oken
Comment[de]=Zeige eine Liste der verfügbaren Fenster
Comment[dz]=འཐོབ་ཚུགས་པའི་སྒོ་སྒྲིག་གི་ཐོ་ཡིག་ཚུ་སྟོན།
Comment[el]=Προβολή λίστας των διαθέσιμων παραθύρων
Comment[en_GB]=Show list of available windows
Comment[eo]=Montru la liston de la disponeblaj fenestroj
Comment[es]=Mostrar lista de ventanas disponibles
Comment[et]=Näita saadavate akende nimistut
Comment[eu]=Leiho erabilgarri zerrenda bistarazi
Comment[fi]=Näytä lista käytettävissä olevista ikkunoista
Comment[fr]=Montrer la liste des fenêtres disponibles
Comment[gl]=Mostrar a lista de fiestras dispoñibles
Comment[he]=הצג רשימת חלונות זמינים
Comment[hu]=Elérhető ablakok listájának mutatása
Comment[it]=Mostra la lista delle finestre disponibili
Comment[ja]=利用可能なウィンドウのリストを表示します。
Comment[ka]=ფანჯრების სიის ჩვენება
Comment[ko]=이용가능한 창목록 보이기
Comment[lv]=Rādīt sarakstu ar visiem pieejamajiem logiem
Comment[mk]=Прикажи листа на достапните прозорци
Comment[nb_NO]=Vis liste over alle tilgjengelige vinduer
Comment[nl]=Lijst tonen van beschikbare vensters
Comment[pa]=ਉਪਲੱਬਧ ਵਿੰਡੋ ਦੀ ਸੂਚੀ ਵੇਖਾਓ
Comment[pl]=Pokaż listę dostępnych okien
Comment[pt_BR]=Mostrar lista de todas as janelas disponíveis
Comment[pt_PT]=Mostrar lista de janelas disponíveis
Comment[ro]=Arată lista ferestrelor disponibile
Comment[ru]=Отображает список окон
Comment[sk]=Zobrazí zoznam dostupných okien
Comment[sv]=Visar en lista av alla fönster
Comment[tr]=Kullanılabilir masaüstlerinin listesini göster
Comment[uk]=Показ списку вікон
Comment[vi]=Hiển thị danh sách các cửa sổ đang có
Comment[zh_CN]=显示可用窗口的列表
Comment[zh_TW]=顯示所有可用視窗的清單
Icon=xfce-windowlist
X-XFCE-Module=windowlist
X-XFCE-Module-Path=/usr/lib/xfce4/panel-plugins

