[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Volume Control
Name[ar]=تحكم بالصوت
Name[az]=Səs İdarəsi
Name[be]=Кантроль гучнасьці
Name[bg]=Контрол на звука
Name[bn_IN]=আওয়াক নিয়ন্ত্রক
Name[ca]=Control de volum
Name[cs]=Nastavení hlasitosti
Name[de]=Lautstärkenregler
Name[dz]=སྐད་ཤུགས་ཚད་འཛིན།
Name[el]=Έλεγχος έντασης
Name[en_GB]=Volume Control
Name[es]=Control de volumen
Name[es_MX]=Control de Volumen
Name[et]=Helitugevus
Name[eu]=Bolumen Kontrola
Name[fa]=کنترل حجم
Name[fi]=Äänenvoimakkuuden säätö
Name[fr]=Contrôle du volume
Name[gu]=અવાજ નિયંત્રક
Name[he]=בקרת עוצמה
Name[hi]=आवाज निर्धारक
Name[hu]=Hangerő-szabályozó
Name[hy]=Ուժգնության Ղեկ
Name[it]=Controllo volume
Name[ja]=音量コントロール
Name[ka]=ხმის კონტროლი
Name[ko]=볼륨 제어
Name[lt]=Garso Valdymas
Name[lv]=Skaļuma Vadīklis
Name[mk]=Контрола на јачината на гласот
Name[mr]=ध्वनी नियंत्रण
Name[ms]=Kawalan Volume
Name[nb_NO]=Volumkontroll
Name[nl]=Volumeregelaar
Name[pa]=ਆਵਾਜ਼ ਕੰਟਰੋਲ
Name[pl]=Kontrola Głośności
Name[pt_BR]=Controle de volume
Name[pt_PT]=Controlo de Volume
Name[ro]=Control volum
Name[ru]=Регулировка звука
Name[sk]=Nastavenie hlasitosti
Name[sv]=Volymkontroll
Name[ta]=சத்த-அளவு கட்டுப்பாடு
Name[tr]=Ses Denetimi
Name[uk]=Контроль гучності
Name[vi]=Điều chỉnh âm lượng
Name[zh_CN]=音量控制
Name[zh_TW]=音量控制
Comment=Change the Volume
Comment[be]=Зьмена гучнасьці
Comment[ca]=Ajusta el volum
Comment[cs]=Změnit hlasitost
Comment[de]=Lautsträke ändern
Comment[dz]=སྐད་ཤུགས་བསྒྱུར་བཅོས་འབད།
Comment[el]=Αλλαγή της έντασης
Comment[en_GB]=Change the Volume
Comment[et]=Muuda tugevust
Comment[eu]=Bolumena-aldatu
Comment[fi]=Säädä äänenvoimakkuutta
Comment[fr]=Modifier le volume
Comment[he]=שנה את העוצמה
Comment[hu]=Hangerő megváltoztatása
Comment[it]=Cambia il volume
Comment[ja]=音量を変更します
Comment[ka]=ხმის დონის შეცვლა
Comment[ko]=볼륨 변경
Comment[lv]=Mainīt Skaļumu
Comment[mk]=Промена на јачина на гласот
Comment[nb_NO]=Forandre volum
Comment[nl]=Volume Veranderen
Comment[pl]=Zmień głośność
Comment[pt_BR]=Muda o Volume
Comment[pt_PT]=Mudar o Volume
Comment[ro]=Schimbare volum
Comment[ru]=Изменить громкость
Comment[sk]=Umožní meniť hlasitosť
Comment[sv]=Ändra volymen
Comment[tr]=Sesi Değiştir
Comment[uk]=Змінити гучність
Comment[vi]=Tăng giảm Âm lượng
Comment[zh_CN]=改变音量
Comment[zh_TW]=變更音量
Icon=xfce4-mixer
X-XFCE-Exec=/usr/lib/xfce4/panel-plugins/xfce4-mixer-plugin
