[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Xfce Menu
Name[az]=Xfce Menyusu
Name[be]=Мэню Xfce
Name[bn_IN]=Xfce মেনু
Name[ca]=Menú Xfce
Name[cs]=Nabídka Xfce
Name[de]=Xfce-Menü
Name[dz]=ཨེཀསི་ཨེཕ་སི་ཨི་དཀར་ཆག།
Name[el]=Μενού του Xfce
Name[en_GB]=Xfce Menu
Name[eo]=Xfce-a Menuo
Name[es]=Menú de Xfce
Name[es_MX]=Menú Xfce
Name[et]=Xfce menüü
Name[eu]=Xfce Menua
Name[fa]=منوی Xfce
Name[fi]=Xfce-valikko
Name[fr]=Menu Xfce
Name[gu]=Xfce મેનુ
Name[he]=תפריט Xfce
Name[hu]=Xfce menü
Name[hy]=Xfce Ցանկ
Name[it]=Menu Xfce
Name[ja]=Xfce メニュー
Name[ko]=Xfce 메뉴
Name[lt]=Xfce Meniu
Name[lv]=Xfce Izvēlne
Name[mk]=Xfce мени
Name[mr]=Xfce यादी
Name[nb_NO]=Xfce Meny
Name[nl]=Xfce-menu
Name[pa]=Xfce ਮੇਨੂ
Name[pl]=Menu Xfce
Name[pt_BR]=Menu Xfce
Name[pt_PT]=Menu Xfce
Name[ro]=Meniu Xfce
Name[ru]=Меню Xfce
Name[sk]=Ponuka Xfce
Name[sv]=Xfce-menyn
Name[tr]=Xfce Menüsü
Name[uk]=Меню Xfce
Name[vi]=Thực đơn Xfce
Name[zh_CN]=Xfce 菜单
Name[zh_TW]=Xfce 選單
Comment=Shows a menu containing categories of installed applications
Comment[be]=Паказвае мэню, якое ўтрымлівае катэгорыі ўсталяваных дастасаваньняў
Comment[ca]=Mostra un menú amb les categories de les aplicacions instal·lades
Comment[cs]=Zobrazí nabídku obsahující kategorie nainstalovaných aplikací
Comment[de]=Zeigt ein Menü mit den Kategorien der installierten Anwendungen
Comment[dz]=གློག་རིམ་ཚུ་གཞི་བཙུགས་ཡོད་མི་གི་དབྱེ་རིམ་ཚུ་ནང་ན་ཡོད་མི་དཀར་ཆག་སྟོནམ་ཨིན།
Comment[el]=Εμφανίζει ένα μενού που περιέχει τις κατηγορίες των εγκατεστημένων εφαρμογών
Comment[en_GB]=Shows a menu containing categories of installed applications
Comment[es]=Muestra un menú con las categorías de las aplicaciones instaladas
Comment[eu]=Instalatutako aplikazioen kategoriak dituen menua bistarazi
Comment[fi]=Näyttää asennetut ohjelmat valikossa kategorioihin järjestettynä
Comment[fr]=Affiche un menu contenant les catégories d'applications installées
Comment[he]=מציג תפריט המכיל את כל קטגוריות היישומים המותקנים
Comment[hu]=A telepített programok kategóriáinak menüjét mutatja
Comment[it]=Mostra un menu contenente le categorie delle applicazioni istallate
Comment[ja]=インストール済アプリのカテゴリーを含むメニューを表示します
Comment[ko]=설치된 프로그램을 분류별로 메뉴에 보이기
Comment[lv]=Rāda izvēlni, kura satur instalēto lietotņu kategorijas
Comment[mk]=Покажува мени кое содржи категории со инсталираните апликации
Comment[nb_NO]=Viser en meny som inneholder kategorier av installerte programmer
Comment[nl]=Toont een menu dat categorieën van geïnstalleerde programma's bevat
Comment[pa]=ਇੰਸਟਾਲ ਹੋਏ ਕਾਰਜਾਂ ਦੇ ਵਰਗਾਂ ਲਈ ਇੱਕ ਮੇਨੂ ਵੇਖੋ
Comment[pl]=Pokaż menu z kategoriami zainstalowanych aplikacji
Comment[pt_BR]=Mostra um menu contendo categorias de aplicações instaladas
Comment[pt_PT]=Mostrar um menu contendo as categorias das aplicações instaladas
Comment[ro]=Arată un meniu conţinând categorii de aplicaţii instalate
Comment[ru]=Отображает меню, содержащее категории установленных приложений
Comment[sk]=Zobrazí ponuku obsahujúcu kategórie nainštalovaných aplikácií
Comment[sv]=Visar en meny som innehåller kategorier av installerade program
Comment[tr]=Yüklenen uygulamalarının kategorilerini içeren menüyü göster
Comment[uk]=Відображає меню, що містить категорії встановлених програм
Comment[vi]=Hiển thị một trình đơn gồm tất cả các dạng ứng dụng đã cài đặt
Comment[zh_CN]=显示包含已安装程序分类目录的菜单
Comment[zh_TW]=顯示包含已安裝程式分類目錄的選單
Icon=xfce4_xicon1
X-XFCE-Exec=/usr/libexec/xfce4/panel-plugins/xfce4-menu-plugin
