[Entry 0]
Name=File Manager
Name[be]=Кіраўнік файлаў
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=File Manager
Name[eo]=Dosier-administrilo
Name[es]=Gestor de ficheros
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[he]=סייר קבצים
Name[hu]=Fájlkezelő
Name[it]=Gestione file
Name[ja]=ファイルマネージャー
Name[ka]=ფაილების მმართველი
Name[ko]=화일 관리자
Name[lv]=Faila Pārvaldnieks
Name[mk]=Менаџер на датотеки
Name[nb_NO]=Filadministrasjon
Name[nl]=Bestandsbeheer
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt_BR]=Gerenciador de Arquivos
Name[pt_PT]=Gestor de Ficheiros
Name[ro]=Administrator de fişiere
Name[sk]=Správca súborov
Name[sv]=Filhanterare
Name[tr]=Dosya Yöneticisi
Name[uk]=Менеджер файлів
Name[vi]=Trình quản lí tập tin
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理程式
Exec=thunar
Terminal=false
StartupNotify=true
Comment=Manage files and folders
Comment[be]=Кіраваньне файламі і тэчкамі
Comment[ca]=Gestiona fitxers i directoris
Comment[cs]=Spravovat soubory a adresáře
Comment[de]=Dateien und Ordner verwalten
Comment[el]=Διαχείριση αρχείων και φακέλων
Comment[en_GB]=Manage files and folders
Comment[eo]=Administru dosierojn kaj dosierujojn
Comment[es]=Gestione ficheros y carpetas
Comment[eu]=Fixtategi eta karpetak kudeatu
Comment[fi]=Hallitse tiedostoja ja hakemistoja
Comment[fr]=Gérer les fichiers et répertoires
Comment[he]=ארגן קבצים ותיקיות
Comment[hu]=Fájlok és mappák kezelése
Comment[it]=Gestione di file e cartelle
Comment[ja]=ファイルとフォルダーを管理します。
Comment[ka]=ფაილების და საქარალდეების მართვა
Comment[ko]=화일과 디렉토리를 관리합니다.
Comment[lv]=Pārvaldīt failus un mapes
Comment[mk]=Менаџирајте со датотеки и папки
Comment[nb_NO]=Administrere filer og mapper
Comment[nl]=Bestanden en mappen beheren
Comment[pa]=ਫਾਇਲਾਂ ਅਤੇ ਫੋਲਡਰ ਪਰਬੰਧ
Comment[pl]=Zarządzaj plikami i katalogami
Comment[pt_BR]=Gerenciar arquivos e pastas
Comment[pt_PT]=Gerir pastas e ficheiros
Comment[ro]=Administrare de fişiere şi directoare
Comment[sk]=Správa súborov a adresárov
Comment[sv]=Hantera filer och kataloger
Comment[tr]=Dosyaları ve dizinleri düzenle
Comment[uk]=Робота з файлами та теками
Comment[vi]=Quản lý tập tin và thư mục
Comment[zh_CN]=管理文件及文件夹
Comment[zh_TW]=管理檔案及資料夾
X-XFCE-IconCategory=2

