[Entry 0]
Name=Web Browser
Name[be]=Гартач Сеціва
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[de]=Webbrowser
Name[el]=Περιηγητής ιστοσελίδων
Name[en_GB]=Web Browser
Name[eo]=TTT-Krozilo
Name[es]=Navegador web
Name[eu]=Web Nabigatzailea
Name[fi]=Web-selain
Name[fr]=Navigateur Web
Name[he]=דפדפן אינטרנט
Name[hu]=Web böngésző
Name[it]=Navigatore di rete
Name[ja]=ウェブブラウザー
Name[ka]=ვებ-ბროუზერი
Name[ko]=웹 브라우져
Name[lv]=Tīmekļa Pārlūks
Name[mk]=Веб прелистувач
Name[nb_NO]=Hjelpeveileder
Name[nl]=Web browser
Name[pa]=ਵੈੱਬ ਬਰਾਊਂਜ਼ਰ
Name[pl]=Przeglądarka
Name[pt_BR]=Navegador Web
Name[pt_PT]=Navegador Web
Name[ro]=Navigator documentaţie
Name[sk]=Webový prehliadač
Name[sv]=Webbläsare
Name[tr]=Web Tarayıcı
Name[uk]=Веб-переглядач
Name[vi]=Trình duyệt Web
Name[zh_CN]=网页浏览器
Name[zh_TW]=網路瀏覽器
Exec=exo-open --launch WebBrowser
Terminal=false
StartupNotify=false
Comment=Surf the internet
Comment[be]=Вандроўкі ў Сеціве
Comment[ca]=Navega per la xarxa
Comment[cs]=Surfovat na internetu
Comment[de]=Im Internet surfen
Comment[el]=Περιήγηση στο διαδίκτυο
Comment[en_GB]=Surf the internet
Comment[eo]=Krozu tra la Interreto
Comment[es]=Navegue en Internet
Comment[eu]=Internet nabigatu
Comment[fi]=Selaa Internet-sivuja
Comment[fr]=Naviguer sur internet
Comment[he]=גלוש באינטרנט
Comment[hu]=Barangolás a weben
Comment[it]=Naviga in internet
Comment[ja]=インターネットサーフィンします。
Comment[ka]=ინტერნეტში გადაადგილება
Comment[ko]=정보의 바다로
Comment[lv]=Pārlūkot internetu
Comment[mk]=Сурфајте на интернет
Comment[nb_NO]=Surfe på internett
Comment[nl]=Surfen op het internet
Comment[pa]=ਇੰਟਰਨੈੱਟ ਵੇਖੋ
Comment[pl]=Przeglądaj Internet
Comment[pt_BR]=Navegar pela internet
Comment[pt_PT]=Navegar na Internet
Comment[ro]=Navigare pe Internet
Comment[sk]=Surfovať na internete
Comment[sv]=Surfa på internet
Comment[tr]=İnternette gezin
Comment[uk]=Огляд інтернет
Comment[vi]=Duyệt Internet
Comment[zh_CN]=网上冲浪
Comment[zh_TW]=網上衝浪
X-XFCE-IconCategory=7

