[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=aterm
Type=X-XFCE-Helper
Name=aterm
Name[be]=aterm
Name[ca]=aterm
Name[cs]=aterm
Name[cy]=aterm
Name[de]=aterm
Name[dz]=ཨེ་ཊམ།
Name[el]=aterm
Name[en_GB]=aterm
Name[eu]=aterm
Name[fi]=aterm
Name[fr]=aterm
Name[he]=aterm
Name[hu]=aterm
Name[it]=aterm
Name[ja]=aterm
Name[lv]=aterm
Name[mk]=aterm
Name[nb_NO]=aterm
Name[nl]=aterm
Name[pa]=aterm
Name[pl]=aterm
Name[pt_BR]=aterm
Name[pt_PT]=aterm
Name[ro]=aterm
Name[ru]=aterm
Name[sq]=aterm
Name[ur]=اٹرم
StartupNotify=false
X-XFCE-Binaries=aterm;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
