[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=gnome-balsa2
Type=X-XFCE-Helper
Name=Balsa
Name[be]=Balsa
Name[ca]=Balsa
Name[cs]=Balsa
Name[cy]=Balsa
Name[de]=Balsa
Name[dz]=བཱལ་ས།
Name[el]=Balsa
Name[en_GB]=Balsa
Name[et]=Balsa
Name[eu]=Balsa
Name[fi]=Balsa
Name[fr]=Balsa
Name[he]=Balsa
Name[hu]=Balsa
Name[it]=Balsa
Name[ja]=Balsa
Name[lv]=Balsa
Name[mk]=Balsa
Name[nb_NO]=Balse
Name[nl]=Balsa
Name[pa]=ਬਲਸਾ
Name[pl]=Balsa
Name[pt_BR]=Balsa
Name[pt_PT]=Balsa
Name[ro]=Balsa
Name[ru]=Balsa
Name[sq]=Balsa
Name[sv]=Balsa
Name[ur]=بالسا
StartupNotify=false
X-XFCE-Binaries=balsa;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib/libexo-0.3-0/exo-compose-mail-0.3 balsa %B "mailto:%s";
