[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=debian
Type=X-XFCE-Helper
Name=Debian X Terminal Emulator
Name[be]=Эмулятар X-тэрмінала Debian
Name[ca]=Emulador de Terminal X de Debian
Name[cs]=Debian X Terminal Emulator
Name[cy]=Efelychydd Terfynell X Debian
Name[de]=Debian X-Terminal-Emulator
Name[dz]=ཌེ་བི་ཡཱན་ཨེགསི་ཊལ་མི་ནཱལ་ནུས་འཕྲུལ།
Name[el]=Προσομοίωση τερματικού Debian
Name[en_GB]=Debian X Terminal Emulator
Name[et]=Debiani X terminali emulaator
Name[eu]=Debian X Terminal Emuladorea
Name[fi]=Debianin X-pääteohjelma
Name[fr]=Émulateur de terminal X Debian
Name[he]=Debian X Terminal Emulator
Name[hu]=Debian X Terminál Emulátor
Name[it]=Emulatore di Terminale X di Debian
Name[ja]=Debian X ターミナルエミュレーター
Name[lv]=Debian X Terminal Emulator
Name[mk]=Debian X емулатор на терминал
Name[nb_NO]=Debian X Terminalemulator
Name[nl]=Debian X terminal-emulator
Name[pa]=ਡੇਬੀਅਨ X ਟਰਮੀਨਲ ਈਮੁਲੇਟਰ
Name[pl]=Debian X Terminal Emulator
Name[pt_BR]=Emulador de Terminal do Debian
Name[pt_PT]=Emulador de Terminal do Debian
Name[ro]=Terminalul standard Debian
Name[ru]=Эмулятор X терминала Debian
Name[sq]=Emulues Debian Terminal X
Name[ur]=ڈبین X ٹرمنل ایمولیٹر
StartupNotify=false
X-XFCE-Binaries=x-terminal-emulator;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
