[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=debian
Type=X-XFCE-Helper
Name=Debian Sensible Browser
Name[be]=Прадвызначаны Гартач у Debian
Name[ca]=Navegador sensible de Debian
Name[cs]=Debian Sensible Browser
Name[cy]=Porydd Resymol Debian
Name[de]=Debian Standard-Browser
Name[dz]=ཌེ་བི་ཡཱན་དྲན་ཤེས་ལྡན་པའི་བརྡ་འཚོལ་པ།
Name[el]=Φυλλομετρητής Sensible Debian
Name[en_GB]=Debian Sensible Browser
Name[et]=Debiani tundlik sirvur
Name[eu]=Debian Lehenetsiriko Nabigatzailea
Name[fi]=Debianin sensible-browser
Name[fr]=Navigateur Sensible Debian
Name[he]=Debian Sensible Browser
Name[hu]=Debian Intelligens Böngésző
Name[it]=Debian Sensible Browser
Name[ja]=Debian Sensible ブラウザー
Name[lv]=Debian Sensible Browser
Name[mk]=Debian Sensible прегледувач
Name[nb_NO]=Debian Sensible Browser
Name[nl]=Debian Sensible Browser
Name[pa]=ਡੇਬੀਅਨ ਸਿਆਣਾ ਬਰਾਊਜ਼ਰ
Name[pl]=Debian Sensible Browser
Name[pt_BR]=Navegador do Debian
Name[pt_PT]=Navegador do Debian
Name[ro]=Navigatorul standard Debian
Name[sq]=Shfletuesi Debian Sensible
Name[ur]=ڈیبین سینسبل براؤزر
StartupNotify=false
X-XFCE-Binaries=sensible-browser;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
