[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=encompass
Type=X-XFCE-Helper
Name=Encompass
Name[be]=Encompass
Name[ca]=Encompass
Name[cs]=Encompass
Name[cy]=Encompass
Name[de]=Encompass
Name[dz]=བརྒལ་བ།
Name[el]=Encompass
Name[en_GB]=Encompass
Name[eu]=Encompass
Name[fi]=Encompass
Name[fr]=Encompass
Name[he]=Encompass
Name[hu]=Encompass
Name[it]=Encompass
Name[ja]=Encompass
Name[lv]=Encompass
Name[mk]=Encompass
Name[nb_NO]=Encompass
Name[nl]=Encompass
Name[pa]=ਇਨ-ਕੰਪਾਸ
Name[pl]=Encompass
Name[pt_BR]=Encompass
Name[pt_PT]=Encompass
Name[ro]=Encompass
Name[ru]=Encompass
Name[sq]=Encompass
Name[ur]=Encompass
StartupNotify=true
X-XFCE-Binaries=encompass;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
