[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=web-browser
Type=X-XFCE-Helper
Name=Epiphany Web Browser
Name[be]=Гартач Сеціва Epiphany
Name[ca]=Navegador web Epiphany
Name[cs]=Webový prohlížeč Epiphany
Name[cy]=Porydd Gwê Epiphany
Name[de]=Epiphany-Webbrowser
Name[dz]=ཨི་པི་ཕ་ནི་ཝེབ་བརྡ་འཚོལ་པ།
Name[el]=Περιηγητής διαδικτύου Epiphany
Name[en_GB]=Epiphany Web Browser
Name[et]=Epiphany neti sirvur
Name[eu]=Epiphany Web Nabigatzailea
Name[fi]=Epiphany web-selain
Name[fr]=Navigateur Web Epiphany
Name[gl]=Navegador Web Epiphany
Name[he]=דפדפן האינטרנט Epiphany
Name[hu]=Epiphany Web Böngésző
Name[it]=Browser Web Epiphany
Name[ja]=Epiphany ウェブブラウザー
Name[lv]=Epiphany Web Browser
Name[mk]=Epiphany Web прегледувач
Name[nb_NO]=Epiphany nettleser
Name[nl]=Epiphany webbrowser
Name[pa]=ਏਪੀਫਨੀ ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa Epiphany
Name[pt_BR]=Navegador Web Epiphany
Name[pt_PT]=Navegador Web Epiphany
Name[ro]=Navigatorul Epiphany
Name[ru]=Веб-браузер Epiphany
Name[sq]=Sfletuesi Web Epiphany
Name[sv]=Webbläsaren Epiphany
Name[ur]=اپپفنی ویب براؤزر
StartupNotify=true
X-XFCE-Binaries=epiphany;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
