[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=Eterm
Type=X-XFCE-Helper
Name=Enlightened Terminal Emulator
Name[be]=Эмулятар тэрмінала Enlightened
Name[ca]=Emulador de terminal Enlightened
Name[cs]=Enlightened Terminal Emulator
Name[cy]=Efelychydd Terfynell Enlightened
Name[de]=Enlightened Terminal-Emulator
Name[dz]=མཐར་འཁྱོལ་ཡོད་པའི་ཊལ་མི་ནཱལ་ནུས་འཕྲུལ།
Name[el]=Προσομοίωση τερματικού Enlightenment
Name[en_GB]=Enlightened Terminal Emulator
Name[et]=Enlightened terminali emulaator
Name[eu]=Enlightened Terminal Emuladorea
Name[fi]=ETerm-pääteohjelma
Name[fr]=Émulateur de terminal Enlightened
Name[he]=Enlightened Terminal Emulator
Name[hu]=Enlightened Terminál Emulátor
Name[it]=Emulatore di Terminale Enlightened
Name[ja]=Enlightened ターミナルエミュレーター
Name[lv]=Enlightened Terminal Emulator
Name[mk]=Enlightened емулатор на терминал
Name[nb_NO]=Enlightened Terminalemulator
Name[nl]=Enlightened terminal-emulator
Name[pa]=ਇਨਲਾਈਟਮਿੰਟ ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Name[pl]=Enlightened Terminal Emulator
Name[pt_BR]=Emulador de Terminal Enlightened
Name[pt_PT]=Emulador de Terminal Enlightened
Name[ro]=Terminalul Eterm
Name[ru]=Эмулятор терминала Enlightened
Name[sq]=Emulues Terminali Enlightened
Name[ur]=Enlightened ٹرمنل ایمولیٹر
StartupNotify=false
X-XFCE-Binaries=Eterm;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B --exec "%s";
