[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=evolution
Type=X-XFCE-Helper
Name=Novell Evolution
Name[be]=Novell Evolution
Name[ca]=Novell Evolution
Name[cs]=Novell Evolution
Name[cy]=Novell Evolution
Name[de]=Novell Evolution
Name[dz]=ནོ་བེལ་ཨི་བོ་ལུ་ཤཱན།
Name[el]=Novell Evolution
Name[en_GB]=Novell Evolution
Name[et]=Novell Evolution
Name[eu]=Novell Evolution
Name[fi]=Novell Evolution
Name[fr]=Novell Evolution
Name[gl]=Novell Evolution
Name[he]=Novell Evolution
Name[hu]=Novell Evolution
Name[it]=Novell Evolution
Name[ja]=Novell Evolution
Name[lt]=Novell Evolution
Name[lv]=Novell Evolution
Name[mk]=Novell Evolution
Name[nb_NO]=Novell Evolution
Name[nl]=Novell Evolution
Name[pa]=ਨੋਵਲ ਈਵੂਲੇਸ਼ਨ
Name[pl]=Novell Evolution
Name[pt_BR]=Novell Evolution
Name[pt_PT]=Novell Evolution
Name[ro]=Novell Evolution
Name[ru]=Novell Evolution
Name[sq]=Novell Evolution
Name[ur]=نوول ایولوشن
StartupNotify=false
X-XFCE-Binaries=evolution-2.4;evolution-2.3;evolution-2.2;evolution-2.0;evolution-1.6;evolution-1.5;evolution-1.4;evolution;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib/libexo-0.3-0/exo-compose-mail-0.3 evolution %B "mailto:%s";
