[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=firefox
Type=X-XFCE-Helper
Name=Mozilla Firefox
Name[be]=Mozilla Firefox
Name[ca]=Mozilla Firefox
Name[cs]=Mozilla Firefox
Name[cy]=Mozilla Firefox
Name[de]=Mozilla Firefox
Name[dz]=མོ་ཛིལ་ལ་ཕ་ཡེར་ཕོགསི།
Name[el]=Mozilla Firefox
Name[en_GB]=Mozilla Firefox
Name[et]=Mozilla Firefox
Name[eu]=Mozilla Firefox
Name[fi]=Mozilla Firefox
Name[fr]=Mozilla Firefox
Name[gl]=Mozilla Firefox
Name[he]=Mozilla Firefox
Name[hu]=Mozilla Firefox
Name[it]=Mozilla Firefox
Name[ja]=Mozilla Firefox
Name[lt]=Mozilla Firefox
Name[lv]=Mozilla Firefox
Name[mk]=Mozilla Firefox
Name[nb_NO]=Mozilla Firefox
Name[nl]=Mozilla Firefox
Name[pa]=ਮੌਜੀਲਾ ਫਾਇਰਫਾਕਸ
Name[pl]=Mozilla Firefox
Name[pt_BR]=Mozilla Firefox
Name[pt_PT]=Mozilla Firefox
Name[ro]=Mozilla Firefox
Name[ru]=Mozilla Firefox
Name[sq]=Mozilla Firefox
Name[ur]=موزیلا فائر فاکس
StartupNotify=false
X-XFCE-Binaries=firefox;firefox-gtk2;firefox-gtk;mozilla-firefox;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B -remote "openURL(about:blank,new-window)";%B;
X-XFCE-CommandsWithParameter=%B -remote "openURL(%s)";%B %s;
