[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=galeon
Type=X-XFCE-Helper
Name=Galeon Web Browser
Name[be]=Гартач Сеціва Galeon
Name[ca]=Navegador web Galeon
Name[cs]=Webový prohlížeč Galeon
Name[cy]=Porydd Gwê Galleon
Name[de]=Galeon-Webbrowser
Name[dz]=གེ་ལི་ཨཱོན་ཝེབ་བརྡ་འཚོལ་པ།
Name[el]=Περιηγητής διαδικτύου Galeon
Name[en_GB]=Galeon Web Browser
Name[et]=Galeon neti sirvur
Name[eu]=Galeon Web Nabigatzailea
Name[fi]=Galeon web-selain
Name[fr]=Navigateur Web Galeon
Name[gl]=Navegador Web Galeon
Name[he]=דפדפן האינטרנט Galeon
Name[hu]=Galeon Web Böngésző
Name[it]=Browser Web Galeon
Name[ja]=Galeon ウェブブラウザー
Name[lv]=Galeon Web Browser
Name[nb_NO]=Galeon nettleser
Name[nl]=Galeon webbrowser
Name[pa]=Galeon ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa Galeon
Name[pt_BR]=Navegador Web Galeon
Name[pt_PT]=Navegador Web Galeon
Name[ro]=Navigatorul Galeon
Name[ru]=Веб-браузер Galeon
Name[sq]=Shfletuesi Web Galeon
Name[sv]=Webbläsaren Galeon
Name[ur]=گیلیئن ویب براؤزر
StartupNotify=true
X-XFCE-Binaries=galeon;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
