[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=gnome-terminal
Type=X-XFCE-Helper
Name=GNOME Terminal
Name[be]=Тэрмінал GNOME
Name[ca]=Terminal del GNOME
Name[cs]=GNOME Terminál
Name[cy]=Terfynell GNOME
Name[de]=GNOME Terminal
Name[dz]=ཇི་ནོམ་ཊལ་མི་ནཱལ།
Name[el]=Τερματικό GNOME
Name[en_GB]=GNOME Terminal
Name[et]=GNOOMI Terminal
Name[eu]=GNOME Terminala
Name[fi]=Gnomen pääte
Name[fr]=Terminal GNOME
Name[he]=GNOME Terminal
Name[hu]=GNOME Terminál
Name[it]=Terminale GNOME
Name[ja]=GNOME 端末
Name[lv]=GNOME Terminal
Name[mk]=GNOME терминал
Name[nb_NO]=GNOME terminal
Name[nl]=GNOME terminal
Name[pa]=GNOME ਟਰਮੀਨਲ
Name[pl]=GNOME Terminal
Name[pt_BR]=Terminal do GNOME
Name[pt_PT]=Terminal do GNOME
Name[ro]=Terminalul GNOME
Name[ru]=Терминал GNOME
Name[sq]=Terminal Gnome
Name[ur]=گنوم ٹرمنل
StartupNotify=true
X-XFCE-Binaries=gnome-terminal;gnometerminal;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x %s;
