[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=kmail
Type=X-XFCE-Helper
Name=KMail
Name[be]=KMail
Name[ca]=KMail
Name[cs]=KMail
Name[cy]=KMail
Name[de]=KMail
Name[dz]=ཀེ་ཡིག་འཕྲིན།
Name[el]=KMail
Name[en_GB]=KMail
Name[et]=KMail
Name[eu]=KMail
Name[fi]=KMail
Name[fr]=KMail
Name[gl]=KMail
Name[he]=KMail
Name[hu]=KMail
Name[it]=KMail
Name[ja]=KMail
Name[lt]=KMail
Name[lv]=KMail
Name[mk]=KMail
Name[nb_NO]=KMail
Name[nl]=KMail
Name[pa]=ਕੇਮੇਲ
Name[pl]=KMail
Name[pt_BR]=KMail
Name[pt_PT]=KMail
Name[ro]=KMail
Name[ru]=KMail
Name[sq]=KMail
Name[ur]=کے میل
StartupNotify=true
X-XFCE-Binaries=kmail;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParamter=/usr/lib/libexo-0.3-0/exo-compose-mail-0.3 kmail %B "mailto:%s";
