[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=konqueror
Type=X-XFCE-Helper
Name=Konqueror Web Browser
Name[be]=Гартач Сеціва Konqueror
Name[ca]=Navegador web Konqueror
Name[cs]=Webový prohlížeč Konqueror
Name[cy]=Porydd Gwê Konqueror
Name[de]=Konqueror-Webbrowser
Name[dz]=ཀོང་ཀུས་རར་ཝེབ་བརྡ་འཚོལ་པ།
Name[el]=Περιηγητής διαδικτύου Konqueror
Name[en_GB]=Konqueror Web Browser
Name[et]=Konqueror neti sirvur
Name[eu]=Konqueror Web Nabigatzailea
Name[fi]=Konqueror web-selain
Name[fr]=Navigateur Web Konqueror
Name[gl]=Navegador Web Konqueror
Name[he]=דפדפן האינטרנט Konqueror
Name[hu]=Konqueror Web Böngésző
Name[it]=Browser Web Konqueror
Name[ja]=Konqueror ウェブブラウザー
Name[lv]=Konqueror Web Browser
Name[mk]=Konqueror Web прегледувач
Name[nb_NO]=Konqueror nettleser
Name[nl]=Konqueror webbrowser
Name[pa]=ਕੋਨਕਿਊਰੋਰ ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa Konqueror
Name[pt_BR]=Navegador Web Konqueror
Name[pt_PT]=Navegador Web Konqueror
Name[ro]=Navigatorul Konqueror
Name[ru]=Веб-браузер Konqueror
Name[sq]=Shfletuesi Web Konqueror
Name[sv]=Webbläsaren Konqueror
Name[ur]=کنکرر ویب براؤزر
StartupNotify=true
X-XFCE-Binaries=konqueror;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
