[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=links
Type=X-XFCE-Helper
Name=Links Text Browser
Name[be]=Тэкставы гартач Links
Name[ca]=Navegador web de text Links
Name[cs]=Textový prohlížeč Links
Name[cy]=Porydd Gwê Links
Name[de]=Links-Textbrowser
Name[dz]=ཚིག་ཡིག་བརྡ་འཚོལ་པ་འདི་འབྲེལ་མཐུད་འབདཝ་ཨིན།
Name[el]=Περιηγητής διαδικτύου Links
Name[en_GB]=Links Text Browser
Name[eu]=Links Testu Nabigatzailea
Name[fi]=Links-tekstiselain
Name[fr]=Navigateur Web en mode texte Links
Name[he]=הדפדפן הטקסטואלי Links
Name[hu]=Links Böngésző
Name[it]=Browser Testuale Links
Name[ja]=Links テキストブラウザー
Name[lv]=Links Text Browser
Name[mk]=Links Text прегледувач
Name[nb_NO]=Links tekstnettleser
Name[nl]=Links tekst-browser
Name[pa]=Links ਟੈਕਸਟ ਬਰਾਊਜ਼ਰ
Name[pl]=Links - przeglądarka tekstowa
Name[pt_BR]=Navegador de Texto Links
Name[pt_PT]=Navegador de Texto Links
Name[ro]=Navigatorul text Links
Name[ru]=Текстовый браузер Links
Name[sq]=Shfletues Tekst Links
Name[sv]=Textwebbläsaren Links
Name[ur]=روابط متن براؤزر
StartupNotify=false
X-XFCE-Binaries=links;links-current;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=exo-open --launch TerminalEmulator %B;
X-XFCE-CommandsWithParameter=exo-open --launch TerminalEmulator %B %s;
