[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=mozilla
Type=X-XFCE-Helper
Name=Mozilla Mail
Name[be]=Паштовы кліент Mozilla
Name[ca]=Correu de Mozilla
Name[cs]=Mozilla Mail
Name[cy]=Post Mozilla
Name[de]=Mozilla Mail
Name[dz]=མོ་ཛིལ་ལ་ཡིག་འཕྲིན།
Name[el]=Mozilla Mail
Name[en_GB]=Mozilla Mail
Name[et]=Mozilla kirjad
Name[eu]=Mozilla Posta
Name[fi]=Mozillan sähköposti
Name[fr]=Mozilla Mail
Name[he]=Mozilla Mail
Name[hu]=Mozilla Mail
Name[it]=Mozilla Mail
Name[ja]=Mozilla メール
Name[lv]=Mozilla Mail
Name[mk]=Mozilla Mail
Name[nb_NO]=Mozilla Mail
Name[nl]=Mozilla Mail
Name[pa]=ਮੌਜੀਲਾ ਮੇਲ
Name[pl]=Mozilla Mail
Name[pt_BR]=Mozilla Mail
Name[pt_PT]=Mozilla Mail
Name[ro]=Mozilla Mail
Name[ru]=Почтовая программа Mozilla
Name[sq]=Posta Mozilla
Name[ur]=موزیلا میل
StartupNotify=false
X-XFCE-Binaries=mozilla;mozilla-gtk2;mozilla-gtk;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B -mail;
X-XFCE-CommandsWithParameter=/usr/lib/libexo-0.3-0/exo-compose-mail-0.3 mozilla-remote %B "mailto:%s";/usr/lib/libexo-0.3-0/exo-compose-mail-0.3 mozilla %B "mailto:%s";
