[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=mutt
Type=X-XFCE-Helper
Name=Mutt
Name[be]=Mutt
Name[ca]=Mutt
Name[cs]=Mutt
Name[cy]=Mutt
Name[de]=Mutt
Name[dz]=མུཊི།
Name[el]=Mutt
Name[en_GB]=Mutt
Name[eu]=Mutt
Name[fi]=Mutt
Name[fr]=Mutt
Name[he]=Mutt
Name[hu]=Mutt
Name[it]=Mutt
Name[ja]=Mutt
Name[lv]=Mutt
Name[mk]=Mutt
Name[nb_NO]=Mutt
Name[nl]=Mutt
Name[pa]=ਮੱਟ
Name[pl]=Mutt
Name[pt_BR]=Mutt
Name[pt_PT]=Mutt
Name[ro]=Mutt
Name[ru]=Mutt
Name[sq]=Mutt
Name[ur]=Mutt
StartupNotify=false
X-XFCE-Binaries=mutt;
X-XFCE-Category=MailReader
X-XFCE-Commands=exo-open --launch TerminalEmulator %B;
X-XFCE-CommandsWithParameter=exo-open --launch TerminalEmulator /usr/lib/libexo-0.3-0/exo-compose-mail-0.3 mutt %B "mailto:%s";
