[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=mozilla
Type=X-XFCE-Helper
Name=Netscape Navigator
Name[be]=Netscape Navigator
Name[ca]=Navegador Netscape
Name[cs]=Netscape Navigator
Name[cy]=Netscape Navigator
Name[de]=Netscape Navigator
Name[dz]=ནེཊི་སིཀེཔ་འགྲུལ་བསྐྱོདཔ།
Name[el]=Netscape Navigator
Name[en_GB]=Netscape Navigator
Name[eu]=Netscape Navigator
Name[fi]=Netscape Navigator
Name[fr]=Netscape Navigator
Name[he]=Netscape Navigator
Name[hu]=Netscape Navigátor
Name[it]=Netscape Navigator
Name[ja]=Netscape Navigator
Name[lt]=Netscape Navigator
Name[lv]=Netscape Navigator
Name[mk]=Netscape Navigator
Name[nb_NO]=Netscape Navigator
Name[nl]=Netscape Navigator
Name[pa]=Netscape Navigator
Name[pl]=Netscape Navigator
Name[pt_BR]=Navegador Netscape
Name[pt_PT]=Navegador Netscape
Name[ro]=Netscape Navigator
Name[ru]=Netscape Navigator
Name[sq]=Netscape Navigator
Name[ur]=نیٹ سکیپ نیویگیٹر
StartupNotify=false
X-XFCE-Binaries=netscape;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B -remote "openURL(about:blank,new-window)";%B;
X-XFCE-CommandsWithParameter=%B -remote "openURL(%s,new-window)";%B %s;
