[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=nxterm
Type=X-XFCE-Helper
Name=NXterm
Name[be]=NXterm
Name[ca]=NXterm
Name[cs]=NXterm
Name[cy]=NXterm
Name[de]=NXterm
Name[dz]=ཨེན་ཨེགསི་ཊམ།
Name[el]=NXterm
Name[en_GB]=NXterm
Name[eu]=NXterm
Name[fi]=NXterm
Name[fr]=NXterm
Name[he]=NXterm
Name[hu]=NXterm
Name[it]=NXterm
Name[ja]=NXterm
Name[lt]=NXterm
Name[lv]=NXterm
Name[mk]=NXterm
Name[nb_NO]=NXterm
Name[nl]=NXTerm
Name[pa]=NXterm
Name[pl]=NXterm
Name[pt_BR]=NXTerm
Name[pt_PT]=NXTerm
Name[ro]=NXterm
Name[ru]=NXterm
Name[sq]=NXterm
Name[ur]=NXterm
StartupNotify=false
X-XFCE-Binaries=nxterm;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
