[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=opera
Type=X-XFCE-Helper
Name=Opera Mail
Name[be]=Паштовы кліент Opera
Name[ca]=Correu d’Opera
Name[cs]=Opera Mail
Name[cy]=Post Opera
Name[de]=Opera Mail
Name[dz]=གླུ་གཞས་ཡིག་འཕྲིན།
Name[el]=Αναγνώστης αλληλογραφίας Opera
Name[en_GB]=Opera Mail
Name[et]=Opera Mail
Name[eu]=Opera Posta
Name[fi]=Operan sähköposti
Name[fr]=Opera Mail
Name[he]=Opera Mail
Name[hu]=Opera Mail
Name[it]=Opera Mail
Name[ja]=Opera メール
Name[lv]=Opera Mail
Name[mk]=Opera Mail
Name[nb_NO]=Opera Epost
Name[nl]=Opera Mail
Name[pa]=ਓਪਰਾ ਮੇਲ
Name[pl]=Opera Mail
Name[pt_BR]=Opera Mail
Name[pt_PT]=Opera Mail
Name[ro]=Opera Mail
Name[ru]=Почтовая программа Opera
Name[sq]=Posta Opera
Name[ur]=اوپرا میل
StartupNotify=false
X-XFCE-Binaries=opera;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -remote "openURL(mailto:%s)";%B "mailto:%s";
