[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=opera
Type=X-XFCE-Helper
Name=Opera Browser
Name[be]=Гартач Сеціва Opera
Name[ca]=Navegador Opera
Name[cs]=Opera
Name[cy]=Porydd Opera
Name[de]=Opera-Webbrowser
Name[dz]=གླུ་གཞས་བརྡ་འཚོལ་པ།
Name[el]=Περιηγητής ιστοσελίδων Opera
Name[en_GB]=Opera Browser
Name[et]=Opera Sirvur
Name[eu]=Opera Nabigatzailea
Name[fi]=Opera-selain
Name[fr]=Navigateur Opera
Name[he]=Opera Browser
Name[hu]=Opera Browser
Name[it]=Opera Browser
Name[ja]=Opera ブラウザー
Name[lv]=Opera Browser
Name[mk]=Opera прегледувач
Name[nb_NO]=Opera nettleser
Name[nl]=Opera Browser
Name[pa]=ਓਪਰਾ ਬਰਾਊਜ਼ਰ
Name[pl]=Opera Browser
Name[pt_BR]=Navegador Opera
Name[pt_PT]=Navegador Opera
Name[ro]=Navigatorul Opera
Name[ru]=Браузер Opera
Name[sq]=Shfletuesi Opera
Name[sv]=Webbläsaren Opera
Name[ur]=اوپرا براؤزر
StartupNotify=false
X-XFCE-Binaries=opera;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -remote "openURL(%s,new-window)";%B "%s";
