[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=claws-mail
Type=X-XFCE-Helper
Name=Claws Mail
Name[be]=Паштовы кліент Claws
Name[ca]=Claws
Name[cs]=Claws Mail
Name[de]=Claws Mail
Name[en_GB]=Claws Mail
Name[eu]=Claws Posta
Name[fi]=Claws-sähköposti
Name[fr]=Claws Mail
Name[hu]=Claws Mail
Name[ja]=Claws メール
Name[lv]=Claws Mail
Name[nb_NO]=Claws Epost
Name[nl]=Claws Mail
Name[pa]=ਕਲਾਵਸ ਮੇਲ
Name[pt_BR]=Claws Mail
Name[pt_PT]=Claws Mail
Name[ro]=Mozilla Mail
Name[ur]=کلاؤز میل
StartupNotify=true
X-XFCE-Binaries=claws-mail;sylpheed-claws-gtk2;sylpheed-claws
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib/libexo-0.3-0/exo-compose-mail-0.3 sylpheed %B "mailto:%s";
