[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=Terminal
Type=X-XFCE-Helper
Name=Xfce Terminal
Name[be]=Тэрмінал Xfce
Name[ca]=Terminal d’Xfce
Name[cs]=Terminál Xfce
Name[cy]=Terfynell Xfce
Name[de]=Xfce-Terminal
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་ཊལ་མི་ནཱལ།
Name[el]=Τερματικό Xfce
Name[en_GB]=Xfce Terminal
Name[et]=Xfce terminal
Name[eu]=Xfce Terminala
Name[fi]=Xfce pääte
Name[fr]=Terminal Xfce
Name[he]=Xfce Terminal
Name[hu]=Xfce Terminál
Name[it]=Terminale Xfce
Name[ja]=Xfce ターミナル
Name[lv]=Xfce Termināls
Name[mk]=Xfce терминал
Name[nb_NO]=Xfce Terminal
Name[nl]=Xfce Terminal
Name[pa]=Xfce ਟਰਮੀਨਲ
Name[pl]=Terminal Xfce
Name[pt_BR]=Terminal do Xfce
Name[pt_PT]=Terminal do Xfce
Name[ro]=Terminal Xfce
Name[ru]=Терминал Xfce
Name[sq]=Terminal Xfce
Name[sv]=Xfce-terminalen
Name[ur]=اکسفس ٹرمنل
StartupNotify=true
X-XFCE-Binaries=Terminal;xterminal;xfce4-terminal;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x %s;
