[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=w3m
Type=X-XFCE-Helper
Name=W3M Text Browser
Name[be]=Тэкставы гартач W3M
Name[ca]=Navegador web de text W3M
Name[cs]=Textový prohlížeč W3M
Name[cy]=Porydd Testun W3M
Name[de]=W3M-Textbrowser
Name[dz]=ཌབ་ལུ་༣ཨེམ་ཚིག་ཡིག་བརྡ་འཚོལ་པ།
Name[el]=Περιηγητής διαδικτύου W3M
Name[en_GB]=W3M Text Browser
Name[eu]=W3M Testu Nabigatzailea
Name[fi]=W3M -tekstiselain
Name[fr]=Navigateur Web en mode texte W3M
Name[he]=הדפדפן הטקסטואלי W2M
Name[hu]=W3M Böngésző
Name[it]=Browser Testuale W3M
Name[ja]=W3M テキストブラウザー
Name[lv]=W3M Text Browser
Name[mk]=W3M текст прегледувач
Name[nb_NO]=W3M tekstnettleser
Name[nl]=W3M tekst-browser
Name[pa]=W3M ਟੈਕਸਟ ਬਰਾਊਜ਼ਰ
Name[pl]=W3M - przeglądarka tekstowa
Name[pt_BR]=Navegador de Texto W3M
Name[pt_PT]=Navegador de Texto W3M
Name[ro]=Navigatorul text W3M
Name[ru]=Текстовый браузер W3M
Name[sq]=Shfletues Tekst W3M
Name[sv]=Textwebbläsaren W3M
Name[ur]=W3M متن براؤزر
StartupNotify=false
X-XFCE-Binaries=w3m;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=exo-open --launch TerminalEmulator %B;
X-XFCE-CommandsWithParameter=exo-open --launch TerminalEmulator %B %s;
