[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=xterm
Type=X-XFCE-Helper
Name=X Terminal
Name[be]=X-тэрмінал
Name[ca]=Terminal X
Name[cs]=X Terminál
Name[cy]=Terfynell X
Name[de]=X-Terminal
Name[dz]=ཨེགསི་ཊལ་མི་ནཱལ།
Name[el]=Τερματικό X
Name[en_GB]=X Terminal
Name[et]=X Terminal
Name[eu]=X Terminala
Name[fi]=X-pääte
Name[fr]=Terminal X
Name[he]=X Terminal
Name[hu]=X Terminál
Name[it]=Terminale X
Name[ja]=X ターミナル
Name[lv]=X Terminal
Name[mk]=X терминал
Name[nb_NO]=X Terminal
Name[nl]=X Terminal
Name[pa]=X ਟਰਮੀਨਲ
Name[pl]=Terminal X
Name[pt_BR]=Terminal X
Name[pt_PT]=Terminal X
Name[ro]=Terminalul Xterm
Name[ru]=X терминал
Name[sq]=Terminal X
Name[ur]=ایکس ٹرمنل
StartupNotify=false
X-XFCE-Binaries=xterm;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
